.cs4751brmenuw{
	white-space: nowrap !important;
    width: 19% !important;
}
.cs4751brtextali > br{
	display: contents !important; 
}

.cs4830brdisc > span > strong {
	color: #00beff !important;
}
.cs10brsearch{
	width: 90% !important;
}

.cs219brmthead > br {
	display: contents !important; 
}
.black-button.cs219brreqdem{
	width: 350px !important;
	padding: 20px 15px !important;
	font-size: 18px !important;
}

.cs219fbrmt4tblw2{
	width: 23% !important
}
.cs219fbrmt4tblw3{
	width: 27% !important;
}
.cs219brfastp{
	padding-right: 20px !important;
}

.black-button.cs942brreqdem{
	width: 350px !important;
	padding: 20px 15px !important;
	font-size: 18px !important;
}

.black-button.cs936brreqdem{
	width: 350px !important;
	padding: 20px 15px !important;
	font-size: 18px !important;
}

.cs936brmt4tblw2{
	width: 23% !important
}
.cs936brmt4tblw3{
	width: 27% !important;
}
.cs936brfastp{
	padding-right: 20px !important;
}


.black-button.cs946brreqdem{
	width: 350px !important;
	padding: 20px 15px !important;
	font-size: 18px !important;
}

.cs946brmt4tblw2{
	width: 23% !important
}
.cs946brmt4tblw3{
	width: 27% !important;
}
.cs946brfastp{
	padding-right: 20px !important;
}


.black-button.cs223brreqdem{
	width: 350px !important;
	padding: 20px 15px !important;
	font-size: 18px !important;
}

.cs223brmt4tblw2{
	width: 23% !important
}
.cs223brmt4tblw3{
	width: 27% !important;
}
.cs223brfastp{
	padding-right: 20px !important;
}

.black-button.cs1014brreqdem{
	width: 350px !important;
	padding: 20px 15px !important;
	font-size: 18px !important;
}

.cs1014brmt4tblw2{
	width: 23% !important
}
.cs1014brmt4tblw3{
	width: 27% !important;
}
.cs1014brfastp{
	padding-right: 20px !important;
}


.black-button.cs994brreqdem{
	width: 350px !important;
	padding: 15px 15px !important;
	font-size: 18px !important;
}
.cs-101-pt-regn-al-btn{
	    font-size: 18px!important;
}
.cs-306-pt-regn-padg-al{
    padding-top: 95px;
    padding-bottom: 95px!important;
}
.cs-ru-regn-al-btn-form>div>div>form>div.mktoButtonRow>span>button.mktoButton {
    margin-left: 140px;
    margin-top: 20px;
    font-size: 18px!important;
    width: 160px!important;
}
.cs-341-pt-regn-al-menu{
	width: auto!important;
    min-width: 175px;
}
.cs-339-pt-regn-head-fnt{
	    padding-top: 15px!important;
}
.cs-339-pt-menu-regn-al{
	    width: auto!important;
    min-width: 175px;
}
.cs-339-ru-regn-al-image-one{
	    margin-top: -55px!important;
}
.cs-ru-regn-min-heg-al-339{
	min-height: 550px!important;
}
.cs-339-pt-regn-btn-al,.cs-339-pt-regn-btn-al{
	    font-size: 17px!important;
	    width: 355px!important;
}
.cs-158-pt-padg-al{
	    padding-bottom: 85px!important;
}
.cs-245-pt-menu-regn-al{
	    width: auto!important;
    min-width: 170px;
}
.cs-245-fund-btn-pt-al{
	    width: 330px!important;
}
.trader-tool-btn-de-al{
	    padding-top: 25px!important;
}
.correl-matr-btn-de-al{
	    padding-top: 65px!important;
}
.mark-mang-btn-de-al{
	    padding-top: 37px!important;
}
.senti-term-btn-de-al{
	    padding-top: 60px!important;
}
.cs245frtabp0{
	    font-size: 17px!important;
}
.alarm-man-btn-de-al{
	padding-top: 80px!important;
}
.head-font-cs-13595-de-regn{
	    padding-top: 15px!important;
}
.btn-blu-cs-13595-regn{
	    margin-top: 20px!important;
}
.cs-13595-mn-head-de-regn{
	    width: auto!important;
    min-width: 170px;
}
.cs13595itbimgm{
	    margin-top: 460px!important;
}
.cs-2543-mnu-hd-de-regl{
	    width: auto!important;
    min-width: 160px;
}
.cs-368-mnu-hd-de-regl,.cs-239-men-pt-regn-al{
	width: auto!important;
}
.de-al-br-rem>br{
	display:none;
}
.de-cs4173-heig-al,.pl-cs-al-4173-heg{
	    min-height: 655px!important;
}
.head-font-cs-199-de-region{
	padding-top: 25px!important;
}
.cs-199-pt-regn-al-men{
	    width: auto!important;
    min-width: 165px;
}
.cs199frbanktf{
	font-size: 13px!important;
}
.cs-10049-de-men-al-regn{
	    width: auto!important;
    min-width: 160px;
}
.cs-10049-fr-omag-one-al{
	    margin-top: -25px!important;
}
.cs-91-act-tb-re-de-al-why-fp,.cs-91-menu-lst-de-regn-al{
	    width: auto!important;
}
.cs-de-337-men-reg-al{
	    width: auto!important;
    min-width: 170px;
}
.cs-menude-9372{
	 width: auto!important;
}
.cs-de-men-reg-al{	
    width: auto!important;
    min-width: 190px;
}
.cs-10563-wid-al-fr{
	    width: 1000px!important;
    margin-left: -100px!important;
}
.cs-166-de-reg-search-box{
	width: 85%!important;
}
.mtfive-cs-de-11059-rg-al{
	    padding-top: 25px!important;
}
.mtfive-cs-de-11059-rg-al>br{
	display:none;
}
a.black-button.cs11059vireqdem.cs11059frreqdem{
	padding: 20px 15px!important;
    border-radius: 0px 10px 10px 10px;
    color: #fff;
    font-size: 19px!important;
    width: 360px!important;
}
.cs11059vi1horz,.cs11059vi2horz,.cs11059vi3horz{
	background:none!important;
}
.spre-fore-li-menu-tr{
	    width: auto!important;
    min-width: 220px;
}
.cs-search-comn-150{
	    width: 85%!important;
}
.cs-380-for-heig-de-al{
	height: 525px!important;
}
.cs-380-de-bitcoin-hei-al{
	    height: 440px!important;
}
.cs-380-pt-regn-heg-al{
	    height: 440px!important;
}
.cs-380-de-search-box-al{
	    width: 85%!important;
    left: 53px!important;
}
.cs209frsearch{
	    width: 85%!important;
}
.cs213frsearchw{
	    width: 85%!important;
    left: 37px!important;
}
.cs-213-cfur-de-al{
	    height: 690px!important;
}
.cs1001ar1horz,.cs1001ar2horz,.cs1001ar3horz{
	background:none!important;
}
a.black-button.cs1001vireqdem.cs1001frreqdem,a.black-button.cs1040vireqdem.cs1040frreqdem,a.black-button.cs1048vireqdem.cs1048frreqdem,a.black-button.cs1044vireqdem.cs1044frreqdem,a.black-button.cs38vireqdem.cs38frreqdem{
	font-size: 18px!important;
    line-height: 25px;
    width: 370px!important;
}
.cs1040arglobal,.cs1048arglobal,.cs1044arglobal,.cs38arglobal{
	    margin-left: -50px;
}
.cs1040arshort,.cs1048arshort,.cs1044arshort,.cs-38pl-regn-al-wid{
    margin-left: -125px;
}
.cs-iress-1040-font-al-de>span,.cs-1048-de-las-why>span,.cs-38-de-regn-ires-hed>span{
	font-size:32px!important;
}
.cs-pad-botm-90-de-regn{
	    padding-bottom: 90px!important;
}
.cs-vi-1277-min-1{
	    margin-left: 20px!important;
}
.cs1277vit1r1{
	    margin-left: 145px!important;
}
.cs-vi-1277-brok-1{
	margin-left: 20px!important;
}
.cs1277vit1r2{
	    margin-left: 35px!important;
    margin-top: -8px!important;
}
.cs-vi-1277-fin-1{
	    margin-top: 0px!important;
	    margin-left: 50px!important;
}
.cs1277esfin{
	    margin-left: 100px!important;
    margin-top: 0px!important;
}
.cs-vi-1277-iress-trad-1{
	    margin-top: 20px!important;
    margin-left: 20px!important;
}
.cs-vi-1277-iress-inves-1{
	    margin-top: 40px!important;
    margin-left: 20px!important;
}
.cs-vi-1277-asx-live-1{
	    margin-left: 20px!important;
}
.cs1277esasxli12{
	    margin-left: -10px!important;
}
.cs-vi-1277-asx-dela-1{
	    margin-top: 25px!important;
    margin-left: 20px!important;
}
.cs1277esasxdey12{
	    margin-left: 105px!important;
}
.cs-vi-1277-tel-trad-1{
	    margin-top: 10px!important;
    margin-left: 20px!important;
}
.cs1277estel123{
	    margin-left: 80px!important;
    margin-top: 5px!important;
}
.cs-1277-accn-trad-sol>span{	
    margin-left: 20px!important;
}
.cs1277vit1r9{
	    margin-left: 10px!important;
}
.vi-cs-1277-btn-ble-al,.vi-cs-1277-btn-rd-al{
	font-size: 18px!important;
}
.cs-1277-vi-min-2{
	    margin-left: 20px!important;
}
.cs1277vit2r1{
	    margin-left: 140px!important;
}
.cs-1277-vi-brok-2{
	    margin-left: 20px!important;
}
.cs1277vit2r2{
	    margin-left: 45px!important;
    margin-top: -10px!important;
}
.cs-1277-vi-fin-2{
	    margin-top: 5px!important;
    margin-left: 50px!important;
}
.cs-1277-vi-iress-trad-2{
	    margin-left: 20px!important;
}
.cs-1277-vi-iress-inves-2{
	    margin-top: 35px!important;
    margin-left: 20px!important;
}
.cs-1277-vi-asx-liv-2{
	    margin-left: 20px!important;
}
.cs-1277-vi-asx-delliv-2{
	    margin-top: 25px!important;
    margin-left: 20px!important;
}
.cs-1277-vi-tel-trade-2{
	    margin-top: 12px!important;
    margin-left: 20px!important;
}
.cs-1277-acc-dem-2{
	    margin-left: 20px!important;
}
.cs-1277-vi-spn-btn-red-trade-2{
	    margin-top: 10px!important;
}
.cs1277vit3r1{
	    margin-left: 125px!important;
}
.cs1277vit3r2{
	    margin-left: 55px!important;
    margin-top: -11px!important;
}
.cs-1277-fin-min-3{
	    margin-top: 5px!important;
}
.cs1277vit3r4{
	    margin-left: 65px!important;
}
.cs1277vit3r5{
	    margin-left: 70px!important;
}
.cs-1277-asx-live-3{
	    margin-top: 15px!important;
}
.cs1277vit3r6{
	    margin-left: 45px!important;
}
.cs1277vit3r7{
	    margin-left: 100px!important;
}
.cs-1277-tel-trade-3{
	    margin-top: 1px!important;
}
.cs1277vit3r9{
	    margin-left: 85px!important;
}
.cs-1277-std-btn-des-3{
	    margin-top: 95px!important;
}
.cs1277vibulpos2{
	    background-position: 365px 12px!important;
}
.cs1277vibulpos3{
	    background-position: 380px 12px!important;
}
.cs-de-header-font-1282>br{
	display:none;
}
.cs-1282-de-region-men-al{
	    width: auto!important;
    min-width: 150px;
}
.cs-de-1282-search-box-al{
	    width: 85%!important;
}
div.cs1282vistep1{
	color:#fff!important;
}
.cs1282vit1r1{
	    margin-left: 125px!important;
}
.cs1282frpips1{
	    margin-left: 125px!important;
}
.cs1282vit1r3{
	    margin-left: 60px!important;
    margin-top: -15px!important;
}
.cs1282frlavm{
	    margin-top: 20px!important;
}
.cs1282vit1r4{
	    margin-left: 125px!important;
}
.cs1282vit1r5{
	    margin-left: 135px!important;
}
.cs1282vit1r7{
	    margin-left: 25px!important;
}
.cs1282vit1r10{
	    margin-left: 185px!important;
}
.cs-de-regn-1282-blue-btn{
	margin-top:-15px!important;
}
.cs-de-regn-1282-blue-demo-btn{
	margin-left: 175px!important;
}
.cs1282vit2r1{
	    margin-left: 110px!important;
}
.cs1282vit2r2{
	    margin-left: 115px!important;
}
.cs1282vit2r3{
	    margin-left: 50px!important;
    margin-top: -15px!important;
    width: 180px!important;
}
.cs1282vit2r4{
	    margin-left: 115px!important;
}
.cs1282vit2r5{
	    margin-left: 125px!important;
}
.cs1282vit2r6{
	    margin-left: 40px!important;
}
.cs1282vit2r7{
	    margin-left: 15px!important;
}
.cs1282vit2r10{
	    margin-left: 175px!important;
}
.cs1282frstrtbtnm2{
	    margin-top: 25px!important;
}
.cs-de-regn-1282-demo-2-btn{
	    margin-left: 95px!important;
}
.fr-meni-alig-trans{
	    width: auto!important;
    min-width: 150px;
}
.cs42viftascol1{
	margin-left: 145px!important;
}
.cs42viftascol2{
	    margin-left: 235px!important;
}
.cs42viftascol3{
	    margin-left: 125px!important;
}
.cs42viftascol4{
	    margin-left: 145px!important;
}
.cs42viftastry{
	margin-left: 200px!important;
}
.cs42viftascol1{
	    margin-left: 155px!important;
}
.cs-42-ea-way{
	    margin-left: 75px!important;
}
.cs42viftascol4{
	    margin-left: 150px!important;
}
.cs42viftartry{
	    margin-left: 100px!important;
}
.cs42viiresst1rc1{
	    margin-left: 65px!important;
}
.cs42vit1equi{
	    font-size: 16px!important;
}
.cs42viiresst1rc4{
	    margin-left: 100px!important;
}
.cs42itbtnmt{
	    margin-top: 15px!important;
}
.cs42viiresst1rc3{
	    margin-left: 10px!important;
}
.cs42viiresst2rc1{
	    margin-left: 75px!important;
}
.cs42viiresst2rc3,.cs42viiresst3rc3{
	    margin-left: 1px!important;
    width: 80px;
    margin-top: -5px!important;
}
.cs42escfdfc{
	margin-top: 10px!important;
}
.cs-42-as-23{
	    margin-left: 105px!important;
}
.std-start-button-align{
	    margin-top: 25px!important;
}
.forex-hd-font{
	    margin-top: -30px;
		    padding-top: 0px!important;
}
#choose-our-metatrader-trading-section {
    padding-top: 100px;
    padding-bottom: 70px!important;
}
.cs1267vitab1r-r1{
	    margin-left: 115px!important;
}
.cs1267espips1{
	    margin-left: 120px!important;
}
.cs1267vitab1r-r3,.cs1267vitab2r-r3{
    margin-left: 60px!important;
    margin-top: -21px!important;
    width: 160px;
}
.fr-lev-text,.fr-lev2-text{
	    margin-top: 10px!important;
}
.cs1267vitab1r-r4{
	    margin-left: 120px!important;
}
.cs1267vitab1r-r5{
	    margin-left: 130px!important;
}
.cs1267vitab1r-r6{	
    margin-left: 155px!important;
}
.cs1267vitab1r-r7{
	    margin-left: 20px!important;
}
.cs1267vitab1r-r10{
	    margin-left: 180px!important;
}
.forex-fr-acc-button{
	    margin-top: 15px!important;
}
.cs1267vitab1try{
	    margin-left: 190px!important;
}
.cs1267vitab2r-r1{
	    margin-left: 105px!important;
}
.cs1267espips2{
	    margin-left: 105px!important;
}
.cs1267vitab2r-r4{
	    margin-left: 115px!important;
}
.cs1267vitab2r-r5{
	    margin-left: 125px!important;
}
.cs1267vitab2r-r7{
	    margin-left: 15px!important;
}
.cs1267vitab2r-r10{
	    margin-left: 175px!important;
}
.forex-fr-acc-red-button{
	    margin-top: 20px!important;
}
.cs1267vitab2try{
	    margin-left: 75px!important;
}
.cs1267vitab2r-r8{
	    margin-left: 250px!important;
}
.cs-14358-es-regn-aft{
	font-size: 52.5px!important;
}
li#menu-item-74 {
    color: #3e495c!important;
}
.cs-174-es-regn-aft-al{
	    padding-top: 0px!important;
}
.cs-174-it-regn-for-font>span {
    color: #2e3642!important;
}
.menu-cs-247-id-regn{
	    width: auto!important;
    min-width: 170px;
}
.cs-13829-pl-aling-trans:after {
    content: "ou"!important;
    right: -20px!important;
    position: absolute!important;
}
.forex-fr-menu{
	    width: auto!important;
    min-width: 160px;
}
.cs245fropacc{
	width: 290px!important; 
}
.iress-vi-al-menu{
    width: auto!important;
    min-width: 170px;
}
.cs1277vibulpos1{
	background-position: 435px 11px !important;
}
.cs2543viiressvid{
	    margin-top: 39px!important;
}
.cs-199-it-regn-aftr{
	    padding-top: 58px!important;
}
ul.ul-class-for-card.padding-top-30.cs199vipay88p {
    padding-top: 0px!important;
}
.cs-4674-id-reg-menu-align{
	width: auto!important;
    min-width: 170px;
}
.cs-10563-blue-btn{
	width: 350px!important;
}
.cs10563frglbex>br{
	display:none;
}
.cs10563frglbvm{
	    margin-top: 63px!important;
}
.cs-152-es-regn-alg-cs{
    padding-top: 90px;
    padding-bottom: 100px!important;
}
.cs-380-it-aft-font>br{
	display:none;
}
.cs-380-it-aft-font{
	    color: #3e495c!important;
}
a.blue-button.cs38fropncc {
	    width: 350px!important;
}
p.color-font.cs38frtabhf.cs38arclrfnt.cs-38-pl-common-font-al {
    font-size: 63.5px!important;
}
.img-cs-346-pl-regn-al{
	max-width: 110%!important;
}
.cs-936-pl-img-al-regn{
	    margin-top: -93px!important;
    transform: scale(1.2)!important;
}
.cs-942-image-al-for-pl-reg{
	    transform: scale(1.1)!important;
}
.cs-942-fr-regn-al-ea{
	padding-top:0px!important;
}
.cs11569ar1menu{
	    width: auto!important;
    min-width: 170px;
}
.fore-li-menu-tr{
	    width: auto!important;
    min-width: 170px;
}
.cs-4830-pt-regn-men-al{
	    width: auto!important;
    min-width: 170px;
}
.fp-demo-signup-global input[type=submit], .element .gform_wrapper .gform_button{
	    font-size: 24px !important;
}
.cs-93-pt-regn-menu-alg{
	    width: auto!important;
    min-width: 170px;
}
.cs-pt-regn-pad-left-align{
	    padding-left: 20px!important;
}
.fund-cs-pt-btn-align-for-regn{
	    width: 143px;
}
.second-border.cs-home-ru-regn-align-blue {
    width: 150px;
}
.second-border.cs-home-ru-regn-align-demo {
    width: 180px;
    margin-left: 35px;
}
.cs-es-regn-menu-left-40-align{
	    margin-left: 75px;
}
.cs-es-regn-menu-left-50-align{
	    margin-left: 45px;
}
.eshid-cs-for-es-regn-align-vis.es-regn-butn-align{
	display:block!important;
}
.cs-advan-es-padding-regn-align{
	    padding-top: 60px!important;
}
.cs-br-font-align-regn{
	font-size:16px!important;
}
.cs-region-lang-fund-btn-new-pt{
	    width: 120%;
    margin-left: -10px;
}
.cs-regions-lang-remove-hidden-for-desktop-align-new-open-btn>a{
	padding: 0 0px!important;
    font-size: 15px!important;
}
li.hidden-xs.ruhidden.eshidden.dehidden.pthidden.vihidden.frhidden.cs-regions-lang-remove-hidden-for-desktop-align-new-open-btn {
display:block!important;
}
.cs-region-new-lang-try-demo-btn-right {
    width: 135%;
    margin-left: 15px;
}
.cs-region-new-lang-open-live-btn-left {
    width: 105%;
}
.cs-regions-lang-margin-left-for-align-new-one{
	    margin-left: 40px;
}
.cs-regions-lang-margin-left-for-align-newsecn{
	    margin-left: 20px;
}
.cs-regions-lang-social-trading-btn-after-align-new-one:after{
	right: -130px!important;
}
.font-al-region-de{
	    line-height: 35px!important;
}
.btn-ble-al-region-de{
	    width: 300px;
}
.cs-936-br-btn-new-font-align{
	    font-size: 19px!important;
}
.image-cs-38-new-align-ru{
	    margin-left: -360px!important;
	width: 210%!important;
}
a.blue-button.cs1048fropncc.cs-936-br-btn-new-font-align{
	    width: 300px!important;
	font-size: 19px!important;
}
a.blue-button.cs-994-fr-ren-btn-bl,a.blue-button.cs-994-fr-ren-btn-bl,a.blue-button.cs-994-fr-ren-btn-bl{
    font-size: 19px!important;
}
.cs-91-gr-4-for-ms-al-regn,.cs-91-gr-5-for-ms-al-regn{
	    margin-top: -225px;
}
a.blue-button.cs245fropacc {
	    width: 340px!important;
    font-size: 22px;
}
.cs-regn-new-header-align-for-all-lang-header-btn{
	width: 155px!important;
}
.group-btn-regn-align-for-all-lang-new-header{
	margin-left: 55px!important;
}
.pro-account-btn-regn-align-for-all-lang-new-header{
	    margin-left: 50px!important;
}
ul.menu-ul.header-regn-new-align-all-lang-menu{
	    margin-left: -24px!important;
}
.cs-new-header-btn-open-live-for-all-lang{
	    margin-left: 0px!important;
    font-size: 16px!important;
}
a.drop-demo-live-btn.try-demo-btn-grey-new-header-regn-align {
    display: block;
    text-align: center;
    margin-left: -20px;
}
a.drop-open-live-btn.open-live-btn-blue-new-header-regn-align {
    display: block;
}
.cs-new-header-align-for-regn-2021-left-menu{
	    margin-left: -20px;
}
.cs-regions-lang-new-mobile-app-trading-btn-after-align-secn:after{
	    right: 50px!important;
}
.new-cs-regions-lang-social-trading-acc-btn-after-align-secn:after{
	    right: 5px!important;
}
.cs-home-regn-new-header-align-for-all-lang-header-btn{
    width: 155px!important;
}
.cs-home-new-header-btn-open-live-for-all-lang{
    margin-left: 0px!important;
    font-size: 16px!important;
}
.home-group-btn-regn-align-for-all-lang-new-header{
    margin-left: 55px!important;
}
.home-pg-pro-account-btn-regn-align-for-all-lang-new-header{
    margin-left: 50px!important;
}
ul.menu-ul.header-home-regn-new-align-all-lang-menu{
    margin-left: -24px!important;
}
a.drop-open-live-btn.open-home-live-btn-blue-new-header-regn-align{
	    display: block;
}
a.drop-demo-live-btn.try-home-demo-btn-grey-new-header-regn-align{
	    display: block;
    text-align: center;
    margin-left: -20px;
}
.cs-new-regions-lang-fp-pro-acc-btn-after-align-secn:after{
	    right: 20px!important;
}
.cs-home-new-header-align-for-regn-2021-left-menu{
	margin-left: -25px;
}
.cs-new-region-br-align-for-lang-trans{
	    width: 360px;
}
i.arr-down-one.cs-for-new-br-region-arrow-lang-align{
	margin-left: 520px;
}
a.btn.upgrd-buton.reg-now-btn-cs-new-region-lang-align-site{
	    padding: 10px 8px;
		    font-size: 15px!important;
			    left: 0px;
}
.cs-new-region-br-align-for-btn-before-text{
	line-height: 30px!important;
}
.cs-new-region-br-align-for-click-here-btn{
	    width: 280px;
}
a.btn.upgrd-buton.register-now-btn-cs-new-region-lang-align-14121{
	    font-size: 15px!important;
		    padding: 10px 5px;
    left: 5px;
}