
p.discla-note-para-font.translation-block strong {
    color: #00beff!important;
    font-weight: 700!important;
}
.col-sm-3.margin-for-left-75 {
    padding-left: 60px!important;
}
.text_block.short-rigt-border {
    padding-left: 30px!important;
    padding-right: 24px!important;
}
span.nav-item-list {
    font-size: 14px;
}
span.dis-blo.card-left a {
    font-size: 17px!important;
    text-align: center;
}
p.card-right.translation-block {
    padding-left: 158px!important;
    margin-top: -14px!important;
    position: absolute!important;
}
a.nav-item-list {
    white-space: nowrap!important;
    text-overflow: ellipsis!important;
}
.below-table.d-flex.width-for-mobile-align span.hidden-xs {
    font-size: 18px!important;
}
a.iress-listbtn.for-it {
    margin-top: 44px!important;
}
.text_block.short-rigtborder {
    background-position: 96% 100%!important;
}
span.nav-item-list {
    white-space: nowrap!important;
    text-overflow: ellipsis!important;
}
.cs91.cus-nav-inner {
    width: 1240px!important;
    padding-left: 7px!important;
}
span.cs91.nav-item-list {
    font-size: 18px!important;
}
p.card-right.translation-block {
    padding-left: 112px!important;
    margin-top: 0px!important;
    position: absolute!important;
}
.cs1282pips{
	margin-left: 200px!important;
}
.cs1282fxpair{
    text-align: end!important;
    margin-left: 58px !important;
}
.cs1282itlav{
	margin-left: 180px !important;
}
.cs1282itecn{
	margin-left: 164px !important;
	margin-top: 5px !important;
}
.cs1282itlot{
	margin-left: 130px!important;
}
.cs1282itsize{
	margin-left: 7px!important;
}
.cs1282itea{
	margin-left: 290px!important;
}
.cs1282itmob{
	margin-left: 170px!important;
}
.cs1282itvps{
	margin-left: 202px!important;
}
.cs1282itdemo{
	padding-left: 0px !important;
	margin-top: 0px !important;
	margin-left: -10px !important;
}
.cs1282itpips2{
	margin-left: 192px!important;
}
.cs1282fxpair2{
    text-align: end!important;
    margin-left: 54px !important;
}
.cs1282itlav2{
	margin-left: 176px !important;
}
.cs1282itsize2{
	margin-left: 4px!important;
}
.cs1282itea2{
	margin-left: 286px!important;
}
.cs1282itmob2{
	margin-left: 166px!important;
}
.cs1282itvps2{
	margin-left: 198px!important;
}
.cs368itmenu1f{
	font-size: 13px !important;
}
.cs368itmenu1w{
	width: 20% !important;
}
.cs368itmenuw{
	width: 14% !important;
}
.cs368itdmamenu1w{
	width: 22% !important;
}
.cs42itspr{
    margin-left: 230px !important;
}
.cs42itlotusd{
margin-left: 28px !important;
}
.cs42itdepo{
    margin-left: 110px !important;
}
.cs42itleva{
    margin-left: 208px !important;
}
.cs42itasx1{
    margin-left: 40px !important;
}
.cs42itasx2{
    margin-left: 50px !important;
}
.cs42itasx3{
    margin-left: 54px !important;
}
.cs42itaud1{
    margin-left: 96px !important;
}
.cs42itaud2{
    margin-left: 88px !important;
}
.cs42itaud3{
    margin-left: 86px !important;
}
.cs42itcfdf{
    font-size: 14px !important;
}
.cs42itcfd1{
    margin-left: 22px !important;
}
.cs42itcfd2{
    margin-left: 26px !important;
}
.cs42itcfd3{
    margin-left: 26px !important;
}
.cs42itfin1{
    margin-left: 66px !important;;
}
.cs42itfin2{
    margin-left: 68px !important;;
}
.cs42itfin3{
    margin-left: 68px !important;;
}
.ithidden.cs42ittrydemo {
    display: block !important;
}
.cs42itbtnmt{
margin-top: 40px !important;
}
.cs42itlinkali1{
    margin-left: 230px !important;
}
.cs42itlinkali2{
    margin-left: 130px !important;
}
.cs1277itbal1{
	margin-left: 145px !important;
}
.cs1277itbal2{
	margin-left: 138px !important;
}
.cs1277itbal3{
	margin-left: 138px !important;
}
.cs1277itbrok1{
	margin-left: 22px !important;
}
.cs1277itbrok2{
	margin-left: 22px !important;
}
.cs1277itbrok3 {
    font-size: 15px !important;
    margin-left: 17px !important;
}
.cs1277itbrok1 > br{
	display: contents;
}
.cs1277itbrok2 > br{
	display: contents;
}
.cs1277itbrok3 > br{
	display: contents;
} 
p.card-right.translation-block.cs1277itfin{
	margin-left: 28px !important;
	margin-top: -10px !important;
}
.col-sm-4 p.cs1277ittrad12{
	font-size: 15px !important;
	margin-left: 66px !important;
	line-height: 1.2 !important;
}
.cs1277ittrad3{
	font-size: 15px !important;
	margin-left: 48px !important;
}
.cs1277itinvf12 > br {
	display: contents;
}
.cs1277itinvf3 > br {
	display: contents;
}
.cs1277itinvf12{
	font-size: 15px !important;
	margin-top: 54px !important;
}
.cs1277itinvf3{
	font-size: 15px !important;
	margin-top: 10px !important;
}
.cs1277itinvm12{
margin-left: 75px !important;
margin-top: 54px !important;
}
.cs1277itinvm3{
	margin-top: 10px !important;
	margin-left: 75px !important;
}
.cs1277itasxli12{
	    margin-left: -12px !important;
    font-size: 16px !important;
}
p.card-right.translation-block.cs1277itasxli3{
	margin-left: 50px !important;
    margin-top: -14px !important;
    font-size: 15px !important;
    line-height: 1.4 !important;
}
.cs1277itasxdeyf12 > br {
	display: contents;
}
.cs1277itasxdeyf3 > br {
	display: contents;
}
.cs1277itasxdeyf12{
	font-size: 15px !important;
    margin-top: 38px !important;
}
.cs1277itasxdeyf3{
	font-size: 15px !important;
    margin-top: -5px !important;
}
.cs1277itasxdey12{
	 margin-top: 38px !important;
	 margin-left: 50px !important;
}
.cs1277itasxdey3{
	 margin-top: -5px !important;
	 margin-left: 50px !important;
}
.col-sm-4 p.cs1277ittelf{
	    font-size: 14px !important;
    line-height: 1.2 !important;
}

p.card-right.translation-block.cs1277ittel123{
	 margin-left: 100px !important;
    margin-top: -6px !important;
    line-height: 14px !important;
    font-size: 14px !important;
}
.cs1277itdesm{
	margin-top: 20px !important;
}
p.card-right.translation-block.cs1277itdes1{
	margin-left: 15px !important;
    margin-top: 20px !important;
    font-size: 15px !important;
    line-height: 1.2 !important;
}
p.card-right.translation-block.cs1277itdes2{
    margin-left: 20px !important;
    font-size: 15px !important;
    line-height: 1.2 !important;
    margin-top: 20px !important;
}
p.card-right.translation-block.cs1277itdes3{
       margin-left: 38px !important;
    margin-top: 20px !important;
    font-size: 15px !important;
    line-height: 1.2 !important;
}
.cs1277itbtnm1{
	margin-top: 80px !important;
}
.cs1277itbtnm2{
	margin-top: 80px !important;
}
.cs1277itbtnm3{
	margin-top: 170px !important;
}
.cs13595itmenuw{
	width: 14% !important;
}
.cs13595itmenu1w{
	width: 21% !important;
}
.cs13595imgpad{
padding-top: 45px !important;
    padding-bottom: 55px !important;
}
.cs13595itbimgm{
	margin-top: 420px !important;
}
.cs245itguidp20{
	padding-top: 20px !important;
}
.cs245itguidp50{
	padding-top: 50px !important;
}
.cs245itguidp5{
	padding-top: 5px !important;
}
.cs245itguidp15{
	padding-top: 15px !important;
}
.cs245itguidp40{
	padding-top: 40px !important;
}
.cs245itguidp55{
	padding-top: 55px !important;
}
.cs245itguidp25{
	padding-top: 25px !important;
}


.cs1267pips{
	margin-left: 200px!important;
}
.cs1267fxpair{
    text-align: end!important;
    margin-left: 58px !important;
}
.cs1267itlav{
	margin-left: 180px !important;
}
.cs1267itecn{
	margin-left: 164px !important;
	margin-top: 5px !important;
}
.cs1267itlot{
	margin-left: 130px!important;
}
.cs1267itsize{
	margin-left: 7px!important;
}
.cs1267itea{
	margin-left: 290px!important;
}
.cs1267itmob{
	margin-left: 170px!important;
}
.cs1267itvps{
	margin-left: 202px!important;
}
.cs1267itdemo{
	padding-left: 0px !important;
	margin-top: 0px !important;
	margin-left: -30px !important;
}
.cs1267itpips2{
	margin-left: 192px!important;
}
.cs1267fxpair2{
    text-align: end!important;
    margin-left: 48px !important;
}
.cs1267itlav2{
	margin-left: 172px !important;
}
.cs1267itsize2{
	margin-left: 10px!important;
}
.cs1267itea2{
	margin-left: 280px!important;
}
.cs1267itmob2{
	margin-left: 160px!important;
}
.cs1267itvps2{
	margin-left: 192px!important;
}
.cs1267aud{
	margin-left: 110px !important; 
}
.cs1267aud2{
	margin-left: 100px !important;
}
.cs1267itusd2{
	margin-left: 50px !important;
}
.cs1267itsizef2{
	font-size: 16px !important;
}
.cs13595ittool{
	 color: #f82f4a;
    font-size: 18.5px;
    text-decoration: underline;
}
.cs13595ittool > br {
	display: contents;
}
.cs11569ar1menu,.cs11569arremmenu{
	    width: auto!important;
    min-width: 170px;
}
.font-al-region-de{
	    line-height: 40px!important;
}
.btn-ble-al-region-de{
	    width: 350px;
}
.cs-380-de-bitcoin-hei-al{
	    height: 475px;
}
.cs-380-for-heig-de-al{
	    height: 520px;
}
.cs150vit1r1{
	    margin-left: 175px!important;
}
.cs150vit1r2{
	    margin-left: 180px!important;
}
.cs150vit1r3,.cs150vit2r3{
	    margin-left: 68px!important;
    line-height: 19px;
}
.cs150vit1r4{
	    margin-left: 160px!important;
}
.cs150vitryl{
	    margin-left: 205px!important;
}
.cs150frpips2{
	    margin-left: 175px!important;
}
.cs150vit2r2{
	    margin-left: 180px!important;
}
.cs150vit2r4{
	margin-left: 165px!important;
}
.cs150vitryr{
	    margin-left: 140px!important;
}
.cs-menude-9372{
	    width: auto!important;
    min-width: 170px;
}
.cs-158-pt-padg-al{
    padding-top: 95px!important;
    padding-bottom: 85px!important;
}
.cs-339-ru-regn-al-image-one{
	    margin-top: -85px!important;
}
.cs-ru-regn-min-heg-al-339{
	    min-height: 560px;
}
.cs-339-pt-regn-btn-al{	
    width: 340px!important;
}
.cs-306-pt-regn-padg-al{
	    padding-top: 95px!important;
    padding-bottom: 75px!important;
}
.cs-ru-regn-al-btn-form>div>div>form>div.mktoButtonRow>span>button.mktoButton {
    margin-left: 140px;
    margin-top: 20px;
    font-size: 18px!important;
    width: 160px!important;
}
.cs-936-pl-img-al-regn{
	    width: 320%;
}
li#menu-item-74{
	color: #3e495c!important;
}
.cs-174-it-regn-for-font>span{
	    color: #2e3642!important;
}
.cs-13829-pl-aling-trans:after {
    content: "O"!important;
    font-size: 38px;
    font-weight: 600;
    color: #00beff;
    right: -10px!important;
    top: 50%;
    position: absolute!important;
}
.img-cs-346-pl-regn-al{
	    max-width: 110%!important;
}
.cs-1044-pl-imgsec-al{
	margin-top: 15px!important;
    transform: scale(1.1);
}
.cs-1044-pl-imgone-al{
	    height: 447px!important;
}
.cs-pl-regn-imgone-al{
	    height: 445px!important;
}
.cs-213-cfur-de-al{
	    height: 720px!important;
}
.cs-380-for-heig-de-al{
	    height: 530px!important;
}
.cs-380-de-bitcoin-hei-al{
	height: 490px!important;
}
.cs-380-it-aft-font{
	    color: #3e495c!important;
}
.cs-380-it-aft-font>br{
	    display: none!important; 
}
.cs-241-it-regn-aftr{
	margin-top:20px!important;
    -webkit-transform: scale(1.3)!important;
}
.cs-91-act-tb-re-de-al-why-fp,.cs-91-menu-lst-de-regn-al{
	    width: auto!important;
    min-width: 170px!important;
}
.cs199frbanktf{
	font-size: 13px!important;
}
.cs-199-it-regn-aftr{
    padding-bottom: 35px!important;
    padding-top: 50px!important;
}
.cs2543viiressvid{
	    margin-top: 39px!important;
}
.cs1277vibulpos1{
	    background-position: 410px 10px!important;
}
.cs1277vibulpos2{
	    background-position: 375px 12px!important;
}
.cs1277vibulpos3{
	    background-position: 430px 12px!important;
}
.cs245vimt4head>br{
	display:none;
}
.cs-new-header-align-for-regn-2021-left-menu{
	    margin-left: -40px!important;
}
.cs-new-region-br-align-for-btn-before-text{
	    line-height: 30px!important;
}
.cs-new-region-br-align-for-click-here-btn{
	    width: 235px;
}