.cs-4751-ms-regn-padg-al{
	    padding-top: 80px;
}
.cs-4751-wid-al-ms-regn{
	width:480px;
}
.cs4830frdiscl>span>strong{
	color: #00beff;
}
.cs-pl-10-serc-box-al{
	    width: 85%!important;
}
.mtfr-cs-219-de-hdf>br,.cs-219-de-world-br-al>br{
	display:none;
}
.mtfr-cs-219-de-hdf{
	    padding-top: 45px!important;
}
.cs-219-pl-fle-al{
	display:flex;
}
.cs-de-29-tig-marg-left{
	margin-left:0px!important;
}
.cs-de-29-res-marg-lef{
	margin-left:130px!important;
}
.cs-219-de-std-al-br>br{
	display:none;
}
.cs-219-de-fol-sim-std-al-br>br{
	display:none;
}
p.color-font.cs219viclrfnt,p.color-font.cs936viclrfnt,p.color-font.cs946vi4colpb {
    font-size: 65.5px!important;
}
.cs-hd-fon-936>br,.cs-936-std-whit-font>br,.cs-936-fol-simp-whit-font>br{
	display:none;
}
.cs-946-std-trade-de>br,.cs-946-folw-simo-de>br{
	display:none;
}
.cs-hd-fon-936{
	padding-top:40px!important;
}
.cs-936-pl-img-al-regn{
	    width: 350%;
}
.cs-936-flex-rw-al-id,.cs-946-flex-dis-id-ren-al{
	display:flex;
}
.cs-936-tight-sp-marg-left,.cs-de-946-tightspread{
	margin-left:0px!important;
}
.cs-936-zeo-res-marg-left,.cs-de-946-no-resns{
	margin-left:130px!important;
}
.img-cs-346-pl-regn-al{
	    max-width: 110%!important;
}
.cs-ms-946-regn-al>br,.cs-38-de-rgn-folw-stps>br{
	display:none;
}
p.color-font.cs-38-pl-common-font-al{
    font-size: 65.5px!important;
	    line-height: 83px!important;
}
.cs-38-de-regn-ires-hed>span{
	font-size: 32px!important;
}
.cs-1044-fol-simp-de>br{
	display:none;
}
.cs-1044-pl-imgsec-al{
	    position: relative!important;
    margin-left: -460px!important;
    min-width: 100%!important;
    width: 230%!important;
}
.cs-1048-de-folw-simp>br,.folw-cs-1040-br-rem-de>br{
	display:none;
}
.cs-1048-de-las-why>span,.cs-iress-1040-font-al-de>span{
	font-size:32px!important;
}
.mtfor-de-cs-233>br{
	display:none;
}
.mtfor-de-cs-233{
	    padding-top: 50px!important;
}
.cs-223-de-fle-row,.cs-1014-de-fles-row,.cs-1001-de-flex-row{
	display:flex;
}
.cs223arcolml,.cs-1014-de-tights-lef,.cs-1001-de-tightspreads-left{
	    margin-left: 0px!important;
}
.cs-223-de-zer-left-dlre,.cs-1014-de-zero-left-dlre,.cs-1001-de-zero-trad-left-dl{
	margin-left: 130px!important;
}
p.color-font.cs223viclrfnt.cs223arclrfnt,p.color-font.cs1014arclrfnt,p.color-font.cs1001arclrfnt{
	    font-size: 65.5px!important;
}
.cs-de-223-std-al-reg>br,.cs-de-223-folw-sip-al-reg>br,.cs-de-1014-folw-sip-al-reg>br,.cs-de-1014-std-al-reg>br,.mtfiv-de-cs-1014>br{
	display:none;
}
.cs-de-1001-std-btn-al-reg>br,.cs-de-1001-follow-simp-al-reg>br{
	display:none;
}
.cs213frsearchw{
	    width: 85%!important;
    left: 40px!important;
}
.cs209frsearch{
	 width: 85%!important;
}
.cs-380-for-heig-de-al{
	    height: 520px!important;
}
.cs-380-de-bitcoin-hei-al,.cs-de-380-bch-al{
	height:auto!important;
}
.cs-380-ko-regn-al-padd{
    padding-top: 40px!important;
    padding-bottom: 35px!important;
}
.cs-380-de-search-box-al{
	    width: 85%!important;
    left: 50px!important;
}
.cs150vit1r2{
	    margin-left: 210px!important;
}
.cs150vit1r3>br,.cs150vit2r3>br{
	display:none;
}
.cs150vit1r3{
	    margin-left: 30px!important;
}
.cs-150-blue-button,.cs-150-red-button{
	    margin-top: 20px!important;
}
.cs-150-btn-ble,.cs-150-btn-red{
	text-align:center;
}
.cs150vit2r2{
	    margin-left: 215px!important;
}
.cs150vit2r3{
	    margin-left: 25px!important;
}
.cs-search-comn-150{
	    width: 85%!important;
}
.mtfive-cs-de-11059-rg-al>br{
	display:none;
}
.cs-11059-de-flex-row{
	display:flex;
}
.cs-11059-de-tight-spreads-lft{
	margin-left:0px!important;
}
.cs-11059-de-zeo-trade-let-dl{
	margin-left:130px!important;
}
p.color-font.cs-11059-ko-regn-fot-al{
	font-size:65.5px!important;
}
.cs-11059-std-al-de-reg>br,.cs-11059-folw-align-de-reg>br{
	display:none;
}
.cs-166-de-reg-search-box{
	    width: 85%!important;
}
.cs-10563-wid-al-fr{
	    width: 900px!important;
}
.cs-10563-id-men-al{
	    width: auto!important;
    min-width: 175px;
}
.cs-menude-9372{
	    width: auto!important;
    min-width: 175px;
}
.cs-337-header-font-al>br{
	display:none;
}
.cs-de-337-men-reg-al{
	    width: auto!important;
    min-width: 175px;
}
.cs-337-dis-fle{
	display:flex;
}
.cs-337-pips-de-reg-al{
	margin-left:0px!important;
}
.cs-337-left-margin-for-id-regn{
	margin-left:130px!important;
}
p.color-font.cs-337-ko-regn-fnt-al{
	    font-size: 65.5px!important;
}
.cs337vi1horz>p.color-para.hidden-xs.padding-30.translation-block>br,.cs337vi2horz>p.cs337virempara>br{
	display:none;
}
.cs337vi3horz,.cs337vi1horz,.cs337vi2horz{
	background:none!important;
}
.cs-2543-mnu-hd-de-regl{
	width: auto!important;
    min-width: 175px;
}
.cs2543viiressvid{
	     padding-bottom: 50px!important;
 }
.cs-368-mnu-hd-de-regl{
	    width: auto!important;
    min-width: 170px!important;
}
.cs-10049-de-men-al-regn{
	    width: auto!important;
    min-width: 165px!important;
}
.cs-10049-ms-regn-hegih{
	    min-height: 230px!important;
}
.cs199frbanktf>br{
	display:none;
}
.cs199frbanktf{
	font-size:13px!important;
}
.cs199viklarnap{
	    padding-top: 35px!important;
}
.head-font-cs-199-de-region>br{
	display:none;
}
.de-al-br-rem>br{
	display:none;
}
.de-cs4173-heig-al{
	    min-height: 685px!important;
}
.cs245fropacc{
	    width: 330px!important;
}
.bg-for-de-al {
    background-color: #fff!important;
    border-radius: 0px 20px 20px 20px!important;
    background: linear-gradient( #fff,#fff), linear-gradient(to bottom right,#fff 15% ,rgba(0,189,255,.48) ,#26cc68)!important;
    background-clip: padding-box, border-box!important;
    background-origin: padding-box, border-box!important;
    border: 1px solid transparent;
    height: 600px;
}
.trader-tool-btn-de-al{
	    padding-top: 80px!important;
}
.alarm-man-btn-de-al{
	padding-top:105px!important;
}
.correl-trad-btn-de-al{
	padding-top: 80px!important;
}
.mark-mang-btn-de-al{
	    padding-top: 85px!important;
}
.steal-ord-btn-de-al{
	padding-top: 65px!important;
}
.tick-char-btn-de-al{
	padding-top: 115px!important;
}
.exc-rtd-btn-de-al{
	padding-top:85px!important;
}
.ses-map-btn-de-al,.correl-matr-btn-de-al{
	padding-top:90px!important;
}
.trade-term-btn-de-al,.mini-term-btn-de-al{
	    padding-top: 55px!important;
}
.senti-term-btn-de-al{
	 padding-top: 80px!important;
}
.cs-91-act-tb-re-de-al-why-fp,.cs-91-menu-lst-de-regn-al{
	    width: auto!important;
    min-width: 165px;
}
.cs-91-fle-row-de{
	display:flex;
}
.cs-91-pips-margin-lft-de-reg-al{
	margin-left:0px!important;
}
.cs-91-de-zero-lf-dl-regn{
	 margin-left:130px!important;
}
p.color-font.cs-91-ms-regn-com-font {
	    font-size: 65.5px!important;
}
.cs-91-gr-4-for-ms-al-regn{
	    margin-top: -230px;
}
.cs-91-gr-5-for-ms-al-regn{
	    margin-top: -235px;
    margin-left: 365px;
}
.head-font-cs-13595-de-regn{
	    padding-top: 10px!important;
}
.btn-blu-cs-13595-regn{
	    margin-top: 10px!important;
}
.cs-13595-mn-head-de-regn{
	    width: auto!important;
    min-width: 175px;
}
.cs13595itbimgm{
	    margin-top: 450px!important;
}
.cs-13595-ms-regn-pdg-al-gr-1{
	    padding-top: 0px!important;
    margin-top: -168px;
}
.cs-13595-ms-regn-pdg-al-gr-2{
	    padding-top: 0px!important;
    margin-top: -170px;
}
.forex-fr-menu{
	    width: auto!important;
    min-width: 170px;
}
.forex-hd-font>br{
	display:none;
}
.cs1267vitab1r-r1{
	    margin-left: 75px!important;
}
.cs1267espips1{
	 margin-left: 160px!important;
}
.cs1267vitab1r-r3{
	    margin-left: 55px!important;
}
.cs1267vitab1r-r5{
	 margin-left: 180px!important;
}
.cs1267vitab1r-r7{
	margin-left: 70px!important;
}
.cs1267vitab1r-r8{
	    margin-left: 265px!important;
}
.cs1267vitab1r-r9{
	    margin-left: 145px!important;
}
.cs1267vitab1r-r10{
	    margin-left: 190px!important;
}
.forex-fr-acc-button{
	    margin-top: 15px!important;
}
.cs1267estrdbtn{
	text-align:center;
}
.cs1267vitab1try{
	    margin-left: 255px!important;
}
.cs1267vitab2r-r1{
	    margin-left: 70px!important;
}
.cs1267espips2{
	    margin-left: 160px!important;
}
.cs1267vitab2r-r3{
	    margin-left: 50px!important;
}
.cs1267vitab2r-r5{
	    margin-left: 175px!important;
}
.cs1267vitab2r-r6{
	 margin-left: 40px!important;
}
.cs1267vitab2r-r7{
	    margin-left: 70px!important;
}
.cs1267vitab2r-r8{
	    margin-left: 265px!important;
}
.cs1267vitab2r-r9{
	    margin-left: 150px!important;
}
.cs1267vitab2r-r10{
	    margin-left: 195px!important;
}
.forex-fr-acc-red-button{
	    margin-top: 20px!important;
}
#choose-our-metatrader-trading-section {
    padding-top: 100px;
    padding-bottom: 75px!important;
}
.cs-de-header-font-1282>br{
	display:none
}
.cs-1282-de-region-men-al{
	    width: auto!important;
    min-width: 170px;
}
.cs-de-1282-search-box-al{
	    width: 85%!important;
}
.cs1282vit1r1{
	    margin-left: 85px!important;
}
.cs1282frpips1{
	margin-left: 175px!important;
}
.cs1282vit1r3{
	    margin-left: 70px!important;
     margin-top: -5px!important;
}
.cs1282vit1r5{
	    margin-left: 190px!important;
}
.cs1282vit1r6{
	margin-left: 150px!important;
}
.cs1282vit1r7{
	    margin-left: 80px!important;
}
.cs1282vit1r8{
 margin-left: 280px!important;	
}
.cs1282vit1r9{
 margin-left: 160px!important;	
}
.cs1282vit1r10{
 margin-left: 205px!important;		
}
.cs-de-regn-1282-blue-btn{
	    margin-top: -15px;
    margin-left: 10px;
	text-align:center;
}
.cs1282vit2r1{
	    margin-left: 75px!important;
}
.cs1282vit2r3{
	    margin-left: 50px!important;
    margin-top: -5px!important;
}
.cs1282vit2r5{
	    margin-left: 180px!important;
}
.cs1282vit2r7{
	    margin-left: 85px!important;
}
.cs1282vit2r8{
	    margin-left: 270px!important;
}
.cs1282vit2r9{
	    margin-left: 150px!important;
}
.cs1282vit2r10{
	margin-left: 195px!important;
}
.cs1282frstrtbtnm2{
	    margin-top: 25px!important;
}
.fr-meni-alig-trans{
	    width: auto!important;
    min-width: 170px;
}
.cs42viftascol2{
	    margin-left: 240px!important;
}
.cs42viftascol1{
	 margin-left: 190px!important;
}
.cs-42-ea-way{
	    margin-left: 35px!important;
}
.cs42viiresst1rc1{
	margin-left: 65px!important;
}
.cs42viiresst1rc4{
	margin-left: 85px!important;
}
.cs42itbtnmt{
	    margin-top: 20px!important;
}
.cs42viiresst2rc1{
	    margin-left: 60px!important;
}
.cs-42-as-23{
	    margin-left: 85px!important;
}
.cs42viiresst3rc1{
	    margin-left: 60px!important;
}
.cs42viiresst3rc4{
	    margin-left: 85px!important;
}
.cs-vi-1277-min-1{
	    margin-left: 20px!important;
}
.cs1277vit1r1{
	    margin-left: 140px!important;
}
.cs-vi-1277-brok-1{
	margin-left: 20px!important;
}
.cs1277vit1r2{
	    margin-left: 50px!important;
    margin-top: -10px;
}
.cs-vi-1277-fin-1{
	    margin-top: 15px!important;
	    margin-left: 50px!important;
}
.cs1277vit1r3{
	    margin-left: 85px!important;
}
.cs-vi-1277-iress-trad-1{
	    margin-left: 20px!important;
}
.cs1277vit1r4{
	    margin-top: -5px;
	    margin-left: -3px!important;
}
.cs-vi-1277-iress-inves-1{
	    margin-top: 35px!important;
    margin-left: 20px!important;
}
.cs-vi-1277-iress-inves-1>.cs1277vitabl>br{
	display:none;
}
.cs1277vit1r5{
	    margin-left: 40px!important;
}
.cs-vi-1277-asx-live-1{
	    margin-left: 20px!important;
}
.cs1277esasxli12{
	    margin-left: 65px!important;
}
.cs-vi-1277-asx-dela-1{
	    margin-left: 20px!important;
}
.cs1277vit1r7{
	margin-left: 110px!important;
}
.cs-vi-1277-tel-trad-1{
	    margin-top: 5px!important;
    margin-left: 20px!important;
}
.cs1277vit1r8{
	    margin-left: 100px!important;
    margin-top: 2px!important;
}
.cs-1277-accn-trad-sol>span{
	    margin-left: 20px!important;
}
.cs1277vit1r9{
	    margin-left: 0px!important;
}
.vi-cs-1277-btn-ble-al{
	    font-size: 19px!important;
}
.cs-1277-vi-min-2{
	    margin-left: 20px!important;
}
.cs1277vit2r1{
	    margin-left: 135px!important;
}
.cs-1277-vi-brok-2{
	    margin-left: 20px!important;
}
.cs1277vit2r2{
	    margin-left: 45px!important;
    margin-top: -10px!important;
}
.cs-1277-vi-fin-2{
	    margin-top: 15px!important;
    margin-left: 50px!important;
}
.cs1277vit2r3{
	    margin-left: 85px!important;
    margin-top: -10px!important;
}
.cs-1277-vi-iress-trad-2{
	    margin-left: 20px!important;
}
.cs1277vit2r4{
	    margin-left: -5px!important;
    margin-top: -5px!important;
}
.cs-1277-vi-iress-inves-2{	
    margin-top: 37px!important;
    margin-left: 20px!important;
}
.cs-1277-vi-iress-inves-2>.cs1277vitabl>br{
	display:none;
}
.cs1277esinvm2{
	    margin-left: 40px!important;
}
.cs-1277-vi-asx-liv-2,.cs-1277-vi-asx-delliv-2{
	    margin-left: 20px!important;
}
.cs1277vit2r7{
	    margin-left: 110px!important;
}
.cs-1277-vi-tel-trade-2{
	    margin-top: 2px!important;
    margin-left: 20px!important;
}
.cs1277vit2r8{
	    margin-left: 100px!important;
    margin-top: 5px!important;
}
.cs-1277-acc-dem-2{
	    margin-left: 20px!important;
}
.cs1277vit2r9{
	    margin-left: 4px!important;
    width: 215px!important;
    white-space: initial!important;
}
.cs-1277-vi-spn-btn-red-trade-2{
	    margin-top: 10px!important;
}
.vi-cs-1277-btn-rd-al{
	font-size: 19px!important;
}
.cs-vi-1277-btn-blue-trad-1{
	    margin-top: 35px!important;
}
.cs1277vit3r1{
	margin-left: 125px!important;
}
.cs1277vit3r2{
	    margin-left: 35px!important;
    margin-top: -12px!important;
}
.cs1277vit3r3{
	margin-left: 75px!important;
    margin-top: -15px!important;
}
.cs-1277-iress-trad-3{
	    margin-top: 15px!important;
    margin-left: 30px!important;
}
.cs1277vit3r4{
	    margin-left: 100px!important;
}
.cs-1277-iress-inves-3>.cs1277vitabl>br{
	display:none;
}
.cs1277vit3r5{
	    margin-left: 30px!important;
}
.cs1277vit3r6{
	    margin-left: 100px!important;
}
.cs1277vit3r7{
	    margin-left: 100px!important;	
}
.cs-1277-tel-trade-3{
	    margin-top: 5px!important;
}
.cs1277vit3r8{
	    margin-left: 90px!important;
    margin-top: 0px!important;
}
.cs1277vit3r9{
	    margin-left: 4px!important;
    width: 210px!important;
    white-space: initial!important;
}
.cs-ru-regn-al-btn-form>div>div>form>div.mktoButtonRow>span>button.mktoButton {
    margin-left: 140px;
    margin-top: 20px;
    font-size: 18px!important;
    width: 160px!important;
}
.cs-306-pt-regn-padg-al{
	    padding-bottom: 95px!important;
}
.cs-339-pt-regn-head-fnt{
	    padding-top: 30px!important;
}
.cs-339-pt-menu-regn-al{
	    width: auto!important;
    min-width: 170px;
}
.cs-158-pt-padg-al{
	    padding-bottom: 95px!important;
}
.cs-339-ru-regn-al-image-one{
	    margin-top: -65px!important;
}
.cs-213-cfur-de-al{
	    height: 685px!important;
}
li#menu-item-74 {
    color: #3e495c!important;
}
.cs-174-it-regn-for-font>span{
	color: #2e3642!important;
}
.cs-341-pt-regn-al-menu{
	    width: auto!important;
    min-width: 170px;
}
.cs-ru-regn-min-heg-al-339 {
    height: 550px!important;
}
.cs-13829-pl-aling-trans:after {
	    font-size: 34px!important;
    content: "atau"!important;
    right: -30px!important;
    position: absolute!important;
}
.cs-13595-id-regn-font-al{
	font-size: 23px!important;
}
.cs1277vibulpos1{
	    background-position: 435px 12px!important;
}
.cs1277vibulpos2{
	    background-position: 385px 12px!important;
}
.cs1277vibulpos3{
	    background-position: 400px 12px!important;
}
.cs-368-ms-font-pad-regn-al{
	    padding-top: 50px!important;
}
.cs-199-ms-regn-align-for-btn{
	    padding-bottom: 25px!important;
}
.cs-9372-fr-regn-al-regn-pad{
    padding-top: 80px!important;
    padding-bottom: 60px!important;
}
.cs-9372-fr-regn-aftr-al-font{
	    line-height: 33px!important;
}
.cs10563frglbvm{
	margin-top: 65px!important;
}
.cs-152-es-regn-alg-cs{
    padding-top: 85px!important;
    padding-bottom: 95px!important;
}
.cs-166-ms-regn-align-pad-top{
    padding-top: 85px!important;
    padding-bottom: 100px!important;
}
.cs-380-it-aft-font>br{
	display:none;
}
.cs-380-it-aft-font{
	    color: rgb(62, 73, 92)!important;
}
.margin-for-fr-reg{
	    margin-top: 0px!important;
}
.cs-942-fr-regn-al-ea{
	    padding-top: 5px!important;
}
.cs11569ar1menu,.cs11569arremmenu{
	    width: auto!important;
    min-width: 170px;
}
.cs-ms-regn-font-menu-align{
	    margin-right: 25px!important;
}
.cs-advan-es-padding-regn-align{
	    padding-top: 75px!important; 
}
p.font-color.cs-942-ru-regn-font-al{
	font-size: 41.5px!important;
}
.cs-1014-image-for-al-regn{
	transform: scale(1.6)!important;
    margin-top: -5px!important;
}
.cs-1001-al-ru-regn-image{
	margin-top: -78px!important;
    transform: scale(1.2)!important;
}
p.font-color.cs-994-color-vi-regn-font {
    font-size: 41.5px!important;
}
.cs-166-id-menu-al-regn{
	    width: auto!important;
    min-width: 170px!important;
}
.image-cs-241-ms-region-align-new-2021{
	    transform: scale(1.6)!important;
    margin-top: 70px!important;
    margin-left: 70px!important;
}
.cs-region-lang-header-iress-btn-align-new{
	    margin-right: 25px!important;
}
ul.menu-ul.header-regn-new-align-all-lang-menu {
    margin-left: 25px!important;
}
.ad-regn-selection-btn-new-header-for-lang{
	    margin-right: 20px!important;
}
a.drop-open-live-btn.open-live-btn-blue-new-header-regn-align {
    display: block;
    width: 175px;
}
a.drop-demo-live-btn.try-demo-btn-grey-new-header-regn-align {
    display: block;
    margin-left: 10px!important;
    text-align: center!important;
}
.cs-regions-lang-social-trading-btn-after-align-new-one:after {
    right: -120px;
}
.cs-regions-lang-social-trading-btn-after-align-new-one:after{
	    right: -120px!important;
}
.cs-regions-lang-new-mobile-app-trading-btn-after-align-secn:after{
	right: 85px!important;
}
.new-cs-regions-lang-social-trading-acc-btn-after-align-secn:after{
	    right: 15px!important;
}
.home-ad-regn-selection-btn-new-header-for-lang{
	    margin-right: 20px!important;
}
ul.menu-ul.header-home-regn-new-align-all-lang-menu{
	    margin-left: 25px;
}
a.drop-open-live-btn.open-home-live-btn-blue-new-header-regn-align{
	    display: block;
    width: 175px;
}
a.drop-demo-live-btn.try-home-demo-btn-grey-new-header-regn-align{
	    display: block;
    margin-left: 10px!important;
    text-align: center!important;
}
.cs-new-regions-lang-fp-pro-acc-btn-after-align-secn:after{
	    right: 20px!important;
}
.cs-new-region-br-align-for-btn-before-text{
	    line-height: 30px!important;
}
.cs-new-region-br-align-for-click-here-btn{
	    width: 210px;
}
.cs-new-region-br-align-for-lang-trans{
	width: 200px;
}
a.btn.upgrd-buton.reg-now-btn-cs-new-region-lang-align-site{
	padding: 10px 20px;
    left: 20px;
}
a.btn.upgrd-buton.register-now-btn-cs-new-region-lang-align-14121{
	padding: 10px 20px;
    left: 20px;
}