.cs4830frdiscl>span>strong{
	color: #00beff;
}
.cs11569ar1menu,.cs11569arremmenu{
	    width: auto!important;
    min-width: 160px;
}
.mtfr-cs-219-de-hdf>br,.cs-hd-fon-936>br{
	display:none
}
p.color-font.cs219viclrfnt.cs219arhead,p.color-font.cs219viclrfnt{
	    font-size: 64.5px!important;
}
.cs219ar1horz,.cs219ar2horz,.cs219ar3horz{
	background:none!important;
}
.cs-936-flex-rw-al-id,.cs-946-flex-dis-id-ren-al,.cs-223-de-fle-row,.cs-1014-de-fles-row,.cs-1001-de-flex-row,.cs-11059-de-flex-row{
	display:flex;
}
.cs-936-tight-sp-marg-left,.cs-de-946-tightspread,.cs223frmt5tabw,.cs-1014-de-tights-lef,.cs-1001-de-tightspreads-left,.cs-11059-de-tight-spreads-lft{
	    margin-left: 0px!important;
}
.cs-936-zeo-res-marg-left,.cs-de-946-no-resns,.cs-223-de-zer-left-dlre,.cs-1014-de-zero-left-dlre,.cs-1001-de-zero-trad-left-dl,.cs-11059-de-zeo-trade-let-dl{
	    margin-left: 15px!important;
}
p.color-font.cs936viclrfnt,p.color-font.cs946vi4colpb,p.color-font.cs1014arclrfnt,p.color-font.cs1001arclrfnt,p.color-font.cs-11059-ko-regn-fot-al{
	    font-size: 62.5px!important;
}
p.color-font.cs38frtabhf.cs38arclrfnt.cs-38-pl-common-font-al {
    font-size: 56.5px!important;
}
.mtfor-de-cs-233{
	    padding-top: 15px!important;
}
p.color-font.cs223viclrfnt{
	    font-size: 64.5px!important;
}
.mtfiv-de-cs-1014>br{
	display:none;
}
.spre-fore-li-menu-tr{
	    width: auto!important;
    min-width: 230px;
}
.cs150vit1r3,.cs150vit2r3{
	    margin-left: 105px!important;
    margin-top: -12px!important;
}
.cs150vit1r4,.cs150vit2r4{
	    margin-left: 180px!important;
}
.cs-150-blue-button,.cs-150-red-button{
	    margin-top: 25px!important;
}
.cs-150-th-marg-al-regn{
    margin-top: 45px!important;
}
.mtfive-cs-de-11059-rg-al>br{
	display:none;
}
.mtfive-cs-de-11059-rg-al{
	    padding-top: 20px!important;
}
.cs-de-men-reg-al{
	    width: auto!important;
    min-width: 230px;
}
.cs-10563-wid-al-fr{
	    width: 865px!important;
    margin-left: -80px;
}
.cs-menude-9372{
	    width: auto!important;
    min-width: 150px;
}
.cs-337-pips-de-reg-al,.cs-91-pips-margin-lft-de-reg-al{
	margin-left:0px!important;
}
.cs-337-dis-fle,.cs-91-fle-row-de{
	display:flex;
}
.cs-337-left-margin-for-id-regn,.cs-91-de-zero-lf-dl-regn{
	margin-left: 15px!important;
}
p.color-font.cs-337-ko-regn-fnt-al,p.color-font.cs-91-ms-regn-com-font{
	    font-size: 56.5px!important;
}
.cs-91-act-tb-re-de-al-why-fp,.cs-91-menu-lst-de-regn-al{
	    width: auto!important;
}
.cs-10049-ms-regn-hegih{
	    min-height: 230px!important;
}
.cs199frbanktf>br{
	display:none;
}
.cs199frbanktf{
	    font-size: 12.5px!important;
}
.cs199vipay88p{
	    padding-top: 10px!important;
		    margin-bottom: -15px;
}
.pl-cs-al-4173-heg{
	    min-height: 605px!important;
}
.cs-239-t-regn-mag-al{
	    padding-left: 0px!important;
	    width: 500px!important;
    margin: 0 auto;
}
.cs-368-mnu-hd-de-regl{
	    width: auto!important;
    min-width: 136px;
}
.cs-2543-mnu-hd-de-regl{
	width: auto!important;
    min-width: 150px;
}
h1.hidden-xs.fp-font.no-uppercase.color-white.cs-3234-th-regn-al-head-font{
	    margin-top: -25px!important;
}
.cs-3234-btn-th-regn-al{
	    margin-top: 13px!important;
}
.cs3234esmenuw,.cs3234esmenuw1{
	    width: auto!important;
    min-width: 250px;
}
.head-font-cs-13595-de-regn{
	    padding-top: 30px!important;
}
.cs-13595-mn-head-de-regn{
	    width: auto!important;
}
.cs-13595-ms-regn-pdg-al-gr-2{
	    padding-top: 0px!important;
    margin-top: 65px!important;
}
.cs13595itbimgm{
	    margin-top: 315px!important;
}
.btn-blu-cs-13595-regn{
	    margin-top: 10px!important;
}
.trade-term-btn-de-al{
	    padding-top: 55px!important;
}
.steal-ord-btn-de-al{
	 padding-top: 70px!important;
}
.ses-map-btn-de-al{
	 padding-top: 70px!important;
}
.exc-rtd-btn-de-al{
	    padding-top: 55px!important;
}
.mark-mang-btn-de-al{	
    padding-top: 25px!important;
}
.correl-trad-btn-de-al{
	    padding-top: 60px!important;
}
.cs-vi-1277-min-1{
	    margin-left: 20px!important;
}
.cs1277vit1r1{
	    margin-left: 50px!important;
}
.cs-vi-1277-brok-1{
	 margin-left: 20px!important;
}
.cs1277vit1r2{
	    margin-left: 60px!important;
    margin-top: -10px!important;
}
.cs-vi-1277-fin-1{
	    margin-top: 15px!important;
	    margin-left: 50px!important;
}
.cs1277vit1r3{
	    margin-left: 125px!important;
}
.cs-vi-1277-iress-trad-1{
	    margin-left: 20px!important;
}
.cs1277vit1r4{
	    margin-left: 15px!important;
}
.cs-vi-1277-iress-inves-1{
	    margin-top: 5px!important;
    margin-left: 20px!important;
}
.cs1277vit1r5{
    margin-left: 20px!important;
    margin-top: 0px!important;
    margin-bottom: 25px;
}
.cs-vi-1277-asx-live-1{
	    margin-left: 20px!important;
}
.cs1277vit1r6{
	    margin-left: 15px!important;
    margin-top: -19px!important;
    font-size: 15px!important;
}
.cs-vi-1277-asx-dela-1{
	margin-top: 20px!important;
    margin-left: 20px!important;
}
.cs-vi-1277-tel-trad-1{
	    margin-top: 5px!important;
	    margin-left: 20px!important;
}
.cs1277vit1r8{
	    margin-left: 32px!important;
    margin-top: 15px!important;
    font-size: 13px!important;
}
.cs-1277-accn-trad-sol>span{
	    margin-top: 10px!important;
    margin-left: 20px!important;
}
.cs1277vit1r9{	   
    margin-left: 7px!important;
    width: 183px!important;
    font-size: 13px!important;
    white-space: initial!important;
}
.cs-1277-vi-min-2{
	    margin-left: 20px!important;
}
.cs1277vit2r1{
	    margin-left: 45px!important;
}
.cs-1277-vi-brok-2{
	    margin-left: 20px!important;
}
.cs1277vit2r2{
	    margin-top: -8px!important;
}
.cs-1277-vi-fin-2{
	    margin-top: 15px!important;
    margin-left: 50px!important;
}
.cs-1277-vi-iress-trad-2{
	    margin-left: 20px!important;
}
.cs1277vit2r4{
	    margin-left: 15px!important;
}
.cs-1277-vi-iress-inves-2{
	    margin-top: 3px!important;
    margin-left: 20px!important;
}
.cs1277esinvm2{
	    margin-left: 20px!important;
    margin-top: 10px!important;
}
.cs-1277-vi-asx-liv-2{
	margin-left: 20px!important;
}
.cs1277vit2r6{
	    margin-left: 15px!important;
    margin-top: -19px!important;
    font-size: 15px!important;
}
.cs-1277-vi-tel-trade-2{
	    margin-left: 20px!important;
}
.cs1277vit2r8{
	    margin-left: 32px!important;
    margin-top: 15px!important;
    font-size: 13px!important;
}
.cs-1277-acc-dem-2{
	    margin-top: 10px!important;
    margin-left: 20px!important;
}
.cs1277vit2r9{
	    margin-left: 7px!important;
    width: 183px!important;
    font-size: 13px!important;
    white-space: initial!important;
}
.cs1277vit3r1{
	    margin-left: 30px!important;
}
.cs1277vit3r2{
	    margin-left: 40px!important;
    margin-top: -10px!important;
}
.cs-1277-iress-trad-3{
	    margin-top: 8px!important;
}
.cs1277vit3r4{
	    margin-left: -13px!important;
    margin-top: -5px;
}
.cs-1277-iress-inves-3{
	    margin-top: 5px!important;
}
.cs1277vit3r5{
	    margin-left: 15px!important;
    margin-top: 10px!important;
}
.cs-1277-asx-live-3{
	    margin-top: 5px!important;
}
.cs1277vit3r6{
	    width: 150px!important;
    white-space: initial;
}
.cs1277vit3r8{
    width: 150px!important;
    white-space: initial;
    font-size: 13px!important;
    margin-left: -3px!important;
    margin-top: 15px!important;
}
.cs1277vit3r9{
	    margin-left: 7px!important;
    width: 183px!important;
    font-size: 13px!important;
    white-space: initial!important;
}
.cs-1277-std-btn-des-3{
	    margin-top: 155px!important;
}
.cs1277vibulpos1{
	    background-position: 485px 13px!important;
}
.cs1277vibulpos2{
	    background-position: 374px 12px!important;
}
.cs1277vibulpos3{
	    background-position: 430px 12px!important;
}
.cs-de-header-font-1282>br{
	display:none;
}
.cs1282frpips1{
	    margin-left: 155px!important;
}
.cs1282vit1r3{
	    margin-left: 105px!important;
}
.cs1282vit1r4{
	    margin-left: 180px!important;
}
.cs1282vit1r5{
	    margin-left: 100px!important;
    width: 150px!important;
    line-height: 20px!important;
}
.cs1282vit1r8{
	    margin-left: 285px!important;
}
.cs1282vit1r9{
	    margin-left: 230px!important;
}
.cs1282vit2r2{
	    margin-left: 145px!important;
}
.cs1282vit2r3{
	    margin-left: 95px!important;
}
.cs1282vit2r5{
	    margin-left: 100px!important;
    width: 150px!important;
    line-height: 20px!important;
}
.cs1282vit2r4{
	    margin-left: 168px!important;
}
.cs1282vit2r8{
	    margin-left: 280px!important;
}
.cs1282vit2r9{
	    margin-left: 225px!important;
}
.cs42viftascol1{
	    margin-left: 175px!important;
}
.cs42viftascol2{
	    margin-left: 215px!important;
}
.cs42viftascol3{
	    margin-left: 125px!important;
}
.cs42viftascol4{
	    margin-left: 195px!important;
}
.cs42viftascol1{
	    margin-left: 180px!important;
}
.cs-42-ea-way{
	    margin-left: 70px!important;
}
.cs42viftascol4{
	margin-left: 200px!important;
}
.cs42viiresst1rc1{
	    margin-left: 50px!important;
}
.cs42viiresst1rc3{
	    margin-left: 15px!important;
}
.cs42viiresst2rc1{
	    margin-left: 40px!important;
}
.cs42viiresst2rc3{
	    margin-left: 0px!important;
}
.cs42vit1equi{
    width: 200px!important;
    white-space: initial!important;
    margin-top: -14px!important;
}
.cs42viiresst3rc1{
	    margin-left: 37px!important;
}
.cs42viiresst3rc3{
	    margin-left: 9px!important;
}
.cs1267espips1{
	    margin-left: 150px!important;
}
.cs1267vitab1r-r1{
	    margin-left: 110px!important;
}
.cs1267vitab1r-r3{
	    margin-left: 95px!important;
}
.cs1267vitab1r-r4{
	    margin-left: 170px!important;
}
.cs1267vitab1r-r5{
	    margin-left: 70px!important;
    font-size: 13px!important;
}
.cs1267vitab1r-r7{
	    margin-left: 100px!important;
}
.cs1267vitab1r-r8{
	    margin-left: 280px!important;
}
.cs1267vitab1r-r9{
	    margin-left: 230px!important;
}
.cs1267espips2{
	    margin-left: 135px!important;
}
.cs1267vitab2r-r3{
	margin-left: 85px!important;
}
.cs1267vitab2r-r4{
	    margin-left: 155px!important;
}
.cs1267vitab2r-r5{
	    margin-left: 65px!important;
    font-size: 13px!important;
}
.cs1267vitab2r-r7{
	margin-left: 95px!important;
}
.cs1267vitab2r-r8{
	    margin-left: 270px!important;
}
.cs1267vitab2r-r9{
	    margin-left: 217px!important;
}
.cs1267vitab2r-r10{
	    margin-left: 180px!important;
}
.cs-936-flex-rw-al-id{
	    padding-bottom: 0px!important;
}
.cs-936-pl-img-al-regn{
	    width: 300%!important;
}
.cs-942-fr-regn-al-ea{
	padding-top:0px!important;
}
li#menu-item-74 {
    color: #3e495c!important;
}
.cs-174-es-regn-aft-al{
	padding-top: 5px!important;
}
.cs-174-it-regn-for-font>span{
	    color: #2e3642!important;
}
a.btn.btn-lg.card-btn.cs-101-pt-regn-al-btn {
	    font-size: 18px!important;
}
.cs-ru-regn-al-btn-form>div>div>form>div.mktoButtonRow>span>button.mktoButton {
    margin-left: 140px;
    margin-top: 20px;
    font-size: 18px!important;
    width: 160px!important;
}
.cs-341-pt-regn-al-menu{	
    width: auto!important;
    min-width: 170px;
}
.cs-4299-ru-regn-al-head-font{
	    padding-top: 33px!important;
}
.cs-13829-pl-aling-trans:after {	
    content: "หรือ"!important;
	font-size: 34px!important;
    right: -30px!important;
    position: absolute!important;
}
.cs1267estrdbtn,.cs1267estrdbtn{
	text-align: center;
}
.cs2543viiressvid{
	    margin-top: 39px!important;
}
.cs-de-regn-1282-blue-btn,.cs-de-regn-1282-red-btn{
	text-align:center;
}
.padding-top-10.text-align-center.padding-bottom-30.cs199frbnkp25 {
    padding-top: 5px;
    padding-bottom: 15px;
}
.cs10563frglbvm{
	margin-top: 85px!important;
}
.cs-10049-fr-omag-one-al{
	    max-width: 112%!important;
}
.cs-10049-fr-omag-sec-al{
	    margin-top: 45px!important;
}
.cs-380-ko-regn-al-padd{
	    padding-top: 40px!important;
    padding-bottom: 100px!important;
}
.cs-380-it-aft-font>br{
	display:none;
}
.cs-380-it-aft-font{
	    color: #3e495c!important;
}
.cs-1044-pl-imgsec-al{
	    width: 950px!important;
}
.cs-1044-es-regn-aftr-al{
	    background: #fff;
    position: relative;
    z-index: 9;
}
.second-border.cs-home-ru-regn-align-demo {
    width: 150px;
}
.cs-es-regn-menu-left-40-align{
	    margin-left: 30px;
}
.cs-region-new-lang-try-demo-btn-right {
    width: 155px;
}
.cs-regions-lang-margin-left-for-align-new-one{
	    margin-left: 40px;
}
.cs-regions-lang-margin-left-for-align-newsecn{
	    margin-left: -15px;
}
.pro-account-btn-regn-align-for-all-lang-new-header{
	    width: 115px!important;
    margin-left: 60px!important;
}
.group-btn-regn-align-for-all-lang-new-header{
	    width: 125px!important;
    margin-left: 40px!important;
}
.cs-regn-new-header-align-for-all-lang-header-btn{
	    width: 120px!important;
    margin-left: 25px!important;
}
.web-trader-btn-new-header-regn-all-lang-align{
	 width: 125px!important;
}
ul.menu-ul.header-regn-new-align-all-lang-menu{
	 margin-left: 90px!important;
}
a.drop-open-live-btn.open-live-btn-blue-new-header-regn-align {
    display: block;
    width: 176px;
}
a.drop-demo-live-btn.try-demo-btn-grey-new-header-regn-align{
	    margin-left: 0px!important;
    display: block;
    width: 180px;
    padding: 5px!important;
    text-align: center;
}
.cs-new-header-menu-align-for-all-regn-left-lang{
	    margin-left: 0px!important;
}
.cs-regions-lang-social-trading-btn-after-align-new-one:after{
	right:-120px!important;
}
.web-home-trader-btn-new-header-regn-all-lang-align{
	width: 125px!important;
}
.cs-home-regn-new-header-align-for-all-lang-header-btn{
    width: 120px!important;
    margin-left: 25px!important;
}
.home-group-btn-regn-align-for-all-lang-new-header{
    width: 125px!important;
    margin-left: 40px!important;
}
.home-pg-pro-account-btn-regn-align-for-all-lang-new-header{
    width: 115px!important;
    margin-left: 60px!important;
}
ul.menu-ul.header-home-regn-new-align-all-lang-menu{
	    margin-left: 90px;
}
.new-cs-regions-lang-social-trading-acc-btn-after-align-secn:after{
	display:none;
}
.cs-regions-lang-new-mobile-app-trading-btn-after-align-secn:after{
	    right: 75px!important;
}
a.drop-open-live-btn.open-home-live-btn-blue-new-header-regn-align {
	    display: block;
    width: 176px;
}
a.drop-demo-live-btn.try-home-demo-btn-grey-new-header-regn-align{
	    margin-left: 0px!important;
    display: block;
    width: 180px;
    padding: 5px!important;
    text-align: center;	
}
.cs-home-new-header-align-for-regn-2021-left-menu{
	margin-left: -10px;
}
.cs-new-header-menu-home-align-for-all-regn-left-lang{
	    margin-left: -5px!important;
}
.cs-new-region-br-align-for-btn-before-text{
	    line-height: 30px!important;
}
.cs-new-region-br-align-for-click-here-btn{
	    width: 180px;
}
i.arr-down-one.cs-for-new-br-region-arrow-lang-align{
	    margin-left: 520px;
}