[[$breadcrumb]]


<div class="container-fluid ct1 bottom-divid main">
    <div id="looking-to-talk-section" class="container">
        <div class="wid-align-for-secone1">
            <b>Is Meta Trader 4 Good for Beginners?</b>

            <span style="font-weight: 400;">Depending on the selected trading platform, you need a good broker to get
                the best from your Forex trading platform.</span><br><br>

            <span style="font-weight: 400;">Do your homework. Decide on which type of trading path you will follow.
                MetaTrader 4 (MT4) is offered by many Forex brokers. From a beginner's perspective, MT4's user-friendly
                approach could be a good choice of platform.</span><br><br>

            <span style="font-weight: 400;">Beginners should consider choosing a demo account before trading with a live
                account.</span><br><br>

            <b>What is Forex Trading?</b>

            <span style="font-weight: 400;">Briefly, you trade currencies: buying (selling) one currency while selling
                (buying) another. What this means, for example, is the rise in the value of the currency you purchase
                advances against the counter currency. There are many other factors to familiarise yourself with
                including technical indicators, backtesting, financial instruments, stop-loss strategies and pips (the
                amount by which a currency pair moves).</span><br><br>

            <span style="font-weight: 400;">Additional factors include your financial situation and goals, as well as
                how much investing experience you have. As with any investment, there are always risks.</span><br><br>

            <span style="font-weight: 400;"> </span>

            <b>Is Forex Trading Good for Beginners?</b>

            <span style="font-weight: 400;">With the right education, consistently successful Forex trading is
                attainable, though requires willpower and dedication. Nevertheless, it may not be suitable for all
                investors.</span><br><br>

            <b> </b>

            <b>MetaTrader 4 (MT4)</b>

            <span style="font-weight: 400;">The MT4 Platform, boasting an easy-to-navigate user interface, is one of the
                most popular</span><span style="font-weight: 400;"> trading platforms</span><span
                style="font-weight: 400;"> for trading Forex. This also incorporates the MQL4 programming language,
                developed by MetaQuotes Software.</span><br><br>

            <span style="font-weight: 400;">Millions of traders with a wide range of demands use MT4: advanced technical
                analysis tools, a flexible trading system and algorithmic trading (Expert Advisors).</span><br><br>

            <span style="font-weight: 400;">Mobile trading makes it possible to trade on the financial markets using
                iOS, iPhone, Android-powered smartphones and tablets using an MT4 mobile app. Having a range of tools
                and functionality similar to the desktop version is an ideal function. One obvious disadvantage, of
                course, is screen size.</span><br><br>

            <span style="font-weight: 400;">In addition, f</span><span style="font-weight: 400;">eatures such as mobile
                trading and trading signals all contribute to the overall ease of use and trading
                experience.</span><br><br>

            <b>MetaTrader 5 (MT5)</b>

            <span style="font-weight: 400;">Trading Forex, Stocks and Futures can be done on the MT5 platform
                simultaneously. Trading robots, Expert Advisors (EAs) and the ability to 'Copy Trade' are just a few of
                the features that make MT5 a great platform. Like MT4 employs MQL4, MT5 also uses the MQL5 programming
                language.</span><br><br>

            <span style="font-weight: 400;">Multiple positions can be opened at the same time with the MT5 multi-asset
                platform, either in the opposite or in the same direction. Traders in the Forex market frequently use
                this feature.</span><br><br>

            <span style="font-weight: 400;">MT5's depth of market (Market Depth or DOM)</span> <span
                style="font-weight: 400;">presents active bid and ask for quotes for selected financial instruments. Do
                bear in mind that the DOM is different between over-the-counter (OTC) markets and exchange-based
                markets.</span><br><br>

            <span style="font-weight: 400;">Both the classic netting technique and hedge option system are supported.
                Typically, there are four different ways to execute orders on MT5 (may differ depending on your broker):
                Instant, Request, Market, and Exchange. MT5 also facilitates access to the use of pending orders,
                protective stop-loss orders and trailing stop orders. With a variety of order types available and
                execution modes, traders are able to use most trading strategies. MT5 offers unique analytical tools and
                supports a number of currencies, together with stock quotes and other financial markets.</span><br><br>

            <span style="font-weight: 400;">21 timeframes are accessible, allowing for a thorough examination of price
                fluctuation and long-term trends (helps with fundamental analysis). Of course, this is trader dependent
                on how one approaches the markets.</span><br><br>

            <span style="font-weight: 400;">International news broadcasts are streamed directly into the MT5 platform,
                providing critical real-time financial data. What's more, MT5's economic calendar displays vital
                macroeconomic statistics for each country, allowing traders to assess the impact on various financial
                products.</span><br><br>

            <b>Algorithmic Trading</b>

            <span style="font-weight: 400;">In MT5, algorithmic trading refers to trading with the assistance of
                automated trading robots. Be reminded that a robot will only do what it is programmed to
                do.</span><br><br>

            <span style="font-weight: 400;">This feature entails automated trading through specialized software referred
                to as trading robots (Expert Advisors). Robots function independently of the trader; they can assess
                quotes and execute trades based on an underlying algorithm.</span><br><br>

            <b>cTrader </b>

            <span style="font-weight: 400;">The platform is unique, built to fulfil a number of brokers' needs,
                including Electronic Communication Networks (ECN), Forex and CFDs (contracts for difference). cTrader
                delivers rich charting capabilities with an easy-to-follow interface, available on multiple
                devices.</span><br><br>

            <span style="font-weight: 400;"> </span>

            <span style="font-weight: 400;">Although FP Markets do not offer cTrader, they are one of the top brokers
                for scalping, day trading, swing trading and position trading. There are no hidden fees with FP Markets,
                in addition to the spreads/commissions listed. Everything is transparent—FP Markets execution is
                superior to several other brokers.</span><br><br>

            <span style="font-weight: 400;"> </span>

            <b>Advantages of cTrader charting:</b>
            <ul style="padding-left:0; list-style-type:none; font-size:16px;">
                <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">cTrader has multi-chart,
                        single-chart along free-chart modes.</span><br><br></li>
                <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">View multiple charts tiled
                        neatly beside each other or have the chart area filled with just one chart. We can also toggle
                        between different charts.</span><br><br></li>
            </ul>
            <span style="font-weight: 400;"> </span>

            &nbsp;

            <b>How cTrader Executes Trades?</b>

            <span style="font-weight: 400;">A vertical column on the platform's left side displays a list of currency
                pairs or other instruments with bid/ask quotes—similar to MetaTrader's Market Watch window. When you
                click on a currency pair, the quote widens and you may place an immediate order: an instant market
                order. What is nice is that the details of the executed order pop up in the top-right corner of the
                screen. You can also have a safe setting that causes a conventional entry order box to appear instead of
                automatic execution.</span><br><br>

            <span style="font-weight: 400;">Orders that are still pending; take-profit and stop-loss orders can be
                altered immediately on the chart using drag-and-drop boxes that appear. Once you have entered a few
                trades, this process becomes more manageable. </span>

            <span style="font-weight: 400;">All pending orders are visibly displayed on the chart, making it simple to
                keep track of which orders are where, together with what size they are. There are different tabs for
                positions, orders and transactions.</span><br><br>

            <span style="font-weight: 400;">Chart colour selection can be changed from standard green and red candles on
                a black background. If you prefer a different colour scheme, you must convert it for each new chart you
                open. When you close the platform, it reopens in the same state (saves automatically). Most charting
                packages provide 1, 5 and 15-minute periods as well as the 1-hour range and more. This is the same with
                cTrader, but you also have the option of changing the time period to suit your personal approach. The
                standard 4-hour, daily, weekly and monthly views are available.</span><br><br>

            <span style="font-weight: 400;">Over 50 indicators are grouped into four categories in the indicator list:
                Trend, Oscillator, Volatility and Volume.</span><br><br>

            <b>eToro Social Trading</b><b>
            </b><span style="font-weight: 400;">eToro is a large social trading platform, boasting extensive experience
                and millions of users from over 140 countries.</span><br><br>

            <span style="font-weight: 400;">eToro is considered a one-stop-shop for stock trading CFDs and online
                investment, with access to cryptocurrencies (crypto).</span><br><br>

            <span style="font-weight: 400;">Because eToro is a transparent platform, each trader that may be copied has
                vital information on their eToro profiles, assisting you (the investor) in determining your best
                selections for your portfolio. There are numerous settings to choose from, including gain, risk score
                and location.</span><br><br>

            <span style="font-weight: 400;">Available Markets</span>

            <span style="font-weight: 400;"> One of the best characteristics of eToro is its overall asset variety,
                which exceeds 2,000, while FP Markets takes the lead with over 10,000.</span><br><br>

            <span style="font-weight: 400;">At both brokers, the majority of them are equity CFDs. eToro offers just 49
                currency pairings, significantly fewer than the average of most online brokers, while FP Markets
                provides more than 60. eToro, however, shines with 93 cryptocurrency pairs.</span><br><br>

            <span style="font-weight: 400;">Both companies charge swap rates on leveraged overnight positions. eToro's
                withdrawal cost is extremely high ($5) besides charging an inactivity fee. The cost structure of FP
                Markets is more cost-effective.</span><br><br>

            &nbsp;

            <span style="font-weight: 400;">Confidence and security.</span><br><br>

            <span style="font-weight: 400;">eToro and FP Markets provide an equal trading environment in terms of
                security and trust. Both have oversight from the Cyprus Securities Exchange (CySEC) and the Australian
                Securities and Investments Commission (ASIC).</span><br><br>

            <span style="font-weight: 400;"> </span>

            <b>eToro vs FP Markets – Verdict</b>

            <span style="font-weight: 400;">eToro provides a competitive asset selection. It is one of the largest
                trading groups for social traders.</span><br><br>

            <span style="font-weight: 400;">Both brokers appeal to new traders with limited experience or time as both
                offer social trading platforms.</span><br><br>

            <span style="font-weight: 400;">It is worth noting that the MT4 trading platform featuring its advanced
                features are not included on eToro. FP Markets provides social trading through Myfxbook Auto Trade,
                which can be accessed directly through the MT4 trading interface. Traders can also use MT5 or the
                proprietary Iress on FP Markets but are only available in certain parts of the world.</span><br><br>

            <span style="font-weight: 400;">FP Markets' trading tools put it further apart from eToro, offering a
                superior trading environment on all fronts.</span><br><br>

            <span style="font-weight: 400;">The Popular Investor is a program for people who want to make money. The
                Popular Investor program was designed by eToro to foster a robust community of traders and investors
                while encouraging successful traders to share knowledge. For being copied, this scheme rewards
                successful members of the eToro community. Simply put, the higher the compensation, the more copiers
                they have. Payments to popular investors are made on top of any trading earnings that can amount to as
                much as 2 per cent of their total AUM (assets under management).</span><br><br>

            <span style="font-weight: 400;">Widespread financial knowledge and education have created a situation in
                which anyone who invests the time and effort to research markets can develop a sound trading investing
                plan and has a chance to succeed.</span><br><br>

            <span style="font-weight: 400;">Newsfeed on social media.</span><br><br>

            <span style="font-weight: 400;">The customised social News Feed is another eToro-exclusive feature. Your
                News Feed, which combines social media and online trading, allows you to keep track of the financial
                instruments, in addition to </span><span style="font-weight: 400;">copy trading.</span><br><br>

            <span style="font-weight: 400;">You can make your own updates (tag the instruments or individuals you're
                talking about), share posts to your feed, comment on others' postings while gradually building a feed
                tailored to your trading investing interests, just like on any social network.</span><br><br>

            <span style="font-weight: 400;">You will also receive notifications on the eToro platform when a user you
                have copied makes a new post; an asset on your watch list becomes volatile. Many other critical
                development notifications show on the online platform and your mobile device as push
                notifications.</span><br><br>

            <span style="font-weight: 400;">eToro social media updates on your profile:</span>
            <ul style="padding-left:0; list-style-type:none; font-size:16px;">
                <li><span style="font-weight: 400;">         Feed:</span></li>
            </ul>
            <span style="font-weight: 400;">Displays all of your eToro social activity, including your posts and
                comments. This page also displays your bio, including information about yourself and your trading
                technique.</span><br><br>
            <ul style="padding-left:0; list-style-type:none; font-size:16px;">
                <li><span style="font-weight: 400;">         Stats:</span></li>
            </ul>
            <span style="font-weight: 400;">Shows your profit, failure/success ratio since joining eToro and allows you
                to track your risk score, as well as displays your portfolio makeup, among other things.</span><br><br>
            <ul style="padding-left:0; list-style-type:none; font-size:16px;">
                <li><span style="font-weight: 400;">         Portfolio:</span></li>
            </ul>
            <span style="font-weight: 400;">This page displays your portfolio in detail to the community, letting other
                traders see what you trade and invest in while deciding whether they want to copy you.</span><br><br>

            <span style="font-weight: 400;">Turn on the 'Private Profile' switch on your profile to disclose less
                information. Go to profile privacy settings to customize your profile's privacy.</span><br><br>

            <span style="font-weight: 400;">Plus500</span>

            <span style="font-weight: 400;">Currently, Plus500 offers a variety of more than 2,000 trading instruments.
                Plus500SG Pte Ltd is a subsidiary of Plus500 Ltd, a company listed on the Main Market for Listed
                Companies of the London Stock Exchange (PLUS).</span><br><br>

            <span style="font-weight: 400;"> </span>

            <span style="font-weight: 400;">Client Money, if you open an account with Plus500SG Pte Ltd, will be held in
                a segregated bank account, which keeps customer funds separate from the company's
                finances.</span><br><br>

            <span style="font-weight: 400;"> </span>

            <b>Strategy's Objectives and Vision.</b>

            <span style="font-weight: 400;">Plus500 has a strong foundation to develop future growth. Plus500's
                strategic priorities have distinguished the company from competitors in the past and will continue to do
                so in the future, crucial to the company's long-term growth together with profitability.</span><br><br>

            <span style="font-weight: 400;">Marketing is and will continue to be the force behind new customer growth
                within Plus500's current markets and potential new jurisdictions.</span><br><br>

            <span style="font-weight: 400;">Innovative use of data analytics tools, proprietary algorithms, marketing
                initiatives is key. This enables Plus500 to deploy targeted marketing resources to create highly
                effective marketing campaigns by monitoring, coupled with controlling client acquisition
                costs.</span><br><br>

            <span style="font-weight: 400;">Increase trade volume on the Trading Platform from Active
                Customers.</span><br><br>

            <span style="font-weight: 400;"> </span>

            <span style="font-weight: 400;">Plus500's consistent commitment to innovation, best-in-class user
                experience, offering range is critical components of the Trading Platform's expanding activity among
                active customers. Plus500's continuous focus on innovation will enable it to remain a market leader.
                Introducing new instruments that consumers desire, such as high-profile, newly listed
                equities.</span><br><br>

            <span style="font-weight: 400;"> </span>

            <span style="font-weight: 400;">Expand Market Share in Existing Jurisdictions.</span><br><br>

            <span style="font-weight: 400;"> </span>

            <span style="font-weight: 400;">Entering new jurisdictions where it does not currently have customers is key
                for eToro, focusing on acquiring new customers from regulated markets, particularly in Western European
                countries.</span><br><br>

            <span style="font-weight: 400;"> </span>

            <span style="font-weight: 400;">Since its inception, Plus500 has placed a premium on technological
                innovation-seeking continual improvement.</span><br><br>

            <span style="font-weight: 400;">The company recognizes the need to develop and deploy new innovative
                financial instruments to maintain a loyal customer base.</span><br><br>

            <span style="font-weight: 400;"> </span>

            <span style="font-weight: 400;">Plus500 is the market leader in the CFD industry when it comes to mobile
                innovation.</span><br><br>

            <span style="font-weight: 400;"> </span>

            <b>Plus 500 vs. FP Markets.</b>

            <span style="font-weight: 400;"> </span>

            <span style="font-weight: 400;">FP Markets has MT4; however, Plus500 does not.</span><br><br>

            <span style="font-weight: 400;"> </span>

            <span style="font-weight: 400;">Plus500 offers 71 currency pairs (e.g., EUR/USD, GBP/USD and AUD/USD) versus
                60+ at FP Markets. Aside from Forex, FP Markets has 10,000 share CFDs available, while Plus500 has
                1896.</span><br><br>

            <span style="font-weight: 400;"> </span>

            <span style="font-weight: 400;">FP Markets is a global foreign exchange (Forex) and CFD broker that has been
                established and regulated since 2005 and has provided an outstanding trading experience since
                then.</span><br><br>

            <span style="font-weight: 400;"> </span>

            <span style="font-weight: 400;">FP Markets has been recognised as the #1 Value Global Forex Broker on
                several occasions. The importance of trading with a regulated universal broker in the Forex market is
                understood by Forex traders.</span><br><br>

            <span style="font-weight: 400;"> </span>

            <span style="font-weight: 400;">FP Markets adhere to some of the most stringent international regulations
                set forth by the Australian Securities Investment Commission (ASIC) and the Cyprus Securities Exchange
                Commission (CySEC).</span><br><br>

            <span style="font-weight: 400;"> </span>

            <span style="font-weight: 400;">Several strong values have contributed to FP Markets success: competitive
                brokerage charges through tight spreads, lightning-fast execution, access to modern trading platforms
                with a comprehensive portfolio of financial products and provides excellent customer
                support.</span><br><br>

        </div>
    </div>
</div>


<style>
    .main span {
        font-size: 16px;
    }

    .any-content li {
        padding-left: 24px;
        line-height: 1.6em;
        min-height: 26px;
        font-size: 18px;
        color: #3e495c;
        background-image: url(/wp-content/themes/fptheme/images/bullet.png);
        background-repeat: no-repeat;
        background-size: 5px !important;
        background-position: 0 12px;
    }

    textarea.wpcf7-form-control.wpcf7-textarea {
        height: 180px;
    }

    .semi-head-font-sec {
        font-size: 23px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: center;
        color: #2e3642;
    }

    #form-callback-service-section {
        padding-top: 95px;
        padding-bottom: 95px;
    }

    .form-send-button {
        background-color: #00beff;
        border-radius: 0px 10px 10px 10px;
        padding: 4px 40px;
        font-size: 23.5px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.51;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        border: none;
        width: 159px;
        height: 49px;
        text-transform: uppercase;
    }

    .wid-align-for-form {
        width: 620px;
        margin: 0 auto;
    }

    .ct2 {
        background: url(/wp-content/themes/fptheme/image-2020/callback-request-site-new/light-bg-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .wid-al-for-second-sec {
        margin: 0 auto;
        width: 620px;
    }

    .h2-font-center-sec {
        font-size: 44px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #3e495c;
    }

    #looking-to-talk-section {
        padding-top: 55px;
        padding-bottom: 85px;
    }

    .wid-align-for-secone {
        width: 630px;
        margin: 0 auto;
    }

    .bottom-divid {
        background-size: auto;
        background-position: bottom center;
        background-image: url(/wp-content/themes/fptheme/images/dotted-lines-icon-.png) !important;
        background-repeat: no-repeat;
    }

    .normal-paragra-font-sec {
        font-size: 18.5px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.51;
        letter-spacing: normal;
        text-align: left;
        color: #2e3642;
    }

    .h1-center-font-sec {
        font-size: 44px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #3e495c;
    }

    .padding-top-55 {
        padding-top: 55px;
    }

    .padding-top-35 {
        padding-top: 35px;
    }

    .padding-top-45 {
        padding-top: 45px;
    }

    .container-fluid.nav-bar-section.nav-desktop {
        display: block;
    }

    .cus-nav-inner {
        height: 54px;
        background-size: initial;
        background-image: url(/wp-content/themes/fptheme/images/dotted-lines-icon-.png);
        background-position: 50%;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 3.12;
        letter-spacing: normal;
        text-align: center;
    }

    .cus-nav-bar ul,
    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .cus-nav-bar li {
        float: left;
        text-align: center;
    }

    li.list-item-menu {
        width: 28%;
    }

    .menu-divider {
        background-size: 1px 35px;
        background-position: center right !important;
        background-image: url(/wp-content/themes/fptheme/images/vertical-image-1.png);
        background-repeat: no-repeat;
    }

    .cus-nav-bar li a.active {
        background-color: #fff !important;
        border-radius: 0px 25px 0px 0px !important;
        background: linear-gradient(white, white), linear-gradient(to bottom right, #fff 14%, rgba(0, 189, 255, .48), #26cc68);
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        margin-left: -1px;
        border: 2px solid transparent !important;
        border-bottom: none !important;
        border-top: none !important;
        display: block;
        position: relative;
        font-size: 17px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: #2e3642;
        margin-right: -1px;
        box-shadow: 29px 53.1px rgba(0, 189, 255, .48), -11px 53.1px rgba(0, 189, 255, .48);
    }

    .cus-nav-bar li a {
        display: block;
        color: #3e495c;
        text-align: center;
        padding: 1px 16px;
        text-decoration: none;
    }

    .cus-nav-bar li a:hover {
        z-index: 1;
        background-color: #ffffff;
        border-radius: 0px 25px 0px 0px !important;
        background: linear-gradient(white, white), linear-gradient(to bottom right, #fff 14%, rgba(0, 189, 255, .48), #26cc68);
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        margin-left: -1px;
        border: 2px solid transparent !important;
        border-bottom: none !important;
        border-top: none !important;
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 17px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: #2e3642;
        margin-right: -1px;
        box-shadow: 29px 53.1px rgba(0, 189, 255, .48), -11px 53.1px rgba(0, 189, 255, .48);
    }

    .mob-hei {
        line-height: 25px !important;
    }

    .row.fb-cus-row {
        max-width: 1080px;
        margin: auto;
        position: relative;
        top: 10px;
    }

    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .container-fluid.page-navi li {
        float: left;
        text-align: center;
    }

    u {
        font-size: 18.5px;
    }

    .btn.btn-transparent-red {
        border: none;
        border-radius: 0 10px 10px 10px !important;
        font-size: 24px !important;
        font-weight: bold !important;
        font-stretch: normal !important;
        font-style: normal !important;
        letter-spacing: 0.98px !important;
        text-align: center !important;
        color: #ffffff !important;
    }

    .layer {
        background-color: rgba(0, 0, 0, 0);
    }

    .padding-top-10 {
        padding-top: 10px;
    }

    .padding-top-20 {
        padding-top: 20px;
    }

    .padding-top-25 {
        padding-top: 25px;
    }

    .padding-top-30 {
        padding-top: 30px;
    }

    .padding-top-40 {
        padding-top: 40px;
    }

    .padding-top-50 {
        padding-top: 50px;
    }

    .padding-top-60 {
        padding-top: 60px;
    }

    .padding-bottom-10 {
        padding-bottom: 10px;
    }

    .padding-bottom-15 {
        padding-bottom: 15px;
    }

    .padding-bottom-20 {
        padding-bottom: 20px;
    }

    .padding-bottom-25 {
        padding-bottom: 25px;
    }

    .padding-bottom-30 {
        padding-bottom: 30px;
    }

    .padding-bottom-35 {
        padding-bottom: 35px;
    }

    .padding-bottom-40 {
        padding-bottom: 40px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-transform: none !important;
        letter-spacing: normal !important;
    }

    .mobile-container {
        max-width: 480px;
        margin: auto;
        color: white;
        border-radius: 10px;
    }

    .mobile-container {
        display: none;
    }

    .topnav {
        overflow: hidden;
        background-color: white;
        position: relative;
    }

    .topnav a {
        color: black;
        padding: 18px 16px;
        text-transform: uppercase;
        font-size: 28px;
        display: block;
    }

    .topnav #myLinks {
        display: none;
    }

    .mob-active-link {
        font-weight: 700;
    }

    .topnav a.icon {
        font-size: 44px;
        display: block;
        position: absolute;
        right: 0;
        top: -13px;
    }

    @media only screen and (max-width: 600px) {
        .menu-divider {
            padding-top: 10px;
        }

        .ct1 {
            z-index: 9 !important;
            position: relative !important;
            background: #ffffff !important;
        }

        .mob-active-tab {
            background: url(/wp-content/themes/fptheme/image-2020/bg-mobile-active.png) !important;
            background-position: center center !important;
            background-size: 100% 100% !important;
            box-shadow: 15px 72.1px rgba(0, 189, 255, .48), -15px 72.1px rgba(0, 189, 255, .48) !important;
        }

        #looking-to-talk-section {
            padding-top: 55px;
            padding-bottom: 55px;
        }

        #form-callback-service-section {
            padding-top: 65px;
            padding-bottom: 65px;
        }

        .ct2 {
            background: url(/wp-content/themes/fptheme/image-2020/callback-request-site-new/light-bg-mobile.png) !important;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .wid-align-for-secone {
            width: auto !important;
            margin: 0 auto;
            padding-left: 15px;
            padding-right: 15px;
        }

        .wid-al-for-second-sec {
            width: auto !important;
            margin: 0 auto;
            padding-left: 15px;
            padding-right: 15px;
        }

        .wid-align-for-form {
            width: auto !important;
            margin: 0 auto;
            padding-left: 15px;
            padding-right: 15px;
        }

        .mobile-ul-align {
            display: inline-flex !important;
            width: -webkit-fill-available !important;
            background-size: auto !important;
            background-image: url(/wp-content/themes/fptheme/images/dotted-lines-icon-.png) !important;
            background-position: 50% !important;
        }

        .page-navi {
            display: none;
        }

        .container-fluid {
            margin-left: 0px !important;
            margin-right: 0px !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        body,
        html {
            overflow-x: hidden !important;
        }

        .section.headerbg {
            background-image: url(/wp-content/themes/fptheme/image-2020/callback-request-site-new/hero-mobile.png) !important;
        }

        .btn.btn-transparent-red {
            display: none;
        }

        .mobile-link-active {
            height: 54px;
            margin-right: 0.5px;
            background-image: url(/wp-content/themes/fptheme/images/dotted-lines-icon-.png);
            background-position: 50%;
            text-transform: uppercase;
        }

        .mobile-container {
            display: block !important;
        }

        .container-fluid {
            margin-left: 0px !important;
            margin-right: 0px !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .nav-icon {
            margin: 1em;
            width: 40px;
            margin-top: -9px;
            margin-right: 1px;
        }

        .nav-icon:after,
        .nav-icon:before,
        .nav-icon div {
            background: linear-gradient(to right, rgb(-140, 134, 171) 55%, #26cc68);
            border-radius: 3px;
            content: '';
            display: block;
            height: 2px;
            margin: 11px 0px;
            transition: all .2s ease-in-out;
        }

        a.link-end-mobile-divider {
            background-size: 370px 1px;
            background-position: top !important;
            background-image: url(/wp-content/themes/fptheme/image-2020/commodities/vertical_line-1x260-1-1.png);
            background-repeat: no-repeat;
        }

        .container-fluid.page-navi {
            display: none;
        }

        .container-fluid.nav-bar-section.nav-desktop {
            display: none;
        }

        .padding-top-10-for-mobile {
            padding-top: 10px;
        }

        .padding-top-20-for-mobile {
            padding-top: 20px;
        }

        .padding-top-25-for-mobile {
            padding-top: 25px;
        }

        .padding-top-30-for-mobile {
            padding-top: 30px;
        }

        .padding-top-40-for-mobile {
            padding-top: 40px;
        }

        .padding-top-50-for-mobile {
            padding-top: 50px;
        }

        .padding-top-60-for-mobile {
            padding-top: 60px;
        }
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    input[type="tel"],
    input[type="number"],
    input[type="date"],
    input[type="search"],
    select,
    textarea {
        background-color: #ffffff;
        height: 48px;
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: #7c989f;
    }

    .custom-link-for-a {
        color: #00bdff !important;
        cursor: pointer;
        text-decoration: underline !important;
        font-weight: 600;
    }
</style>


<link rel="stylesheet" href="/wp-content/themes/fptheme/extrastyles.css?v=2.2" type="text/css" />


<script type="text/javascript">
    function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>

<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: 0;
        text-transform: unset;
    }

    @media only screen and (max-width: 600px) {
        a.btn-account {
            margin-left: 50px !important;
            margin-right: 50px !important;
        }

        .mobile-container {
            display: block !important;
        }

        .navbar-header {
            padding-right: 20px !important;
        }

        div#register-now {
            padding-left: 12px;
            padding-right: 12px;
        }

        .section.nomarginmobile.footer-links div {
            text-align: center !important;
        }

        .col-md-6.col-xs-6.dropdown {
            padding-left: 20px !important;
        }

        .col-md-6.col-xs-6.pxmobilef.font12.text-right {
            padding-right: 22px !important;
        }

        .margin60.col-md-12.text-left.footer-intro.font12 {
            padding-left: 25px !important;
            padding-right: 25px !important;
        }

        .registration p {
            color: white !important;
        }

        .nav-icon {
            margin: 1em;
            width: 40px;
            margin-top: -8px;
            margin-right: 1px;
        }

        .nav-icon:after,
        .nav-icon:before,
        .nav-icon div {
            background: linear-gradient(to right, rgb(-140, 134, 171) 55%, #26cc68);
            border-radius: 3px;
            content: '';
            display: block;
            height: 2px;
            margin: 11px 0px;
            transition: all .2s ease-in-out;
        }

        div#el-11d961c2 {
            margin-bottom: 68px !important;
        }

        #el-4923d651[data-vce-do-apply*=all][data-vce-do-apply*=el-4923d651] {
            padding-bottom: 104px !important;
        }

        .only-on-mobile {
            display: block !important;
        }

        #el-4ae40169>.vce-col-inner>.vce-col-content {
            padding-right: 18px !important;
        }

        .vce-single-image-inner.vce-single-image--absolute {
            padding-right: 20px !important;
        }

        #el-0d5c28f5[data-vce-do-apply*=all][data-vce-do-apply*=el-0d5c28f5] {
            margin-left: -20px !important;
        }

        p.third-head-sec {
            margin-left: 32px !important;
        }

        div#el-4c4559f7 {
            margin-left: -18px !important;
        }

        div#el-82367445 {
            margin-top: -97px !important;
        }

        div#el-c633099b {
            margin-top: -60px !important;
        }

        #el-e9436ba9[data-vce-do-apply*=all][data-vce-do-apply*=el-e9436ba9] {
            padding-top: 0px !important;
        }

        div#el-7790f85e {
            margin-top: -19px !important;
        }

        #el-832c5bbf {
            margin-top: 24px !important;
        }

        a.navbar-brand {
            padding-left: 18px !important;
        }

        .whitedown {
            margin-left: 178px !important;
        }
    }

    @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
        a.navbar-brand img {
            width: 206px !important;
        }

        .img-align-nav {
            height: 40px !important;
        }

        #el-a4b6ced5 {
            padding-right: 55px !important;
            padding-left: 0px !important;
        }

        #el-0a7659c4>figure>.vce-single-image-inner.vce-single-image--absolute>.vce-single-image {
            min-width: 130% !important;
        }

        #el-0e8a640e,
        #el-a4b6ced5 {
            padding-right: 50px !important;
        }

        p.third-head-sec {
            margin-left: 5px !important;
            margin-right: 44px !important;
        }

        p.third-sec-text {
            margin-right: 14px !important;
        }
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
        a.navbar-brand img {
            width: 164px !important;
        }

        .img-align-nav {
            height: 35px !important;
        }

        .title.mobile-title-3 p {
            font-size: 30px !important;
        }

        .colms-title1mt4 {
            font-size: 15px !important;
        }

        .blue-button-last-section {
            font-size: 17px !important;
        }
    }

    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {
        a.navbar-brand img {
            width: 214px !important;
        }
    }

    h1.hidden-xs.fp-font.no-uppercase.color-white {
        padding-top: 65px !important;
    }
</style>