<p class="pad-top-mob-30">
    <iframe width="100%" height="415" src="https://www.youtube.com/embed/XNy38mFAjIM" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</p>

<div class="body-contents" style="padding-bottom: 50px;">
    <p class="h-txt-cus" style="padding-bottom: 10px;">Fundamental Analysis in Forex Trading: Factors that Affect
        Currencies</p>
    <p class="caption-txt">Reading Time: 11 Minutes </p>
    <p class="p-txt">Estimating future price movements in the currency market is challenging for many. Globally, the
        foreign exchange market commands the biggest slice of the financial ‘cake’, claiming an eye-watering US$6.6
        trillion in global FX market turnover.</p>
    <p class="p-txt">Traders will use a variety of tools to assist them in predicting the price movement, most
        commonly technical analysis and fundamental analysis are methods that traders use to get a gauge of
        potential movement in the market. </p>
    <p class="h-txt-cus">Fundamental Analysis Defined</p>
    <p class="p-txt">Currency pair in forex refers to, two currencies are paired together and quoted through a
        ‘base’ and ‘quote’ currency. The euro in EUR/USD (a major currency pair) is the base currency and represents
        one unit; the US dollar is the quote currency and provides the value of a currency: the euro in this case.
    </p>
    <p class="p-txt">Fundamental analysis studies economic developments of a country, events influencing the supply
        and demand of their respective exchange rates, either positively or negatively. Analysts employing
        fundamental analysis tend to approach markets using a macro-driven theme.</p>
    <p class="p-txt">Macro analysis, or top-down approach, focuses on broad economic factors. This involves a
        comprehensive assessment of the economy, evaluating aspects such as economic indicators—interest rates,
        growth and inflation—as well as central bank policy. </p>
    <p class="p-txt">Fundamental analysis is composed of three core elements:</p>
    <p class="p-txt pad-txt-left-20">
        &bull; Central bank policies
    </p>
    <p class="p-txt pad-txt-left-20">
        &bull; Economic indicators
    </p>
    <p class="p-txt pad-txt-left-20">
        &bull; Geopolitical events
    </p>

    <p class="p-txt">These three components working in harmony should translate to clearer market trends and present
        potential trading opportunities. If one of these areas is in disorder, interpreting a fundamental picture
        becomes difficult. </p>
    <p class="p-txt">Fundamental analysis essentially informs traders and investors why the market advances and
        declines, and provides a trade decision: to buy, sell or trade flat. </p>
    <p class="h-txt-cus">Central Banks</p>
    <p class="p-txt">A country’s central bank is charged with the duty of regulating banking institutions and
        implementing monetary and fiscal policies.</p>
    <p style="text-align: center; padding: 15px 0 15px 0;">
        <img src="/wp-content/themes/fptheme/images/institution_img.png" class="historylayer-img">
    </p>
    <p class="p-txt">Well-known central banks:</p>
    <p class="p-txt pad-txt-left-20">
        &bull; United States Federal Reserve (or ‘Fed’)
    </p>
    <p class="p-txt pad-txt-left-20">
        &bull; European Central Bank (ECB)
    </p>
    <p class="p-txt pad-txt-left-20">
        &bull; Bank of England (BoE)
    </p>
    <p class="p-txt pad-txt-left-20">
        &bull; Bank of Japan (BoJ)
    </p>
    <p class="p-txt pad-txt-left-20">
        &bull; Reserve Bank of Australia (RBA)
    </p>
    <p class="p-txt">Everything begins with the central bank and they’re assessment of economic indicators. Traders
        and investors attempt to anticipate a central bank’s actions by evaluating economic indicators and reacting
        to the outcomes from the forecast (Actual versus Variance). The market projects a forecast for an economic
        indicator and subsequently responds to the actual figure released.</p>
    <p class="p-txt">Ultimately, trading opportunities present themselves when economic data harmonises with a
        central bank’s sentiment. This—coupled with a well-defined technical approach to fine tune entry
        techniques—delivers an overall trading picture to operate with. </p>
    <p class="p-txt"><span style="text-decoration: underline;">Central Bank Announcements:</span></p>
    <p class="p-txt">Major central banks meet every 4-6 weeks. The Fed and BoE meet every six weeks (8 times per
        year), while the RBA meets 11 times each year. Market trend, or ‘market direction’, is derived from the
        sentiment within the market, with the central bank acting as a stabilizer by using monetary policy. It is
        therefore crucial market participants recognise the arrangement of these central bank meetings and
        understand the terminology used. </p>
    <p class="p-txt">Central bank governors are the head of their respective central banks. The head of the US
        Federal Reserve currently is Jerome H. Powell; Andrew Bailey heads the Bank of England and the governor of
        the Reserve Bank of Australia is Philip Lowe. </p>
    <p class="h-txt-cus">Central Banks: Why Are They important?</p>
    <p class="p-txt">Central banks assess the current market sentiment at each meeting and consider whether any
        changes need to be made for the near-term monetary policy. The members will review data gathered over the
        last 6 weeks to assess on what measures need to be taken such as changing the current interest rates or
        using quantitative easing.</p>
    <p class="p-txt">A country’s central bank raising rates can be categorised by way of a ‘hawkish bias’; what
        they’re essentially doing here is talking up the prospect of raising rates. The prospect of cutting rates is
        also an option on the table for central banks, emphasising a ‘dovish bias’. Either a hawkish or dovish tone
        can translate into big price moves in financial markets. If economic conditions remain unchanged, the
        central bank is likely to adopt a neutral stance: no bias.</p>
    <p class="p-txt">Typically, the central bank meeting is accompanied by a statement and, of course, the interest
        rate decision. These are critical to understand. The statement is the primary avenue employed to communicate
        with investors regarding monetary policy (actions undertaken by a central bank): the outcome of the vote on
        interest rates alongside other policy measures and economic commentary. In addition, here you will find what
        the central bank’s forward projections are. A week or so later, the ‘minutes’ are available: a more
        comprehensive analysis of the statement and the talking points discussed in the meeting. </p>
    <p class="p-txt">See <a href="https://www.federalreserve.gov/monetarypolicy/files/monetary20200129a1.pdf">here</a>
        for the
        latest US Federal Open Market Committee (FOMC) Statement.</p>
    <p class="p-txt">Out of the interest rate decision and statement, you’re looking for market sentiment—the
        direction provided by central banks and the core overall trends in the market.</p>
    <p class="p-txt">The first two weeks of every month is ‘usually’ clear in terms of central bank sentiment,
        following a fresh statement from the bank. </p>
    <p class="h-txt-cus">Economic Indicators</p>
    <p class="p-txt">Economic indicators, as their name implies, are statistics—often on a macroeconomic
        scale—designed to measure economic activity. Traders and investors use these indicators to analyse the
        well-being of a country’s economy. Government organisations and private groups release several economic
        reports on a weekly, monthly and quarterly basis, each measuring activity in a particular segment of the
        economy. </p>
    <p style="text-align: center; padding: 15px 0 15px 0;">
        <img src="/wp-content/themes/fptheme/images/arrow_up_img.png" class="historylayer-img">
    </p>
    <p class="p-txt">Widely followed indicators are employment/unemployment (payrolls), inflation (consumer price
        index [CPI]), growth (or gross domestic product [GDP]), retail sales, the stock market, industrial
        production (Producer Price Index [PPI]) and housing figures. In terms of release schedules, approximately
        five key economic indicators are released each week.</p>
    <p class="p-txt">No single indicator provides a clear picture of the economy’s health. At best, each indicator
        provides a ‘snapshot’ of current conditions. But when piecing the economic indicators together, you should
        get a clearer picture of how the economy is faring. </p>
    <p class="p-txt">However, it is crucial to understand that some economic indicators are more important than
        others at certain points in time. Inflation, as of this article, is important. Significant indicators to
        watch can be found on the statements from central banks in their forward guidance.</p>
    <p class="h-txt-cus">Economic Calendar</p>
    <p class="p-txt">Forex Factory’s economic calendar is widely used among independent Forex traders and investors.
    </p>
    <p class="p-txt">High-impacting economic releases are marked red. Orange represents potentially medium-impacting
        events and yellow indicates a low-expected impact on price levels, or price action. </p>
    <p class="p-txt">We also have Previous or ‘Prior’, ‘Forecast’ and ‘Actual’ figures. Forecasts are generally a
        collection of economists’ views which are then averaged. </p>
    <p class="p-txt">New Forex traders might want to note what the Q/Q and Y/Y labels refer to. As we can see with
        the New Zealand Credit Card spending Y/Y (see calendar below), Y/Y means data compared with corresponding
        data from a year earlier. </p>
    <p class="p-txt">Q/Q seen with the New Zealand CPI data (inflation) is a measure from one quarter to the next.
        And, M/M is a measure from one month to the next. </p>
    <p style="text-align: center; padding: 15px 0 15px 0;">
        <img src="/wp-content/themes/fptheme/images/measurements_a.png" class="historylayer-img">
        <span>(Source: Forex Factory Economic Calendar)</span>
    </p>
    <p class="h-txt-cus">Geopolitical Events</p>
    <p class="p-txt">Geopolitical tensions can complicate technical analysis and fundamental analysis, distorting
        the general flow of key fundamental drivers in the market. However, absent of disruptive geopolitical
        events, trending markets become visible. </p>
    <p class="p-txt">Geopolitics events are divided into wars and conflicts, terrorist attacks and international
        tensions. US-China trade is a good example and the ‘Brexit’ situation (United Kingdom exit from the European
        Union). </p>
    <p class="p-txt">The announcements surrounding geopolitical issues are usually not scheduled, unlike the central
        bank announcements and economic data. As you can imagine, this may cause confusion in currency markets and
        make them difficult to trade. </p>
    <p class="h-txt-cus">Conclusion</p>
    <p class="p-txt">To wrap things up, fundamental market analysis in the Forex market looks at three core
        components: the central bank’s ‘direction’, economic indicators to provide instant bias, and the
        geopolitical situation. To aid timing, we use technical analysis to fine tune entries. </p>
    <p class="p-txt">Like technical analysis, fundamental analysis involves broad study and is beyond the scope of
        an article to detail each element. For that reason, the objective of this article is to provide a foundation
        in which to build from. </p>


</div>

<style>
    .edu__course__lesson p {
        font-size: 15px;
    }

    .h-txt-cus {
        font-size: 18.5px !important;
        line-height: 22.5px;
        padding: 10px 0 0;
        font-weight: bold !important;
    }

    img.historylayer-img {
        margin: auto;
        display: flex;
    }

    .padding-42 {
        padding: 42px 0;
    }

    .padding-20 {
        padding: 20px 0;
    }

    .caption-txt {
        font-size: 14.5px;
        line-height: 22.5px;
        text-transform: uppercase;
    }

    .h-txt {
        font-size: 18.5px;
        line-height: 22.5px;
        font-family: "Helvetica Neue BD Pro", sans-serif !important;
        color: #0b121c;
        padding: 50px 0 0;
    }

    .h-txt-cus {
        font-size: 18.5px !important;
        line-height: 22.5px;
        font-family: "Helvetica Neue BD Pro", sans-serif !important;
        color: #0b121c;
        padding: 10px 0 0;

    }

    .pad-txt-left-20 {
        padding-left: 20px;
    }

    .p-txt {
        font-size: 16px;
        line-height: 22.5px;
        text-align: left;
    }

    .italic-txt {
        font-weight: 700;
        font-style: italic;
    }

    .sidebar-menu h1 {
        font-weight: 100;
    }

    .sidebar-menu {
        background-color: #f5f7fa;
        border-radius: 0px 10px 10px 10px;
        padding: 25px 15px;
    }

    .sidebar-menu li>a {
        color: #0b121c;
    }

    ol.sidebar-ul li {
        font-size: 18.5px;
        border-bottom: 1px solid #cdd5e3;
        padding-bottom: 5px;
        padding-top: 5px;

    }

    .sidebar-ul li.active a>p {
        font-weight: 800;
        color: #0b121c;
    }

    ol.sidebar-ul li a {
        display: flex;
        line-height: 22px;
    }

    ol.sidebar-ul p {
        margin-left: 5px;
        line-height: 22px;
    }

    .body-section {
        padding-left: 35px;
    }

    img.tec-analysis-video-img {
        padding-top: 40px;
        padding-bottom: 50px;
        border-bottom: 2px solid #00bdff;
    }
</style>