<p class="pad-top-30-mob">
    <iframe width="100%" height="415" src="https://www.youtube.com/embed/qhX3JyuiSp8" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</p>
<div class="body-contents" style="padding-bottom: 30px;">
    <p class="caption-txt">Reading Time: 9 Minutes </p>

    <p class="p-txt">Knowledge of the basics are important in any field; it allows for broader understanding of more
        complex concepts and greater knowledge retention. </p>

    <p class="p-txt">Irrespective of trading style and method of analysis employed (day trader or swing trader that
        focuses on technical analysis, for example) financial markets simply consist of buyers and sellers. Having
        the ability to read and comprehend the basic prices of a financial market (market data) is core learning for
        any trader or investor. Updated in real time, market participants have access to a number of prices,
        including the bid price, the ask price and the last traded price. The latter, as its name implies, refers to
        the ‘last price’ a security traded or conducted a transaction. If the last price of EUR/USD is $1.2050, this
        is the most recent price the currency pair traded. Do not confuse this with ‘market price’, which is the
        price at which a brokerage offers to fulfil your trading orders: bid and ask prices. </p>
    <p class="p-txt">It should be noted that during illiquid periods, sharp price variations are common in bid and
        ask price levels. </p>

    <p class="h-txt-cus">Bid and Ask Price</p>
    <p class="p-txt pad-txt-left-20">
        &bull; Willing sellers in the market represent the ask price, which is the current price offered (or offer
        price). It is the ‘best ask’, serving as the lowest <span style="text-decoration:underline;">immediate</span>
        price (or ‘lowest ask’) traders are prepared to sell
        a security for a specified number of units, be it a currency or a share of a company’s stock (stock price).
        Consequently, traders seeking to buy can execute a buy position (long position) at the ask price. <br>

    </p>
    <p class="p-txt pad-txt-left-20">
        &bull; Willing buyers currently in the market represent the bid price, the highest price a buyer will pay
        for a specified number of shares or contracts, also known as the ‘best bid’. It is the <span
            style="text-decoration:underline;">Immediate</span> price (or ‘highest bid’) sellers can enter a sell
        position (short position).

    </p>

    <p class="p-txt">The bid price is generally located beneath the ask price. Nevertheless, it is important to note
        the bid and ask prices continually fluctuate. </p>
    <p class="p-txt">As illustrated in figure A, EUR/USD has a bid price at $1.1251 (current bid) and an ask of
        $1.1252 (current ask). To enter long this currency pair, the available price is $1.1252. Conversely, selling
        this market has a ‘sell value’ at $1.1251. </p>
    <p class="p-txt">Exiting active positions: </p>
    <p class="p-txt pad-txt-left-20">
        &bull; To exit a long position, the bid price is traded—sell to close.

    </p>
    <p class="p-txt pad-txt-left-20">
        &bull; To exit a short position, the ask price is traded—buy to close.

    </p>
    <p style="text-align: center; padding: 15px 0 15px 0;">
        <img src="/wp-content/themes/fptheme/images/eurusd_bid_ask.jpg" class="historylayer-img">
    </p>
    <span>(Figure A)</span>
    <p class="h-txt-cus">Bid/Ask Spread</p>
    <p class="p-txt">The difference between bid and ask price levels is recognised as the bid/ask spread. This is a
        commission for the brokerage, a transaction fee derived from adjusting the liquidity providers’ spreads on
        each side of the bid and ask. In terms of figure A, the bid/ask price is 1 pip (the fourth decimal place).
        However, many CFD and Forex brokers work with 5 decimal places. </p>
    <p class="p-txt">Traders who use the MetaTrader trading platforms can locate bid and ask prices from the Market
        Watch window by pressing Ctrl+M. Live prices are available for currency pairs, as well as CFDs on
        commodities, shares (equities), indices and cryptocurrencies with FP Markets. </p>
    <p class="p-txt">Figure B displays the Market Watch window out of MetaTrader 4 (MT4), with data fed by FP
        Markets. As you can see, currency pairs are referred to as ‘Symbols’ and respective bid and ask prices are
        quoted in 5 decimals. AUD/USD, for example trades at a current bid of $0.72907 and a current ask price at
        $0.72910. The difference between the values is less than a pip (the 4th decimal place). 5th decimal place
        values tend to be referred to as either ‘fractional pips’ (as it is 1/10th of a pip) or points (10 points to
        a pip). In the case of AUD/USD, the spread is 3 points. </p>
    <p class="p-txt">The AUD/USD is a good example of a narrow (or tight) spread, meaning this is a ‘liquid’
        currency pair. Liquid refers to a market that can be traded with ease and not affect price movement. Put
        simply, a large amount of buyers and sellers exist in this market. You may also use the depth-of-market
        function (DOM or market depth) to measure the supply and demand of your traded market. Understandably,
        however, liquidity can change and is subject to market conditions. With MetaTrader 5 (MT5), CFD traders—for
        FX and metals markets with an FP Markets live account—are able to view limit orders above and below current
        bid and ask prices. </p>
    <p class="p-txt">If the AUD/USD traded at $0.72900 bid and $0.72930 ask, the bid/ask spread is then 3 pips and
        nowadays would be considered a wide spread and particularly expensive to trade (especially for short-term
        traders: day trading and scalping). </p>
    <p class="p-txt">Major currency pairs—think EUR/USD, GBP/USD and AUD/USD—tend to offer the tightest spreads as
        these markets are highly liquid. Minor and Exotic currency pairs (EUR/GBP and EUR/THB, for example), which
        are less liquid currencies, tend to draw wider spreads. </p>
    <p style="    text-align: center;    padding: 15px 0 15px 0;">
        <img src="/wp-content/themes/fptheme/images/symbols_chart_a.jpg" class="historylayer-img">
    </p>
    <span>(Figure B: MetaTrader 4 [MT4] Market Watch) </span>
    <p class="p-txt">If you prefer to view bid and ask prices on charts, press F8 on your keyboard on your
        MetaTrader terminal and check the ‘Show Ask Line’, as shown in figure C. Both bid and ask levels will then
        appear on your traded chart (note the default level on charts is the bid value).</p>
    <p style="text-align: center; padding: 15px 0 15px 0;">
        <img src="/wp-content/themes/fptheme/images/show_ask_line.jpg" class="historylayer-img">
    </p>
    <span>(Figure C: MetaTrader 4 Show Ask Line)</span>
</div>

<style>
    .edu__course__lesson p {
        font-size: 15px;
    }

    .h-txt-cus {
        font-size: 18.5px !important;
        line-height: 22.5px;
        padding: 10px 0 0;
        font-weight: bold !important;
    }

    img.historylayer-img {
        margin: auto;
        display: flex;
    }

    .padding-42 {
        padding: 42px 0;
    }

    .padding-20 {
        padding: 20px 0;
    }

    .caption-txt {
        font-size: 14.5px;
        line-height: 22.5px;
        text-transform: uppercase;
    }

    .h-txt {
        font-size: 18.5px;
        line-height: 22.5px;
        font-family: "Helvetica Neue BD Pro", sans-serif !important;
        color: #0b121c;
        padding: 50px 0 0;
    }

    .h-txt-cus {
        font-size: 18.5px !important;
        line-height: 22.5px;
        font-family: "Helvetica Neue BD Pro", sans-serif !important;
        color: #0b121c;
        padding: 10px 0 0;

    }

    .pad-txt-left-20 {
        padding-left: 20px;
    }

    .p-txt {
        font-size: 16px;
        line-height: 22.5px;
        text-align: left;
    }

    .italic-txt {
        font-weight: 700;
        font-style: italic;
    }

    .sidebar-menu h1 {
        font-weight: 100;
    }

    .sidebar-menu {
        background-color: #f5f7fa;
        border-radius: 0px 10px 10px 10px;
        padding: 25px 15px;
    }

    .sidebar-menu li>a {
        color: #0b121c;
    }

    ol.sidebar-ul li {
        font-size: 18.5px;
        border-bottom: 1px solid #cdd5e3;
        padding-bottom: 5px;
        padding-top: 5px;

    }

    .sidebar-ul li.active a>p {
        font-weight: 800;
        color: #0b121c;
    }

    ol.sidebar-ul li a {
        display: flex;
        line-height: 22px;
    }

    ol.sidebar-ul p {
        margin-left: 5px;
        line-height: 22px;
    }

    .body-section {
        padding-left: 35px;
    }

    img.tec-analysis-video-img {
        padding-top: 40px;
        padding-bottom: 50px;
        border-bottom: 2px solid #00bdff;
    }
</style>