<p class="pad-top-30-mob">
    <iframe width="100%" height="415" src="https://www.youtube.com/embed/zSNFLVApLoY" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</p>

<div class="body-contents" style="padding-bottom: 30px;">
    <p class="caption-txt">Reading Time: 8 minutes </p>

    <p class="p-txt">Slippage is often misunderstood in the Forex market, particularly among new Forex traders and
        investors. </p>
    <p class="p-txt">Textbook definition of slippage: </p>
    <p class="p-txt pad-txt-left-20">The difference between the <i>requested</i> price—or <i>expected</i> price—and
        the price at which the position is filled.</p>
    <p class="p-txt">To understand slippage in Forex trading, knowledge of bid and ask price levels can be helpful:
    </p>
    <p class="p-txt pad-txt-left-20"> &bull; The current bid price is the price level traders are able to
        <b>sell</b> immediately; think of the bid as willing buyers (dealers and market makers) who stand ready to
        accept sell orders.
    </p>
    <p class="p-txt pad-txt-left-20"> &bull; The current ask price is the level traders can <b>buy</b> immediately;
        the ask represents willing sellers (dealers and market makers) standing ready to receive buy orders. </p>
    <p class="p-txt">Example:</p>
    <p class="p-txt">Imagine the EUR/USD has a bid of $1.20500 and an ask price of $1.20520: a bid/ask spread of 2
        pips. If a trader wants to enter long EUR/USD, he or she would buy at the asking price: $1.20520. </p>
    <p class="p-txt">However, if EUR/USD is experiencing a phase of increased volatility at the time of trade
        execution, the price between the time the trader’s order is placed and the time it is filled can be
        different: slippage. in the example, the trader may see the order filled at $1.20530 instead of the desired
        price of $1.20520. </p>

    <p class="h-txt-cus">Positive and Negative Slippage</p>
    <p class="p-txt">When slippage occurs, the difference in price movement can be either positive or negative for
        the trader. </p>
    <p class="p-txt">Positive slippage, in the case of above, is when the order is executed at a better price than
        requested, such as $1.20510, a favourable 1-pip difference. Negative slippage, nevertheless, materialises
        when the order is filled at a worse price than anticipated. In the noted example, this could mean a fill of
        $1.20570, an unfavourable 5-pip price difference that ultimately increases risk (the distance from the entry
        and protective stop-loss order is larger) and decreases reward potential (the negative slippage has entered
        the trader in the market closer to any take-profit objective). Obviously, slippage is less of a concern for
        long-term traders or investors, but short-term speculation (day trading and scalping) can be problematic.
    </p>

    <p class="h-txt-cus">Why Does Slippage Occur?</p>
    <p class="p-txt pad-txt-left-20"> &bull; The most common cause of slippage is low liquidity. Liquidity
        represents the degree to which a security can be bought or sold. When low liquidity is present in the
        market, brokerages, assuming a market order is used, will fill at the next available price. </p>
    <p class="p-txt pad-txt-left-20"> &bull; Another common cause of slippage is high volatility. This can often be
        seen around news time in the markets. When the market experiences high volatility, the price change can be
        rapid, therefore bid and ask price levels may differ between the time the trader’s order is placed and the
        time it’s executed. </p>

    <p class="h-txt-cus">Can Forex Slippage Be Avoided?</p>
    <p class="p-txt">While slippage is an unavoidable aspect of trading, there are things you can do to help lessen
        its effect:</p>

    <p class="p-txt pad-txt-left-20"> &bull; Newer Forex traders are generally recommended to avoid volatile markets
        (currency pairs) and to trade pairs with low volatility and high liquidity. Major currency pairs are liquid
        markets and (generally) offer low volatile market conditions for beginners—think EUR/USD, GBP/USD, AUD/USD,
        or USD/JPY, for example. </p>
    <p class="p-txt pad-txt-left-20"> &bull; Avoid trading just before, during and after a news event. Markets tend
        to experience high volatility at these times and slippage can be an issue. Fortunately, Forex brokers often
        provide access to dedicated economic calendars, which display upcoming major news events in an easy-to-read
        format. This makes it easier to note potentially precarious trading times. </p>
    <p class="p-txt pad-txt-left-20"> &bull; Trade orders: consider employing limit orders. A limit order is an
        order type that enables market participants to buy or sell at a specified price or better. In effect, it
        <i>limits</i> the price you are prepared to receive. Market orders, on the other hand, are an instruction to
        buy or sell immediately at the next available bid or ask price. It is important to remember, though, that
        limit orders in MT4 and MT5 are filled as market orders once executed.
    </p>
    <p class="p-txt pad-txt-left-20"> &bull; Only engage with the market during active trading sessions. Three major
        trading sessions exist. The Asia session begins at approximately 10:00 pm (GMT+1) and trading volume is
        normally low during this period. London then gets underway at 8:00 am, and trading volume tends to increase.
        Bear in mind that Tokyo remains open until 10:00 am—a 2-hour overlap that can offer interesting trading
        setups. Peak trading volume is usually observed during the London and New York overlap (when two of the most
        prominent financial centres are active) between the hours of 1:00-5:00 pm. The US session starts heating up
        between 1:00 pm and 2.30 pm, which is when US equity cash markets open. </p>

</div>

<style>
    .edu__course__lesson p {
        font-size: 15px;
    }

    .h-txt-cus {
        font-size: 18.5px !important;
        line-height: 22.5px;
        padding: 10px 0 0;
        font-weight: bold !important;
    }

    img.historylayer-img {
        margin: auto;
        display: flex;
    }

    .padding-42 {
        padding: 42px 0;
    }

    .padding-20 {
        padding: 20px 0;
    }

    .caption-txt {
        font-size: 14.5px;
        line-height: 22.5px;
        text-transform: uppercase;
    }

    .h-txt {
        font-size: 18.5px;
        line-height: 22.5px;
        font-family: "Helvetica Neue BD Pro", sans-serif !important;
        color: #0b121c;
        padding: 50px 0 0;
    }

    .h-txt-cus {
        font-size: 18.5px !important;
        line-height: 22.5px;
        font-family: "Helvetica Neue BD Pro", sans-serif !important;
        color: #0b121c;
        padding: 10px 0 0;

    }

    .pad-txt-left-20 {
        padding-left: 20px;
    }

    .p-txt {
        font-size: 16px;
        line-height: 22.5px;
        text-align: left;
    }

    .italic-txt {
        font-weight: 700;
        font-style: italic;
    }

    .sidebar-menu h1 {
        font-weight: 100;
    }

    .sidebar-menu {
        background-color: #f5f7fa;
        border-radius: 0px 10px 10px 10px;
        padding: 25px 15px;
    }

    .sidebar-menu li>a {
        color: #0b121c;
    }

    ol.sidebar-ul li {
        font-size: 18.5px;
        border-bottom: 1px solid #cdd5e3;
        padding-bottom: 5px;
        padding-top: 5px;

    }

    .sidebar-ul li.active a>p {
        font-weight: 800;
        color: #0b121c;
    }

    ol.sidebar-ul li a {
        display: flex;
        line-height: 22px;
    }

    ol.sidebar-ul p {
        margin-left: 5px;
        line-height: 22px;
    }

    .body-section {
        padding-left: 35px;
    }

    img.tec-analysis-video-img {
        padding-top: 40px;
        padding-bottom: 50px;
        border-bottom: 2px solid #00bdff;
    }
</style>