<p class="pad-top-30-mob">
    <iframe width="100%" height="415" src="https://www.youtube.com/embed/91ubbh2ReIY" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</p>

<div class="body-contents" style="padding-bottom: 30px;">
    <p class="caption-txt">Reading Time: 7 Minutes </p>

    <p class="p-txt">First and foremost, traders and investors are risk managers. Irrespective of the market
        traded—currencies, equities, bonds, commodities or cryptocurrencies—or the trading strategy (‘trading
        system’) employed, or even how many winning trades the strategy generates, the consequence of operating
        absent of sound risk management can lead to account ruin, or the ‘risk of ruin’. Risk of ruin is a situation
        where a market participant’s trading account suffers drawdown to a point the account holder is unable to
        recoup losses. </p>
    <p class="p-txt">Although an overall risk-management approach consists of several elements, calculating position
        size is one of the most important skills a professional trader understands. A position sizing strategy,
        while also falling under the umbrella of money management, helps regulate risk and maximise returns. </p>

    <p class="h-txt-cus">What is Position Size?</p>
    <p class="p-txt">As its name implies, position size refers to the SIZE of a trading POSITION. In the foreign
        exchange market (Forex market), position sizing is determined by ‘units’ or ‘lots’. This measures a trade’s
        transaction size; <b>establishing the lot size for a trading position is governed by the account’s
            denomination and the traded currency pair. </b></p>

    <p class="p-txt">Common Lot Sizes:</p>
    <p class="p-txt pad-txt-left-20">
        &bull; Standard Lot: 100,000 units of the base currency (1.0 on MetaTrader platforms)
    </p>
    <p class="p-txt pad-txt-left-20">
        &bull; Mini Lot: 10,000 units of the base currency (0.10 on MetaTrader platforms)
    </p>
    <p class="p-txt pad-txt-left-20">
        &bull; Micro Lot: 1,000 units of the base currency (0.01 on MetaTrader platforms)
    </p>
    <p class="p-txt">Before calculating position size, a key point to understand is the Forex market is quoted via
        currency pairs (or Forex pairs): the euro against the dollar is displayed as EUR/USD and the British pound
        against the Japanese yen is displayed as GBP/JPY. The base currency, the first currency within the pair,
        always represents 1 unit. The second currency listed is the ‘quote currency’, in place to value a base
        currency. For many, however, it’s easier to think of the quote currency as a ‘term currency’: USD in TERMS
        of EUR for EUR/USD. Consequently, the euro in EUR/USD is the base currency and the USD is the term currency.
    </p>
    <p class="p-txt"> Some CFD and Forex brokers also work with Nano lots: 100 units of the base currency. </p>
    <p style="    text-align: center;    padding: 15px 0 15px 0;">
        <img src="/wp-content/themes/fptheme/int/images/lot_exp.png" class="historylayer-img">
    </p>
    <span>(Source: FPMarkets Design)</span>
    <p class="h-txt-cus">Position Size Calculation</p>
    <p class="p-txt">To calculate position size, the following details are needed:</p>
    <p class="p-txt pad-txt-left-20">
        &bull; Account balance (amount deposited)
    </p>
    <p class="p-txt pad-txt-left-20">
        &bull; Account risk per trade (value at risk on each trade)
    </p>
    <p class="p-txt pad-txt-left-20">
        &bull; The currency pair traded (EUR/USD or GBP/USD, for instance)
    </p>
    <p class="p-txt pad-txt-left-20">
        &bull; Protective stop-loss distance measured in pips (an illustration of this is entering the market at
        $1.2000 and setting a stop-loss level at $1.1950: 50 pips)
    </p>
    <p style="    text-align: center;    padding: 15px 0 15px 0;">
        <img src="/wp-content/themes/fptheme/int/images/eur_usd_trumpline.png" class="historylayer-img">
    </p>
    <span>ID: 234828271</span>
    <p class="p-txt"><b>By way of demonstration, the account currency is denominated in the <span
                style="text-decoration:underline;">same currency</span> as the <span
                style="text-decoration:underline;">term currency</span> of the currency pair traded.</b> By far,
        this is the most straightforward position size calculation: divide trade risk by stop distance.</p>
    <p class="p-txt">KEY NOTE: </p>
    <p class="p-txt">1 pip in FX represents 0.00010 for most currency pairs (priced to the fifth decimal place). For
        JPY-based currency pairs, these are priced to the third decimal place. </p>
    <p class="p-txt">EXAMPLE:</p>
    <p class="p-txt">Imagine a 10,000 GBP trading account (account size) and the trader is willing to risk 2 per
        cent account equity on each trade: 200 GBP equity risk (as of the current account balance). The currency
        pair for this particular trade is EUR/GBP and the distance from entry to the protective stop-loss order is
        30 pips. As a result, this is likely to be a day trade.</p>
    <p class="p-txt">Recognising the account currency and term currency are identical (GBP), no conversion with
        other currencies is necessary in the calculation. The reason is if a trader sells (buys) 200 GBP of the term
        currency, the trader simultaneously buys (sells) the equivalent value of the base currency.</p>
    <p class="p-txt">Demonstrated below is the formula to determine the trade size for the featured setup:</p>
    <p class="p-txt text-center">66,666 units (EUR) = 200 GBP (trade risk) / 0.0030 (stop distance)</p>
    <p class="p-txt text-center">66,666 units, or 0.67 volume in MetaTrader platforms: 7 mini lots (rounded up)</p>
    <p class="p-txt">For those interested in the margin calculation for this single trade, assume a 1 per cent
        margin requirement and EUR/GBP trades at £0.8433. Trading 4 mini lots, therefore, equals £337.32 deposit
        margin required. </p>
</div>

<style>
    .edu__course__lesson p {
        font-size: 15px;
    }

    .h-txt-cus {
        font-size: 18.5px !important;
        line-height: 22.5px;
        padding: 10px 0 0;
        font-weight: bold !important;
    }

    img.historylayer-img {
        margin: auto;
        display: flex;
    }

    .padding-42 {
        padding: 42px 0;
    }

    .padding-20 {
        padding: 20px 0;
    }

    .caption-txt {
        font-size: 14.5px;
        line-height: 22.5px;
        text-transform: uppercase;
    }

    .h-txt {
        font-size: 18.5px;
        line-height: 22.5px;
        font-family: "Helvetica Neue BD Pro", sans-serif !important;
        color: #0b121c;
        padding: 50px 0 0;
    }

    .h-txt-cus {
        font-size: 18.5px !important;
        line-height: 22.5px;
        font-family: "Helvetica Neue BD Pro", sans-serif !important;
        color: #0b121c;
        padding: 10px 0 0;

    }

    .pad-txt-left-20 {
        padding-left: 20px;
    }

    .p-txt {
        font-size: 16px;
        line-height: 22.5px;
        text-align: left;
    }

    .italic-txt {
        font-weight: 700;
        font-style: italic;
    }

    .sidebar-menu h1 {
        font-weight: 100;
    }

    .sidebar-menu {
        background-color: #f5f7fa;
        border-radius: 0px 10px 10px 10px;
        padding: 25px 15px;
    }

    .sidebar-menu li>a {
        color: #0b121c;
    }

    ol.sidebar-ul li {
        font-size: 18.5px;
        border-bottom: 1px solid #cdd5e3;
        padding-bottom: 5px;
        padding-top: 5px;

    }

    .sidebar-ul li.active a>p {
        font-weight: 800;
        color: #0b121c;
    }

    ol.sidebar-ul li a {
        display: flex;
        line-height: 22px;
    }

    ol.sidebar-ul p {
        margin-left: 5px;
        line-height: 22px;
    }

    .body-section {
        padding-left: 35px;
    }

    img.tec-analysis-video-img {
        padding-top: 40px;
        padding-bottom: 50px;
        border-bottom: 2px solid #00bdff;
    }
</style>