<!--------- SECONDARY NAVBAR Offcanvas area start --------->
<div class="offcanvas-area secondary__navbar__offcanvas bg__light__gray">
    <div class="secondary__navbar__offcanvas__menu__close">
        <i class="fal fa-times"></i>
    </div>
    <div class="secondary__navbar__offcanvas__menu offcanvas-menu bg__light__gray">
        <div class="secondary__navbar__mob__menu">
            <ul class="d-block secondary__navbar__canvas">
                <li>
                    <a class="secondary__navbar__menu__category" href="[[!getCultureURL]]/education/">Education</a>
                </li>
                <li>
                    <a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/trading-courses/">Trading
                        Courses</a>
                </li>
                <li>
                    <a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/trading-guides/">Trading
                        Guides</a>
                </li>
                <li><a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/trading-webinars/">Live-Webinare</a></li>
                <li><a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/podcasts/">Podcasts</a></li>
                <li><a class="secondary__navbar__menu__category" href="[[!getCultureURL]]/education/events/">Events</a>
                </li>
                <li><a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/platform-tutorials/">Platform
                        Tutorials</a></li>
                <li><a class="secondary__navbar__menu__category" href="[[!getCultureURL]]/education/ebooks/">Ebooks</a>
                </li>
                <li><a class="secondary__navbar__menu__category" href="[[!getCultureURL]]/education/glossary/">Trading
                        Glossary</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="offcanvas-overlay"></div>
<!--------- SECONDARY NAVBAR Offcanvas area end ----------->


<!---------- Mobile SECONDARY NAVBAR Header start ------------>
<header class="secondary__navbar__mobile__header bg__light__gray">
    <div class="container d-flex align-items-center justify-content-between p__10">
        <div class="header__right d-flex align-items-center justify-content-between">

            <div class="secondary__navbar__menu__open">
                <div class="secondary__navbar__menu__icon">
                    <i class="far fa-bars"></i>
                </div>
                <span class="secondary__navbar__mob__header_text">
                    MENU
                </span>

            </div>
        </div>
</header>
<!---------- Mobile SECONDARY NAVBAR Header END   ------------>

<!------------- SECONDARY NAVBAR Secondary Navbar Desktop START ------------>
<div class="container-fluid secondary__navbar__nav bg__light__gray">
    <div class="container">
        <div class="text__align__center bg__light__gray collapse navbar-collapse">
            <ul class="general__secondary__navbar__nav bg__light__gray collapse collapse navbar-collapse">
                <li class="active">
                    <a href="[[!getCultureURL]]/education/"><i class="fas fa-home fa-2x"> </i></a>
                </li>
                <li>
                    <a href="[[!getCultureURL]]/education/trading-courses/">Trading-Kurse</a>
                </li>
                <li>
                    <a href="[[!getCultureURL]]/education/trading-guides/">Handels<br>leitfäden</a>
                </li>
                <li><a href="[[!getCultureURL]]/education/trading-webinars/">Live-Webinare</a></li>
                <li><a href="[[!getCultureURL]]/education/podcasts/">Podcasts</a></li>
                <li><a href="[[!getCultureURL]]/education/events/">VERANSTALTUNGEN</a></li>
                <li><a href="[[!getCultureURL]]/education/platform-tutorials/">PLATTFORM-SCHULUNGEN</a></li>
                <li><a href="[[!getCultureURL]]/education/ebooks/">Ebooks</a></li>
                <li><a href="[[!getCultureURL]]/education/glossary/">HANDELS GLOSSAR</a></li>
            </ul>
        </div>
    </div>
</div>
<!------------- SECONDARY NAVBAR Desktop END -------------->



[[$breadcrumb]]

<!--------- EDUCATION  What can you learn START ------------->
<section class="basic__section__norm bg__white">
    <div class="container">
        <div class="row p__20">
            <div class="col-md-12 pb__50 text__align__center">
                <span class="basic__section__title ">
                    Was können Sie in der Akademie lernen?
                </span>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Trading
                            <br>Kurse
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        FP Markets bietet eine Reihe von Lehrvideos an, die in einer einfachen
                        Schritt-für-Schritt-Anleitung für diejenigen strukturiert sind, die das Handeln und Investieren
                        an den Finanzmärkten erlernen möchten.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/trading-courses/" class="common-btn active">MEHR
                            LERNEN</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Live-Webinare

                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Als globaler Forex- und CFD-Broker seit 2005 wissen wir um den Wert von Bildung und Wissen.
                        Unsere Live-Webinare decken ein breites Spektrum von Handels- und Anlagethemen ab und werden in
                        einer mehrsprachigen Präsentation angeboten.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/trading-webinars/" class="common-btn active">MEHR
                            LERNEN</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Podcasts
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Die FP Markets-Podcast-Reihe bietet Kunden eine klare und prägnante Methode, durch Zuhören zu
                        lernen. Unsere Experten sind wie eine Audio-Akademie in Ihrer Tasche, die Ihnen alles erklärt,
                        was Sie über den Handel an den Märkten wissen müssen.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/podcasts/" class="common-btn active">MEHR LERNEN</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">

                            Veranstaltungen

                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        FP Markets Events bieten eine einfache Möglichkeit, Einblicke in die Märkte zu gewinnen. Lernen
                        Sie, wie man handelt und profitieren Sie von exklusiven Handelsmöglichkeiten. Erweitern Sie Ihr
                        Forex-Wissen und erfahren Sie als Erster von den neuesten Produkten auf dem Markt.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/events/" class="common-btn active">MEHR LERNEN</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Plattform-Tutorials
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Die Funktionsweise Ihrer Handelsplattform zu verstehen, ist entscheidend für den Erfolg beim
                        Handel. Unsere Branchenexperten bieten leicht verständliche Anleitungen, die Ihnen die
                        Navigation auf der Plattform erleichtern.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/platform-tutorials/" class="common-btn active">MEHR
                            LERNEN</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Ebooks
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Mit unseren kostenlosen eBooks können Sie Ihren Handel auf die nächste Stufe heben. Von
                        grundlegenden Konzepten bis hin zu fortgeschrittenen Anwendungen - wir haben alles für Sie.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/ebooks/" class="common-btn active">MEHR LERNEN</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Handels <br> Glossar


                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Handelsterminologie kann verwirrend sein. Aus diesem Grund bietet FP Markets eine umfassende
                        Liste von Definitionen, die Ihnen helfen, selbst die komplexesten Begriffe zu verstehen.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/glossary/" class="common-btn active">MEHR LERNEN</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Handelsleitfäden
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Stöbern Sie in der großen Auswahl an FP Markets-Handelsleitfäden und informieren Sie sich über
                        den Devisenmarkt.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/trading-guides/" class="common-btn active">MEHR LERNEN</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------- EDUCATION  What can you learn END --------------->


<!--------- Most popular video courses area START ----------->
<section class="basic__section__norm bg__light__gray">
    <div class="container">
        <div class="row p__10">
            <div class="col-md-12">
                <div class="text__align__center pb__50">
                    <span class="basic__section__title fw__boldest text__dark">
                        Beliebteste Videokurse

                    </span>
                </div>
            </div>
            <div class="col-md-4 col__pb__20__mob">
                <div class="video__responsive text-center">
                    <iframe width="355" height="200" src="https://www.youtube.com/embed/_7ghJmBrDIc"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="basic__section__subtitle pt__10 pb__15 ln__1-2">
                    Währungspaare: Erfahren Sie, wie Währungen auf dem Devisenmarkt funktionieren
                </div>
                <div class="basic__section__paragraph">
                    Der Devisenmarkt funktioniert mit Hilfe von Währungspaaren. Vereinfacht ausgedrückt kann man sich
                    das so vorstellen, dass der Wert einer Währung mit dem einer anderen in Form einer Notierung
                    verglichen wird.
                </div>
            </div>
            <div class="col-md-4 pb__20__mob col__pb__20__mob">
                <div class="video__responsive text-center">
                    <iframe width="355" height="200" src="https://www.youtube.com/embed/oq7g9y-NMTg"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="basic__section__subtitle pt__10 pb__15 ln__1-2">
                    Verstehen der grundlegenden Charttypen


                </div>
                <div class="basic__section__paragraph">
                    Was ist ein Chart? Welches sind die gängigsten Charttypen? Wie unterscheiden sie sich? Wussten Sie,
                    dass alle Finanzmärkte Daten generieren? Klicken Sie hier, um die verschiedenen Arten der
                    Datendarstellung zu verstehen.


                </div>
            </div>
            <div class="col-md-4">
                <div class="video__responsive text-center">
                    <iframe width="355" height="200" src="https://www.youtube.com/embed/91ubbh2ReIY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="basic__section__subtitle pt__10 pb__15 ln__1-2">
                    Was ist ein Pip auf dem Devisenmarkt?


                </div>
                <div class="basic__section__paragraph">
                    Ein Pip oder Prozentpunkt ist die Einheit der Veränderung eines Währungspaares, die 1/100 von 1 %
                    entspricht. Er stellt die kleinste Kursbewegung dar, die ein Wechselkurs machen kann.


                </div>
            </div>
            <div class="col-md-12 pt__50">
                <div class="text-center p__20">
                    <a href="[[!getCultureURL]]/education/trading-courses/" class="common-btn active">ALLE KURSE</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------- Most popular video courses area END ------------->


<style>
    .edu-text-elipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .edu-card-heading-center {
        height: 100px;
        line-height: 100px;
        text-align: center;

    }

    .edu-card-heading {
        line-height: 1.2;
        vertical-align: middle;
        display: inline-block;

    }

    .video__radius__10 {
        border-radius: 10px;
        width: auto;
        height: 200px;
        overflow: hidden;
    }

    .video__responsive {
        position: relative;
        padding-bottom: 56.25%;
        /* - 16:9 aspect ratio (most common) */
        /* padding-bottom: 62.5%; - 16:10 aspect ratio */
        /* padding-bottom: 75%; - 4:3 aspect ratio */
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

    .edu__mob__header_text {
        display: block;
        font-size: 12px;
        font-weight: 900;
        text-align: center;
    }

    .video__responsive iframe,
    .video__responsive object,
    .video__responsive embed {
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .pb__20__desk {
        padding-bottom: 20px;
    }
</style>