<style>
    .basic__section__50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .basic__section__75 {
        padding-top: 75px;
        padding-bottom: 75px;
    }


    .basic__ul__section ul {
        list-style-type: none;
        padding-left: 0;
    }

    .basic__section__title__lg {
        font-size: 40px;
    }

    .basic__section__sub {
        font-size: 30px;
    }

    .basic__section__p {
        font-size: 20px;
    }

    .fw__100 {
        font-weight: 100;
    }

    .fw__900 {
        font-weight: 900;
    }

    .pt__30__desk {
        padding-top: 30px;
    }

    .pt__50__desk {
        padding-top: 50px;
    }

    .pb__50__desk {
        padding-bottom: 30px;
    }

    .fluid__img {
        width: 100%;
        height: auto;
    }

    .fluid__img__70 {
        width: 70%;
        height: auto;
    }

    .fluid__img__80 {
        width: 85%;
        height: auto;
    }

    .bg__gray {
        background-color: #f7f7f7;
    }

    .f__italic {
        font-style: italic;
    }

    .url__txt {
        font-weight: 800;
        color: #01beff;
        text-decoration: underline;
    }

    .url__txt a {
        font-weight: 800;
        color: #01beff;
        text-decoration: underline;
    }

    .cta__btn {
        background-color: #01beff;
        color: #ffffff;
        font-weight: 800;
        padding: 20px;
        border-radius: 0 20px 20px 20px;
        font-size: 25px;
    }

    .pt__25__desk {
        padding-top: 25px;
    }

    .pb__25__desk {
        padding-bottom: 25px;
    }

    .text__right {
        text-align: right;
    }

    .text__left {
        text-align: left;
    }

    .centered__txt {
        justify-content: center;
        /* align horizontal */
        align-items: center;
    }

    .row.display-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .row.display-flex>[class*='col-'] {
        display: flex;
        flex-direction: column;
    }

    .pl__desk__no__mob {
        padding-left: 40px;
    }

    .acc__btn a {
        color: #ffffff;
        text-decoration: none;
    }

    @media only screen and (max-width: 600px) {
        .pl__desk__no__mob {
            padding-left: 0px;
        }

        .text__center__mob {
            text-align: center;
        }

        .pt__50__mob {
            padding-top: 50px;
        }

        .pt__25__mob {
            padding-top: 25px;
        }

        .pt__50__desk {
            padding-top: 30px;
        }

        .pb__50__desk {
            padding-bottom: 30px;
        }
    }
</style>
<style>
    .black-form {
        text-align: center;
        border-radius: 18px;
        background: #010101;
        padding: 35px 20px 25px 20px;
    }

    .mb-4 {
        margin-bottom: 3.2rem !important;
    }

    input[type="text"] {
        position: relative;
        line-height: 47px;
        border: 2px solid #e3e3e3;
        padding: 0 10px;
        color: #7a7a7a;
        transition: border-color 0.3s ease-in-out;
        font-size: 18px;
    }

    .ncform {
        margin-bottom: 30px !important;
    }

    textarea:focus,
    textarea.form-control:focus,
    input.form-control:focus,
    input[type=text]:focus,
    input[type=password]:focus,
    input[type=email]:focus,
    input[type=number]:focus,
    [type=text].form-control:focus,
    [type=password].form-control:focus,
    [type=email].form-control:focus,
    [type=tel].form-control:focus,
    [contenteditable].form-control:focus {
        box-shadow: inset 0 -1px 0 #ddd;
    }

    form label {
        display: inline-block;
        width: 100%;
    }

    input {
        border: 0 !important;
    }

    .form-control {
        color: #ffffff;
        background: transparent;
        border-bottom: 1px solid #ffffff !important;
    }

    .form-control {
        display: block;
        width: 100% !important;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        border-radius: 4px;
    }

    .success__msg {
        color: green !important;
    }

    @media screen and (min-device-width: 1367px) and (max-device-width: 2800px) {

        .trading-from-sec {
            margin-top: 12%;
        }
    }
</style>
<div class="container-fluid">
    <div class="basic__section__50">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="basic__section__title__lg fw__100">
                        FP Markets <span class="fw__900">Copy Trading</span>
                    </div>
                    <div class="basic__section__sub fw__900 pt__30__desk">
                        Follow and copy trades <br> <span class="fw__100">from successful traders!</span>
                    </div>
                    <div class="basic__ul__section pt__30__desk">
                        <ul>
                            <li>
                                <p class="basic__section__p">
                                    <span> <img src="/wp-content/themes/fptheme/images/ct_checkmark.png">
                                    </span>
                                    Follow the
                                    performance of successful traders
                                </p>
                            </li>
                            <li>
                                <p class="basic__section__p">
                                    <span> <img src="/wp-content/themes/fptheme/images/ct_checkmark.png"> </span>
                                    Maintain control of your trading behavior
                                </p>
                            </li>
                            <li>
                                <p class="basic__section__p">
                                    <span> <img src="/wp-content/themes/fptheme/images/ct_checkmark.png"> </span>
                                    Completely automated trading
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="basic__img__section">
                        <img src="/wp-content/themes/fptheme/images/ct_phone.png" class="fluid__img">
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <div class="black-form">
                        <div class="banner-txt-rt">
                            <p
                                style="margin-bottom: -15px; font-size:28px; font-family: 'Helvetica Neue', sans-serif !important; color:#ffffff;">
                                MEET FP MARKETS</p>
                        </div>
                        <div class="trading-from-sec">
                            <div class="">
                                <div class="fp-demo-signup-global">
                                    <div class="form_signup_global_msg_ST text-center text-danger"></div>

                                    <form id="form_signup_global_ST" method="post" target="_blank"
                                        novalidate="novalidate">
                                        <div class="row mb-41">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-outline" style="padding-top:30px;">
                                                    <input id="first_name_ST" name="first_name" value="" type="text"
                                                        placeholder="First name" class="form-control ncform" required />

                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-outline" style="padding-top:30px;">
                                                    <input id="last_name_ST" name="last_name" value="" type="text"
                                                        placeholder="Last name" class="form-control ncform" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <input id="email_ST" name="email" value="" type="text" placeholder="Email"
                                                class="form-control ncform" required />
                                        </div>

                                        <div class="form-outline mb-4" style="padding-top:20px;">
                                            <input id="phone_ST" name="phone" value="" type="text" placeholder="Phone"
                                                placeholder="Phone" class="form-control ncform" required
                                                maxlength="21" />
                                        </div>
                                        <input id="platform_ST" name="platform" value="mt4" type="hidden">
                                        <input id="country_ST" name="country" value="[[!getUserNationality]]"
                                            type="hidden">
                                        <input id="track_lang_ST" name="language" value="[[!getCurrentEntity]]"
                                            type="hidden" />
                                        <input id="nationality" name="nationality" value="[[!getUserNationality]]"
                                            type="hidden" />
                                        <input id="demo_preferred_Language" name="demo_preferred_Language"
                                            value="English" type="hidden" />
                                        <input id="fpm-affiliate-pcode_ST" name="fpm-affiliate-pcode"
                                            value="Website/WLK" type="hidden">
                                        <input id="fpm-affiliate-utm-source_ST" name="fpm-affiliate-utm-source"
                                            value="Website" type="hidden">
                                        <input id="currency_ST" name="currency" value="USD" type="hidden">
                                        <input id="honeypot_ST" type="hidden" name="honeypot" value="">
                                        <input id="_mkto_trk_ST" type="hidden" value="" name="_mkto_trk">
                                        <input id="track1_1_ST" name="fpm-affiliate-pcode" value="" type="hidden">
                                        <input id="track2_1_ST" name="fpm-affiliate-utm-source" value="Website"
                                            type="hidden">
                                        <input id="track7_1_ST" name="cxd" value="" type="hidden">
                                        <input id="track7_2_ST" name="bta" value="" type="hidden">
                                        <input id="track3_1_ST" name="fpm-affiliate-utm-campaign" value=""
                                            type="hidden">
                                        <input id="track4_1_ST" name="fpm-affiliate-utm-content" value="" type="hidden">
                                        <input id="track5_1_ST" name="fpm-affiliate-agt" value="" type="hidden">
                                        <input id="track6_1_ST" name="fpm-affiliate-utm-term" value="" type="hidden">
                                        <input id="landing_page" name="landing_page" value="[[!getCurrentURL]]"
                                            type="hidden" />
                                        <input id="btn_name_get_ST" type="hidden" value="GET STARTED NOW"
                                            name="btn_name_get">
                                        <div style="margin-top:40px;">
                                            <div class="fp-demo-submit-global"><input
                                                    style="border-radius: 0 10px 10px 10px!important;"
                                                    class="customBtnRed" type="submit" value="Register">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="frm-btn-txt" style="padding-top:20px;">
                            <p class="text-white">
                                By supplying your email you agree to FP Markets <a href="/privacy-policy"
                                    target="_blank" class="policy-link">privacy policy</a> and receive future
                                marketing materials from FP Markets. You can unsubscribe at any time.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid bg__gray">
    <div class="basic__section__75">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="basic__section__sub fw__900 pb__50__desk" style="padding-bottom:75px;">
                        Copy trading with FP Markets can be done in a few simple steps:
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="basic__section__sub">
                        <span class="fw__100 f__italic">Step 1</span> |
                        <span class="url__txt"><a href="[[!portalURL]]"> Open An Account </a></span>
                    </div>
                    <div class="pt__50__desk">
                        <p class="basic__section__p">
                            FP Markets offers copy trading through the powerful MetaTrader4 and
                            MetaTrader 5 platforms. Open a trading account and deposit
                            using one of our many funding options.
                        </p>
                    </div>
                    <div class="pt__30__desk acc__btn">
                        <a href="[[!portalURL]]">
                            <div class="btn cta__btn">
                                OPEN ACCOUNT
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center pt__50__mob hidden-xs">
                        <img src="/wp-content/themes/fptheme/images/ct_step1.png" class="fluid__img__70">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center pt__25__desk pb__25__desk hidden-xs">
                        <img src="/wp-content/themes/fptheme/images/ct_e_line.png">
                    </div>
                </div>
                <div class="visible-xs">
                    <hr>
                </div>
            </div>
        </div>
        <div class="container pt__50__desk">
            <div class="row">

                <div class="col-md-6">
                    <div class="text__left text__center__mob">
                        <img src="/wp-content/themes/fptheme/images/ct_step2.png" class="fluid__img__80">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="basic__section__sub pt__50__mob">
                        <span class="fw__100 f__italic">Step 2 | 'Choose' the best traders to follow </span>
                    </div>
                    <div class="pt__50__desk">
                        <p class="basic__section__p">
                            Find and follow the most successful traders.
                        </p>
                    </div>
                    <div class="pt__30__desk acc__btn">
                        <a href="javascript:void(0)">
                            <div class="btn cta__btn">
                                VIEW TRADERS RATINGS
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center pt__50__desk pb__50__desk hidden-xs">
                        <img src="/wp-content/themes/fptheme/images/ct_e_line.png">
                    </div>
                </div>
                <div class="visible-xs">
                    <hr>
                </div>
            </div>
        </div>
        <div class="container pt__50__desk">
            <div class="row display-flex">
                <div class="col-md-6">
                    <div class="pt__50__desk">
                        <div class="basic__section__sub pb__50__desk">
                            <span class="fw__100 f__italic">Step 3 | 'Copy' Trading options </span>
                        </div>
                        <div class="">
                            <p class="basic__section__p">
                                We offer multiple copy trading modes and there is no limit on the number of Providers
                                you
                                can copy
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="text-center pt__25__mob">
                        <img src="/wp-content/themes/fptheme/images/ct_step3.png" class="fluid__img__80">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center pt__50__desk pb__50__desk hidden-xs">
                        <img src="/wp-content/themes/fptheme/images/ct_e_line.png">
                    </div>
                </div>
                <div class="visible-xs">
                    <hr>
                </div>
            </div>
        </div>
        <div class="container pt__50__desk">
            <div class="row">

                <div class="col-md-6">
                    <div class="text__left">
                        <img src="/wp-content/themes/fptheme/images/ct_step4.png" class="fluid__img__80">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="basic__section__sub pt__50__mob">
                        <span class="fw__100 f__italic">Step 4 | 'Control' is still in your hands </span>
                    </div>
                    <div class="pt__50__desk">
                        <p class="basic__section__p">
                            Login to the Social Trading portal using your MetaTrader 4 or MetaTrader 5 credentials and
                            use risk management options including stop loss and take profit orders.
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>