<div>
    <h2 class="h1-font-sect" style="text-align: center;"><br />Confirmación de pago Enviada<br /><br /></h2>
</div>
<div class="padding-top-50 wid-align-for-secone">
    <p class="normal-para-font-left" style="text-align: center;">Se ha enviado una confirmación de pago a su correo electrónico. Por favor acceda a la plataforma de operaciones y confirme.<br>Si tiene algún problema de depósito, pónganse en contacto con nosotros. <br /><br /></p>
    <p class="normal-para-font-cent padding-top-30" style="text-align: center;"><strong>Llama a nuestro departamento de Cuentas</strong>:&nbsp;+44 28 2544 7780</p>
    <p class="normal-para-font-cent" style="text-align: center;"><strong>Email</strong> -&nbsp;<a href="mailto:accountingteam@fpmarkets.com">accountingteam@fpmarkets.com</a><br /><br /></p>
    <p class="normal-para-font-cent" style="text-align: center;">&nbsp;</p>
</div>