<div>
    <h2 class="h1-font-sect" style="text-align: center;"><br />Pengesahan Pembayaran Dihantar<br /><br /></h2>
</div>
<div class="padding-top-50 wid-align-for-secone">
    <p class="normal-para-font-left" style="text-align: center;">Pengesahan pembayaran telah dihantar ke e-mel anda. Sila log masuk ke platform dagangan anda dan sahkan.<br>Jika anda mempunyai sebarang masalah pembiayaan sila hubungi kami:<br /><br /></p>
    <p class="normal-para-font-cent padding-top-30" style="text-align: center;"><strong>Hubungi Jabatan Akaun</strong>:&nbsp;+44 28 2544 7780</p>
    <p class="normal-para-font-cent" style="text-align: center;"><strong>Email</strong> -&nbsp;<a href="mailto:accountingteam@fpmarkets.com">accountingteam@fpmarkets.com</a><br /><br /></p>
    <p class="normal-para-font-cent" style="text-align: center;">&nbsp;</p>
</div>