<div class="container-fluid c1 hidden-xs">
    <div id="first-bg-section" class="container default-wd">
        <div class="col-md-12 padding-left-right-0-for-desktop">
            <ul class="list-align-for-first-sec">
                <li class="list-style-width-nor list-style-border">
                    <div>
                        <p class="first-sec-head">Jusqu'à 800 $

                        </p>
                        <p class="first-sec-para">CPA pour affiliés

                        </p>
                    </div>
                </li>
                <li class="list-style-width-nor-inc list-style-border">
                    <div>
                        <p class="first-sec-head">Transactions
                            personnalisées</p>
                        <p class="first-sec-para">Pour les Introducing Brokers</p>
                    </div>
                </li>
                <li class="list-style-width-nor list-style-border padding-top-20-for-mobile">
                    <div>
                        <p class="first-sec-head">Assistance
                            24 heures sur 24</p>
                        <p class="first-sec-para">Lun - Ven

                        </p>
                    </div>
                </li>
                <li class="list-style-width-tran list-style-border padding-top-20-for-mobile">
                    <div>
                        <p class="first-sec-head">Transparent

                        </p>
                        <p class="first-sec-para">Rapports </p>
                    </div>
                </li>
                <li class="list-style-width-multi list-style-border padding-top-20-for-mobile">
                    <div>
                        <p class="first-sec-head">Multi-niveaux

                        </p>
                        <p class="first-sec-para">Structure de l'entreprise
                        </p>
                    </div>
                </li>
                <li class="list-style-width-share padding-top-20-for-mobile">
                    <div>
                        <p class="first-sec-head">Portails IB

                        </p>
                        <p class="first-sec-para">et affiliés modernes

                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid c2">
    <div id="forex-affiliate-program-section" class="container">
        <div class="container-fluid page-navi">
            [[$breadcrumb]]
        </div>
        <div class="padding-top-60">
            <p class="hidden-xs section-head-font translation-block">Programmes Affiliés Forex et <br> Avantages du
                partenariat</p>
            <p class="visible-xs section-head-font translation-block"
                style="padding-bottom: 0px;font-size:45px!important;margin-top: -30px;">Programmes Affiliés Forex et
                <br> Avantages du partenariat
            </p>

        </div>
        <div class="center-align-div padding-left-right-20-for-first-section-mobile">
            <p class="section-para-font padding-top-30">Associez-vous à l'un des programmes de partenariat les plus
                réussis dans le secteur du change, qui est conçu pour rémunérer et récompenser les introducteurs et les
                partenaires qui ont recommandé des clients et maximiser leur potentiel de gains avec des taux de
                conversion élevés et aucune limite sur les comptes recommandés ou le volume de trading.</p>
            <p class="section-para-font padding-top-10">Le programme de partenariat FP Markets est l'un des principaux
                programmes d'affiliés Forex et IB.</p>
        </div>
        <div class="row padding-top-50 padding-left-right-20-for-first-section-mobile padding-top-35-for-mobile">
            <div class="col-sm-4">
                <div class="three-cross-row-white-bg cs4173escrd1m">
                    <div class="dis-fle">
                        <span class="three-cross-row-align-image margin-first-image-align-for-two-card-section">
                            <img
                                src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-smart-Object-1.png">
                        </span>
                        <p class="section-two-para-font" id="headdig-textalign-right">Technologie de suivi<br> en temps
                            réel avancée <br>et 24/5 avancés<br> rapports</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 padding-top-25-for-mobile">
                <div class="three-cross-row-white-bg">
                    <div class="dis-fle">
                        <span class="margin-image-align-for-two-card-section-1 cs4173frtabimgm">
                            <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/icon-6.png">
                        </span>
                        <p class="section-two-para-font padding-para-align-for-two-card-section translation-block"
                            id="headdig-textalign-right">spécialistes de la conversion <br>dédiés disponibles 24
                            heures<br> sur 24 et 5 jours sur 7</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 padding-top-25-for-mobile">
                <div class="three-cross-row-white-bg">
                    <div class="dis-fle">
                        <span class="three-cross-row-align-image cs4173frtabimgm">
                            <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/icon-5.png">
                        </span>
                        <p class="section-two-para-font translation-block" id="headdig-textalign-right">Outils marketing
                            multilingues <br>adaptés aux téléphones<br> portables prêts<br> à la conversion</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padding-top-40 padding-left-right-20-for-first-section-mobile padding-top-25-for-mobile-import">
            <div class="col-sm-4">
                <div class="three-cross-row-white-bg">
                    <div class="dis-fle">
                        <span class="three-cross-row-align-image">
                            <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/icon-4.png">
                        </span>
                        <p class="section-two-para-font translation-block" id="headdig-textalign-right">Transactions et
                            <br>structures de paiement<br> personnalisées<br> et multi-niveaux
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 padding-top-25-for-mobile">
                <div class="three-cross-row-white-bg">
                    <div class="dis-fle">
                        <span class="margin-image-align-for-two-card-section-2">
                            <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/icon-3.png">
                        </span>
                        <p class="section-two-para-font padding-para-align-for-two-card-section translation-block"
                            id="headdig-textalign-right">Portails IB <br>et affiliés <br>modernes</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 padding-top-25-for-mobile">
                <div class="three-cross-row-white-bg">
                    <div class="dis-fle">
                        <span class="three-cross-row-align-image">
                            <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/icon-2.png">
                        </span>
                        <p class="section-two-para-font translation-block" id="headdig-textalign-right">Paiements
                            rapides<br> et faciles avec<br>des commissions<br> généreuses</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid c3">
    <div id="forex-broker-partners-section" class="container default-wd">
        <div>
            <p class="forex-white-font"><span class="helvetica-th-font" style="font-weight:100">Programme de
                    partenariat</span> <span class="helvetica-th-font" style="font-weight:100;">avec un courtier
                    forex</span>
            </p>
            <div style="text-align:center;margin-top:20px;">
                <a href="https://www.fpmarketspartners.com/fr/" target="_blank" style="background:#00bdff!important;"
                    class="btn btn-lg btn-transparent-red">ENREGISTREZ-VOUS MAINTENANT</a>
            </div>
            <p></p>
        </div>
    </div>
</div>
<div class="container-fluid c4">
    <div id="introducing-brokers-section" class="container default-wd">
        <div class="visible-xs" style="text-align:center;">
            <span>
                <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Layer-24-mobile.png">
            </span>
        </div>
        <div class="row">
            <div class="col-sm-6 padding-left-right-30-20-for-mobile ar-content-hide">
                <div class="ar-content-lt">
                    <div>
                        <p class="normal-para-header-font hidden-xs translation-block">Courtiers Remisiers IB</p>
                        <p class="normal-para-header-font visible-xs translation-block" style="text-align: center;">
                            Courtiers Remisiers IB</p>
                    </div>
                    <div class="padding-top-30 width-for-align">
                        <p class="normal-para-font">Associez-vous à FP Markets pour offrir à vos clients un système de
                            trading robuste, d'excellentes conditions de trading et une large gamme de produits de
                            trading sur les CFD mondiaux sur le forex, les matières premières, les actions et plus
                            encore. Le programme de courtier remisier (IB) de FP Markets a été créé pour encourager les
                            introducteurs à nous recommander des clients. Une structure de rabais très compétitive,
                            basée sur le volume, combinée à de faibles barrières à l'entrée, fait de FP Markets le
                            partenaire idéal pour les IB de toutes tailles et de tous niveaux d'expérience.</p>
                        <div style="text-align:left;margin-top:20px;">
                            <a href="https://www.fpmarketspartners.com/fr/introducing-brokers/" target="_blank"
                                style="background:#00bdff!important;"
                                class="btn btn-lg btn-transparent-red">ENREGISTREZ-VOUS MAINTENANT</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ar-content-show padding-lefttoright-60" style="display:none;">
                    <div>
                        <p class="normal-para-header-font hidden-xs translation-block" id="headdig-textalign-right">
                            Courtiers Remisiers IB</p>
                        <p class="normal-para-header-font visible-xs translation-block" style="text-align: center;">
                            Courtiers Remisiers IB</p>
                    </div>
                    <div class="padding-top-30 width-for-align">
                        <p class="normal-para-font">Associez-vous à FP Markets pour offrir à vos clients un système de
                            trading robuste, d'excellentes conditions de trading et une large gamme de produits de
                            trading sur les CFD mondiaux sur le forex, les matières premières, les actions et plus
                            encore. Le programme de courtier remisier (IB) de FP Markets a été créé pour encourager les
                            introducteurs à nous recommander des clients. Une structure de rabais très compétitive,
                            basée sur le volume, combinée à de faibles barrières à l'entrée, fait de FP Markets le
                            partenaire idéal pour les IB de toutes tailles et de tous niveaux d'expérience.</p>
                        <div style="text-align:left;margin-top:20px;">
                            <a href="https://www.fpmarketspartners.com/fr/introducing-brokers/" target="_blank"
                                style="background:#00bdff!important;"
                                class="btn btn-lg btn-transparent-red">ENREGISTREZ-VOUS MAINTENANT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid c5">
    <div id="affiliates-brokers-section" class="container default-wd">
        <div class="visible-xs" style="text-align:center;">
            <span>
                <img class="margin-align-for-differ-dev"
                    src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Rectangle-19-mobile.png">
            </span>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="ar-content-show padding-lefttoright-60" style="display:none;">
                    <div>
                        <p class="normal-para-header-white-font" id="headdig-textalign-right">Affiliés</p>
                    </div>
                    <div class="padding-top-30 width-for-align">
                        <p class="normal-para-white-font" id="headdig-textalign-right">FP Markets offre une
                            infrastructure de trading de classe mondiale pour les traders forex du monde entier. Dans le
                            cadre du programme d'affiliés de FP Markets, votre site web dirigera les traders vers la
                            plateforme de trading de FP Markets, ce qui vous permettra de gagner une part de revenu
                            intéressante avec une commission fixe lorsqu'ils ouvriront un compte de trading et
                            deviendront des traders actifs. Notre programme convient à une variété de professionnels en
                            ligne, notamment les bloggers, les spécialistes du marketing numérique, les spécialistes du
                            marketing par courrier électronique, les spécialistes du marketing mobile, les acheteurs de
                            médias, les commentateurs de médias sociaux et les éditeurs de sites web.</p>
                        <div style="text-align:left;margin-top:20px;">
                            <a href="https://www.fpmarketspartners.com/fr/affiliates/" target="_blank"
                                style="background:#00bdff!important;"
                                class="btn btn-lg btn-transparent-red">ENREGISTREZ-VOUS MAINTENANT</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 padding-left-70-for-dekstop  ar-content-hide">
                <div class="ar-content-lt">
                    <div>
                        <p class="normal-para-header-white-font">Affiliés</p>
                    </div>
                    <div class="padding-top-30 width-for-align">
                        <p class="normal-para-white-font">FP Markets offre une infrastructure de trading de classe
                            mondiale pour les traders forex du monde entier. Dans le cadre du programme d'affiliés de FP
                            Markets, votre site web dirigera les traders vers la plateforme de trading de FP Markets, ce
                            qui vous permettra de gagner une part de revenu intéressante avec une commission fixe
                            lorsqu'ils ouvriront un compte de trading et deviendront des traders actifs. Notre programme
                            convient à une variété de professionnels en ligne, notamment les bloggers, les spécialistes
                            du marketing numérique, les spécialistes du marketing par courrier électronique, les
                            spécialistes du marketing mobile, les acheteurs de médias, les commentateurs de médias
                            sociaux et les éditeurs de sites web.</p>
                        <div style="text-align:left;margin-top:20px;">
                            <a href="https://www.fpmarketspartners.com/fr/affiliates/" target="_blank"
                                style="background:#00bdff!important;"
                                class="btn btn-lg btn-transparent-red">ENREGISTREZ-VOUS MAINTENANT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid c6">
    <div id="money-white-label-partnership-section" class="container default-wd">
        <div class="row">
            <div class="col-sm-4 padding-right-50-for-desktop padding-right-50-for-desktop-change">
                <div class="card-three-white-bg card-three-white-bg-change height-for-desktop-mobile de-cs4173-heig-al">
                    <p class="normal-para-header-cent-font cs4173vitabh1 translation-block">Gestionnaires<br> de fonds
                    </p>
                    <p class="normal-para-card-font padding-top-30 cs4173vitab1p padding-top-70-Ol"
                        id="headdig-textalign-right">Notre programme Money Manager (gestionnaire de fonds) combine le
                        prix ECN avec des allocations MAM/PAMM flexibles, ainsi que la possibilité de proposer des
                        solutions de trading personnalisées à vos clients. Les gestionnaires de fonds disposent d'une
                        plus grande flexibilité en ce qui concerne la majoration de leurs honoraires, tandis que nous
                        nous occupons de tous les aspects techniques et logistiques du back-office. FP Markets propose
                        des prix bruts avec une liquidité importante et des spreads serrés permettant aux gestionnaires
                        de fonds de profiter de gros volumes aux prix qu'ils demandés.</p>
                </div>
            </div>
            <div class="col-sm-4 padding-right-50-for-desktop padding-right-50-for-desktop-change">
                <div
                    class="card-three-white-bg card-three-white-bg-change height-for-desktop-mobile de-cs4173-heig-al it-pad-bot-adjust">
                    <p class="normal-para-header-cent-font cs4173vitabh translation-block">White Label<br> (Marque
                        Blanche)<br>
                        Partenariat</p>
                    <p class="normal-para-card-font padding-top-30 cs4173eswhlbm cs4173frwhlbm cs4173vitab2p"
                        id="headdig-textalign-right">Que vous soyez un courtier établi ou une start-up, notre
                        partenariat White Label vous garantit l'accès à un niveau de technologie et de liquidité que
                        seul un grand courtier de forex et de CFD peut vous offrir. Le partenariat White Label de FP
                        Markets a été conçu pour deux types d'entreprises : Agences de courtage et start-ups.</p>
                </div>
            </div>
            <div class="col-sm-4 padding-right-55-for-desktop padding-right-50-for-desktop-change">
                <div class="card-three-white-bg card-three-white-bg-change pl-cs-al-4173-heg it-regional-pad-bots">
                    <p class="normal-para-header-cent-font cs4173vitabh translation-block">Partenariats<br> régionaux
                    </p>
                    <p class="normal-para-card-font padding-top-30 cs4173esregm cs4173frregm"
                        id="headdig-textalign-right">Nous offrons les spreads les plus serrés et des solutions
                        technologiques supérieures aux traders de CFD et de forex du monde entier. FP Markets est
                        toujours à la recherche de partenariats avec des marques régionales, pour établir sa présence
                        dans tous les coins du monde. Combinez la réputation et la large gamme de produits de FP Markets
                        avec votre connaissance locale approfondie et vos réseaux pour établir une présence régionale
                        sur de nouveaux marchés mondiaux passionnants. Associez vous à un courtier en CFD de confiance
                        dès aujourd'hui !</p>
                </div>
            </div>
        </div>
        <div class="padding-top-60 text-align-center">
            <p>
                <a class="blue-button" href=" https://www.fpmarketspartners.com/fr/" target="_blank"
                    rel="noopener noreferrer">En savoir plus sur le programme</a>
            </p>
        </div>
    </div>
</div>
<div class="container-fluid c7">
    <div id="partners-receive-section" class="container default-wd">
        <div class="text-align-center">
            <p class="normal-para-header-cent-font translation-block">Que reçoivent les partenaires?</p>
        </div>
        <div class="row padding-top-60 hidden-xs">
            <div class="col-sm-2 last-section-border-right last-section-border-right-disable">
                <div class="text-align-center">
                    <span>
                        <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-Smart-Object-6.png">
                    </span>
                    <p class="last-normal-para-font cs4173vifast cs4173vifast translation-block"
                        style="padding-top: 17px;padding-bottom: 30px;"><span
                            style="font-size: 18px;text-align: center">Des paiements <br></span><span
                            style="font-size: 18px;text-align: center">rapides et faciles</span></p>
                </div>
            </div>
            <div class="col-sm-2 last-section-border-right">
                <div class="text-align-center">
                    <span>
                        <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-Smart-Object-5.png">
                    </span>
                    <p class="last-normal-para-font cs4173vigen" style="padding-top: 7px;">Structures de<br> commission
                        <br>généreuses et multi-niveaux
                    </p>
                </div>
            </div>
            <div class="col-sm-2 last-section-border-right">
                <div class="text-align-center">
                    <span>
                        <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vecto-Smart-bject-4.png">
                    </span>
                    <p class="last-normal-para-font  padding-top-25 cs4173vimulti">Des outils marketing<br> multilingue
                        et <br>widgets pour le bureau</p>
                </div>
            </div>
            <div class="col-sm-2 last-section-border-right">
                <div class="text-align-center">
                    <span>
                        <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-Smart-Object-3.png">
                    </span>
                    <p class="last-normal-para-font cs4173vihigh translation-block" style="padding-top: 27px;">Bannières
                        de conversion élevées et pages d'accueil</p>
                </div>
            </div>
            <div class="col-sm-2 last-section-border-right">
                <div class="text-align-center">
                    <span>
                        <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-Smart-Object-2.png">
                    </span>
                    <p class="last-normal-para-font cs4173viaust translation-block"
                        style="padding-top: 15px;padding-bottom: 25px;">Courtier forex mondial</p>
                </div>
            </div>
            <div class="col-sm-2 last-section-border-right-able">
                <div class="text-align-center">
                    <span>
                        <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-smart-Object-1.png">
                    </span>
                    <p class="last-normal-para-font translation-block" style="padding-top: 28px;">Outils d'analyse et de
                        suivi de pointe</p>
                </div>
            </div>
        </div>

        <div class="visible-xs padding-left-right-20-for-mobile">
            <div class="row padding-top-50-for-mobile">
                <div class="col-sm-6 mobile-align-forlast bg-for-last-mobile">
                    <div class="text-align-center">
                        <span>
                            <img
                                src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-Smart-Object-6.png">
                        </span>
                        <p class="last-normal-para-font translation-block"
                            style="padding-top: 17px;padding-bottom: 30px;"><span
                                style="font-size: 18px;text-align: center">Des paiements <br></span><span
                                style="font-size: 18px;text-align: center">rapides et faciles</span></p>
                    </div>
                </div>
                <div class="col-sm-6 mobile-align-forlast">
                    <div class="text-align-center">
                        <span>
                            <img
                                src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-Smart-Object-5.png">
                        </span>
                        <p class="last-normal-para-font" style="padding-top: 7px;">Structures de<br> commission<br>
                            généreuses et multi-niveaux</p>
                    </div>
                </div>
            </div>
            <div class="row padding-top-30-for-mobile">
                <div class="col-sm-6 mobile-align-forlast bg-for-last-mobile">
                    <div class="text-align-center">
                        <span>
                            <img
                                src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vecto-Smart-bject-4.png">
                        </span>
                        <p class="last-normal-para-font" style="padding-top: 10px;">Des outils marketing<br> multilingue
                            et <br>widgets pour le bureau</p>
                    </div>
                </div>
                <div class="col-sm-6 mobile-align-forlast">
                    <div class="text-align-center">
                        <span>
                            <img
                                src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-Smart-Object-3.png">
                        </span>
                        <p class="last-normal-para-font translation-block" style="padding-top: 13px;">Bannières de
                            conversion élevées et pages d'accueil</p>
                    </div>
                </div>
            </div>
            <div class="row padding-top-40-for-mobile">
                <div class="col-sm-6 mobile-align-forlast bg-for-last-mobile">
                    <div class="text-align-center">
                        <span>
                            <img
                                src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-Smart-Object-2.png">
                        </span>
                        <p class="last-normal-para-font translation-block" style="padding-top: 10px;">Courtier forex
                            mondial</p>
                    </div>
                </div>
                <div class="col-sm-6 mobile-align-forlast">
                    <div class="text-align-center">
                        <span>
                            <img
                                src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-smart-Object-1.png">
                        </span>
                        <p class="last-normal-para-font translation-block" style="padding-top: 22px;">Outils d'analyse
                            et de suivi de pointe</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<style>
    .btn-lg {
        padding: 13px 34px !important;
    }

    .height-for-desktop-mobile {
        min-height: 610px;
    }

    .list-style-width-tran {
        width: 25%;
    }

    .list-style-width-multi {
        width: 23%;
    }

    .list-style-width-share {
        width: 35%;
    }

    .padding-left-right-0-for-desktop {
        padding-left: 0px;
        padding-right: 0px;
    }

    .list-style-border {
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to left, #fff, rgba(255, 255, 255, 0.5), #fff) 1 100%;
        border-left: none;
        border-top: none;
        border-bottom: none;
    }

    .list-style-width-nor {
        width: 30%;
    }

    .list-style-width-nor-inc {
        width: 40%;
    }

    .list-align-for-first-sec {
        display: inline-flex;
        padding-left: 0px;
        padding-right: 0px;
        width: -webkit-fill-available;
        list-style-type: none;
    }

    #first-bg-section {
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .padding-para-align-for-two-card-section {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .margin-image-align-for-two-card-section-1 {
        margin-top: 10px;
        margin-right: 30px;

    }

    .margin-image-align-for-two-card-section-2 {
        margin-top: 15px;
        margin-right: 30px;
    }

    .normal-para-card-font {
        font-size: 18px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.50;
        letter-spacing: 0.18px;
        text-align: left;
        color: #2e3642;
    }

    .padding-right-55-for-desktop {
        padding-right: 55px;
    }

    .padding-right-50-for-desktop {
        padding-right: 50px;
    }

    #partners-receive-section {
        padding-top: 75px;
        padding-bottom: 80px;
    }

    .last-section-border-right {
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(to left, #fff, rgba(62, 73, 92, 0.2), #fff) 1 100%;
        border-left: none;
        border-top: none;
        border-bottom: none;
    }

    .last-normal-para-font {
        font-size: 18px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.51;
        letter-spacing: normal;
        text-align: center;
        color: #2e3642;
    }

    .text-align-center {
        text-align: center;
    }

    .blue-button {
        text-transform: uppercase;
        padding: 9px 20px !important;
        border-radius: 0px 10px 10px 10px;
        color: #fff;
        font-size: 20px;
        line-height: 25px;
        width: 250px !important;
        font-weight: 700;
        background-color: #00beff !important;
    }

    .card-three-white-bg {
        background-color: #ffffff;
        box-shadow: 0 0 20px 0 rgba(62, 73, 92, 0.07);
        border-radius: 0px 15px 15px 15px;
        margin: 0 auto;
        text-align: center;
        padding: 40px;
        padding-left: 30px;
        padding-right: 20px;
        min-height: 750px;
    }

    #money-white-label-partnership-section {
        padding-top: 70px;
        padding-bottom: 55px;
    }

    .c6 {
        background-image: url(/wp-content/themes/fptheme/image-2020/Partnerspage-new/Rectangle-16-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 60%;
    }

    .padding-left-70-for-dekstop {
        padding-left: 70px;
    }

    #affiliates-brokers-section {
        padding-top: 80px;
        padding-bottom: 70px;
    }

    .c5 {
        background-image: url(/wp-content/themes/fptheme/image-2020/Partnerspage-new/Group-350-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 60%;
    }

    .width-for-align {
        width: 440px;
    }

    .normal-para-header-white-font {
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }

    .normal-para-white-font {
        font-size: 18.5px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.51;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }

    .normal-para-header-font {
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #3e495c;
    }

    .normal-para-header-cent-font {
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #3e495c;
    }

    .normal-para-font {
        font-size: 18.5px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.51;
        letter-spacing: normal;
        text-align: left;
        color: #2e3642;
    }

    #introducing-brokers-section {
        padding-top: 80px;
        padding-bottom: 70px;
    }

    .c4 {
        background-image: url(/wp-content/themes/fptheme/image-2020/Partnerspage-new/Rectangle-12-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 60%;
    }

    #forex-broker-partners-section {
        padding-top: 45px;
        padding-bottom: 35px;
    }

    .c3 {
        background-color: #132339;
    }

    #forex-affiliate-program-section {
        padding-top: 20px;
        padding-bottom: 85px;
    }

    .forex-white-font {
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.45;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    .three-cross-row-white-bg {
        background-color: #ffffff;
        box-shadow: 0 0 20px 0 rgba(62, 73, 92, 0.07);
        border-radius: 0px 15px 15px 15px;
        margin: 0 auto;
        text-align: center;
        padding: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .three-cross-row-align-image {
        margin-top: 20px;
        margin-right: 30px;
    }

    .c2 {
        background-size: auto;
        background-image: url(/wp-content/themes/fptheme/image-2020/Partnerspage-new/Rectangle-6-desktop.png);
        background-position: center center;
        background-color: #eeeeee;
    }

    .padding-top-10 {
        padding-top: 10px;
    }

    .padding-top-20 {
        padding-top: 20px;
    }

    .padding-top-25 {
        padding-top: 25px;
    }

    .padding-top-30 {
        padding-top: 30px;
    }

    .padding-top-40 {
        padding-top: 40px;
    }

    .padding-top-50 {
        padding-top: 50px;
    }

    .padding-top-60 {
        padding-top: 60px;
    }

    .dis-fle {
        display: inline-flex;
    }

    .section-two-para-font {
        font-size: 18px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.39;
        letter-spacing: 0.18px;
        text-align: left;
        color: #2e3642;
    }

    .center-align-div {
        width: 800px;
        margin: 0 auto;
    }

    .section-para-font {
        font-size: 18.5px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.51;
        letter-spacing: normal;
        text-align: center;
        color: #2e3642;
    }

    .section-head-font {
        font-size: 44px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #3e495c;
    }

    u {
        font-size: 18.5px;
    }

    .first-sec-head {
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin-bottom: 0px;
    }

    .first-sec-para {
        font-size: 20px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    .c1 {
        background-image: linear-gradient(90deg, #152a4a 25%, #0888be 80%, #24c870 95%, #26cc68 97%);
    }

    .layer {
        background-color: rgba(0, 0, 0, 0);
    }

    .headerbg {
        background-position: 55% 55%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-transform: none !important;
        letter-spacing: normal !important;
    }

    .btn.btn-transparent-red {
        border: none;
        border-radius: 0 10px 10px 10px !important;
        font-size: 24px !important;
        font-weight: bold !important;
        font-stretch: normal !important;
        font-style: normal !important;
        letter-spacing: 0.98px !important;
        text-align: center !important;
        color: #ffffff !important;
    }

    .row.fb-cus-row {
        max-width: 1080px;
        margin: auto;
        position: relative;
        top: 10px;
    }

    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .container-fluid.page-navi li {
        float: left;
        text-align: center;
    }

    @media only screen and (max-width: 600px) {
        .height-for-desktop-mobile {
            height: auto;
        }

        .c1 {
            margin-top: -240px;
            background-image: none;
        }

        .list-style-border {
            border-width: 0px;
            background-image: url(/wp-content/themes/fptheme/image-2020/Partnerspage-new/color-right-mobile.png);
            background-repeat: no-repeat;
            background-size: 1px;
            background-position: 100%;

        }

        .list-style-width-nor,
        .list-style-width-tran,
        .list-style-width-multi,
        .list-style-width-share,
        .list-style-width-nor-inc {
            width: auto;
        }

        .list-align-for-first-sec {
            display: grid;
            grid-template-columns: auto auto;
        }

        .first-sec-head {
            font-size: 16px;
        }

        .first-sec-para {
            font-size: 16px;
        }

        .section.headerbg {
            background-image: url(/wp-content/themes/fptheme/image-2020/Partnerspage-new/hero-mobile.png) !important;
            z-index: 899 !important;
        }

        .headerbg {
            height: 680px !important;
        }

        .c2 {
            background-image: url(/wp-content/themes/fptheme/image-2020/Partnerspage-new/Rectangle-6-mobile.png) !important;
        }

        #forex-affiliate-program-section {
            padding-top: 30px;
            padding-bottom: 65px;
        }

        .padding-top-35-for-mobile {
            padding-top: 35px !important;
        }

        .section-para-font {
            text-align: left;
        }

        .center-align-div {
            width: auto;
        }

        .page-navi {
            display: none;
        }

        .margin-first-image-align-for-two-card-section {
            margin-left: 30px;
        }

        .margin-image-align-for-two-card-section-1 {
            margin-left: -10px;
        }

        .padding-top-25-for-mobile-import {
            padding-top: 25px !important;
        }

        .padding-left-right-20-for-first-section-mobile {
            padding-left: 20px;
            padding-right: 20px;
        }

        #forex-broker-partners-section {
            padding-top: 50px;
            padding-bottom: 40px;
        }

        .forex-white-font {
            line-height: 40px;
        }

        #introducing-brokers-section {
            padding-top: 0px;
            padding-bottom: 45px;
        }

        .c4 {
            background-image: none !important;
        }

        .padding-left-right-30-20-for-mobile {
            padding-left: 30px;
            padding-right: 20px;
        }

        #affiliates-brokers-section {
            padding-top: 0px;
            padding-bottom: 55px;
        }

        .normal-para-header-white-font {
            text-align: center;
        }

        .width-for-align {
            width: auto !important;
        }

        .padding-left-70-for-dekstop {
            padding-left: 30px !important;
            padding-right: 30px;
        }

        .c6 {
            background-image: url(/wp-content/themes/fptheme/image-2020/Partnerspage-new/Rectangle-16-mobile.png) !important;
            z-index: 9;
            position: relative;
        }

        #money-white-label-partnership-section {
            padding-top: 30px;
            padding-bottom: 65px;
        }

        .card-three-white-bg {
            padding-left: 20px;
        }

        .padding-right-55-for-desktop {
            padding-right: 30px !important;
            padding-left: 30px;
            margin-top: 30px;
        }

        .padding-right-50-for-desktop {
            padding-right: 30px !important;
            padding-left: 30px;
            margin-top: 30px;
        }

        .blue-button {
            padding: 9px 15px !important;
            font-size: 19px;
        }

        #partners-receive-section {
            padding-top: 65px;
            padding-bottom: 55px;
        }

        .bg-for-last-mobile {
            background-image: url(/wp-content/themes/fptheme/image-2020/Partnerspage-new/border-right-mobile.png);
            background-repeat: no-repeat;
            background-size: 1px;
            background-position: 100%;
        }

        .padding-top-10-for-mobile {
            padding-top: 10px;
        }

        .padding-top-20-for-mobile {
            padding-top: 20px;
        }

        .padding-top-25-for-mobile {
            padding-top: 25px;
        }

        .padding-top-30-for-mobile {
            padding-top: 30px;
        }

        .padding-top-40-for-mobile {
            padding-top: 40px;
        }

        .padding-top-50-for-mobile {
            padding-top: 50px;
        }

        .padding-top-60-for-mobile {
            padding-top: 60px;
        }

        .container-fluid {
            margin-left: 0px !important;
            margin-right: 0px !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        body,
        html {
            overflow-x: hidden !important;
        }

        .mobile-align-forlast {
            width: 50%;
            max-width: 100%;
            float: left;
            margin: 0px;
            padding: 0px;
        }

        .padding-left-right-20-for-mobile {
            padding-left: 20px;
            padding-right: 20px;
        }

    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 667px) and (min-device-width: 375px) {
        .margin-align-for-differ-dev {
            margin-bottom: -490px;
        }

        .headerbg {
            background-position: 55% 130% !important;
        }
    }

    @media only screen and (max-width: 767px) and (min-width: 411px) {
        .margin-align-for-differ-dev {
            margin-bottom: -510px;
        }

        .headerbg {
            background-position: 55% 110% !important;
        }
    }
</style>

<link rel="stylesheet" href="/wp-content/themes/fptheme/extrastyles.css?v=2.2" type="text/css" />

<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: 0;
        text-transform: unset;
    }

    @media only screen and (max-width: 600px) {
        a.btn-account {
            margin-left: 50px !important;
            ;
            margin-right: 50px !important;
            ;
        }

        .mobile-container {
            display: block !important;
        }

        .navbar-header {
            padding-right: 20px !important;
        }

        div#register-now {
            padding-left: 12px;
            padding-right: 12px;
        }

        .section.nomarginmobile.footer-links div {
            text-align: center !important;
        }

        .col-md-6.col-xs-6.dropdown {
            padding-left: 20px !important;
        }

        .col-md-6.col-xs-6.pxmobilef.font12.text-right {
            padding-right: 22px !important;
        }

        .margin60.col-md-12.text-left.footer-intro.font12 {
            padding-left: 25px !important;
            padding-right: 25px !important;
        }

        .registration p {
            color: white !important;
        }

        .nav-icon {
            margin: 1em;
            width: 40px;
            margin-top: -9px;
            margin-right: 1px;

        }

        .nav-icon:after,
        .nav-icon:before,
        .nav-icon div {
            background: linear-gradient(to right, rgb(-140, 134, 171) 55%, #26cc68);
            border-radius: 3px;
            content: '';
            display: block;
            height: 2px;
            margin: 11px 0px;
            transition: all .2s ease-in-out;
        }

        div#el-11d961c2 {
            margin-bottom: 68px !important;
        }

        #el-4923d651[data-vce-do-apply*=all][data-vce-do-apply*=el-4923d651] {
            padding-bottom: 104px !important;
        }

        .only-on-mobile {
            display: block !important;
        }

        #el-4ae40169>.vce-col-inner>.vce-col-content {
            padding-right: 18px !important;
        }

        .vce-single-image-inner.vce-single-image--absolute {
            padding-right: 20px !important;
        }

        #el-0d5c28f5[data-vce-do-apply*=all][data-vce-do-apply*=el-0d5c28f5] {
            margin-left: -20px !important;
        }

        p.third-head-sec {
            margin-left: 32px !important;
        }

        div#el-4c4559f7 {
            margin-left: -18px !important;
        }

        div#el-82367445 {
            margin-top: -97px !important;
        }

        div#el-c633099b {
            margin-top: -60px !important;
        }

        #el-e9436ba9[data-vce-do-apply*=all][data-vce-do-apply*=el-e9436ba9] {
            padding-top: 0px !important;
        }

        div#el-7790f85e {
            margin-top: -19px !important;
        }

        #el-832c5bbf {
            margin-top: 24px !important;
        }

        a.navbar-brand {
            padding-left: 18px !important;
        }

        .whitedown {
            margin-left: 178px !important;
        }
    }


    @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
        a.navbar-brand img {
            width: 206px !important;
        }

        .img-align-nav {
            height: 40px !important;
        }

        #el-a4b6ced5 {
            padding-right: 55px !important;
            padding-left: 0px !important;
        }

        #el-0a7659c4>figure>.vce-single-image-inner.vce-single-image--absolute>.vce-single-image {
            min-width: 130% !important;
        }

        #el-0e8a640e,
        #el-a4b6ced5 {
            padding-right: 50px !important;
        }

        p.third-head-sec {
            margin-left: 5px !important;
            margin-right: 44px !important;
        }

        p.third-sec-text {
            margin-right: 14px !important;
        }

    }


    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
        a.navbar-brand img {
            width: 164px !important;
        }

        .img-align-nav {
            height: 35px !important;
        }

        .title.mobile-title-3 p {
            font-size: 30px !important;
        }

        .colms-title1mt4 {
            font-size: 15px !important;
        }

        .blue-button-last-section {
            font-size: 17px !important;
        }
    }

    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {
        a.navbar-brand img {
            width: 214px !important;
        }

    }

    .hidden-xs.mob-hei {
        padding-top: 20px;
    }
</style>


<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: 0;
        text-transform: unset;
    }

    @media only screen and (max-width: 600px) {
        .margin-align-for-differ-dev {
            margin-bottom: -490px;
        }

        a.btn-account {
            margin-left: 50px !important;
            ;
            margin-right: 50px !important;
            ;
        }

        .mobile-container {
            display: block !important;
        }

        .navbar-header {
            padding-right: 20px !important;
        }

        div#register-now {
            padding-left: 12px;
            padding-right: 12px;
        }

        .section.nomarginmobile.footer-links div {
            text-align: center !important;
        }

        .col-md-6.col-xs-6.dropdown {
            padding-left: 20px !important;
        }

        .col-md-6.col-xs-6.pxmobilef.font12.text-right {
            padding-right: 22px !important;
        }

        .margin60.col-md-12.text-left.footer-intro.font12 {
            padding-left: 25px !important;
            padding-right: 25px !important;
        }

        .registration p {
            color: white !important;
        }

        .nav-icon {
            margin: 1em;
            width: 40px;
            margin-top: -9px;
            margin-right: 1px;

        }

        .nav-icon:after,
        .nav-icon:before,
        .nav-icon div {
            background: linear-gradient(to right, rgb(-140, 134, 171) 55%, #26cc68);
            border-radius: 3px;
            content: '';
            display: block;
            height: 2px;
            margin: 11px 0px;
            transition: all .2s ease-in-out;
        }

        div#el-11d961c2 {
            margin-bottom: 68px !important;
        }

        #el-4923d651[data-vce-do-apply*=all][data-vce-do-apply*=el-4923d651] {
            padding-bottom: 104px !important;
        }

        .only-on-mobile {
            display: block !important;
        }

        #el-4ae40169>.vce-col-inner>.vce-col-content {
            padding-right: 18px !important;
        }

        .vce-single-image-inner.vce-single-image--absolute {
            padding-right: 20px !important;
        }

        #el-0d5c28f5[data-vce-do-apply*=all][data-vce-do-apply*=el-0d5c28f5] {
            margin-left: -20px !important;
        }

        p.third-head-sec {
            margin-left: 32px !important;
        }

        div#el-4c4559f7 {
            margin-left: -18px !important;
        }

        div#el-82367445 {
            margin-top: -97px !important;
        }

        div#el-c633099b {
            margin-top: -60px !important;
        }

        #el-e9436ba9[data-vce-do-apply*=all][data-vce-do-apply*=el-e9436ba9] {
            padding-top: 0px !important;
        }

        div#el-7790f85e {
            margin-top: -19px !important;
        }

        #el-832c5bbf {
            margin-top: 24px !important;
        }

        a.navbar-brand {
            padding-left: 18px !important;
        }

        .whitedown {
            margin-left: 178px !important;
        }
    }


    @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
        a.navbar-brand img {
            width: 206px !important;
        }

        .img-align-nav {
            height: 40px !important;
        }

        #el-a4b6ced5 {
            padding-right: 55px !important;
            padding-left: 0px !important;
        }

        #el-0a7659c4>figure>.vce-single-image-inner.vce-single-image--absolute>.vce-single-image {
            min-width: 130% !important;
        }

        #el-0e8a640e,
        #el-a4b6ced5 {
            padding-right: 50px !important;
        }

        p.third-head-sec {
            margin-left: 5px !important;
            margin-right: 44px !important;
        }

        p.third-sec-text {
            margin-right: 14px !important;
        }

    }


    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
        a.navbar-brand img {
            width: 164px !important;
        }

        .img-align-nav {
            height: 35px !important;
        }

        .title.mobile-title-3 p {
            font-size: 30px !important;
        }

        .colms-title1mt4 {
            font-size: 15px !important;
        }

        .blue-button-last-section {
            font-size: 17px !important;
        }
    }

    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {
        a.navbar-brand img {
            width: 214px !important;
        }

    }

    .hidden-xs.mob-hei {
        padding-top: 20px;
    }
</style>