<!--------- SECONDARY NAVBAR Offcanvas area start --------->
<div class="offcanvas-area secondary__navbar__offcanvas bg__light__gray">
    <div class="secondary__navbar__offcanvas__menu__close">
        <i class="fal fa-times"></i>
    </div>
    <div class="secondary__navbar__offcanvas__menu offcanvas-menu bg__light__gray">
        <div class="secondary__navbar__mob__menu">
            <ul class="d-block secondary__navbar__canvas">
                <li>
                    <a class="secondary__navbar__menu__category active" href="[[!getCultureURL]]/education/">Education</a>
                </li>
                <li>
                    <a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/trading-courses/">KURSUS PERDAGANGAN</a>
                </li>
                <li>
                    <a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/trading-guides/">PANDUAN PERDAGANGAN</a>
                </li>
                <li><a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/trading-webinars/">LIVEWEBINARS</a></li>
                <li><a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/podcasts/">Podcast</a></li>
                <li><a class="secondary__navbar__menu__category" href="[[!getCultureURL]]/education/events/">Acara</a>
                </li>
                <li><a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/platform-tutorials/">Tutorial Platform
                        </a></li>
                <li><a class="secondary__navbar__menu__category" href="[[!getCultureURL]]/education/ebooks/">Ebook</a>
                </li>
                <li><a class="secondary__navbar__menu__category" href="[[!getCultureURL]]/education/glossary/">GLOSARI PERDAGANGAN</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="offcanvas-overlay"></div>
<!--------- SECONDARY NAVBAR Offcanvas area end ----------->


<!---------- Mobile SECONDARY NAVBAR Header start ------------>
<header class="secondary__navbar__mobile__header bg__light__gray">
    <div class="container d-flex align-items-center justify-content-between p__10">
        <div class="header__right d-flex align-items-center justify-content-between">

            <div class="secondary__navbar__menu__open">
                <div class="secondary__navbar__menu__icon">
                    <i class="far fa-bars"></i>
                </div>
                <span class="secondary__navbar__mob__header_text">
                    MENU
                </span>

            </div>
        </div>
</header>
<!---------- Mobile SECONDARY NAVBAR Header END   ------------>

<!------------- SECONDARY NAVBAR Secondary Navbar Desktop START ------------>
<div class="container-fluid secondary__navbar__nav bg__light__gray">
    <div class="container">
        <div class="text__align__center bg__light__gray collapse navbar-collapse">
            <ul class="general__secondary__navbar__nav bg__light__gray collapse collapse navbar-collapse">
                <li class="active">
                    <a href="[[!getCultureURL]]/education/"><i class="fas fa-home fa-2x"> </i></a>
                </li>
                <li>
                    <a href="[[!getCultureURL]]/education/trading-courses/">KURSUS <br> PERDAGANGAN</a>
                </li>
                <li>
                    <a href="[[!getCultureURL]]/education/trading-guides/">PANDUAN <br> PERDAGANGAN</a>
                </li>
                <li><a href="[[!getCultureURL]]/education/trading-webinars/">LIVEWEBINARS</a></li>
                <li><a href="[[!getCultureURL]]/education/podcasts/">Podcast</a></li>
                <li><a href="[[!getCultureURL]]/education/events/">Acara</a></li>
                <li><a href="[[!getCultureURL]]/education/platform-tutorials/">TUTORIAL <br> PLATFORM</a></li>
                <li><a href="[[!getCultureURL]]/education/ebooks/">Ebook</a></li>
                <li><a href="[[!getCultureURL]]/education/glossary/">GLOSARI  <br>PERDAGANGAN</a></li>
            </ul>
        </div>
    </div>
</div>
<!------------- SECONDARY NAVBAR Desktop END -------------->



[[$breadcrumb]]

<!--------- EDUCATION  What can you learn START ------------->
<section class="basic__section__norm bg__white">
    <div class="container">
        <div class="row p__20">
            <div class="col-md-12 pb__50 text__align__center">
                <span class="basic__section__title ">
                    <span class="fw__boldest">Apa yang anda boleh pelajari di Akademi?

                    </span>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Kursus <br> Perdagangan

                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        FP Markets menawarkan beberapa video pendidikan, disusun dalam panduan langkah demi langkah yang
                        mudah untuk mereka yang ingin belajar berdagang dan melabur dalam pasaran kewangan.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/trading-courses/" class="common-btn active">KETAHUI LEBIH
                            LANJUT</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Live <br>Webinars
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Sebagai Broker Forex & CFD Global sejak 2005, kami memahami nilai Pendidikan dan Pengetahuan.
                        Webinar langsung kami merangkumi pelbagai topik perdagangan dan pelaburan, dibawakan kepada anda
                        dalam suasana berbilang bahasa.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/trading-webinars/" class="common-btn active">KETAHUI LEBIH
                            LANJUT</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Podcast
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Siri Podcast FP Markets menyediakan pelanggan kaedah pembelajaran yang jelas dan padat melalui
                        pendengaran. Pakar kami akan menjadi seperti akademi audio dalam poket anda, menerangkan semua
                        yang anda perlu tahu tentang perdagangan pasaran.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/podcasts/" class="common-btn active">KETAHUI LEBIH
                            LANJUT</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Acara
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Acara FP Markets menyediakan cara mudah untuk mendapatkan cerapan pasaran. Ketahui cara
                        berdagang dan memanfaatkan peluang perdagangan eksklusif. Tingkatkan pemahaman forex anda dan
                        jadilah orang pertama yang mengetahui tentang beberapa produk terkini yang terdapat di pasaran.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/events/" class="common-btn active">KETAHUI LEBIH
                            LANJUT</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Tutorial Platform 
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Memahami cara platform dagangan anda beroperasi adalah penting untuk kejayaan perdagangan. Pakar
                        industri kami menyediakan tutorial yang mudah diikuti, menjadikan navigasi platform mudah.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/platform-tutorials/" class="common-btn active">KETAHUI
                            LEBIH LANJUT</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Ebook
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Biarkan eBuku dagangan percuma kami membawa dagangan anda ke peringkat seterusnya. Daripada
                        konsep asas kepada aplikasi lanjutan, kami telah menyediakan anda.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/ebooks/" class="common-btn active">KETAHUI LEBIH
                            LANJUT</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Glosari <br>
                            Perdagangan
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Terminologi dagangan boleh mengelirukan. Inilah sebabnya FP Markets menyediakan senarai definisi
                        yang komprehensif yang akan membantu anda memahami walaupun istilah yang paling kompleks.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/glossary/" class="common-btn active">KETAHUI LEBIH
                            LANJUT</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Panduan <br>
                            Perdagangan
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Semak imbas FP Markets rangkaian luas panduan perdagangan dan didik diri anda di pasaran forex.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/trading-guides/" class="common-btn active">KETAHUI LEBIH
                            LANJUT</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------- EDUCATION  What can you learn END --------------->


<!--------- Most popular video courses area START ----------->
<section class="basic__section__norm bg__light__gray">
    <div class="container">
        <div class="row p__10">
            <div class="col-md-12">
                <div class="text__align__center pb__50">
                    <span class="basic__section__title fw__boldest text__dark">
                        Kursus video yang paling popular

                    </span>
                </div>
            </div>
            <div class="col-md-4 col__pb__20__mob">
                <div class="video__responsive text-center">
                    <iframe width="355" height="200" src="https://www.youtube.com/embed/_7ghJmBrDIc"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="basic__section__subtitle pt__10 pb__15 ln__1-2">
                    Pasangan Mata Wang: Ketahui bagaimana mata wang berfungsi dalam forex


                </div>
                <div class="basic__section__paragraph">
                    Pasaran FX beroperasi melalui pasangan mata wang. Untuk menjadikannya lebih mudah, anggap ia sebagai
                    membandingkan nilai satu mata wang dengan mata wang yang lain, dalam bentuk sebut harga.


                </div>
            </div>
            <div class="col-md-4 pb__20__mob col__pb__20__mob">
                <div class="video__responsive text-center">
                    <iframe width="355" height="200" src="https://www.youtube.com/embed/oq7g9y-NMTg"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="basic__section__subtitle pt__10 pb__15 ln__1-2">
                    Memahami jenis carta asas

                </div>
                <div class="basic__section__paragraph">
                    Apakah carta? Apakah jenis carta yang paling biasa? Bagaimana mereka berbeza? Adakah anda tahu
                    bahawa semua pasaran kewangan menjana data? Klik untuk memahami Cara Berbeza Data dipaparkan.


                </div>
            </div>
            <div class="col-md-4">
                <div class="video__responsive text-center">
                    <iframe width="355" height="200" src="https://www.youtube.com/embed/91ubbh2ReIY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="basic__section__subtitle pt__10 pb__15 ln__1-2">
                    Apakah pip dalam pasaran forex?


                </div>
                <div class="basic__section__paragraph">
                    Pip, atau peratusan dalam mata, mewakili unit perubahan pasangan mata wang, bersamaan dengan 1/100
                    daripada 1%. Ia mewakili pergerakan harga terkecil yang boleh dibuat oleh mana-mana kadar
                    pertukaran.


                </div>
            </div>
            <div class="col-md-12 pt__50">
                <div class="text-center p__20">
                    <a href="[[!getCultureURL]]/education/trading-courses/" class="common-btn active"> SEMUA KURSUS</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------- Most popular video courses area END ------------->


<style>
    .edu-text-elipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .edu-card-heading-center {
        height: 100px;
        line-height: 100px;
        text-align: center;

    }

    .edu-card-heading {
        line-height: 1.2;
        vertical-align: middle;
        display: inline-block;

    }

    .video__radius__10 {
        border-radius: 10px;
        width: auto;
        height: 200px;
        overflow: hidden;
    }

    .video__responsive {
        position: relative;
        padding-bottom: 56.25%;
        /* - 16:9 aspect ratio (most common) */
        /* padding-bottom: 62.5%; - 16:10 aspect ratio */
        /* padding-bottom: 75%; - 4:3 aspect ratio */
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

    .edu__mob__header_text {
        display: block;
        font-size: 12px;
        font-weight: 900;
        text-align: center;
    }

    .video__responsive iframe,
    .video__responsive object,
    .video__responsive embed {
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .pb__20__desk {
        padding-bottom: 20px;
    }
</style>