<style>
    .pt__50__desk {
        padding-top: 150px;
    }

    .pb__50__desk {
        padding-bottom: 150px;
    }

    .width__650__desk {
        width: 650px;
    }

    .panel-heading {
        padding: 10px 0px 10px 0px;
        border-bottom: 1px solid #8f939c;


    }

    .panel-heading h4.panel-title {
        font-size: 20px;
        color: #132a49 !important;
    }

    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: none;
        border-radius: 0px;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }



    .panel-body {
        padding: 15px 15px 15px 0px;
    }

    .panel-group .panel {
        border-radius: 0;
    }

    .panel-default>.panel-heading {
        background-color: transparent !important;
        border-bottom: 1.5px solid #ddd;
    }

    .panel-default {
        margin-bottom: 0px;
    }

    .panel-group .panel+.panel {
        margin-top: 0;
    }

    .card-head {
        font-size: 23px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        text-align: left;
        color: #132a49 !important;

    }

    .panel-title a,
    a:hover,
    a:active,
    a:visited,
    a:focus {
        text-decoration: none;
    }

    .panel-body {
        padding: 15px 15px 0px 0px;
    }

    .panel-body p {
        margin: 0 0 0px;
    }

    p.normal-para-font-section {
        font-size: 16px;
    }

    .panel-heading .card-head.collapsed:after {
        height: 0px;
        content: "\f078";
        color: #132a4a;

    }

    .panel .card-head:after {
        font-family: 'Font Awesome 5 Pro';
        content: "\f077";
        float: right;
        height: 11px;
        color: #132a4a;
        font-size: 20px;
    }

    .panel-title::after {
        content: "";
        color: #132a4a;
        top: 5px;
        right: 0px;
        position: absolute;
        font-size: 18px;
        font-family: "Font Awesome 5 Pro";
    }

    .h2__section__title {
        color: #132a4a;
    }

    .ptpb__40 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
</style>

<!--<div class="pt__50__desk pb__50__desk">
    <div class="container width__650__desk" style="padding:0 !important;">

        <div class="panel" style="padding-bottom: 0; margin-bottom: 10px;">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-target="#collapseOne">
                    View Content
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    All the hidden content
                </div>
            </div>
        </div>
        <div class="panel" style="padding-top: 0;">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-target="#collapseTwo">
                    View Content
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    All the hidden content
                </div>
            </div>
        </div>

    </div>
</div> -->

<div id="forex-spreads-faq-acc-section" class="container">

    <div id="menu1" class="wid-for-faq-section tab-pane fade  in active">
        <div style="text-align: center;">
            <p class="h1-font hidden-xs" style="margin-bottom: 19px;">
                Copy Trading FAQ
            </p>
        </div>
        <div class="panel-group padding-top-40" id="accordiontop">
            <div class="panel panel-default card-custom">
                <div class="panel-heading padding-for-card-head-align padding-top-20">
                    <h4 class="panel-title">
                        <a class="card-head collapsed" data-toggle="collapse" data-parent="#accordiontop"
                            href="#collapse174" onmouseover="this.style.color='#3e495c'"
                            onmouseout="this.style.color='#3e495c'" aria-expanded="false"
                            style="color: rgb(62, 73, 92);">What is Copy Trading ?</a>
                    </h4>
                </div>
                <div id="collapse174" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body padding-for-card-align">
                        <p class="normal-para-font-section">
                            Copy Trading allows traders to find, follow and copy successful traders automatically
                        </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default card-custom">
                <div class="panel-heading padding-for-card-head-align">
                    <h4 class="panel-title">
                        <a class="card-head collapsed" data-toggle="collapse" data-parent="#accordiontop"
                            href="#collapse175" onmouseover="this.style.color='#3e495c'"
                            onmouseout="this.style.color='#3e495c'" aria-expanded="false"
                            style="color: rgb(62, 73, 92);">
                            How can I become a Social Trading Strategy Provider?
                        </a>

                    </h4>
                </div>
                <div id="collapse175" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body padding-for-card-align">
                        <p class="normal-para-font-section">
                            It only takes a few steps to become a provider after filling the relevant
                            <a href="https://www.fpmarkets.com/social-trading-form">form</a>. The creation
                            of the strategy will be completed within 24 hours.

                        </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default card-custom">
                <div class="panel-heading padding-for-card-head-align">
                    <h4 class="panel-title">
                        <a class="card-head" data-toggle="collapse" data-parent="#accordiontop" href="#collapse177"
                            onmouseover="this.style.color='#3e495c'" onmouseout="this.style.color='#3e495c'"
                            aria-expanded="true" style="color: rgb(62, 73, 92);">
                            How can I start copying?
                        </a>
                    </h4>
                </div>
                <div id="collapse177" class="panel-collapse collapse in" aria-expanded="true">
                    <div class="panel-body padding-for-card-align">
                        <p class="normal-para-font-section">
                            Signing up for Social Trading with FP Markets is a swift process thanks to a streamlined
                            procedure that can be
                            completed in three easy steps:
                            <br><br>
                            1. Open a MetaTrader 4 or MetaTrader 5 account
                            <br>

                            2. Choose the Provider(s) that you wish to copy
                            <br>

                            3. Activate and Start Copy Trading

                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default card-custom">
                <div class="panel-heading padding-for-card-head-align">
                    <h4 class="panel-title">
                        <a class="card-head collapsed" data-toggle="collapse" data-parent="#accordiontop"
                            href="#collapse178" onmouseover="this.style.color='#3e495c'"
                            onmouseout="this.style.color='#3e495c'" aria-expanded="false">
                            How I can choose whom to copy?
                        </a>
                    </h4>
                </div>
                <div id="collapse178" class="panel-collapse collapse" aria-expanded="false">
                    <div class="panel-body padding-for-card-align">
                        <p class="normal-para-font-section">
                            Finding a suitable strategy to copy is the most important component of Social Trading. We
                            provide an in depth breakdown of analytics related to each strategy, these include return on
                            investment, drawdown, instruments traded and much more. All our strategies can be reviewed
                            on the <a
                                href="https://socialratings.fpmarkets.com/widgets/ratings?widgetKey=social_platform_ratings">
                                Social Trading Ratings tab</a>.

                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default card-custom">
                <div class="panel-heading padding-for-card-head-align">
                    <h4 class="panel-title">
                        <a class="card-head collapsed" data-toggle="collapse" data-parent="#accordiontop"
                            href="#collapse179" onmouseover="this.style.color='#3e495c'"
                            onmouseout="this.style.color='#3e495c'" aria-expanded="false">
                            How does Copy Trading work?

                        </a>
                    </h4>
                </div>
                <div id="collapse179" class="panel-collapse collapse" aria-expanded="false">
                    <div class="panel-body padding-for-card-align">
                        <p class="normal-para-font-section">
                            There is no need to build your own trading strategy or conduct research on forex markets.
                            Copy trading removes the complexities of trading forex and CFDs. Once you find a suitable
                            provider, simply activate the strategy, set your risk parameters, and trades will start
                            copying on your account automatically.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default card-custom">
                <div class="panel-heading padding-for-card-head-align">
                    <h4 class="panel-title">
                        <a class="card-head collapsed" data-toggle="collapse" data-parent="#accordiontop"
                            href="#collapse180" onmouseover="this.style.color='#3e495c'"
                            onmouseout="this.style.color='#3e495c'" aria-expanded="false">
                            How to I fund my copy trading account?

                        </a>
                    </h4>
                </div>
                <div id="collapse180" class="panel-collapse collapse" aria-expanded="false">
                    <div class="panel-body padding-for-card-align">
                        <p class="normal-para-font-section">
                            Copy trading accounts are funded in the same way any other account would be funded via the
                            FP Markets Client Portal. Funds can also be transferred from any of your trading accounts,
                            to an account connected to the Social Trading service.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default card-custom">
                <div class="panel-heading padding-for-card-head-align">
                    <h4 class="panel-title">
                        <a class="card-head collapsed" data-toggle="collapse" data-parent="#accordiontop"
                            href="#collapse181" onmouseover="this.style.color='#3e495c'"
                            onmouseout="this.style.color='#3e495c'" aria-expanded="false">
                            Why can't I activate my strategy?

                        </a>
                    </h4>
                </div>
                <div id="collapse181" class="panel-collapse collapse" aria-expanded="false">
                    <div class="panel-body padding-for-card-align">
                        <p class="normal-para-font-section">
                            You may not be able to follow a strategy because of one of the following reasons: 1) Your
                            account does not meet the balance criteria of your preferred strategy. 2) Your profile has
                            not been fully verified/approved. 3) Your trading account is archived.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default card-custom">
                <div class="panel-heading padding-for-card-head-align">
                    <h4 class="panel-title">
                        <a class="card-head collapsed" data-toggle="collapse" data-parent="#accordiontop"
                            href="#collapse182" onmouseover="this.style.color='#3e495c'"
                            onmouseout="this.style.color='#3e495c'" aria-expanded="false">
                            Are there any fees involved?

                        </a>
                    </h4>
                </div>
                <div id="collapse182" class="panel-collapse collapse" aria-expanded="false">
                    <div class="panel-body padding-for-card-align">
                        <p class="normal-para-font-section">
                            There is no fee applied to start copying, performance fees are only applied on profitable
                            trades.Once a Trading Interval ends, the Social Trading software initiates payment of
                            Performance fees to each provider for an individual follower. The calculation is based
                            on the trading results for the ended trading interval, on the performance fee
                            percentage and on the calculation mode.

                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default card-custom">
                <div class="panel-heading padding-for-card-head-align">
                    <h4 class="panel-title">
                        <a class="card-head collapsed" data-toggle="collapse" data-parent="#accordiontop"
                            href="#collapse185" onmouseover="this.style.color='#3e495c'"
                            onmouseout="this.style.color='#3e495c'" aria-expanded="false">
                            How I can stop copying?

                        </a>
                    </h4>
                </div>
                <div id="collapse185" class="panel-collapse collapse" aria-expanded="false">
                    <div class="panel-body padding-for-card-align">
                        <p class="normal-para-font-section">
                            To stop copying, you need to Unsubscribe. Risk management triggers also launch the
                            Unsubscribe action. Unsubscribing archives a subscription.
                            Suspending a subscription stops copying as well, but keeps its parameters editable for the
                            follower. For example, the follower has realized that their strategy is not suitable for
                            copying
                            from the provider, and they need some time to come up with a new strategy. While in process,
                            the subscription may be suspended to avoid copying unintended trades. Once finished, the
                            follower should press Activate again to start copying, but unlike the first activation,
                            repeated
                            activations don’t provide an option to copy the provider's current positions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default card-custom">
                <div class="panel-heading padding-for-card-head-align">
                    <h4 class="panel-title">
                        <a class="card-head collapsed" data-toggle="collapse" data-parent="#accordiontop"
                            href="#collapse183" onmouseover="this.style.color='#3e495c'"
                            onmouseout="this.style.color='#3e495c'" aria-expanded="false">
                            How can I disable my strategy?

                        </a>
                    </h4>
                </div>
                <div id="collapse183" class="panel-collapse collapse" aria-expanded="false">
                    <div class="panel-body padding-for-card-align">
                        <p class="normal-para-font-section">
                            To disable your Strategy, you will need to send a request by email to partners@fpmarkets.com
                            and request the closure.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<style>
    .wid-for-faq-section {
        width: 650px;
        margin: 0 auto;
        padding: 40px 0 0 0;
    }

    .panel-group .panel {
        border-radius: 0;
        margin-bottom: 0;
    }

    .panel {
        margin-top: 0;
        box-shadow: none !important;
    }

    .card-custom {
        background-color: #fff !important;
        width: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        background: linear-gradient(white, white), linear-gradient(to right, #fff 25%, rgba(0, 189, 255, 0.48), #26CC68);
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
    }

    .panel-default>.panel-heading {
        background-color: transparent !important;
        border-bottom: 1.5px solid #ddd;
    }

    .panel-heading {
        cursor: pointer;
    }

    .panel-heading h4.panel-title {
        font-size: 20px;
        color: #132a49 !important;
    }

    .panel-title {
        position: relative;
    }

    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
    }
</style>