<div class="container-fluid csf1 bottom-divider">
    <div id="apple-inc-widget-first-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <br>
            <div class="col-md-8">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container" style="width:100%; margin:0 auto;">
                    <div id="tradingview_e536c"></div>
                    <!-- <div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com/symbols/AAPL/" rel="noopener" target="_blank"><span class="blue-text">Apple</span></a> by TradingView</div> -->
                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                    <script type="text/javascript">
                        new TradingView.MediumWidget(
                            {
                                "symbols": [
                                    [
                                        "FX:GBPJPY|12M"
                                    ]
                                ],
                                "chartOnly": false,
                                "width": "100%",
                                "height": 400,
                                "locale": "uk",
                                "colorTheme": "light",
                                "gridLineColor": "rgba(240, 243, 250, 0)",
                                "trendLineColor": "rgba(33, 150, 243, 1)",
                                "fontColor": "#787B86",
                                // "underLineColor": "rgba(33, 150, 243, 0.3)",
                                "underLineBottomColor": "rgba(33, 150, 243, 0.0)",
                                "isTransparent": false,
                                "autosize": false,
                                "container_id": "tradingview_e536c"
                            }
                        );
                    </script>


                </div>
                <!-- TradingView Widget END -->


                <!-- TradingView Widget BEGIN -->

                <!-- TradingView Widget END -->
            </div>



            <div class="col-md-4">
                [[$[[*parent]]-search-box]]
            </div>

        </div>
    </div>
</div>


<div class="container-fluid csf2">
    <div id="apple-inc-widget-second-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <div class="col-md-6 pad-right-40">
                <div>
                    <p class="apple-profile-hd-font-sect">GREAT BRITAIN POUND/ JAPANESE YEN TRADING</p>
                    <p class="norml-par-font padding-top-20">The Great Britain Pound (GBP) vs the Japanese Yen (JPY) is
                        a highly volatile currency with the latter often used as a funding currency of a trade because
                        it is historically a low yielding currency. Since the United Kingdom is one of the larger
                        economies in Europe, the GBPJPY pair can be considered as a proxy for global economic health.
                        However, this <a href="/forex/">currency</a> pair functions like a representative for market
                        ‘risk-off’ moves as the carry trade gets reversed. Consequently, GBP JPY is able to develop
                        powerful trends that exceed thousands of pips. </p>
                </div>
                <div class="padding-top-40">
                    <p class="apple-profile-hd-font-sect">History of GBP JPY Trading</p>
                    <p class="norml-par-font padding-top-20">The Great British pound (GBP) is the fourth most traded
                        currency in the forex market, after the United States dollar, the Euro, and the Japanese yen.
                        Along with those three currencies and the Chinese yuan, it forms the basket of currencies which
                        calculate the value of IMF special drawing rights. Additionally, it is the fourth most held
                        reserve currency globally after the middle of 2021.</p>
                    <p class="norml-par-font padding-top-20">The Japanese Yen (JPY) is the leading reserve currency in
                        the Asian markets. It's high liquidity is a privilege to traders looking to profit on market
                        movement in countries whose currencies would otherwise be tougher to trade. The concept of the
                        yen was a component of the late 19th century that postulated the pursuit of a uniform currency
                        throughout the country, modelled.</p>

                </div>
            </div>
            <div class="col-md-6 pad-left-40 margin-top-for-table-align">
                <!-- <div>
    <div class="pad-for-table-align padding-top-30-for-mobile">
    <div class="nctable scroll-bar-for-table">
    <table>
    <tbody>
    <tr class="table-row-head">
    <th colspan="4" class="header-font-table-rf">Holding cost</th>
    </tr>
    <tr style="height: 70px;">
    <td class="table-normal-font" style="padding-left: 30px;">Long<br><span style="font-weight:300;">-5%</span></td>
    <td class="table-normal-font"  >Short<br><span style="font-weight:300;">-2.5%</span></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div> -->

                <div class="padding-top-20 pad-for-table-align">
                    <div class="nctable scroll-bar-for-table">
                        <table>
                            <thead>
                                <tr class="table-row-head">
                                    <th colspan="4" style="    padding-left: 20px;" class="header-font-table-rf">GBP/JPY
                                        Forex Chart</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Instrument: <span
                                            style="font-weight:300;">GBP/JPY</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Spread: <span
                                            style="font-weight:300;">floating</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Leverage: <span
                                            style="font-weight:300;">1:20</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Margin: <span
                                            style="font-weight:300;"> 5.00%</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Minimum Nominal Trade
                                        Size: <span style="font-weight:300;">1000</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Overnight Interest (daily)
                                        Sell: <span style="font-weight:300;">-3.98%</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Overnight Interest (daily)
                                        Buy: <span style="font-weight:300;">-1%</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Trading Hours (GMT): <span
                                            style="font-weight:300;">24/5</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">MT5 / MT4 Symbol: <span
                                            style="font-weight:300;">GBP/JPY</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="page-bg-darkgray container-fluid">
    <div id="blue-button-section" class="container open-account">
        <div class="d-flex">
            <p class="hidden-xs" style="padding-right:50px;">Start Trading GBP/JPY with a Market Leader Today</p>
            <p class="visible-xs"
                style="line-height: 40px !important;margin-top: -10px;font-size:29px !important;text-align: center;margin-bottom: 20px;">
                Start Trading GBP/JPY<br> with a Market Leader Today</p>
            <a href="[[!portalUrl]]register/" class="btn-account">Open a live account</a>
        </div>
    </div>
</div>


<div class="container-fluid csf6">
    <div id="social-trading-faq-section" class="container">
        <div>
            <p class="h2-cent-font-sect">GBP/JPY Trading FAQs</p>
        </div>
        <div class="wid-for-faq-section padding-top-40 padding-top-30-for-mobile">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align " data-toggle="collapse"
                        data-parent="#accordion" href="#collapse1" aria-expanded="true" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">When Is the Best
                                Time to Trade GBP/JPY?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'">When Is the Best Time to Trade GBP/JPY?</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="panel-body padding-for-card-align ">
                            <p class="norml-par-font">While forex pairs can theoretically be traded 24 hours a day,
                                there are optimum times to trade the GBP/JPY whenever the currency pair is more
                                volatile. From 08:00 am to 5:00 pm, the GBP/JPY is usually busy (GMT). This currency
                                pair undergoes higher volumes during the day but is more active during this period which
                                often provides the most opportunities to deploy trading capital. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse2" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Why Is the
                                GBP/JPY Currency Pair Significant to Traders?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Why Is the
                                GBP/JPY Currency<br> Pair Significant to Traders?</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse " aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <div>
                                <p class="norml-par-font">The GBP/JPY is widely known for being a ‘carry currency
                                    cross’, as traders can use it in a carry trade strategy to profit from interest rate
                                    differences. As a result, the GBP JPY pair is heavily affected by central bank
                                    decisions from the Bank of England and Bank of Japan, but also commodity prices such
                                    as crude oil. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align padding-20 collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse3" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Where Can I Find
                                a Trusted Forex Broker to Trade GBP/JPY?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Where Can I Find
                                a Trusted <br>Forex Broker to Trade GBP/JPY?</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <p class="norml-par-font">As you may already know, trading via CFDs (contracts for
                                difference) is one of the most popular approaches when dealing with currencies such as
                                GBP and JPY. At the same time, there are numerous Forex brokers out there. Try to find
                                one that suits your needs. Such as <a class="custom-link-for-a" href="/"
                                    target="_blank"><b>FP Markets</b></a>, a fully regulated broker that offers all
                                types of platforms and accounts, to suit every need.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php include 'pages/globals/instruments-global-footer.html';?>