<div class="container-fluid csf1 bottom-divider">
    <div id="apple-inc-widget-first-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <br>
            <div class="col-md-8">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container" style="width:100%; margin:0 auto;">
                    <div id="tradingview_e536c"></div>
                    <!-- <div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com/symbols/AAPL/" rel="noopener" target="_blank"><span class="blue-text">Apple</span></a> by TradingView</div> -->
                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                    <script type="text/javascript">
                        new TradingView.MediumWidget(
                            {
                                "symbols": [
                                    [
                                        "BLACKBULL:UK100|12M"
                                    ]
                                ],
                                "chartOnly": false,
                                "width": "100%",
                                "height": 400,
                                "locale": "uk",
                                "colorTheme": "light",
                                "gridLineColor": "rgba(240, 243, 250, 0)",
                                "trendLineColor": "rgba(33, 150, 243, 1)",
                                "fontColor": "#787B86",
                                // "underLineColor": "rgba(33, 150, 243, 0.3)",
                                "underLineBottomColor": "rgba(33, 150, 243, 0.0)",
                                "isTransparent": false,
                                "autosize": false,
                                "container_id": "tradingview_e536c"
                            }
                        );
                    </script>


                </div>
                <!-- TradingView Widget END -->


                <!-- TradingView Widget BEGIN -->

                <!-- TradingView Widget END -->
            </div>


            <div class="col-md-4">
                [[$[[*parent]]-search-box]]
                <!-- TradingView Widget BEGIN -->
                <!-- <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com/symbols/NASDAQ-LLOY/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for AAPL</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
      {
      "interval": "1m",
      "width": "100%",
      "isTransparent": true,
      "height": "420",
      "symbol": "FXOPEN:AUS200",
      "showIntervalTabs": true,
      "locale": "uk",
      "colorTheme": "light"
    }
      </script>
    </div> -->
                <!-- TradingView Widget END -->
                <!-- <div class="buy-sell-btn-mobile-align" style="text-align:center;margin-bottom:25px;">
        <a href="<?php echo $portalurl; ?>register/" target="_blank"  class="btn btn-lg btn-transparent-green">
            BUY </a>
             <a href="<?php echo $portalurl; ?>register/" target="_blank"  class="btn btn-lg btn-transparent-red-new">
            SELL</a>
    </div>   
    <div>
    <p class="norml-par-font" style="font-weight: 700;">Pricing is indicative. Past performance is not a reliable indicator of future results. <a target="_blank" href="/webtrader-login/" style="color: #2e3642!important;text-decoration: underline!important;">Log in</a> to see latest markets data.</p>
    </div> -->
            </div>
        </div>
    </div>
</div>


<div class="container-fluid csf2">
    <div id="apple-inc-widget-second-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <div class="col-md-6 pad-right-40">
                <div>
                    <p class="apple-profile-hd-font-sect">About UK100 Index Cash </p>
                    <p class="norml-par-font padding-top-20">The UK 100 is based on the FTSE 100 index, which serves as
                        a barometer of the top 100 companies in the United Kingdom in market capitalisation. The FTSE <a
                            href="/indices/">Index</a> includes stocks from a variety of well-known sectors, including
                        banking, oil and gas, healthcare, and consumer products. The FTSE 100 index is regarded as a
                        realistic depiction of the UK economy due to the range and volume of stocks that comprise it.
                        BP, GlaxoSmithKline, Unilever, British American Tobacco, and HSBC are the top FTSE 100
                        businesses in terms of market capitalisation. Due to their duration on the UK's top stock
                        market, they are commonly referred to as blue-chip stocks. </p>
                </div>
            </div>
            <div class="col-md-6 pad-left-40 margin-top-for-table-align">
                <!-- <div>
    <div class="pad-for-table-align padding-top-30-for-mobile">
    <div class="nctable scroll-bar-for-table">
    <table>
    <tbody>
    <tr class="table-row-head">
    <th colspan="4" class="header-font-table-rf">Holding cost</th>
    </tr>
    <tr style="height: 70px;">
    <td class="table-normal-font" style="padding-left: 30px;">Long<br><span style="font-weight:300;">-5%</span></td>
    <td class="table-normal-font"  >Short<br><span style="font-weight:300;">-2.5%</span></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div> -->

                <div class="padding-top-20 pad-for-table-align">
                    <div class="nctable scroll-bar-for-table">
                        <table>
                            <thead>
                                <tr class="table-row-head">
                                    <th colspan="4" style="    padding-left: 20px;" class="header-font-table-rf">UK100
                                        Index Cash Forex Chart</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Instrument: <span
                                            style="font-weight:300;">UK100 Index Cash</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Spread: <span
                                            style="font-weight:300;">Floating</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Leverage: <span
                                            style="font-weight:300;">20.1</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Margin: <span
                                            style="font-weight:300;"> 5.00%</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Minimum Nominal Trade
                                        Size: <span style="font-weight:300;">1000</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Overnight Interest (daily)
                                        Sell: <span style="font-weight:300;">-0.61 %</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Overnight Interest (daily)
                                        Buy: <span style="font-weight:300;"> -0.05%</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Trading Hours (GMT): <span
                                            style="font-weight:300;"> 24/5</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">MT5 / MT4 Symbol: <span
                                            style="font-weight:300;">UK100 Index Cash</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="page-bg-darkgray container-fluid">
    <div id="blue-button-section" class="container open-account">
        <div class="d-flex">
            <p class="hidden-xs" style="padding-right:50px;">Start Trading UK100 Index Cash with a Market Leader Today
            </p>
            <p class="visible-xs"
                style="line-height: 40px !important;margin-top: -10px;font-size:29px !important;text-align: center;margin-bottom: 20px;">
                Start Trading UK100 Index Cash<br> with a Market Leader Today</p>
            <a href="[[!portalUrl]]register/" class="btn-account">Open a live account</a>
        </div>
    </div>
</div>


<div class="container-fluid csf6">
    <div id="social-trading-faq-section" class="container">
        <div>
            <p class="h2-cent-font-sect">UK100Trading FAQs </p>
        </div>
        <div class="wid-for-faq-section padding-top-40 padding-top-30-for-mobile">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align " data-toggle="collapse"
                        data-parent="#accordion" href="#collapse1" aria-expanded="true" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Is FTSE 100 the
                                same as UK100?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'">Is FTSE 100 the same as UK100?</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="panel-body padding-for-card-align ">
                            <p class="norml-par-font">The UK 100 is a derivative product based on the FTSE 100 stock
                                index. The FTSE 100 index is a market capitalisation-weighted index of 100 of the
                                largest firms in the United Kingdom.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse2" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">How do I trade
                                on UK100?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">How do I trade
                                on UK100?</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse " aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <div>
                                <p class="norml-par-font">Select the UK100/FTSE 100 Index in the CFD Futures area of
                                    Metatrader. To understand what drives this index, a trader would need to have a keen
                                    interest in the British business sector.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align padding-20 collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse3" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Where Can I Find
                                a Trusted Forex Broker to Trade Footsie 100? (FTSE100)</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Where Can I Find
                                a <br>Trusted Forex Broker to Footsie 100? (FTSE100)</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <p class="norml-par-font">You've almost certainly heard of stock market indexes such as the
                                FTSE 100, S&P 500, Dow Jones, or DAX 30 in the news. Indices of this type have grown
                                commonplace in the trading and investing worlds, and with good reason; their popularity
                                is growing. An index tracks and evaluates the performance of a certain group of related
                                stocks and is used to assess the economy of a sector, a region, or a country. For
                                example, significant indices such as the German DAX 30 index track the performance of
                                the country's top 30 companies, whereas the NASDAQ 100 index tracks the performance of a
                                group of American corporations focused primarily on technology. Head over to FPMarkets
                                Website.<br>https://www.fpmarkets.com/indices/ FP Markets is much more than just a
                                trading platform for Indices! Additionally, they offer Forex, Commodities, Shares, and
                                Cryptocurrencies at market-leading spreads and trading conditions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php include 'pages/globals/instruments-global-footer.html';?>