<div class="container-fluid csf1 bottom-divider">
    <div id="apple-inc-widget-first-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <br>
            <div class="col-md-8">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container" style="width:100%; margin:0 auto;">
                    <div id="tradingview_e536c"></div>
                    <!-- <div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com/symbols/AAPL/" rel="noopener" target="_blank"><span class="blue-text">Apple</span></a> by TradingView</div> -->
                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                    <script type="text/javascript">
                        new TradingView.MediumWidget(
                            {
                                "symbols": [
                                    [
                                        "TVC:DXY|12M"
                                    ]
                                ],
                                "chartOnly": false,
                                "width": "100%",
                                "height": 400,
                                "locale": "uk",
                                "colorTheme": "light",
                                "gridLineColor": "rgba(240, 243, 250, 0)",
                                "trendLineColor": "rgba(33, 150, 243, 1)",
                                "fontColor": "#787B86",
                                // "underLineColor": "rgba(33, 150, 243, 0.3)",
                                "underLineBottomColor": "rgba(33, 150, 243, 0.0)",
                                "isTransparent": false,
                                "autosize": false,
                                "container_id": "tradingview_e536c"
                            }
                        );
                    </script>


                </div>
                <!-- TradingView Widget END -->


                <!-- TradingView Widget BEGIN -->

                <!-- TradingView Widget END -->
            </div>


            <div class="col-md-4">
                [[$[[*parent]]-search-box]]
                <!-- TradingView Widget BEGIN -->
                <!-- <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com/symbols/NASDAQ-LLOY/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for AAPL</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
      {
      "interval": "1m",
      "width": "100%",
      "isTransparent": true,
      "height": "420",
      "symbol": "FXOPEN:AUS200",
      "showIntervalTabs": true,
      "locale": "uk",
      "colorTheme": "light"
    }
      </script>
    </div> -->
                <!-- TradingView Widget END -->
                <!-- <div class="buy-sell-btn-mobile-align" style="text-align:center;margin-bottom:25px;">
        <a href="<?php echo $portalurl; ?>register/" target="_blank"  class="btn btn-lg btn-transparent-green">
            BUY </a>
             <a href="<?php echo $portalurl; ?>register/" target="_blank"  class="btn btn-lg btn-transparent-red-new">
            SELL</a>
    </div>   
    <div>
    <p class="norml-par-font" style="font-weight: 700;">Pricing is indicative. Past performance is not a reliable indicator of future results. <a target="_blank" href="/webtrader-login/" style="color: #2e3642!important;text-decoration: underline!important;">Log in</a> to see latest markets data.</p>
    </div> -->
            </div>
        </div>
    </div>
</div>


<div class="container-fluid csf2">
    <div id="apple-inc-widget-second-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <div class="col-md-6 pad-right-40">
                <div>
                    <p class="apple-profile-hd-font-sect1">US Dollar Index Trading </p>
                </div>
                <div class="padding-top-40">
                    <p class="apple-profile-hd-font-sect">US Dollar Index History</p>
                    <p class="norml-par-font padding-top-20">USDX was founded in March 1973, shortly after the Bretton
                        Woods system was dismantled. The US Dollar Index began with a value of 100,000. Since then, it
                        has fluctuated between highs of 164.7200 in February 1985 and lows of 70.698 on March 16, 2008.
                    </p>
                </div>
                <div class="padding-top-40">
                    <p class="apple-profile-hd-font-sect">US Dollar Index News</p>
                    <p class="norml-par-font padding-top-20">The US Dollar Index, abbreviated DXY, is used by investors
                        to determine the value of the US dollar in relation to a basket of currencies used by US trading
                        partners. The <a href="/indices/">Index</a> will increase in value if the Dollar is strong
                        against these currencies and decrease in value if the Dollar weakens against them. Prepare your
                        technical analysis of the US Dollar Index by following its price on the chart and staying
                        current with market headlines, guidance articles, and the dollar index prediction. </p>
                </div>
            </div>
            <div class="col-md-6 pad-left-40 margin-top-for-table-align">
                <!-- <div>
    <div class="pad-for-table-align padding-top-30-for-mobile">
    <div class="nctable scroll-bar-for-table">
    <table>
    <tbody>
    <tr class="table-row-head">
    <th colspan="4" class="header-font-table-rf">Holding cost</th>
    </tr>
    <tr style="height: 70px;">
    <td class="table-normal-font" style="padding-left: 30px;">Long<br><span style="font-weight:300;">-5%</span></td>
    <td class="table-normal-font"  >Short<br><span style="font-weight:300;">-2.5%</span></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div> -->

                <div class="padding-top-20 pad-for-table-align">
                    <div class="nctable scroll-bar-for-table">
                        <table>
                            <thead>
                                <tr class="table-row-head">
                                    <th colspan="4" style="    padding-left: 20px;" class="header-font-table-rf">US
                                        Dollar Index Forex Chart</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Instrument: <span
                                            style="font-weight:300;">US Dollar Index</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Spread: <span
                                            style="font-weight:300;">Floating</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Leverage: <span
                                            style="font-weight:300;">10.1</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Margin: <span
                                            style="font-weight:300;"> 10.00%</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Minimum Nominal Trade
                                        Size: <span style="font-weight:300;">1000</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Overnight Interest (daily)
                                        Sell: <span style="font-weight:300;">0.00 %</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Overnight Interest (daily)
                                        Buy: <span style="font-weight:300;"> -0.00%</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Trading Hours (GMT): <span
                                            style="font-weight:300;"> 24/5</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">MT5 / MT4 Symbol: <span
                                            style="font-weight:300;"> DXY</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="page-bg-darkgray container-fluid">
    <div id="blue-button-section" class="container open-account">
        <div class="d-flex">
            <p class="hidden-xs" style="padding-right:50px;">Start Trading US Dollar Index with a Market Leader Today
            </p>
            <p class="visible-xs"
                style="line-height: 40px !important;margin-top: -10px;font-size:29px !important;text-align: center;margin-bottom: 20px;">
                Start Trading US Dollar Index<br> with a Market Leader Today</p>
            <a href="[[!portalUrl]]register/" class="btn-account">Open a live account</a>
        </div>
    </div>
</div>


<div class="container-fluid csf6">
    <div id="social-trading-faq-section" class="container">
        <div>
            <p class="h2-cent-font-sect">US Dollar Index FAQs </p>
        </div>
        <div class="wid-for-faq-section padding-top-40 padding-top-30-for-mobile">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align " data-toggle="collapse"
                        data-parent="#accordion" href="#collapse1" aria-expanded="true" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What is the US
                                Dollar index?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'">What is the US Dollar index?</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="panel-body padding-for-card-align ">
                            <p class="norml-par-font">The US Dollar Index is a measure of the value of the US dollar in
                                relation to a basket of foreign currencies, sometimes referred to as a basket of
                                currencies of the United States trading partners. The Index increases in value as the
                                United States dollar acquires 'strength' in relation to other currencies.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align padding-20 collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse3" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Where Can I Find
                                a Trusted Forex Broker to Trade US Dollar Index?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Where Can I Find
                                a <br>Trusted Forex Broker to Trade US Dollar Index?</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <p class="norml-par-font">Index CFDs, including the US Dollar Index, are available via FP
                                Markets, which provides access to key stock indices across the world with competitive
                                leverage on world-class trading platforms. Index contracts for difference (CFDs) are a
                                terrific method to engage in the world's most major stock markets online. It is possible
                                to trade CFD index futures with<a class="custom-link-for-a" href="/"
                                    target="_blank"><b>FP Markets.</b></a> Visit this page to see the complete list of
                                indexes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php include 'pages/globals/instruments-global-footer.html';?>