<div class="container-fluid csf1 bottom-divider">
    <div id="apple-inc-widget-first-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <br>
            <div class="col-md-8">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container" style="width:100%; margin:0 auto;">
                    <div id="tradingview_e536c"></div>
                    <!-- <div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com/symbols/AAPL/" rel="noopener" target="_blank"><span class="blue-text">Apple</span></a> by TradingView</div> -->
                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                    <script type="text/javascript">
                        new TradingView.MediumWidget(
                            {
                                "symbols": [
                                    [
                                        "BITSTAMP:BTCUSD|12M"
                                    ]
                                ],
                                "chartOnly": false,
                                "width": "100%",
                                "height": 400,
                                "locale": "uk",
                                "colorTheme": "light",
                                "gridLineColor": "rgba(240, 243, 250, 0)",
                                "trendLineColor": "rgba(33, 150, 243, 1)",
                                "fontColor": "#787B86",
                                // "underLineColor": "rgba(33, 150, 243, 0.3)",
                                "underLineBottomColor": "rgba(33, 150, 243, 0.0)",
                                "isTransparent": false,
                                "autosize": false,
                                "container_id": "tradingview_e536c"
                            }
                        );
                    </script>


                </div>
                <!-- TradingView Widget END -->


                <!-- TradingView Widget BEGIN -->

                <!-- TradingView Widget END -->
            </div>


            <div class="col-md-4">
                [[$[[*parent]]-search-box]]
            </div>
        </div>
    </div>
</div>


<div class="container-fluid csf2">
    <div id="apple-inc-widget-second-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <div class="col-md-6 pad-right-40">
                <div>
                    <p class="apple-profile-hd-font-sect1">Bitcoin CFD Trading </p>
                </div>
                <div class="padding-top-40">
                    <p class="apple-profile-hd-font-sect">Bitcoin CFD History </p>
                    <p class="norml-par-font padding-top-20">The <a href="/cryptocurrency/">cryptocurrency</a> was
                        created in 2008 by an unidentified individual or group of individuals under the pseudonym
                        Satoshi Nakamoto. The currency entered circulation in 2009, following the publication of its
                        implementation as open-source software. Bitcoins are produced as a reward for participating in a
                        process called mining. </p>
                </div>
            </div>
            <div class="col-md-6 pad-left-40 margin-top-for-table-align">
                <!-- <div>
    <div class="pad-for-table-align padding-top-30-for-mobile">
    <div class="nctable scroll-bar-for-table">
    <table>
    <tbody>
    <tr class="table-row-head">
    <th colspan="4" class="header-font-table-rf">Holding cost</th>
    </tr>
    <tr style="height: 70px;">
    <td class="table-normal-font" style="padding-left: 30px;">Long<br><span style="font-weight:300;">-5%</span></td>
    <td class="table-normal-font"  >Short<br><span style="font-weight:300;">-2.5%</span></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div> -->

                <div class="padding-top-20 pad-for-table-align">
                    <div class="nctable scroll-bar-for-table">
                        <table>
                            <thead>
                                <tr class="table-row-head">
                                    <th colspan="4" style="    padding-left: 20px;" class="header-font-table-rf">Bitcoin
                                        CFD Forex Chart</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Instrument: <span
                                            style="font-weight:300;">Bitcoin CFD</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Spread: <span
                                            style="font-weight:300;">Floating</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Leverage: <span
                                            style="font-weight:300;">2.1</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Margin: <span
                                            style="font-weight:300;"> 0.5 As Seen On Platform</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Minimum Nominal Trade
                                        Size: <span style="font-weight:300;">1000</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Overnight Interest (daily)
                                        Sell: <span style="font-weight:300;">-.10 %</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Overnight Interest (daily)
                                        Buy: <span style="font-weight:300;"> -10 %</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Trading Hours (GMT): <span
                                            style="font-weight:300;"> 24/5</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">MT5 / MT4 Symbol: <span
                                            style="font-weight:300;">BTC USD</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="page-bg-darkgray container-fluid">
    <div id="blue-button-section" class="container open-account">
        <div class="d-flex">
            <p class="hidden-xs" style="padding-right:50px;">Start Trading BTCUSD with a Market Leader Today</p>
            <p class="visible-xs"
                style="line-height: 40px !important;margin-top: -10px;font-size:29px !important;text-align: center;margin-bottom: 20px;">
                Start Trading BTCUSD<br> with a Market Leader Today</p>
            <a href="[[!portalUrl]]register/" class="btn-account">Open a live account</a>
        </div>
    </div>
</div>


<div class="container-fluid csf6">
    <div id="social-trading-faq-section" class="container">
        <div>
            <p class="h2-cent-font-sect">Bitcoin CFD USD FAQ </p>
        </div>
        <div class="wid-for-faq-section padding-top-40 padding-top-30-for-mobile">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align " data-toggle="collapse"
                        data-parent="#accordion" href="#collapse1" aria-expanded="true" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What is the Best
                                Time of Day to Trade Bitcoin?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'">What is the Best Time of <br> Day to Trade
                                Bitcoin?</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="panel-body padding-for-card-align ">
                            <p class="norml-par-font">On average, the best time to purchase Bitcoin is between 3 p.m.
                                and 4 p.m. local time. If you're more of a night owl, you may also get a fantastic deal
                                between 11 p.m. and 12 a.m. During certain periods, the value of Bitcoin is at its
                                lowest, which means you won't have to spend as much money on it in exchange for it.
                                Despite the fact that you must develop your own trading strategy, this is only a guide.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse2" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What is Bitcoin
                                CFD?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What is Bitcoin
                                CFD?</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse " aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <div>
                                <p class="norml-par-font">Bitcoin CFD trading means that you take a position in the
                                    digital currency based on how you think the price of the cryptocurrency will change
                                    in the future. Bitcoin CFD trading lets a trader bet on the price of the crypto and
                                    take a long or short position, depending on how much they think it will go up or
                                    down.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align padding-20 collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse3" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What is the Best
                                Platform to Trade Cryptocurrencies?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What is the Best
                                Platform<br> to Trade Cryptocurrencies?</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <p class="norml-par-font">Available at FP Markets your fully regulated CFD broker MetaTrader
                                4 or MetaTrader 5. The world’s most popular trading platform.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align padding-20 collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse4" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Is it Too Late
                                for Bitcoin?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Is it Too Late
                                for Bitcoin?</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <p class="norml-par-font">As one of the finest financial assets to buy in recent years, you
                                might feel like you're late to the party if you're just now getting into Bitcoin.
                                However, take a second look at it. There is still a long way to go for this most popular
                                cryptocurrency. It might still be a useful addition to a well-diversified portfolio in
                                2022.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align padding-20 collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse5" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">How Much Time
                                Does it Take to Mine 1 Bitcoin?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">How Much Time
                                Does it Take to Mine 1 Bitcoin?</a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <p class="norml-par-font">On average, it takes around 10 minutes to mine one bitcoin. This,
                                however, requires an ideal hardware and software setup, which only a small percentage of
                                customers can afford. A more likely estimation for the bulk of people with large
                                installations is 30 days to generate a single bitcoin.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align padding-20 collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse6" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">How do Beginners
                                Buy Bitcoins?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">How do Beginners
                                Buy Bitcoins?</a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <p class="norml-par-font">You must add a bank account, debit card, or credit card to make
                                your first bitcoin buy on most exchanges. Adding a bank account is advised for buying
                                significant quantities of bitcoin as the transfer costs tend to be lower. Credit and
                                debit cards are only suggested for minor transactions since they entail higher costs.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align padding-20 collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse7" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Where Can I Find
                                a Trusted Forex Broker to Trade Bitcoin CFDs?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Where Can I Find
                                a Trusted Forex<br> Broker to Trade Bitcoin CFDs?</a>
                        </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <p class="norml-par-font">FP Markets, one of the most prominent cryptocurrency CFD trading
                                platforms, allows you to trade the top five most traded cryptocurrencies on the
                                cryptocurrency market, including Bitcoin, Ethereum, XRP (Ripple), Bitcoin Cash, and
                                Litecoin, with CFDs on a variety of cryptocurrencies. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php include 'pages/globals/instruments-global-footer.html';?>