<div class="container-fluid csf1 bottom-divider">
    <div id="apple-inc-widget-first-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <br>
            <div class="col-md-8">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container" style="width:100%; margin:0 auto;">
                    <div id="tradingview_e536c"></div>
                    <!-- <div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com/symbols/AAPL/" rel="noopener" target="_blank"><span class="blue-text">Apple</span></a> by TradingView</div> -->
                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                    <script type="text/javascript">
                        new TradingView.MediumWidget(
                            {
                                "symbols": [
                                    [
                                        "KRAKEN:BCHUSD|12M"
                                    ]
                                ],
                                "chartOnly": false,
                                "width": "100%",
                                "height": 400,
                                "locale": "uk",
                                "colorTheme": "light",
                                "gridLineColor": "rgba(240, 243, 250, 0)",
                                "trendLineColor": "rgba(33, 150, 243, 1)",
                                "fontColor": "#787B86",
                                // "underLineColor": "rgba(33, 150, 243, 0.3)",
                                "underLineBottomColor": "rgba(33, 150, 243, 0.0)",
                                "isTransparent": false,
                                "autosize": false,
                                "container_id": "tradingview_e536c"
                            }
                        );
                    </script>


                </div>
                <!-- TradingView Widget END -->


                <!-- TradingView Widget BEGIN -->

                <!-- TradingView Widget END -->
            </div>


            <div class="col-md-4">
                [[$[[*parent]]-search-box]]
                <!-- TradingView Widget BEGIN -->
                <!-- <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com/symbols/NASDAQ-LLOY/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for AAPL</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
      {
      "interval": "1m",
      "width": "100%",
      "isTransparent": true,
      "height": "420",
      "symbol": "FXOPEN:AUS200",
      "showIntervalTabs": true,
      "locale": "uk",
      "colorTheme": "light"
    }
      </script>
    </div> -->
                <!-- TradingView Widget END -->
                <!-- <div class="buy-sell-btn-mobile-align" style="text-align:center;margin-bottom:25px;">
        <a href="<?php echo $portalurl; ?>register/" target="_blank"  class="btn btn-lg btn-transparent-green">
            BUY </a>
             <a href="<?php echo $portalurl; ?>register/" target="_blank"  class="btn btn-lg btn-transparent-red-new">
            SELL</a>
    </div>   
    <div>
    <p class="norml-par-font" style="font-weight: 700;">Pricing is indicative. Past performance is not a reliable indicator of future results. <a target="_blank" href="/webtrader-login/" style="color: #2e3642!important;text-decoration: underline!important;">Log in</a> to see latest markets data.</p>
    </div> -->
            </div>
        </div>
    </div>
</div>


<div class="container-fluid csf2">
    <div id="apple-inc-widget-second-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <div class="col-md-6 pad-right-40">
                <div>
                    <p class="apple-profile-hd-font-sect1">Bitcoin Cash CFD Trading </p>
                </div>
                <div class="padding-top-40">
                    <p class="apple-profile-hd-font-sect">Bitcoin Cash CFD History</p>
                    <p class="norml-par-font padding-top-20">Bitcoin Cash <a href="/cryptocurrency/">cryptocurrency</a>
                        is the product of an August 2017 Bitcoin hard fork. Bitcoin Cash was intended to support a
                        higher block size than Bitcoin, allowing for the inclusion of more transactions in a single
                        block. Despite their conceptual divergences, Bitcoin Cash and Bitcoin have a number of
                        technological parallels. </p>
                </div>
            </div>
            <div class="col-md-6 pad-left-40 margin-top-for-table-align">
                <!-- <div>
    <div class="pad-for-table-align padding-top-30-for-mobile">
    <div class="nctable scroll-bar-for-table">
    <table>
    <tbody>
    <tr class="table-row-head">
    <th colspan="4" class="header-font-table-rf">Holding cost</th>
    </tr>
    <tr style="height: 70px;">
    <td class="table-normal-font" style="padding-left: 30px;">Long<br><span style="font-weight:300;">-5%</span></td>
    <td class="table-normal-font"  >Short<br><span style="font-weight:300;">-2.5%</span></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div> -->

                <div class="padding-top-20 pad-for-table-align">
                    <div class="nctable scroll-bar-for-table">
                        <table>
                            <thead>
                                <tr class="table-row-head">
                                    <th colspan="4" style="    padding-left: 20px;" class="header-font-table-rf">Bitcoin
                                        Cash CFD Forex Chart</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Instrument: <span
                                            style="font-weight:300;">Bitcoin Cash CFD</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Spread: <span
                                            style="font-weight:300;">Floating</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Leverage: <span
                                            style="font-weight:300;">2.1</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Margin: <span
                                            style="font-weight:300;"> 0.5 As Seen on Platform</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Minimum Nominal Trade
                                        Size: <span style="font-weight:300;">1000</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Overnight Interest (daily)
                                        Sell: <span style="font-weight:300;">-.10 %</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Overnight Interest (daily)
                                        Buy: <span style="font-weight:300;"> -10 %</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Trading Hours (GMT): <span
                                            style="font-weight:300;"> 24/5</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">MT5 / MT4 Symbol: <span
                                            style="font-weight:300;">BCHUSD</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="page-bg-darkgray container-fluid">
    <div id="blue-button-section" class="container open-account">
        <div class="d-flex">
            <p class="hidden-xs" style="padding-right:50px;">Start Trading BCHUSD with a Market Leader Today</p>
            <p class="visible-xs"
                style="line-height: 40px !important;margin-top: -10px;font-size:29px !important;text-align: center;margin-bottom: 20px;">
                Start Trading BCHUSD<br> with a Market Leader Today</p>
            <a href="[[!portalUrl]]register/" class="btn-account">Open a live account</a>
        </div>
    </div>
</div>


<div class="container-fluid csf6">
    <div id="social-trading-faq-section" class="container">
        <div>
            <p class="h2-cent-font-sect">Bitcoin Cash CFD USD FAQ </p>
        </div>
        <div class="wid-for-faq-section padding-top-40 padding-top-30-for-mobile">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align " data-toggle="collapse"
                        data-parent="#accordion" href="#collapse1" aria-expanded="true" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">How to Trade
                                Bitcoin Cash</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'">How to Trade Bitcoin Cash</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="panel-body padding-for-card-align ">
                            <p class="norml-par-font">Therefore, you wish to trade Bitcoin Cash (BCH) with the
                                expectation of profiting. When trading, the concept is straightforward: buy cheap and
                                sell high. While the concept is straightforward, its execution is far more difficult.
                                There are several methods for trading Bitcoin Cash. You may exchange it for other
                                cryptocurrencies or, if you're feeling lucky, you can even margin trade on Bitfinex or
                                Bitmex. This article will explain how to trade Bitcoin Cash and provide some trading
                                recommendations. Bitcoin Cash is a Bitcoin fork that occurred as a result of a
                                disagreement over a scaling solution. BCH has opted to produce bigger blocks in order to
                                make BCH a widely used "peer-to-peer electronic currency."</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse2" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Trade Bitcoin
                                Cash for Other Cryptocurrencies?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Trade Bitcoin
                                Cash for<br> Other Cryptocurrencies?</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse " aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <div>
                                <p class="norml-par-font">Therefore, you wish to trade Bitcoin Cash (BCH) with the
                                    expectation of profiting. When trading, the concept is straightforward: buy cheap
                                    and sell high. While the concept is straightforward, its execution is far more
                                    difficult. There are several methods for trading Bitcoin Cash. You may exchange it
                                    for other cryptocurrencies or, if you're feeling lucky, you can even margin trade on
                                    Bitfinex or Bitmex. This article will explain how to trade Bitcoin Cash and provide
                                    some trading recommendations. Bitcoin Cash is a Bitcoin fork that occurred as a
                                    result of a disagreement over a scaling solution. BCH has opted to produce bigger
                                    blocks in order to make BCH a widely used "peer-to-peer electronic currency."</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align padding-20 collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse3" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Trade Bitcoin
                                Cash for Other Cryptocurrencies?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Trade Bitcoin
                                Cash for Other Cryptocurrencies?</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <p class="norml-par-font">Bitcoin Cash is one of the most popular cryptocurrencies at the
                                moment. While some may claim that it is not an altcoin, the market would appear to
                                indicate otherwise. Having said that, Bitcoin Cash has proven to be an extremely
                                rewarding swing trade for many.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align padding-20 collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse4" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Can You Day
                                Trade Bitcoin Cash?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Can You Day
                                Trade Bitcoin Cash?</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <p class="apple-profile-hd-font-sect">The Risks Involved In Trading Bitcoin Cash</p>
                            <p class="norml-par-font">Prior to investing your money in Bitcoin Cash, you should be aware
                                of the following disadvantages: Volatility risks - While day traders may undoubtedly
                                profit from BCH's dramatic price fluctuations, users should only risk the amount of
                                money they are ready to lose.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align padding-20 collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse5" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What is the Best
                                Platform to Trade Cryptocurrencies?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What is the Best
                                Platform to<br> Trade Cryptocurrencies?</a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <p class="norml-par-font">Via FP Markets, a fully licensed and regulated CFD broker, you may
                                access the platform at MetaTrader 4 (https://www.fpmarkets.com/platforms/mt4/) or
                                MetaTrader 5 (https://www.fpmarkets.com/platforms/mt5/) the most widely used trading
                                platforms in the world.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align padding-20 collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse7" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">How Much Time
                                Does it Take to Mine 1 Bitcoin?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">How Much Time
                                Does it Take to Mine 1 Bitcoin?</a>
                        </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <p class="norml-par-font">One bitcoin is mined in around 10 minutes on average, according to
                                statistics. Only a tiny fraction of clients can afford this optimum hardware and
                                software arrangement. Most people with big installations can create a bitcoin in 30 days
                                or less, which is a more realistic estimate.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align padding-20 collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse6" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Where Can I Find
                                a Trusted Forex Broker to Trade Bitcoin Cash CFD?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Where Can I Find
                                a Trusted Forex Broker<br> to Trade Bitcoin Cash CFD?</a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <p class="norml-par-font">FP Markets, one of the most renowned cryptocurrency CFD trading
                                platforms, enables you to trade the top five most actively traded cryptocurrencies on
                                the market, including Bitcoin, Ethereum, XRP (Ripple), Bitcoin Cash, and Litecoin, using
                                CFDs on a range of cryptocurrencies. https://www.fpmarkets.com/cryptocurrency/</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php include 'pages/globals/instruments-global-footer.html';?>