<div class="container-fluid csf1 bottom-divider">
    <div id="apple-inc-widget-first-section" class="container">
        <div class="row pad-left-right-15-for-mobile">

            <div class="col-md-8">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container" style="width:100%; margin:0 auto;">
                    <div id="tradingview_e536c"></div>
                    <!-- <div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com/symbols/AAPL/" rel="noopener" target="_blank"><span class="blue-text">Apple</span></a> by TradingView</div> -->
                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                    <script type="text/javascript">
                        new TradingView.MediumWidget(
                            {
                                "symbols": [
                                    [
                                        "ASX:RHC|12M"
                                    ]
                                ],
                                "chartOnly": false,
                                "width": "100%",
                                "height": 400,
                                "locale": "uk",
                                "colorTheme": "light",
                                "gridLineColor": "rgba(240, 243, 250, 0)",
                                "trendLineColor": "rgba(33, 150, 243, 1)",
                                "fontColor": "#787B86",
                                // "underLineColor": "rgba(33, 150, 243, 0.3)",
                                "underLineBottomColor": "rgba(33, 150, 243, 0.0)",
                                "isTransparent": false,
                                "autosize": false,
                                "container_id": "tradingview_e536c"
                            }
                        );
                    </script>


                </div>
                <!-- TradingView Widget END -->


                <!-- TradingView Widget BEGIN -->

                <!-- TradingView Widget END -->
            </div>


            <div class="col-md-4">
                [[$[[*parent]]-search-box]]
            </div>
        </div>
    </div>
</div>


<div class="container-fluid csf2">
    <div id="apple-inc-widget-second-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <div class="col-md-6 pad-right-40">
                <div>
                    <p class="apple-profile-hd-font-sect">Ramsay Health Care Ltd (RHC) Profile</p>
                    <div class="">
                        <!--<p class="apple-profile-semi-head-font" style="margin-bottom:3px;">Sector: <span style="font-weight: bold;">British financial institution</span></p>-->
                        <!-- <p class="apple-profile-semi-head-font" style="margin-bottom:3px;">Industry: <span style="font-weight: bold;"> Telecommunications Equipment</span></p> -->
                        <!-- <p class="apple-profile-semi-head-font" style="margin-bottom:0px;">Employees: <span style="font-weight: bold;">65000</span></p>-->
                    </div>
                    <p class="norml-par-font padding-top-20">Ramsay Health Care Limited is an Australian multinational
                        healthcare provider and hospital network, founded by Paul Ramsay in Sydney, Australia in 1964.
                        The company operates in Australia, Europe, the UK, and Asia, specialising in surgery,
                        rehabilitation and psychiatric care.
                        <br><br>
                        Ramsay Health Care operates 28 hospitals in New South Wales. These hospitals deliver a
                        comprehensive range of services including medical, surgical, obstetric, mental health and
                        rehabilitation services and admit over 326,000 patients per annum.
                        <br><br>
                        With 72 hospitals and day surgery units, Ramsay Health Care Australia admits more than 1.1
                        million patients, delivers more than 23,000 babies and employs more than 30,000 people.
                        <br><br>
                        Market cap 16.04 B AUD Revenue: 12.4 billion AUD (2020) Subsidiaries: Ramsay Health Care UK,
                        total assets A$18.059 billion (2020)
                        Services include Hospitals Day surgery, Clinics Pharmacies.
                        <br><br>
                        Ramsay Health Care UK is one of the leading providers of private healthcare in England, with a
                        network of 33 private hospitals. These provide a wide and comprehensive range of specialised and
                        efficient clinical specialities with over 200,000 admits per year and employ more than 5,000
                        staff.
                        <br><br>
                        Services include:
                        <br>
                        Weight Loss Surgery (Bariatric Surgery)
                        including gastric sleeve, gastric bypass, gastric band and gastric balloon.
                        <br><br>
                        Orthopaedics (Joint and Hip Surgery)
                        <br>
                        Including hip surgery, knee surgery, shoulder surgery, back surgery
                        Recognised by all major medical insurers, Ramsay offers fast, convenient, effective and
                        high-quality treatment for all patients, whether medically insured, self-pay, or from the
                        increasing number referred by the NHS.
                    </p>
                </div>
            </div>
            <div class="col-md-6 pad-left-40 margin-top-for-table-align">
                <div>
                    <div class="pad-for-table-align padding-top-30-for-mobile">
                        <div class="nctable scroll-bar-for-table">
                            <table>
                                <tbody>
                                    <tr class="table-row-head">
                                        <th colspan="4" class="header-font-table-rf">Holding cost</th>
                                    </tr>
                                    <tr style="height: 70px;">
                                        <td class="table-normal-font" style="padding-left: 30px;">Long<br><span
                                                style="font-weight:300;">-5%</span></td>
                                        <td class="table-normal-font">Short<br><span
                                                style="font-weight:300;">-2.5%</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="padding-top-20 pad-for-table-align">
                        <div class="nctable scroll-bar-for-table">
                            <table>
                                <thead>
                                    <tr class="table-row-head">
                                        <th colspan="4" style="    padding-left: 20px;" class="header-font-table-rf">
                                            Trading hours in US Eastern Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="height: 75px;background-color:#eeeeee;">
                                        <td class="table-normal-font" style="padding-left: 30px;">Fri<br><span
                                                style="font-weight:300;">09:30-16:00</span></td>
                                        <td class="table-normal-font">Mon<br><span
                                                style="font-weight:300;">09:30-16:00</span></td>
                                        <td class="table-normal-font">Tue<br><span
                                                style="font-weight:300;">09:30-16:00</span></td>
                                        <td class="table-normal-font">Wed<br><span
                                                style="font-weight:300;">09:30-16:00</span></td>
                                    </tr>
                                    <tr style="height: 75px;">
                                        <td class="table-normal-font" style="padding-left: 30px;">Thu<br><span
                                                style="font-weight:300;">09:30-16:00</span></td>
                                        <td class="table-normal-font">Sun<br><span
                                                style="font-weight:300;">Closed</span></td>
                                        <td class="table-normal-font">Sat<br><span
                                                style="font-weight:300;">Closed</span></td>
                                        <td class="table-normal-font"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-bg-darkgray container-fluid">
    <div id="blue-button-section" class="container open-account">
        <div class="d-flex">
            <p class="hidden-xs" style="padding-right:50px;">Start Trading Ramsay Health Care Ltd (RHC) with a Market
                Leader Today</p>
            <p class="visible-xs"
                style="line-height: 40px !important;margin-top: -10px;font-size:29px !important;text-align: center;margin-bottom: 20px;">
                Start Trading Ramsay Health Care Ltd (RHC)<br> with a Market Leader Today</p>
            <a href="[[!portalUrl]]register/" class="btn-account">Open a live account</a>
        </div>
    </div>
</div>

[[$faqshares]]

<?php include 'pages/globals/instruments-global-footer.html';?>