<p class="pad-top-30-mob">
    <iframe width="100%" height="415" src="https://www.youtube.com/embed/oq7g9y-NMTg" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</p>
<div class="body-contents" style="padding-bottom: 30px;">
    <p class="h-txt-cus">Basic Chart Types: Understand the Different Ways Data Are Displayed</p>

    <p class="caption-txt">Reading Time: 8 Minutes </p>

    <p class="p-txt">All financial markets generate data. </p>
    <p class="p-txt">To effectively assess this data, charting solutions are necessary. </p>
    <p class="p-txt">Technical analysts, or ‘chartists’, employ the use of charts to evaluate price action for the
        purpose of trend and pattern identification in a broad range of markets. This includes asset classes such as
        foreign exchange (Forex market), equities, equity indexes, commodities and cryptocurrencies.</p>
    <p class="p-txt">Presented through an easy-to-read graphical format, a chart displays the collective trading
        decisions of all market participants over a specified timeframe. For example, hourly time periods are made
        up of consecutive hourly data points that provide users a magnified view of market action. Daily charts, on
        the other hand, are composed of intraday data, compressed to show each day as a single data point. </p>
    <p class="p-txt">The line chart, the bar chart and candlestick chart are among the most widely used in technical
        analysis, each boasting unique differences. It’s important to note the y-axis on most charts (vertical panel
        usually plotted to the right of a chart) indicates price scale and the x-axis (horizontal panel arranged at
        the bottom of the chart) represents time scale.</p>
    <p class="h-txt-cus">Basic Chart Types—Methods of Observing Trading Activity</p>
    <p class="p-txt"><span style="text-decoration:underline;">Line Chart:</span></p>
    <p class="p-txt">Composed of a continuous line calculated through closing prices, line charts are popular with
        market participants who consider closing prices most important. Price changes are ‘smoothed’ with line
        charts as high, low and open-price data (highs and lows are often referred to as ‘upper and lower shadows’
        or ‘wicks’) are disregarded. Figure A shows a line chart for spot gold (XAUUSD) using daily closing prices.
    </p>
    <p class="p-txt">Financial journalists regularly make use of line charts to demonstrate relationships between
        different financial markets. Figure B presents the relationship (or correlation) between the EUR/USD
        currency pair and the ICE US Dollar Index (USDX) futures contract. </p>
    <p class="p-txt">Line charts are also convenient to help reveal longer-term trends (uptrends and downtrends),
        and can be particularly useful to determine support and resistance levels (horizontal lines). This, as
        underlined above, is primarily due to the ‘filtering effect’—filtering high, low and open data.</p>



    <p style="    text-align: center;    padding: 15px 0 15px 0;">
        <img src="/wp-content/themes/fptheme/images/basic_chart_a.jpg" class="historylayer-img">
    </p>
    <span>(Figure A: TradingView [Line Chart of XAUUSD Daily Timeframe])</span>
    <p style="    text-align: center;    padding: 15px 0 15px 0;">
        <img src="/wp-content/themes/fptheme/images/basic_chart_b.jpg" class="historylayer-img">
    </p>
    <span>(Figure B: TradingView [Line Charts of EUR/USD and ICE US Dollar Index Futures Contract Daily
        Timeframe])</span>
    <p class="p-txt"><span style="text-decoration:underline;">Bar Chart:</span></p>
    <p class="p-txt">Unlike the line chart, the western bar chart—sometimes referred to as ‘OHLC’ charts—visually
        displays individual open, high, low and close (OHLC) data of a security across different time periods. This
        could be daily bars, hourly bars, 15-minute bars or even 1-minute bars. For example, figure C illustrates
        the OHLC structure of a bar chart, showing EUR/USD on the daily timeframe and the short-term H1 timeframe.
    </p>
    <p class="p-txt">The open represents the price level the bar begins its formation; the close is the point the
        market concludes trade during its time period. The left horizontal dash is the opening price and the
        horizontal dash on the right of the bar signifies the closing price. A bar high indicates the highest point
        the market was bought during the bar’s life; equally, the low signifies the lowest point the market was
        sold. Additionally, the bar’s body represents the difference between the open and close.</p>
    <p class="p-txt">Bar charts clearly reveal additional information. The key difference between a line chart and a
        bar chart is the bar chart shows volatility. An increase in volatility generates larger (or wider) bars,
        while quieter sessions (less volatility) produce smaller (or more contracted) bars.</p>
    <p style="    text-align: center;    padding: 15px 0 15px 0;">
        <img src="/wp-content/themes/fptheme/images/basic_chart_c.jpg" class="historylayer-img">
    </p>
    <span>(Figure C: TradingView [Bar Charts of EUR/USD Daily and H1 Timeframes])</span>
    <p class="p-txt"><span style="text-decoration:underline;">Candlestick Chart:</span></p>
    <p class="p-txt">Serving as a variation of the bar chart, the candlestick chart is a popular way of viewing
        market data. Candlestick charts and candlestick patterns originated in Japan, and have been popularised by
        Steve Nison. If you’re interested in learning the history of candlestick charts and patterns, Nison’s book:
        Japanese Candlestick Charting Techniques, is a worthwhile read.</p>
    <p class="p-txt">Although made up of the same data as a bar chart, a candlestick chart delivers a more graphic
        format of OHLC values which, for many traders is easier to read. The candlestick’s real body (between
        opening and closing prices) is prominent and filled, allowing traders to rapidly determine price
        direction—bar charts display the body by way of a vertical line. </p>
    <p class="p-txt">Bullish and bearish candles demonstrate similar characteristics. The key differences are
        colouring of the candle, along with open and close prices—they’re reversed. The open for a bearish candle is
        at the upper range of the candle; for a bullish candle the open is situated at the lower range. </p>
    <p class="p-txt">Figure D illustrates bullish candles in green and bearish candles in red. </p>
    <p style="    text-align: center;    padding: 15px 0 15px 0;">
        <img src="/wp-content/themes/fptheme/images/basic_chart_d.jpg" class="historylayer-img">
    </p>
    <span>(Figure D: TradingView [Candlestick Chart of the EUR/USD Daily Timeframe])</span>
    <p class="h-txt-cus">Closing Notes</p>
    <p class="p-txt">Both western bar charts and Japanese candlestick charts permit traders and investors to apply a
        wide array of technical indicators and allow for chart pattern recognition. However, as alluded to in the
        article, candlestick charts are the more preferred choice among technical analysts.</p>
    <p class="p-txt">Trading strategies often include candlestick patterns, such as the doji, hammer and shooting
        star formations. On top of this, the beneficial aspect of candlestick charts, aside from sharper
        visualisation, is market participants can combine western chart patterns—think double-bottom and double-top
        patterns—to help forecast future price.</p>
    <p class="p-txt">Consider opening a <a href="https://portal.fpmarkets.com/demo/register"> demo</a> account with
        FP Markets today and road-test the different types of charts and trading platforms on offer. FP Markets is a
        CFD and Forex broker that understands the needs of its traders, delivering a generous range of tradeable
        financial instruments and competitive spreads, with access to a number of trading account types.</p>
    <p class="p-txt"> <b>DISCLAIMER:</b></p>
    <p class="p-txt">The information contained in this material is intended for general advice only. It does not
        take into account your investment objectives, financial situation or particular needs. FP Markets has made
        every effort to ensure the accuracy of the information as at the date of publication. FP Markets does not
        give any warranty or representation as to the material. Examples included in this material are for
        illustrative purposes only. To the extent permitted by law, FP Markets and its employees shall not be liable
        for any loss or damage arising in any way (including by way of negligence) from or in connection with any
        information provided in or omitted from this material. Features of the FP Markets products including
        applicable fees and charges are outlined in the Product Disclosure Statements available from FP Markets
        website, www.fpmarkets.com and should be considered before deciding to deal in those products. Derivatives
        can be risky; losses can exceed your initial payment. FP Markets recommends that you seek independent
        advice. First Prudential Markets Pty Ltd trading as FP Markets ABN 16 112 600 281, Australian Financial
        Services License Number 286354.</p>
</div>

<style>
    .edu__course__lesson p {
        font-size: 15px;
    }

    .h-txt-cus {
        font-size: 18.5px !important;
        line-height: 22.5px;
        padding: 10px 0 0;
        font-weight: bold !important;
    }

    img.historylayer-img {
        margin: auto;
        display: flex;
    }

    .padding-42 {
        padding: 42px 0;
    }

    .padding-20 {
        padding: 20px 0;
    }

    .caption-txt {
        font-size: 14.5px;
        line-height: 22.5px;
        text-transform: uppercase;
    }

    .h-txt {
        font-size: 18.5px;
        line-height: 22.5px;
        font-family: "Helvetica Neue BD Pro", sans-serif !important;
        color: #0b121c;
        padding: 50px 0 0;
    }

    .h-txt-cus {
        font-size: 18.5px !important;
        line-height: 22.5px;
        font-family: "Helvetica Neue BD Pro", sans-serif !important;
        color: #0b121c;
        padding: 10px 0 0;

    }

    .pad-txt-left-20 {
        padding-left: 20px;
    }

    .p-txt {
        font-size: 16px;
        line-height: 22.5px;
        text-align: left;
    }

    .italic-txt {
        font-weight: 700;
        font-style: italic;
    }

    .sidebar-menu h1 {
        font-weight: 100;
    }

    .sidebar-menu {
        background-color: #f5f7fa;
        border-radius: 0px 10px 10px 10px;
        padding: 25px 15px;
    }

    .sidebar-menu li>a {
        color: #0b121c;
    }

    ol.sidebar-ul li {
        font-size: 18.5px;
        border-bottom: 1px solid #cdd5e3;
        padding-bottom: 5px;
        padding-top: 5px;

    }

    .sidebar-ul li.active a>p {
        font-weight: 800;
        color: #0b121c;
    }

    ol.sidebar-ul li a {
        display: flex;
        line-height: 22px;
    }

    ol.sidebar-ul p {
        margin-left: 5px;
        line-height: 22px;
    }

    .body-section {
        padding-left: 35px;
    }

    img.tec-analysis-video-img {
        padding-top: 40px;
        padding-bottom: 50px;
        border-bottom: 2px solid #00bdff;
    }
</style>