<!--------- SECONDARY NAVBAR Offcanvas area start --------->
<div class="offcanvas-area secondary__navbar__offcanvas bg__light__gray">
    <div class="secondary__navbar__offcanvas__menu__close">
        <i class="fal fa-times"></i>
    </div>
    <div class="secondary__navbar__offcanvas__menu offcanvas-menu bg__light__gray">
        <div class="secondary__navbar__mob__menu">
            <ul class="d-block secondary__navbar__canvas">
                <li>
                    <a class="secondary__navbar__menu__category" href="[[!getCultureURL]]/es/education/"> Formación </a>
                </li>
                <li>
                    <a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/es/education/trading-courses/">Cursos de trading</a>
                </li>
                <li>
                    <a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/es/education/trading-guides/">GUÍAS DE TRADING</a>
                </li>
                <li><a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/es/education/trading-webinars/">WEBINARIOS EN VIVO</a></li>
                <li><a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/es/education/podcasts/">Podcasts</a></li>
                <li><a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/es/education/events/">Eventos</a></li>
                <li><a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/es/education/platform-tutorials/">TUTORIALES DE<br> LA PLATAFORMA</a>
                </li>
                <li><a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/es/education/ebooks/">Ebooks</a></li>
                <li><a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/es/education/glossary/">GLOSARIO DE <br>TRADING</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="offcanvas-overlay"></div>
<!--------- SECONDARY NAVBAR Offcanvas area end ----------->


<!---------- Mobile SECONDARY NAVBAR Header start ------------>
<header class="secondary__navbar__mobile__header bg__light__gray">
    <div class="container d-flex align-items-center justify-content-between p__10">
        <div class="header__right d-flex align-items-center justify-content-between">

            <div class="secondary__navbar__menu__open">
                <div class="secondary__navbar__menu__icon">
                    <i class="far fa-bars"></i>
                </div>
                <span class="secondary__navbar__mob__header_text">
                    MENU
                </span>

            </div>
        </div>
</header>
<!---------- Mobile SECONDARY NAVBAR Header END   ------------>

<!------------- SECONDARY NAVBAR Secondary Navbar Desktop START ------------>
<div class="container-fluid secondary__navbar__nav bg__light__gray">
    <div class="container">
        <div class="text__align__center bg__light__gray collapse navbar-collapse">
            <ul class="general__secondary__navbar__nav bg__light__gray collapse collapse navbar-collapse">
                <li class="active">
                    <a href="[[!getCultureURL]]/es/education/"><i class="fas fa-home fa-2x"> </i></a>
                </li>
                <li>
                    <a href="[[!getCultureURL]]/es/education/trading-courses/">Cursos de<br> trading</a>
                </li>
                <li>
                    <a href="[[!getCultureURL]]/es/education/trading-guides/">GUÍAS DE<br> TRADING</a>
                </li>
                <li><a href="[[!getCultureURL]]/es/education/trading-webinars/">WEBINARIOS EN<br> VIVO</a></li>
                <li><a href="[[!getCultureURL]]/es/education/podcasts/">Podcasts</a></li>
                <li><a href="[[!getCultureURL]]/es/education/events/">Eventos</a></li>
                <li><a href="[[!getCultureURL]]/es/education/platform-tutorials/">TUTORIALES DE<br> LA PLATAFORMA</a>
                </li>
                <li><a href="[[!getCultureURL]]/es/education/ebooks/">Ebooks</a></li>
                <li><a href="[[!getCultureURL]]/es/education/glossary/">GLOSARIO DE <br>TRADING</a></li>
            </ul>
        </div>
    </div>
</div>
<!------------- SECONDARY NAVBAR Desktop END -------------->



[[$breadcrumb]]

<!--------- EDUCATION  What can you learn START ------------->
<section class="basic__section__norm bg__white">
    <div class="container">
        <div class="row p__20">
            <div class="col-md-12 pb__50 text__align__center">
                <span class="basic__section__title ">
                    ¿Qué se puede aprender en la academia?

                </span>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            CURSOS DE <br>
                            TRADING
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        FP Markets ofrece una serie de vídeos educativos, estructurados en una guía directa paso a paso
                        para aquellos que quieran aprender a operar e invertir en los mercados financieros.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/es/education/trading-courses/" class="common-btn active">CONOZCA
                            MÁS</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Webinarios en <br> directo


                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Como broker global de Forex y CFDs desde 2005, entendemos el valor de la educación y el
                        conocimiento. Nuestros seminarios web en vivo cubren una amplia gama de temas de comercio e
                        inversión, acercados a usted su propio idioma.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/es/education/trading-webinars/" class="common-btn active">CONOZCA
                            MÁS</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Podcasts
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        La serie de podcasts de FP Markets ofrece a los clientes un método claro y conciso de
                        aprendizaje a través de la escucha. Nuestros expertos serán como una academia de audio en su
                        bolsillo, explicando todo lo que necesita saber sobre el trading en los mercados.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/es/education/podcasts/" class="common-btn active">CONOZCA MÁS</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Eventos
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Los eventos de FP Markets ofrecen una forma sencilla de obtener información sobre los mercados.
                        Aprenda a operar y aproveche las oportunidades exclusivas de negociación. Actualice sus
                        conocimientos sobre el mercado de divisas y sea el primero en conocer algunos de los últimos
                        productos disponibles en el mercado.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/es/education/events/" class="common-btn active">CONOZCA MÁS</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Tutoriales de la <br> plataforma
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Entender el funcionamiento de su plataforma de trading es crucial para el éxito de las
                        operaciones. Nuestros expertos en el sector ofrecen tutoriales fáciles de seguir, lo que
                        facilita la navegación por la plataforma.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/es/education/platform-tutorials/" class="common-btn active">CONOZCA
                            MÁS</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Ebooks
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Deje que nuestros libros electrónicos gratuitos sobre el trading lleven su negociaciación al
                        siguiente nivel. Desde los conceptos básicos hasta las aplicaciones avanzadas, lo tenemos
                        cubierto.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/es/education/ebooks/" class="common-btn active">CONOZCA MÁS</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Glosario de <br>
                            trading
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        La terminología del trading puede ser confusa. Por ello, FP Markets ofrece una lista completa de
                        definiciones que le ayudarán a entender incluso los términos más complejos.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/es/education/glossary/" class="common-btn active">CONOZCA MÁS</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Guías de trading


                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Navegue por la amplia gama de guías de trading de FP Markets y edúquese en el mercado de
                        divisas.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/es/education/trading-guides/" class="common-btn active">CONOZCA
                            MÁS</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------- EDUCATION  What can you learn END --------------->


<!--------- Most popular video courses area START ----------->
<section class="basic__section__norm bg__light__gray">
    <div class="container">
        <div class="row p__10">
            <div class="col-md-12">
                <div class="text__align__center pb__50">
                    <span class="basic__section__title fw__boldest text__dark">
                        Los videocursos más populares

                    </span>
                </div>
            </div>
            <div class="col-md-4 col__pb__20__mob">
                <div class="video__responsive text-center">
                    <iframe width="355" height="200" src="https://www.youtube.com/embed/_7ghJmBrDIc"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="basic__section__subtitle pt__10 pb__15 ln__1-2">
                    Pares de forex: aprenda cómo funcionan las divisas en el mercado de divisas.


                </div>
                <div class="basic__section__paragraph">
                    El mercado de divisas funciona mediante pares de divisas. Para hacerlo más sencillo, piense que se
                    trata de comparar el valor de una divisa con el de otra, en forma de cotización.


                </div>
            </div>
            <div class="col-md-4 pb__20__mob col__pb__20__mob">
                <div class="video__responsive text-center">
                    <iframe width="355" height="200" src="https://www.youtube.com/embed/oq7g9y-NMTg"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="basic__section__subtitle pt__10 pb__15 ln__1-2">
                    Entender los tipos de gráficos básicos


                </div>
                <div class="basic__section__paragraph">
                    ¿Qué es un gráfico? ¿Cuáles son los tipos de gráficos más comunes? ¿En qué se diferencian? ¿Sabía
                    que todos los mercados financieros generan datos? Haga clic para entender las diferentes formas en
                    que se muestran los datos.


                </div>
            </div>
            <div class="col-md-4">
                <div class="video__responsive text-center">
                    <iframe width="355" height="200" src="https://www.youtube.com/embed/91ubbh2ReIY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="basic__section__subtitle pt__10 pb__15 ln__1-2">
                    ¿Qué es un pip en el mercado de divisas?


                </div>
                <div class="basic__section__paragraph">
                    Un pip, o porcentaje en puntos, representa la unidad de cambio de un par de divisas, que equivale a
                    una centésima parte del 1%. Representa el movimiento de precios más pequeño que puede tener
                    cualquier tipo de cambio.


                </div>
            </div>
            <div class="col-md-12 pt__50">
                <div class="text-center p__20">
                    <a href="[[!getCultureURL]]/es/education/trading-courses/" class="common-btn active"> TODOS LOS
                        CURSOS</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------- Most popular video courses area END ------------->


<style>
    .edu-text-elipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .edu-card-heading-center {
        height: 100px;
        line-height: 100px;
        text-align: center;

    }

    .edu-card-heading {
        line-height: 1.2;
        vertical-align: middle;
        display: inline-block;

    }

    .video__radius__10 {
        border-radius: 10px;
        width: auto;
        height: 200px;
        overflow: hidden;
    }

    .video__responsive {
        position: relative;
        padding-bottom: 56.25%;
        /* - 16:9 aspect ratio (most common) */
        /* padding-bottom: 62.5%; - 16:10 aspect ratio */
        /* padding-bottom: 75%; - 4:3 aspect ratio */
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

    .edu__mob__header_text {
        display: block;
        font-size: 12px;
        font-weight: 900;
        text-align: center;
    }

    .video__responsive iframe,
    .video__responsive object,
    .video__responsive embed {
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .pb__20__desk {
        padding-bottom: 20px;
    }

    .general__secondary__navbar__nav>li>a {
        font-size: 15px;
    }
</style>