<!--------- SECONDARY NAVBAR Offcanvas area start --------->
<div class="offcanvas-area secondary__navbar__offcanvas bg__light__gray">
    <div class="secondary__navbar__offcanvas__menu__close">
        <i class="fal fa-times"></i>
    </div>
    <div class="secondary__navbar__offcanvas__menu offcanvas-menu bg__light__gray">
        <div class="secondary__navbar__mob__menu">
            <ul class="d-block secondary__navbar__canvas">
                <li>
                    <a class="secondary__navbar__menu__category active" href="[[!getCultureURL]]/education/">Edukacja</a>
                </li>
                <li>
                    <a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/trading-courses/">Kursy handlowe</a>
                </li>
                <li>
                    <a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/trading-guides/">Platformy 
                        Guides</a>
                </li>
                <li><a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/trading-webinars/">Analiza 
                        Webinars</a></li>
                <li><a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/podcasts/">Podcasty</a></li>
                <li><a class="secondary__navbar__menu__category" href="[[!getCultureURL]]/education/events/">Wydarzenia</a>
                </li>
                <li><a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/platform-tutorials/">Platformy

                        Tutorials</a></li>
                <li><a class="secondary__navbar__menu__category" href="[[!getCultureURL]]/education/ebooks/">eBooki</a>
                </li>
                <li><a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/glossary/">Słowniczek Handlowy </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="offcanvas-overlay"></div>
<!--------- SECONDARY NAVBAR Offcanvas area end ----------->


<!---------- Mobile SECONDARY NAVBAR Header start ------------>
<header class="secondary__navbar__mobile__header bg__light__gray">
    <div class="container d-flex align-items-center justify-content-between p__10">
        <div class="header__right d-flex align-items-center justify-content-between">

            <div class="secondary__navbar__menu__open">
                <div class="secondary__navbar__menu__icon">
                    <i class="far fa-bars"></i>
                </div>
                <span class="secondary__navbar__mob__header_text">
                    MENU
                </span>

            </div>
        </div>
</header>
<!---------- Mobile SECONDARY NAVBAR Header END   ------------>

<!------------- SECONDARY NAVBAR Secondary Navbar Desktop START ------------>
<div class="container-fluid secondary__navbar__nav bg__light__gray">
    <div class="container">
        <div class="text__align__center bg__light__gray collapse navbar-collapse">
            <ul class="general__secondary__navbar__nav bg__light__gray collapse collapse navbar-collapse">
                <li class="active">
                    <a href="[[!getCultureURL]]/education/"><i class="fas fa-home fa-2x"> </i></a>
                </li>
                <li>
                    <a href="[[!getCultureURL]]/education/trading-courses/">Kursy <br> handlowe</a>
                </li>
                <li>
                    <a href="[[!getCultureURL]]/education/trading-guides/">Platformy <br> Guides</a>
                </li>
                <li><a href="[[!getCultureURL]]/education/trading-webinars/">Analiza  <br> Webinars</a></li>
                <li><a href="[[!getCultureURL]]/education/podcasts/">Podcasty</a></li>
                <li><a href="[[!getCultureURL]]/education/events/">Wydarzenia</a></li>
                <li><a href="[[!getCultureURL]]/education/platform-tutorials/">Samouczki <br> dotyczące platform</a></li>
                <li><a href="[[!getCultureURL]]/education/ebooks/">eBooki</a></li>
                <li><a href="[[!getCultureURL]]/education/glossary/">Słowniczek <br> Handlowy </a></li>
            </ul>
        </div>
    </div>
</div>
<!------------- SECONDARY NAVBAR Desktop END -------------->



[[$breadcrumb]]

<!--------- EDUCATION  What can you learn START ------------->
<section class="basic__section__norm bg__white">
    <div class="container">
        <div class="row p__20">
            <div class="col-md-12 pb__50 text__align__center">
                <span class="basic__section__title ">
                    <span class="fw__boldest">Czego możesz się nauczyć w Akademii?</span>
                </span>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            KURSY <br> HANDLOWE
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        FP Markets oferuje szereg filmów edukacyjnych, ułożonych w prosty przewodnik krok po kroku dla
                        tych, którzy chcą nauczyć się handlować i inwestować na rynkach finansowych.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/trading-courses/" class="common-btn active">UCZ SIĘ
                            WIĘCEJ</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Webinaria na żywo
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Jako globalny broker Forex i CFD od 2005 roku rozumiemy wartość edukacji i wiedzy. Nasze
                        webinaria na żywo obejmują szeroki zakres tematów dotyczących handlu i inwestowania,
                        przedstawianych w wielojęzycznej oprawie.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/trading-webinars/" class="common-btn active">UCZ SIĘ
                            WIĘCEJ</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Podcasty
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Seria podcastów FP Markets zapewnia klientom przejrzystą i zwięzłą metodę uczenia się poprzez
                        słuchanie. Nasi eksperci będą niczym akademia audio w Twojej kieszeni, wyjaśniając wszystko, co
                        musisz wiedzieć o handlu na rynkach.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/podcasts/" class="common-btn active">UCZ SIĘ WIĘCEJ</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Wydarzenia
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Wydarzenia FP Markets zapewniają łatwy sposób na uzyskanie wglądu w rynki. Dowiedz się, jak
                        handlować i korzystaj z ekskluzywnych możliwości handlowych. Poszerz swoją wiedzę na temat rynku
                        forex i bądź pierwszy, który dowie się o najnowszych produktach dostępnych na rynku.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/events/" class="common-btn active">UCZ SIĘ WIĘCEJ</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Samouczki dotyczące <br> platform
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Zrozumienie, jak działa Twoja platforma handlowa, ma kluczowe znaczenie dla sukcesu handlowego.
                        Nasi eksperci branżowi zapewniają łatwe do naśladowania samouczki, ułatwiające nawigację po
                        platformie.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/platform-tutorials/" class="common-btn active">UCZ SIĘ
                            WIĘCEJ</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            eBooki
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Niech nasze bezpłatne e-booki przeniosą Twój handel na wyższy poziom. Od podstawowych koncepcji
                        po zaawansowane aplikacje, mamy Cię w zasięgu ręki.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/ebooks/" class="common-btn active">UCZ SIĘ WIĘCEJ</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            SŁOWNIK <br> HANDLOWY
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Terminologia handlowa może być myląca. Dlatego FP Markets udostępnia obszerną listę definicji,
                        które pomogą Ci zrozumieć nawet najbardziej złożone terminy.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/glossary/" class="common-btn active">UCZ SIĘ WIĘCEJ</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Przewodniki <br> handlowe
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Przeglądaj szeroką gamę przewodników handlowych FP Markets i edukuj się na rynku forex.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/trading-guides/" class="common-btn active">UCZ SIĘ
                            WIĘCEJ</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------- EDUCATION  What can you learn END --------------->


<!--------- Most popular video courses area START ----------->
<section class="basic__section__norm bg__light__gray">
    <div class="container">
        <div class="row p__10">
            <div class="col-md-12">
                <div class="text__align__center pb__50">
                    <span class="basic__section__title fw__boldest text__dark">
                        <span class="fw__light">Najpopularniejsze kursy wideo</span>

                    </span>
                </div>
            </div>
            <div class="col-md-4 col__pb__20__mob">
                <div class="video__responsive text-center">
                    <iframe width="355" height="200" src="https://www.youtube.com/embed/_7ghJmBrDIc"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="basic__section__subtitle pt__10 pb__15 ln__1-2">
                    Pary walutowe: dowiedz się, jak działają waluty na rynku forex
                </div>
                <div class="basic__section__paragraph">
                    Rynek walutowy działa w oparciu o pary walutowe. Aby to uprościć, pomyśl o tym jako o porównaniu
                    wartości jednej waluty z inną w formie notowania.
                </div>
            </div>
            <div class="col-md-4 pb__20__mob col__pb__20__mob">
                <div class="video__responsive text-center">
                    <iframe width="355" height="200" src="https://www.youtube.com/embed/oq7g9y-NMTg"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="basic__section__subtitle pt__10 pb__15 ln__1-2">
                    Zrozumienie podstawowych typów wykresów
                </div>
                <div class="basic__section__paragraph">
                    Co to jest wykres? Jakie są najpopularniejsze typy wykresów? Czym się różnią? Czy wiesz, że
                    wszystkie rynki finansowe generują dane? Kliknij, aby zrozumieć różne sposoby wyświetlania danych.
                </div>
            </div>
            <div class="col-md-4">
                <div class="video__responsive text-center">
                    <iframe width="355" height="200" src="https://www.youtube.com/embed/91ubbh2ReIY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="basic__section__subtitle pt__10 pb__15 ln__1-2">
                    Czym jest pips na rynku forex?
                </div>
                <div class="basic__section__paragraph">
                    Pips lub procent w punkcie reprezentuje jednostkę zmiany pary walutowej, równą 1/100 części 1%.
                    Reprezentuje najmniejszy ruch cenowy, jaki może wykonać każdy kurs wymiany.
                </div>
            </div>
            <div class="col-md-12 pt__50">
                <div class="text-center p__20">
                    <a href="[[!getCultureURL]]/education/trading-courses/" class="common-btn active"> WSZYSTKIE
                        KURSY</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------- Most popular video courses area END ------------->


<style>
    .edu-text-elipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .edu-card-heading-center {
        height: 100px;
        line-height: 100px;
        text-align: center;

    }

    .edu-card-heading {
        line-height: 1.2;
        vertical-align: middle;
        display: inline-block;

    }

    .video__radius__10 {
        border-radius: 10px;
        width: auto;
        height: 200px;
        overflow: hidden;
    }

    .video__responsive {
        position: relative;
        padding-bottom: 56.25%;
        /* - 16:9 aspect ratio (most common) */
        /* padding-bottom: 62.5%; - 16:10 aspect ratio */
        /* padding-bottom: 75%; - 4:3 aspect ratio */
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

    .edu__mob__header_text {
        display: block;
        font-size: 12px;
        font-weight: 900;
        text-align: center;
    }

    .video__responsive iframe,
    .video__responsive object,
    .video__responsive embed {
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .pb__20__desk {
        padding-bottom: 20px;
    }
</style>