<!doctype html>
<html lang="en">

<head>
    <title>[[*longtitle:isequalto=``:then=`[[*pagetitle]] | FP Markets [[++lang_name]]`:else=`[[*longtitle]]
        [[++country_name:default=`[[++lang_name]]`]]`]]</title>

    [[!baseUrl]]
    <meta charset="[[++modx_charset]]" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link href="assets/templates/bootstrap.min.css" rel="stylesheet">

    <link href="assets/templates/v3/assets/css/all.min.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/44325f843e.js"></script>
    <link href="assets/templates/v3/assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/templates/v3/assets/css/simplyScroll.css?v=1.4" rel="stylesheet">
    <link href="assets/templates/v3/assets/css/style.css?v=3.1.4" rel="stylesheet">
    <link href="assets/templates/v3/assets/css/style_v3.css?v=2.5" rel="stylesheet">
    <link href="assets/templates/v3/assets/css/responsive.css?v=1.6" rel="stylesheet">
    <link href="assets/templates/v3/assets/css/new.css?v=7" rel="stylesheet">


    <link rel="alternate" hreflang="en" href="https://www.fpmarkets.com/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="en-AU" href="https://www.fpmarkets.com/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="en-GB" href="https://www.fpmarkets.com/uk/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="en-ZA" href="https://www.fpmarkets.com/za/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="en-IE" href="https://www.fpmarkets.com/ie/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="pt-BR" href="https://www.fpmarkets.com/br/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="pt" href="https://www.fpmarkets.com/br/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="en-CA" href="https://www.fpmarkets.com/ca/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="cs-CZ" href="https://www.fpmarkets.com/cz/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="cs" href="https://www.fpmarkets.com/cz/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="zh-CN" href="https://www.fpmarkets.com/cn/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="zh" href="https://www.fpmarkets.com/cn/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="de-DE" href="https://www.fpmarkets.com/de/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="de" href="https://www.fpmarkets.com/de/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="es-ES" href="https://www.fpmarkets.com/es/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="fr-FR" href="https://www.fpmarkets.com/fr/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="fr" href="https://www.fpmarkets.com/fr/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="el" href="https://www.fpmarkets.com/gr/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="id-ID" href="https://www.fpmarkets.com/id/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="id" href="https://www.fpmarkets.com/id/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="ar" href="https://www.fpmarkets.com/ar/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="it-IT" href="https://www.fpmarkets.com/it/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="it" href="https://www.fpmarkets.com/it/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="sw-KE" href="https://www.fpmarkets.com/ke/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="sw" href="https://www.fpmarkets.com/ke/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="ko-KR" href="https://www.fpmarkets.com/ko/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="ko" href="https://www.fpmarkets.com/ko/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="ms-MY" href="https://www.fpmarkets.com/ms/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="ms" href="https://www.fpmarkets.com/ms/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="pt-PT" href="https://www.fpmarkets.com/pt/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="pl-PL" href="https://www.fpmarkets.com/pl/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="pl" href="https://www.fpmarkets.com/pl/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="th" href="https://www.fpmarkets.com/th/[[~[[*id]]]]" />
    <link rel="alternate" hreflang="vi" href="https://www.fpmarkets.com/vi/[[~[[*id]]]]" />

    [[!+ss_meta.canonical]]


    [[!+ss_meta.meta_description]]
    [[!+ss_meta.robots]]
    [[!+ss_meta.og_title]]
    [[!+ss_meta.og_description]]
    [[!+ss_meta.og_image]]
    [[!+ss_meta.og_image_alt]]
    [[!+ss_meta.og_type]]
    [[!+ss_meta.twitter_site]]
    [[!+ss_meta.twitter_title]]
    [[!+ss_meta.twitter_description]]
    [[!+ss_meta.twitter_image]]
    [[!+ss_meta.twitter_image_alt]]
    [[!+ss_meta.twitter_card]]

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

</head>

<style>
    html {
        height: 100% !important;
    }

    body {
        min-height: 100% !important;
    }
</style>

<body>
    <div id="webterminal" style="width:100%;height:100vh;"></div>
    <script type="text/javascript" src="https://trade.mql5.com/trade/widget.js"></script>
    <script type="text/javascript">
        new MetaTraderWebTerminal("webterminal", {
            version: 5,
            servers: ["FPMarkets-Demo", "FPMarkets-Live"],
            server: "FPMarkets-Live",
            utmSource: "www.fpmarkets.com",
            demoAllServers: false,
            startMode: "login",
            language: "en",
            mobile: 1,
            colorScheme: "black_on_white"
        });
    </script>

</body>

</html>