<div class="container-fluid c1 hidden-xs">
    <div id="first-bg-section" class="container default-wd">
        <div class="col-md-12 padding-left-right-0-for-desktop">
            <ul class="list-align-for-first-sec">
                <li class="list-style-width-nor ">
                    <div>
                        <p class="first-sec-head">حتى 800 دولار</p>
                        <p class="first-sec-para">عمولة CPA <br>  للمنتسبين</p>
                    </div>
                </li>
                <li class="list-style-width-nor-inc list-style-border">
                    <div>
                        <p class="first-sec-head">اتفاقيات مصممة <br> خصيصًا </p>
                        <p class="first-sec-para">للوسطاء المعرفين</p>
                    </div>
                </li>
                <li class="list-style-width-nor list-style-border padding-top-20-for-mobile">
                    <div>
                        <p class="first-sec-head">دعم على مدار 24 ساعة</p>
                        <p class="first-sec-para">من الاثنين إلى الجمعة</p>
                    </div>
                </li>
                <li class="list-style-width-tran list-style-border padding-top-20-for-mobile">
                    <div>
                        <p class="first-sec-head">تقارير</p>
                        <p class="first-sec-para">شفافة  </p>
                    </div>
                </li>
                <li class="list-style-width-multi list-style-border padding-top-20-for-mobile">
                    <div>
                        <p class="first-sec-head">هيكل</p>
                        <p class="first-sec-para">متعدد <br> المستويات</p>
                    </div>
                </li>
                <li class="list-style-width-share list-style-border padding-top-20-for-mobile ">
                    <div>
                        <p class="first-sec-head">بوابات للوسيط المعرف <br> والمنتسبين</p>
                        <p class="first-sec-para">متطورة للغاية</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
[[$breadcrumb]]

<div class="container-fluid c2">
    <div id="forex-affiliate-program-section" class="container">
    <!-- <div class="container-fluid page-navi">
        <div class="row fb-cus-row">
            <div class="col-sm-12" style="margin-left:-40px;">
                <ol>
                    <li><a href="https://www.fpmarkets.com/ar/"><span style="color:#f82f4a"><u>FP Markets  </u></span></a></li>
                    <li style="padding-left:4px;padding-right:4px"> /</li>
                    <li><a href="https://global.fpmarkets.com/ar/fp-markets-partners/"><span style="color:#f82f4a"><u>الوسطاء المعرفين لدى FP Markets</u><br></span></a></li>
                </ol>
            </div>
        </div>
    </div> -->
    <div class="padding-top-60">
    <p class="hidden-xs section-head-font translation-block">مزايا برنامج المنتسبين و
    الوسطاء المعرفين</p>
    <p class="visible-xs section-head-font translation-block" style="padding-bottom: 0px;font-size:45px!important;margin-top: -30px;">مزايا برنامج المنتسبين و
    الوسطاء المعرفين</p>
    
    </div>
    <div class="center-align-div padding-left-right-20-for-first-section-mobile">
    <p class="section-para-font padding-top-30">كن شريكًا معنا باستخدام أحد أنجح برامج الشراكة في مجال التداول والذي تم تصميمه خصيصًا من أجل مكافأة الوسطاء المعرفين والشركاء الذين يقومون بإحالة العملاء لشركتنا وزيادة إمكاناتهم في الربح إلى أقصى حد ممكن من خلال المعدلات المرتفعة لتحويل العملاء المحتملين لعملاء فعليين وعدم وجود أي قيود على الحسابات المحالة أو أحجام التداول.</p>
    <p class="section-para-font padding-top-10">يتميز برنامج الشراكة الذي تقدمه FP Markets بأنه أحد أفضل برامج الوسطاء المعرفين والمنتسبين في السوق.</p>
    </div>
    <div class="row padding-top-50 padding-left-right-20-for-first-section-mobile padding-top-35-for-mobile">
    <div class="col-sm-4">
    <div class="three-cross-row-white-bg cs4173escrd1m">
    <div class="dis-fle">
    <span class="three-cross-row-align-image margin-first-image-align-for-two-card-section">
    <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-smart-Object-1.png">
    </span>
    <p class="section-two-para-font" id="headdig-textalign-right">تكنولوجيا متقدمة<br> تقوم بالتتبع في الوقت الفعلي <br>على مدار 24 ساعة<br> يوميًا/ 5 أيام أسبوعيًا<br> وتقارير متقدمة</p>
    </div>
    </div>
    </div>
    <div class="col-sm-4 padding-top-25-for-mobile">
    <div class="three-cross-row-white-bg" style=" padding-bottom: 60px; ">
    <div class="dis-fle">
    <span class="margin-image-align-for-two-card-section-1 cs4173frtabimgm">
    <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/icon-6.png">
    </span>
    <p class="section-two-para-font padding-para-align-for-two-card-section translation-block" id="headdig-textalign-right">متخصصون في التحويل
    على مدار الإسبوع</p>
    </div>
    </div>
    </div>
    <div class="col-sm-4 padding-top-25-for-mobile">
    <div class="three-cross-row-white-bg" style=" padding-bottom: 48px; ">
    <div class="dis-fle">
    <span class="three-cross-row-align-image cs4173frtabimgm">
    <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/icon-5.png">
    </span>
    <p class="section-two-para-font translation-block" id="headdig-textalign-right">دوات تسويقية بلغات <br>
    متعددة مناسبة للأجهزة <br>
    المحمولة وجاهزة للتحويل</p>
    </div>
    </div>
    </div>
    </div>
    
    <div class="row padding-top-40 padding-left-right-20-for-first-section-mobile padding-top-25-for-mobile-import">
    <div class="col-sm-4" >
    <div class="three-cross-row-white-bg" style=" padding-bottom: 54px; ">
    <div class="dis-fle">
    <span class="three-cross-row-align-image">
    <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/icon-4.png">
    </span>
    <p class="section-two-para-font translation-block" id="headdig-textalign-right">اتفاقيات مصممة <br>
     خصيصاً<br>
    وهياكل عمولات ذات<br>
     مستويات متعددة</p>
    </div>
    </div>
    </div>
    <div class="col-sm-4 padding-top-25-for-mobile">
    <div class="three-cross-row-white-bg">
    <div class="dis-fle">
    <span class="margin-image-align-for-two-card-section-2">
    <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/icon-3.png">
    </span>
    <p class="section-two-para-font padding-para-align-for-two-card-section translation-block" id="headdig-textalign-right">بوابة عميل <br>
    متطورة للغاية<br>
    للوسيطاء المعرفين و<br>
    المنتسبين</p>
    </div>
    </div>
    </div>
    <div class="col-sm-4 padding-top-25-for-mobile">
    <div class="three-cross-row-white-bg" style=" padding-bottom: 54px; ">
    <div class="dis-fle">
    <span class="three-cross-row-align-image">
    <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/icon-2.png">
    </span>
    <p class="section-two-para-font translation-block" id="headdig-textalign-right">دفعات سريعة <br>
    وسهلة <br>
    مع عمولات <br>
    سخية</p>
    </div>
    </div>
    </div>
    </div>
    </div>  
    </div>


    <div class="container-fluid c3">
        <div id="forex-broker-partners-section" class="container default-wd">
        <div>
        <p class="forex-white-font">برنامج الوسطاء المعرفين
            </p><div style="text-align:center;margin-top:20px;">
                    <a href="https://www.fpmarketspartners.com/ar/" target="_blank" style="background:#00bdff!important;" class="btn btn-lg btn-transparent-red">انضم الآن</a>
                    </div><p></p>
        </div>
        </div>
        </div>

        <div class="container-fluid c4">
            <div id="introducing-brokers-section" class="container default-wd">
            <div class="visible-xs" style="text-align:center;">
            <span>
            <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Layer-24-mobile.png">
            </span>
            </div>
            <div class="row">
            <div class="col-sm-6 padding-left-right-30-20-for-mobile ar-content-hide">
                <div class="ar-content-lt" style="display: none;">
                    <div>
                        <p class="normal-para-header-font hidden-xs translation-block">الوسطاء المعرفين</p>
                        <p class="normal-para-header-font visible-xs translation-block" style="text-align: center;">الوسطاء المعرفين</p>
                    </div>
                    <div class="padding-top-30 width-for-align">
                        <p class="normal-para-font">كن شريكًا مع FP Markets لتقدم لعملائك نظام تداول قوي وشروط تداول ممتازة ومجموعة واسعة من منتجات التداول من خلال عقود الفروقات على العملات والسلع والأسهم وغيرهم. تم إنشاء برنامج FP Markets للوسطاء المعرفين من أجل تحفيز الوسطاء المعرفين على إحالة العملاء لشركتنا. وتعتبر FP Markets شريكًا مثاليًا للوسطاء المعرفين من جميع الأحجام ومستويات الخبرة بفضل ما تقدمه الشركة من هيكل مكافآت تنافسي للغاية والذي يعتمد على حجم التداول بالإضافة إلى انخفاض عوائق دخول السوق.</p>
                        <div style="text-align:left;margin-top:20px;">
                        <a href="https://www.fpmarketspartners.com/ar/introducing-brokers/" target="_blank" style="background:#00bdff!important;" class="btn btn-lg btn-transparent-red">انضم الآن</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ar-content-show padding-lefttoright-60" style="display: block;">
                    <div>
                        <p class="normal-para-header-font hidden-xs translation-block" id="headdig-textalign-right">الوسطاء المعرفين</p>
                        <p class="normal-para-header-font visible-xs translation-block" style="text-align: center;">الوسطاء المعرفين</p>
                    </div>
                    <div class="padding-top-30 width-for-align">
                        <p class="normal-para-font">كن شريكًا مع FP Markets لتقدم لعملائك نظام تداول قوي وشروط تداول ممتازة ومجموعة واسعة من منتجات التداول من خلال عقود الفروقات على العملات والسلع والأسهم وغيرهم. تم إنشاء برنامج FP Markets للوسطاء المعرفين من أجل تحفيز الوسطاء المعرفين على إحالة العملاء لشركتنا. وتعتبر FP Markets شريكًا مثاليًا للوسطاء المعرفين من جميع الأحجام ومستويات الخبرة بفضل ما تقدمه الشركة من هيكل مكافآت تنافسي للغاية والذي يعتمد على حجم التداول بالإضافة إلى انخفاض عوائق دخول السوق.</p>
                        <div style="text-align:left;margin-top:20px;">
                        <a href="https://www.fpmarketspartners.com/ar/introducing-brokers/" target="_blank" style="background:#00bdff!important;" class="btn btn-lg btn-transparent-red">انضم الآن</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>


            <div class="container-fluid c5">
                <div id="affiliates-brokers-section" class="container default-wd">
                <div class="visible-xs" style="text-align:center;">
                <span>
                <img class="margin-align-for-differ-dev" src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Rectangle-19-mobile.png">
                </span>
                </div>
                <div class="row">
                <div class="col-sm-6">
                    <div class="ar-content-show padding-lefttoright-60" style="display: block;">
                        <div>
                            <p class="normal-para-header-white-font" id="headdig-textalign-right">برنامج المنتسبين</p>
                        </div>
                        <div class="padding-top-30 width-for-align">
                            <p class="normal-para-white-font" id="headdig-textalign-right">توفر FP Markets بنية تداول تحتية ذات مستوى عالمي للمتداولين في شتى أنحاء العالم. بصفتك أحد أعضاء برنامج المنتسبين الذي تقدمه شركة FP Markets، سيقوم موقعك الإلكتروني بتوجيه المتداولين إلى منصة التداول الخاصة بشركة FP Markets مما يتيح لك كسب عمولات ثابتة عندما يقوم عملائك بفتح حساب تداول ويبدأون بالتداول معنا. يتميز برنامجنا بأنه مناسب لمجموعة واسعة من المتخصصين العاملين على شبكة الإنترنت، بما في ذلك المدونين والمسوقين الرقميين والمسوقين عبر البريد الإلكتروني والمسوقين عبر الهواتف المحمولة والمشترين للمساحات الإعلانية المطبوعة والإلكترونية والمعلقين في وسائل التواصل الاجتماعي والناشرين للمواقع الإلكترونية.</p>
                            <div style="text-align:left;margin-top:20px;">
                            <a href="https://www.fpmarketspartners.com/ar/affiliates/" target="_blank" style="background:#00bdff!important;" class="btn btn-lg btn-transparent-red">انضم الآن</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 padding-left-70-for-dekstop  ar-content-hide">
                    <div class="ar-content-lt" style="display: none;">
                        <div>
                            <p class="normal-para-header-white-font">برنامج المنتسبين</p>
                        </div>
                        <div class="padding-top-30 width-for-align">
                            <p class="normal-para-white-font">توفر FP Markets بنية تداول تحتية ذات مستوى عالمي للمتداولين في شتى أنحاء العالم. بصفتك أحد أعضاء برنامج المنتسبين الذي تقدمه شركة FP Markets، سيقوم موقعك الإلكتروني بتوجيه المتداولين إلى منصة التداول الخاصة بشركة FP Markets مما يتيح لك كسب عمولات ثابتة عندما يقوم عملائك بفتح حساب تداول ويبدأون بالتداول معنا. يتميز برنامجنا بأنه مناسب لمجموعة واسعة من المتخصصين العاملين على شبكة الإنترنت، بما في ذلك المدونين والمسوقين الرقميين والمسوقين عبر البريد الإلكتروني والمسوقين عبر الهواتف المحمولة والمشترين للمساحات الإعلانية المطبوعة والإلكترونية والمعلقين في وسائل التواصل الاجتماعي والناشرين للمواقع الإلكترونية.</p>
                            <div style="text-align:left;margin-top:20px;">
                            <a href="https://www.fpmarketspartners.com/ar/affiliates/" target="_blank" style="background:#00bdff!important;" class="btn btn-lg btn-transparent-red">انضم الآن</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>

                <div class="container-fluid c6">
                    <div id="money-white-label-partnership-section" class="container default-wd">
                    <div class="row">
                    <div class="col-sm-4 padding-right-50-for-desktop padding-right-50-for-desktop-change">
                    <div class="card-three-white-bg card-three-white-bg-change height-for-desktop-mobile de-cs4173-heig-al">
                    <p class="normal-para-header-cent-font cs4173vitabh1 translation-block">مدراء الحسابات</p>
                    <p class="normal-para-card-font padding-top-30 cs4173vitab1p padding-top-70-Ol" id="headdig-textalign-right">يمزج برنامجنا لمديري الحسابات بين أسعار ECN والتخصيص المرن للصفقات لبرامج MAM و PAMM بالإضافة إلى أنه يمنحك القدرة على أن تقدم لعملائك حلول تداول مصممة خصيصًا حسب الطلب. ويتمتع مديري الحسابات بمرونة كبيرة فيما يتعلق بتحديد هوامش أرباحهم من الرسوم، بينما نتولى نحن جميع الأمور التقنية واللوجيستية للمكتب الخلفي. توفر FP Markets أسعار صافية خالية من هوامش الربح مع سيولة عميقة وفروقات أسعار ضيقة مما يتيح لمديري الحسابات الاستمتاع بأحجام ضخمة بالأسعار التي يطلبوها.</p>
                    </div>
                    </div>
                    <div class="col-sm-4 padding-right-50-for-desktop padding-right-50-for-desktop-change">
                    <div class="card-three-white-bg card-three-white-bg-change height-for-desktop-mobile de-cs4173-heig-al it-pad-bot-adjust">
                    <p class="normal-para-header-cent-font cs4173vitabh translation-block">شراكة<br>
                    العلامة البيضاء</p>
                    <p class="normal-para-card-font padding-top-30 cs4173eswhlbm cs4173frwhlbm cs4173vitab2p" id="headdig-textalign-right">سواء كنت وسيطًا مخضرم في الأسواق أو شركة ناشئة، تضمن لك شراكة العلامة البيضاء الاستفادة من الوصول إلى مستوى من التكنولوجيا والسيولة لا يمكن أن يقدمه إلا أكبر وسطاء العملات وعقود الفروقات. تم تصميم برنامج العلامة البيضاء الذي تقدمه FP Markets على نحو يستهدف نوعين من الشركات وهما: شركات الوساطة والشركات الناشئة.</p>
                    </div>
                    </div>
                    <div class="col-sm-4 padding-right-55-for-desktop padding-right-50-for-desktop-change">
                    <div class="card-three-white-bg card-three-white-bg-change pl-cs-al-4173-heg it-regional-pad-bots">
                    <p class="normal-para-header-cent-font cs4173vitabh translation-block">الشراكة<br>
                    الإقليمية</p>
                    <p class="normal-para-card-font padding-top-30 cs4173esregm cs4173frregm" id="headdig-textalign-right">حن نقدم أقل فروقات الأسعار وحلول تكنولوجية ممتازة لمتداولي عقود الفروقات والعملات في شتى أنحاء العالم. تسعى شركة FP Markets دائمًا لعقد شراكات مع شركات إقليمية مرموقة من أجل ترسيخ وجودنا في جميع أنحاء العالم. استفد من مزيج رائع يجمع بين سمعة FP Markets الطيبة ومجموعتها الواسعة من المنتجات مع معرفتك وشبكاتك المحلية لإنشاء تواجد إقليمي في أسواق عالمية جديدة مثيرة. كن شريكًا اليوم مع وسيط عقود فروقات موثوق</p>
                    </div>
                    </div>
                    </div>
                    <div class="padding-top-60 text-align-center" style=" display: flex; justify-content: center; ">
                    <p>
                    <a class="blue-button" href=" https://www.fpmarketspartners.com/ar/" target="_blank" rel="noopener noreferrer">تعرف أكثر على البرنامج</a>
                    </p>
                    </div>
                    </div>
                    </div>


                    <div class="container-fluid c7">
                        <div id="partners-receive-section" class="container default-wd">
                        <div class="text-align-center">
                        <p class="normal-para-header-cent-font translation-block">ما الذي سيحصل عليه شركائنا؟</p>
                        </div>
                        <div class="row padding-top-60 hidden-xs">
                        <div class="col-sm-2 last-section-border-right last-section-border-right-disable">
                        <div class="text-align-center">
                        <span>
                        <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-Smart-Object-6.png">
                        </span>
                        <p class="last-normal-para-font cs4173vifast cs4173vifast translation-block" style="padding-top: 17px;padding-bottom: 30px;">سرعة وسهولة
                        سحب العمولات</p>
                        </div>
                        </div>
                        <div class="col-sm-2 last-section-border-right">
                        <div class="text-align-center">
                        <span>
                        <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-Smart-Object-5.png">
                        </span>
                        <p class="last-normal-para-font cs4173vigen" style="padding-top: 7px;">هياكل<br> عمولات سخية <br>وذات مستويات متعددة</p>
                        </div>
                        </div>
                        <div class="col-sm-2 last-section-border-right">
                        <div class="text-align-center">
                        <span>
                        <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vecto-Smart-bject-4.png">
                        </span>
                        <p class="last-normal-para-font  padding-top-25 cs4173vimulti">أدوات تسويق<br> بلغات متعددة و <br>واجهة مستخدم لأجهزة الكمبيوتر</p>
                        </div>
                        </div>
                        <div class="col-sm-2 last-section-border-right">
                        <div class="text-align-center">
                        <span>
                        <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-Smart-Object-3.png">
                        </span>
                        <p class="last-normal-para-font cs4173vihigh translation-block" style="padding-top: 27px;">لافتات ملفتة و صفحات مخصصة</p>
                        </div>
                        </div>
                        <div class="col-sm-2 last-section-border-right">
                        <div class="text-align-center">
                        <span>
                        <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-Smart-Object-2.png">
                        </span>
                        <p class="last-normal-para-font cs4173viaust translation-block" style="padding-top: 15px;padding-bottom: 25px;">وسيط عالمي للتداول</p>
                        </div>
                        </div>
                        <div class="col-sm-2 last-section-border-right-able">
                        <div class="text-align-center">
                        <span>
                        <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-smart-Object-1.png">
                        </span>
                        <p class="last-normal-para-font translation-block" style="padding-top: 28px;">أدوات تحليل وتتبع متطورة وعصرية</p>
                        </div>
                        </div>
                        </div>
                        
                        <div class="visible-xs padding-left-right-20-for-mobile">
                        <div class="row padding-top-50-for-mobile">
                        <div class="col-sm-6 mobile-align-forlast bg-for-last-mobile">
                        <div class="text-align-center">
                        <span>
                        <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-Smart-Object-6.png">
                        </span>
                        <p class="last-normal-para-font translation-block" style="padding-top: 17px;padding-bottom: 30px;">سرعة وسهولة
                        سحب العمولات</p>
                        </div>
                        </div>
                        <div class="col-sm-6 mobile-align-forlast">
                        <div class="text-align-center">
                        <span>
                        <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-Smart-Object-5.png">
                        </span>
                        <p class="last-normal-para-font" style="padding-top: 7px;">هياكل<br> عمولات سخية<br> وذات مستويات متعددة</p>
                        </div>
                        </div>
                        </div>
                        <div class="row padding-top-30-for-mobile">
                        <div class="col-sm-6 mobile-align-forlast bg-for-last-mobile">
                        <div class="text-align-center">
                        <span>
                        <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vecto-Smart-bject-4.png">
                        </span>
                        <p class="last-normal-para-font" style="padding-top: 10px;">أدوات تسويق<br> بلغات متعددة و <br>واجهة مستخدم لأجهزة الكمبيوتر</p>
                        </div>
                        </div>
                        <div class="col-sm-6 mobile-align-forlast">
                        <div class="text-align-center">
                        <span>
                        <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-Smart-Object-3.png">
                        </span>
                        <p class="last-normal-para-font translation-block" style="padding-top: 13px;">لافتات ملفتة و صفحات مخصصة</p>
                        </div>
                        </div>
                        </div>
                        <div class="row padding-top-40-for-mobile">
                        <div class="col-sm-6 mobile-align-forlast bg-for-last-mobile">
                        <div class="text-align-center">
                        <span>
                        <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-Smart-Object-2.png">
                        </span>
                        <p class="last-normal-para-font translation-block" style="padding-top: 10px;">وسيط عالمي للتداول</p>
                        </div>
                        </div>
                        <div class="col-sm-6 mobile-align-forlast">
                        <div class="text-align-center">
                        <span>
                        <img src="/wp-content/themes/fptheme/int/image-2020/Partnerspage-new/Vector-smart-Object-1.png">
                        </span>
                        <p class="last-normal-para-font translation-block" style="padding-top: 22px;">أدوات تحليل وتتبع متطورة وعصرية</p>
                        </div>
                        </div>
                        </div>
                        
                        
                        </div>
                        </div>
                        </div>

<style>
    .btn-lg {
        padding: 13px 34px !important;
    }

    .height-for-desktop-mobile {
        min-height: 610px;
    }

    .list-style-width-tran {
        width: 25%;
    }

    .list-style-width-multi {
        width: 23%;
    }

    .list-style-width-share {
        width: 35%;
    }

    .padding-left-right-0-for-desktop {
        padding-left: 0px;
        padding-right: 0px;
    }

    .list-style-border {
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to left, #fff, rgba(255, 255, 255, 0.5), #fff) 1 100%;
        border-left: none;
        border-top: none;
        border-bottom: none;
    }

    .list-style-width-nor {
        width: 30%;
    }

    .list-style-width-nor-inc {
        width: 40%;
    }

    .list-align-for-first-sec {
        display: inline-flex;
        padding-left: 0px;
        padding-right: 0px;
        width: -webkit-fill-available;
        list-style-type: none;
    }

    #first-bg-section {
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .padding-para-align-for-two-card-section {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .margin-image-align-for-two-card-section-1 {
        margin-top: 10px;
        margin-right: 30px;

    }

    .margin-image-align-for-two-card-section-2 {
        margin-top: 15px;
        margin-right: 30px;
    }

    .normal-para-card-font {
        font-size: 18px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.50;
        letter-spacing: 0.18px;
        text-align: left;
        color: #2e3642;
    }

    .padding-right-55-for-desktop {
        padding-right: 55px;
    }

    .padding-right-50-for-desktop {
        padding-right: 50px;
    }

    #partners-receive-section {
        padding-top: 75px;
        padding-bottom: 80px;
    }

    .last-section-border-right {
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(to left, #fff, rgba(62, 73, 92, 0.2), #fff) 1 100%;
        border-left: none;
        border-top: none;
        border-bottom: none;
    }

    .last-normal-para-font {
        font-size: 18px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.51;
        letter-spacing: normal;
        text-align: center;
        color: #2e3642;
    }

    .text-align-center {
        text-align: center;
    }

    .blue-button {
        text-transform: uppercase;
        padding: 9px 20px !important;
        border-radius: 0px 10px 10px 10px;
        color: #fff;
        font-size: 20px;
        line-height: 25px;
        width: 250px !important;
        font-weight: 700;
        background-color: #00beff !important;
    }

    .card-three-white-bg {
        background-color: #ffffff;
        box-shadow: 0 0 20px 0 rgba(62, 73, 92, 0.07);
        border-radius: 0px 15px 15px 15px;
        margin: 0 auto;
        text-align: center;
        padding: 40px;
        padding-left: 30px;
        padding-right: 20px;
    }

    #money-white-label-partnership-section {
        padding-top: 70px;
        padding-bottom: 55px;
    }

    .c6 {
        background-image: url(/wp-content/themes/fptheme/image-2020/Partnerspage-new/Rectangle-16-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 60%;
    }

    .padding-left-70-for-dekstop {
        padding-left: 70px;
    }

    #affiliates-brokers-section {
        padding-top: 80px;
        padding-bottom: 70px;
    }

    .c5 {
        background-image: url(/wp-content/themes/fptheme/image-2020/Partnerspage-new/Group-350-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 60%;
    }

    .width-for-align {
        width: 440px;
    }

    .normal-para-header-white-font {
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }

    .normal-para-white-font {
        font-size: 18.5px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.51;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }

    .normal-para-header-font {
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #3e495c;
    }

    .normal-para-header-cent-font {
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #3e495c;
    }

    .normal-para-font {
        font-size: 18.5px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.51;
        letter-spacing: normal;
        text-align: left;
        color: #2e3642;
    }

    #introducing-brokers-section {
        padding-top: 80px;
        padding-bottom: 70px;
    }

    .c4 {
        background-image: url(/wp-content/themes/fptheme/image-2020/Partnerspage-new/Rectangle-12-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 60%;
    }

    #forex-broker-partners-section {
        padding-top: 45px;
        padding-bottom: 35px;
    }

    .c3 {
        background-color: #132339;
    }

    #forex-affiliate-program-section {
        padding-top: 20px;
        padding-bottom: 85px;
    }

    .forex-white-font {
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.45;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    .three-cross-row-white-bg {
        background-color: #ffffff;
        box-shadow: 0 0 20px 0 rgba(62, 73, 92, 0.07);
        border-radius: 0px 15px 15px 15px;
        margin: 0 auto;
        text-align: center;
        padding: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .three-cross-row-align-image {
        margin-top: 20px;
        margin-right: 30px;
    }

    .c2 {
        background-size: auto;
        background-image: url(/wp-content/themes/fptheme/image-2020/Partnerspage-new/Rectangle-6-desktop.png);
        background-position: center center;
        background-color: #eeeeee;
    }

    .padding-top-10 {
        padding-top: 10px;
    }

    .padding-top-20 {
        padding-top: 20px;
    }

    .padding-top-25 {
        padding-top: 25px;
    }

    .padding-top-30 {
        padding-top: 30px;
    }

    .padding-top-40 {
        padding-top: 40px;
    }

    .padding-top-50 {
        padding-top: 50px;
    }

    .padding-top-60 {
        padding-top: 60px;
    }

    .dis-fle {
        display: inline-flex;
    }

    .section-two-para-font {
        font-size: 18px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.39;
        letter-spacing: 0.18px;
        text-align: left;
        color: #2e3642;
    }

    .center-align-div {
        width: 800px;
        margin: 0 auto;
    }

    .section-para-font {
        font-size: 18.5px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.51;
        letter-spacing: normal;
        text-align: center;
        color: #2e3642;
    }

    .section-head-font {
        font-size: 44px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #3e495c;
    }

    u {
        font-size: 18.5px;
    }

    .first-sec-head {
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin-bottom: 0px;
    }

    .first-sec-para {
        font-size: 20px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    .c1 {
        background-image: linear-gradient(90deg, #152a4a 25%, #0888be 80%, #24c870 95%, #26cc68 97%);
    }

    .layer {
        background-color: rgba(0, 0, 0, 0);
    }

    .headerbg {
        background-position: 55% 55%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-transform: none !important;
        letter-spacing: normal !important;
    }

    .btn.btn-transparent-red {
        border: none;
        border-radius: 0 10px 10px 10px !important;
        font-size: 24px !important;
        font-weight: bold !important;
        font-stretch: normal !important;
        font-style: normal !important;
        letter-spacing: 0.98px !important;
        text-align: center !important;
        color: #ffffff !important;
    }

    .row.fb-cus-row {
        max-width: 1080px;
        margin: auto;
        position: relative;
        top: 10px;
    }

    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .container-fluid.page-navi li {
        float: left;
        text-align: center;
    }
    .ar-content-show.padding-lefttoright-60 {
        padding-right: 150px !important;
    }

    @media only screen and (max-width: 600px) {
        .ar-content-show.padding-lefttoright-60 {
        padding-right: 0px !important;
    }
        .height-for-desktop-mobile {
            height: auto;
        }

        .c1 {
            margin-top: -240px;
            background-image: none;
        }

        .list-style-border {
            border-width: 0px;
            background-image: url(/wp-content/themes/fptheme/image-2020/Partnerspage-new/color-right-mobile.png);
            background-repeat: no-repeat;
            background-size: 1px;
            background-position: 100%;

        }

        .list-style-width-nor,
        .list-style-width-tran,
        .list-style-width-multi,
        .list-style-width-share,
        .list-style-width-nor-inc {
            width: auto;
        }

        .list-align-for-first-sec {
            display: grid;
            grid-template-columns: auto auto;
        }

        .first-sec-head {
            font-size: 16px;
        }

        .first-sec-para {
            font-size: 16px;
        }

        .section.headerbg {
            background-image: url(/wp-content/themes/fptheme/image-2020/Partnerspage-new/hero-mobile.png) !important;
            z-index: 899 !important;
        }

        .headerbg {
            height: 680px !important;
        }

        .c2 {
            background-image: url(/wp-content/themes/fptheme/image-2020/Partnerspage-new/Rectangle-6-mobile.png) !important;
        }

        #forex-affiliate-program-section {
            padding-top: 30px;
            padding-bottom: 65px;
        }

        .padding-top-35-for-mobile {
            padding-top: 35px !important;
        }

        .section-para-font {
            text-align: right;
        }

        .center-align-div {
            width: auto;
        }

        .page-navi {
            display: none;
        }

        .margin-first-image-align-for-two-card-section {
            margin-left: 30px;
        }

        .margin-image-align-for-two-card-section-1 {
            margin-left: -10px;
        }

        .padding-top-25-for-mobile-import {
            padding-top: 25px !important;
        }

        .padding-left-right-20-for-first-section-mobile {
            padding-left: 20px;
            padding-right: 20px;
        }

        #forex-broker-partners-section {
            padding-top: 50px;
            padding-bottom: 40px;
        }

        .forex-white-font {
            line-height: 40px;
        }

        #introducing-brokers-section {
            padding-top: 0px;
            padding-bottom: 45px;
        }

        .c4 {
            background-image: none !important;
        }

        .padding-left-right-30-20-for-mobile {
            padding-left: 30px;
            padding-right: 20px;
        }

        #affiliates-brokers-section {
            padding-top: 0px;
            padding-bottom: 55px;
        }

        .normal-para-header-white-font {
            text-align: center;
        }

        .width-for-align {
            width: auto !important;
        }

        .padding-left-70-for-dekstop {
            padding-left: 30px !important;
            padding-right: 30px;
        }

        .c6 {
            background-image: url(/wp-content/themes/fptheme/image-2020/Partnerspage-new/Rectangle-16-mobile.png) !important;
            z-index: 9;
            position: relative;
        }

        #money-white-label-partnership-section {
            padding-top: 30px;
            padding-bottom: 65px;
        }

        .card-three-white-bg {
            padding-left: 20px;
        }

        .padding-right-55-for-desktop {
            padding-right: 30px !important;
            padding-left: 30px;
            margin-top: 30px;
        }

        .padding-right-50-for-desktop {
            padding-right: 30px !important;
            padding-left: 30px;
            margin-top: 30px;
        }

        .blue-button {
            padding: 9px 15px !important;
            font-size: 19px;
        }

        #partners-receive-section {
            padding-top: 65px;
            padding-bottom: 55px;
        }

        .bg-for-last-mobile {
            background-image: url(/wp-content/themes/fptheme/image-2020/Partnerspage-new/border-right-mobile.png);
            background-repeat: no-repeat;
            background-size: 1px;
            background-position: 100%;
        }

        .padding-top-10-for-mobile {
            padding-top: 10px;
        }

        .padding-top-20-for-mobile {
            padding-top: 20px;
        }

        .padding-top-25-for-mobile {
            padding-top: 25px;
        }

        .padding-top-30-for-mobile {
            padding-top: 30px;
        }

        .padding-top-40-for-mobile {
            padding-top: 40px;
        }

        .padding-top-50-for-mobile {
            padding-top: 50px;
        }

        .padding-top-60-for-mobile {
            padding-top: 60px;
        }

        .container-fluid {
            margin-left: 0px !important;
            margin-right: 0px !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        body,
        html {
            overflow-x: hidden !important;
        }

        .mobile-align-forlast {
            width: 50%;
            max-width: 100%;
            float: left;
            margin: 0px;
            padding: 0px;
        }

        .padding-left-right-20-for-mobile {
            padding-left: 20px;
            padding-right: 20px;
        }

    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 667px) and (min-device-width: 375px) {
        .margin-align-for-differ-dev {
            margin-bottom: -490px;
        }

        .headerbg {
            background-position: 55% 130% !important;
        }
    }

    @media only screen and (max-width: 767px) and (min-width: 411px) {
        .margin-align-for-differ-dev {
            margin-bottom: -510px;
        }

        .headerbg {
            background-position: 55% 110% !important;
        }
    }
</style>



<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: 0;
        text-transform: unset;
    }

    @media only screen and (max-width: 600px) {
        a.btn-account {
            margin-left: 50px !important;
            ;
            margin-right: 50px !important;
            ;
        }

        .mobile-container {
            display: block !important;
        }

        .navbar-header {
            padding-right: 20px !important;
        }

        div#register-now {
            padding-left: 12px;
            padding-right: 12px;
        }

        .section.nomarginmobile.footer-links div {
            text-align: center !important;
        }

        .col-md-6.col-xs-6.dropdown {
            padding-left: 20px !important;
        }

        .col-md-6.col-xs-6.pxmobilef.font12.text-right {
            padding-right: 22px !important;
        }

        .margin60.col-md-12.text-left.footer-intro.font12 {
            padding-left: 25px !important;
            padding-right: 25px !important;
        }

        .registration p {
            color: white !important;
        }

        .nav-icon {
            margin: 1em;
            width: 40px;
            margin-top: -9px;
            margin-right: 1px;

        }

        .nav-icon:after,
        .nav-icon:before,
        .nav-icon div {
            background: linear-gradient(to right, rgb(-140, 134, 171) 55%, #26cc68);
            border-radius: 3px;
            content: '';
            display: block;
            height: 2px;
            margin: 11px 0px;
            transition: all .2s ease-in-out;
        }

        div#el-11d961c2 {
            margin-bottom: 68px !important;
        }

        #el-4923d651[data-vce-do-apply*=all][data-vce-do-apply*=el-4923d651] {
            padding-bottom: 104px !important;
        }

        .only-on-mobile {
            display: block !important;
        }

        #el-4ae40169>.vce-col-inner>.vce-col-content {
            padding-right: 18px !important;
        }

        .vce-single-image-inner.vce-single-image--absolute {
            padding-right: 20px !important;
        }

        #el-0d5c28f5[data-vce-do-apply*=all][data-vce-do-apply*=el-0d5c28f5] {
            margin-left: -20px !important;
        }

        p.third-head-sec {
            margin-left: 32px !important;
        }

        div#el-4c4559f7 {
            margin-left: -18px !important;
        }

        div#el-82367445 {
            margin-top: -97px !important;
        }

        div#el-c633099b {
            margin-top: -60px !important;
        }

        #el-e9436ba9[data-vce-do-apply*=all][data-vce-do-apply*=el-e9436ba9] {
            padding-top: 0px !important;
        }

        div#el-7790f85e {
            margin-top: -19px !important;
        }

        #el-832c5bbf {
            margin-top: 24px !important;
        }

        a.navbar-brand {
            padding-left: 18px !important;
        }

        .whitedown {
            margin-left: 178px !important;
        }
    }


    @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
        a.navbar-brand img {
            width: 206px !important;
        }

        .img-align-nav {
            height: 40px !important;
        }

        #el-a4b6ced5 {
            padding-right: 55px !important;
            padding-left: 0px !important;
        }

        #el-0a7659c4>figure>.vce-single-image-inner.vce-single-image--absolute>.vce-single-image {
            min-width: 130% !important;
        }

        #el-0e8a640e,
        #el-a4b6ced5 {
            padding-right: 50px !important;
        }

        p.third-head-sec {
            margin-left: 5px !important;
            margin-right: 44px !important;
        }

        p.third-sec-text {
            margin-right: 14px !important;
        }

    }


    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
        a.navbar-brand img {
            width: 164px !important;
        }

        .img-align-nav {
            height: 35px !important;
        }

        .title.mobile-title-3 p {
            font-size: 30px !important;
        }

        .colms-title1mt4 {
            font-size: 15px !important;
        }

        .blue-button-last-section {
            font-size: 17px !important;
        }
    }

    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {
        a.navbar-brand img {
            width: 214px !important;
        }

    }

    .hidden-xs.mob-hei {
        padding-top: 20px;
    }
</style>


<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: 0;
        text-transform: unset;
    }

    @media only screen and (max-width: 600px) {
        .margin-align-for-differ-dev {
            margin-bottom: -490px;
        }

        a.btn-account {
            margin-left: 50px !important;
            ;
            margin-right: 50px !important;
            ;
        }

        .mobile-container {
            display: block !important;
        }

        .navbar-header {
            padding-right: 20px !important;
        }

        div#register-now {
            padding-left: 12px;
            padding-right: 12px;
        }

        .section.nomarginmobile.footer-links div {
            text-align: center !important;
        }

        .col-md-6.col-xs-6.dropdown {
            padding-left: 20px !important;
        }

        .col-md-6.col-xs-6.pxmobilef.font12.text-right {
            padding-right: 22px !important;
        }

        .margin60.col-md-12.text-left.footer-intro.font12 {
            padding-left: 25px !important;
            padding-right: 25px !important;
        }

        .registration p {
            color: white !important;
        }

        .nav-icon {
            margin: 1em;
            width: 40px;
            margin-top: -9px;
            margin-right: 1px;

        }

        .nav-icon:after,
        .nav-icon:before,
        .nav-icon div {
            background: linear-gradient(to right, rgb(-140, 134, 171) 55%, #26cc68);
            border-radius: 3px;
            content: '';
            display: block;
            height: 2px;
            margin: 11px 0px;
            transition: all .2s ease-in-out;
        }

        div#el-11d961c2 {
            margin-bottom: 68px !important;
        }

        #el-4923d651[data-vce-do-apply*=all][data-vce-do-apply*=el-4923d651] {
            padding-bottom: 104px !important;
        }

        .only-on-mobile {
            display: block !important;
        }

        #el-4ae40169>.vce-col-inner>.vce-col-content {
            padding-right: 18px !important;
        }

        .vce-single-image-inner.vce-single-image--absolute {
            padding-right: 20px !important;
        }

        #el-0d5c28f5[data-vce-do-apply*=all][data-vce-do-apply*=el-0d5c28f5] {
            margin-left: -20px !important;
        }

        p.third-head-sec {
            margin-left: 32px !important;
        }

        div#el-4c4559f7 {
            margin-left: -18px !important;
        }

        div#el-82367445 {
            margin-top: -97px !important;
        }

        div#el-c633099b {
            margin-top: -60px !important;
        }

        #el-e9436ba9[data-vce-do-apply*=all][data-vce-do-apply*=el-e9436ba9] {
            padding-top: 0px !important;
        }

        div#el-7790f85e {
            margin-top: -19px !important;
        }

        #el-832c5bbf {
            margin-top: 24px !important;
        }

        a.navbar-brand {
            padding-left: 18px !important;
        }

        .whitedown {
            margin-left: 178px !important;
        }
    }


    @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
        a.navbar-brand img {
            width: 206px !important;
        }

        .img-align-nav {
            height: 40px !important;
        }

        #el-a4b6ced5 {
            padding-right: 55px !important;
            padding-left: 0px !important;
        }

        #el-0a7659c4>figure>.vce-single-image-inner.vce-single-image--absolute>.vce-single-image {
            min-width: 130% !important;
        }

        #el-0e8a640e,
        #el-a4b6ced5 {
            padding-right: 50px !important;
        }

        p.third-head-sec {
            margin-left: 5px !important;
            margin-right: 44px !important;
        }

        p.third-sec-text {
            margin-right: 14px !important;
        }

    }


    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
        a.navbar-brand img {
            width: 164px !important;
        }

        .img-align-nav {
            height: 35px !important;
        }

        .title.mobile-title-3 p {
            font-size: 30px !important;
        }

        .colms-title1mt4 {
            font-size: 15px !important;
        }

        .blue-button-last-section {
            font-size: 17px !important;
        }
    }

    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {
        a.navbar-brand img {
            width: 214px !important;
        }

    }

    .hidden-xs.mob-hei {
        padding-top: 20px;
    }
</style>