[[$breadcrumb]]


<div class="container text__align__center p__50">
    <div class="thank_you_font">
        <h1 style="color: #05ADEF !important;">Thank you for signing up!!
        </h1>
    </div>

</div>

<div class="container text__align__center pb__50">
    <div class="thank_you_font">
        <a href="vi/" class="home-page-btn btn">
            HOMEPAGE
        </a>
    </div>

</div>
<style>
    .thank_you_font {
        font-size: 40px;
        color: #05ADEF !important;
        font-weight: 700;
    }

    .home-page-btn {
        background-color: #05ADEF;
        color: #ffffff;
        font-size: 30px;
        font-weight: 700;

    }
</style>