<!--------- SECONDARY NAVBAR Offcanvas area start --------->
<div class="offcanvas-area secondary__navbar__offcanvas bg__light__gray">
    <div class="secondary__navbar__offcanvas__menu__close">
        <i class="fal fa-times"></i>
    </div>
    <div class="secondary__navbar__offcanvas__menu offcanvas-menu bg__light__gray">
        <div class="secondary__navbar__mob__menu">
            <ul class="d-block secondary__navbar__canvas">
                <li>
                    <a class="secondary__navbar__menu__category" href="[[!getCultureURL]]/education/"> Đào tạo </a>
                </li>
                <li>
                    <a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/trading-courses/">CÁC KHÓA HỌC GIAO DỊCH</a>
                </li>
                <li>
                    <a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/trading-guides/">HƯỚNG DẪN GIAO DỊCH</a>
                </li>
                <li><a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/trading-webinars/">LIVEWEBINARS</a></li>
                <li><a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/podcasts/">Podcasts</a></li>
                <li><a class="secondary__navbar__menu__category" href="[[!getCultureURL]]/education/events/">SỰ KIỆN</a>
                </li>
                <li><a class="secondary__navbar__menu__category"
                        href="[[!getCultureURL]]/education/platform-tutorials/">MẶT BẰNG NỀN TẢNG</a></li>
                <li><a class="secondary__navbar__menu__category" href="[[!getCultureURL]]/education/ebooks/">SÁCH</a>
                </li>
                <li><a class="secondary__navbar__menu__category" href="[[!getCultureURL]]/education/glossary/">Thuật ngữ giao dịch</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="offcanvas-overlay"></div>
<!--------- SECONDARY NAVBAR Offcanvas area end ----------->


<!---------- Mobile SECONDARY NAVBAR Header start ------------>
<header class="secondary__navbar__mobile__header bg__light__gray">
    <div class="container d-flex align-items-center justify-content-between p__10">
        <div class="header__right d-flex align-items-center justify-content-between">

            <div class="secondary__navbar__menu__open">
                <div class="secondary__navbar__menu__icon">
                    <i class="far fa-bars"></i>
                </div>
                <span class="secondary__navbar__mob__header_text">
                    MENU
                </span>

            </div>
        </div>
</header>
<!---------- Mobile SECONDARY NAVBAR Header END   ------------>

<!------------- SECONDARY NAVBAR Secondary Navbar Desktop START ------------>
<div class="container-fluid secondary__navbar__nav bg__light__gray">
    <div class="container">
        <div class="text__align__center bg__light__gray collapse navbar-collapse" style="text-align: -webkit-center;">
            <ul class="general__secondary__navbar__nav bg__light__gray collapse collapse navbar-collapse">
                <li class="active">
                    <a href="[[!getCultureURL]]/education/"><i class="fas fa-home fa-2x"> </i></a>
                </li>
                <li>
                    <a href="[[!getCultureURL]]/education/trading-courses/">CÁC KHÓA HỌC GIAO DỊCH</a>
                </li>
                <li>
                    <a href="[[!getCultureURL]]/education/trading-guides/">HƯỚNG DẪN GIAO DỊCH</a>
                </li>
                <li><a href="[[!getCultureURL]]/education/trading-webinars/"> LIVEWEBINARS</a></li>
                <li><a href="[[!getCultureURL]]/education/podcasts/">Podcasts</a></li>
                <li><a href="[[!getCultureURL]]/education/events/">SỰ KIỆN</a></li>
                <li><a href="[[!getCultureURL]]/education/platform-tutorials/">MẶT BẰNG NỀN TẢNG</a></li>
                <li><a href="[[!getCultureURL]]/education/ebooks/">SÁCH</a></li>
                <li><a href="[[!getCultureURL]]/education/glossary/">Thuật ngữ giao dịch</a></li>
            </ul>
        </div>
    </div>
</div>
<!------------- SECONDARY NAVBAR Desktop END -------------->



[[$breadcrumb]]

<!--------- EDUCATION  What can you learn START ------------->
<section class="basic__section__norm bg__white">
    <div class="container">
        <div class="row p__20">
            <div class="col-md-12 pb__50 text__align__center">
                <span class="basic__section__title ">
                    <span class="fw__boldest">Bạn có thể học gì trong Học viện?</span>
                </span>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            GIAO DỊCH
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        FP Markets cung cấp một số video giáo dục, có cấu trúc theo hướng dẫn từng bước đơn giản cho
                        những
                        ai muốn học cách giao dịch và đầu tư vào thị trường tài chính.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/trading-courses/" class="common-btn active">TÌM HIỂU
                            THÊM</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Hội thảo trực <br>tiếp trên web
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Với tư cách là Nhà môi giới Forex &amp; CFD toàn cầu từ năm 2005, chúng tôi hiểu giá trị của
                        Giáo dục và Kiến thức.
                        Các hội thảo trực tiếp trên web của chúng tôi bao gồm nhiều chủ đề giao dịch và đầu tư, mang đến
                        cho bạn một môi trường đa ngôn ngữ.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/trading-webinars/" class="common-btn active">TÌM HIỂU
                            THÊM</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Podcasts
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Chuỗi Podcast FP Markets cung cấp cho khách hàng một phương pháp học rõ ràng và ngắn gọn thông
                        qua việc lắng nghe.
                        Các chuyên gia của chúng tôi sẽ giống như một học viện âm thanh trong túi bạn, giải thích mọi
                        thứ bạn cần
                        biết về giao dịch thị trường.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/podcasts/" class="common-btn active">TÌM HIỂU THÊM</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            SỰ KIỆN
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Sự kiện FP Markets cung cấp một cách dễ dàng để có được thông tin chi tiết về thị trường.
                        Học cách giao dịch và tận dụng các cơ hội giao dịch độc quyền. Nâng cao hiểu biết về ngoại
                        hối của bạn và là người đầu tiên biết về một số sản phẩm mới nhất hiện có trên thị trường.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/events/" class="common-btn active">TÌM HIỂU THÊM</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Hướng dẫn nền tảng
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Hiểu cách nền tảng giao dịch của bạn hoạt động là rất quan trọng để thành công trong giao dịch.
                        Các chuyên gia trong ngành của chúng tôi cung cấp các hướng dẫn dễ làm theo, giúp điều hướng nền
                        tảng dễ dàng.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/platform-tutorials/" class="common-btn active">TÌM HIỂU
                            THÊM</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            SÁCH
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Hãy để sách điện tử giao dịch miễn phí của chúng tôi đưa giao dịch của bạn lên một tầm cao mới.
                        Từ các khái niệm cơ bản đến các ứng dụng nâng cao, chúng tôi đã giúp bạn.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/ebooks/" class="common-btn active">TÌM HIỂU THÊM</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Thuật ngữ giao dịch
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Thuật ngữ giao dịch có thể gây nhầm lẫn. Đây là lý do tại sao FP Markets cung
                        cấp một danh sách toàn diện các định nghĩa sẽ giúp bạn hiểu ngay cả những thuật ngữ phức tạp
                        nhất.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/glossary/" class="common-btn active">TÌM HIỂU THÊM</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col__pb__20__mob pb__20__desk">
                <div class="card bg__light__gray p__20 br__15">
                    <div class="text-center basic__section__subtitle fw__bold pb__10 edu-card-heading-center">
                        <div class="edu-card-heading">
                            Hướng dẫn giao dịch
                        </div>
                    </div>
                    <div class="text-left basic__section__paragraph edu-text-elipsis">
                        Mỏ trình duyệt FP Markets với nhiều hướng dẫn giao dịch và tự tìm hiểu về thị trường ngoại hối.
                    </div>
                    <div class="text-center p__20">
                        <a href="[[!getCultureURL]]/education/trading-guides/" class="common-btn active">TÌM HIỂU
                            THÊM</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------- EDUCATION  What can you learn END --------------->


<!--------- Most popular video courses area START ----------->
<section class="basic__section__norm bg__light__gray">
    <div class="container">
        <div class="row p__10">
            <div class="col-md-12">
                <div class="text__align__center pb__50">
                    <span class="basic__section__title fw__boldest text__dark">
                        <span class="fw__light"> Các khóa học video phổ biến nhất</span>
                    </span>
                </div>
            </div>
            <div class="col-md-4 col__pb__20__mob">
                <div class="video__responsive text-center">
                    <iframe width="355" height="200" src="https://www.youtube.com/embed/_7ghJmBrDIc"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="basic__section__subtitle pt__10 pb__15 ln__1-2">
                    Các cặp tiền tệ: Tìm hiểu cách tiền tệ hoạt động trong ngoại hối
                </div>
                <div class="basic__section__paragraph">
                    Thị trường ngoại hối hoạt động theo cách của các cặp tiền tệ. Để đơn giản hơn,
                    hãy nghĩ nó giống như việc so sánh giá trị của một loại tiền tệ này với giá trị
                    của loại tiền tệ khác, dưới dạng một báo giá.
                </div>
            </div>
            <div class="col-md-4 pb__20__mob col__pb__20__mob">
                <div class="video__responsive text-center">
                    <iframe width="355" height="200" src="https://www.youtube.com/embed/oq7g9y-NMTg"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="basic__section__subtitle pt__10 pb__15 ln__1-2">
                    Hiểu các loại biểu đồ cơ bản
                </div>
                <div class="basic__section__paragraph">
                    Biểu đồ là gì? Các loại biểu đồ phổ biến nhất là gì? Chúng khác nhau như thế nào?
                    Bạn có biết rằng tất cả các thị trường tài chính đều tạo ra dữ liệu? Nhấp để hiểu
                    các Cách khác nhau Dữ liệu được hiển thị.
                </div>
            </div>
            <div class="col-md-4">
                <div class="video__responsive text-center">
                    <iframe width="355" height="200" src="https://www.youtube.com/embed/91ubbh2ReIY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="basic__section__subtitle pt__10 pb__15 ln__1-2">
                    Pip trong thị trường ngoại hối là gì?
                </div>
                <div class="basic__section__paragraph">
                    Một pip, hoặc phần trăm tính bằng điểm, đại diện cho đơn vị thay đổi của một cặp tiền tệ,
                    bằng 1/100 của 1%. Nó đại diện cho biến động giá nhỏ nhất mà bất kỳ tỷ giá hối đoái nào có thể thực
                    hiện.
                </div>
            </div>
            <div class="col-md-12 pt__50">
                <div class="text-center p__20">
                    <a href="[[!getCultureURL]]/education/trading-courses/" class="common-btn active"> TẤT CẢ CÁC KHÓA
                        HỌC</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------- Most popular video courses area END ------------->


<style>
    .edu-text-elipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .edu-card-heading-center {
        height: 100px;
        line-height: 100px;
        text-align: center;

    }

    .edu-card-heading {
        line-height: 1.2;
        vertical-align: middle;
        display: inline-block;

    }

    .video__radius__10 {
        border-radius: 10px;
        width: auto;
        height: 200px;
        overflow: hidden;
    }

    .video__responsive {
        position: relative;
        padding-bottom: 56.25%;
        /* - 16:9 aspect ratio (most common) */
        /* padding-bottom: 62.5%; - 16:10 aspect ratio */
        /* padding-bottom: 75%; - 4:3 aspect ratio */
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

    .edu__mob__header_text {
        display: block;
        font-size: 12px;
        font-weight: 900;
        text-align: center;
    }

    .video__responsive iframe,
    .video__responsive object,
    .video__responsive embed {
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .pb__20__desk {
        padding-bottom: 20px;
    }
</style>