<div class="container-fluid csf1 bottom-divider">
    <div id="apple-inc-widget-first-section" class="container">
        <div class="row pad-left-right-15-for-mobile">

            <div class="col-md-8">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container" style="width:100%; margin:0 auto;">
                    <div id="tradingview_e536c"></div>
                    <!-- <div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com/symbols/AAPL/" rel="noopener" target="_blank"><span class="blue-text">Apple</span></a> by TradingView</div> -->
                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                    <script type="text/javascript">
                        new TradingView.MediumWidget(
                            {
                                "symbols": [
                                    [
                                        "NYSE:AZO|12M"
                                    ]
                                ],
                                "chartOnly": false,
                                "width": "100%",
                                "height": 400,
                                "locale": "uk",
                                "colorTheme": "light",
                                "gridLineColor": "rgba(240, 243, 250, 0)",
                                "trendLineColor": "rgba(33, 150, 243, 1)",
                                "fontColor": "#787B86",
                                // "underLineColor": "rgba(33, 150, 243, 0.3)",
                                "underLineBottomColor": "rgba(33, 150, 243, 0.0)",
                                "isTransparent": false,
                                "autosize": false,
                                "container_id": "tradingview_e536c"
                            }
                        );
                    </script>


                </div>
                <!-- TradingView Widget END -->


                <!-- TradingView Widget BEGIN -->

                <!-- TradingView Widget END -->
            </div>


            <div class="col-md-4">
                [[$shares-search-box]]
            </div>
        </div>
    </div>
</div>


<div class="container-fluid csf2">
    <div id="apple-inc-widget-second-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <div class="col-md-6 pad-right-40">
                <div>
                    <p class="apple-profile-hd-font-sect">Autozone Inc (AZO) Profile</p>
                    <div class="">
                        <!--<p class="apple-profile-semi-head-font" style="margin-bottom:3px;">Sector: <span style="font-weight: bold;">British financial institution</span></p>-->
                        <!-- <p class="apple-profile-semi-head-font" style="margin-bottom:3px;">Industry: <span style="font-weight: bold;"> Telecommunications Equipment</span></p> -->
                        <!-- <p class="apple-profile-semi-head-font" style="margin-bottom:0px;">Employees: <span style="font-weight: bold;">65000</span></p>-->
                    </div>
                    <p class="norml-par-font padding-top-20">Autozone Inc (AZO.xnys) is an aftermarket automotive parts
                        and accessories retailer headquartered in Memphis, Tennessee, United States. AutoZone has 5,975
                        stores in the United States, 47 stores in Brazil and 635 in Mexico for a total store count of
                        6,657 and employs 87,000 people. AutoZone is the largest of its kind in the US, carrying an
                        extensive product line for cars, sport utility vehicles, vans and light trucks, including new
                        and remanufactured automotive hard parts, maintenance items, accessories, and non-automotive
                        products. The company’s private-label brands are Valucratft, Duralast, and Duralast Gold for
                        lead-acid automotive batteries. The AutoZone Inc <a href="share-cfds/">stock</a> (AZO) is
                        listed on the New York Stock Exchange (NYSE), had a market capitalisation of $40.60B (USD) as of
                        January 2022 and $12.63B (USD) in 2020 yearly revenues. In late 2021, AutoZone announced its
                        Board of Directors authorised the repurchase of an additional $1.5B (USD) of its common stock in
                        connection with its ongoing share repurchase program. Since the inception of the repurchase
                        program in 1998, and including the above amount, AutoZone’s Board of Directors has authorised
                        $29.2B (USD) in share repurchases.</p>
                </div>
            </div>
            <div class="col-md-6 pad-left-40 margin-top-for-table-align">
                <div>
                    <div class="pad-for-table-align padding-top-30-for-mobile">
                        <div class="nctable scroll-bar-for-table">
                            <table>
                                <tbody>
                                    <tr class="table-row-head">
                                        <th colspan="4" class="header-font-table-rf">Holding cost</th>
                                    </tr>
                                    <tr style="height: 70px;">
                                        <td class="table-normal-font" style="padding-left: 30px;">Long<br><span
                                                style="font-weight:300;">-5%</span></td>
                                        <td class="table-normal-font">Short<br><span
                                                style="font-weight:300;">-2.5%</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="padding-top-20 pad-for-table-align">
                        <div class="nctable scroll-bar-for-table">
                            <table>
                                <thead>
                                    <tr class="table-row-head">
                                        <th colspan="4" style="    padding-left: 20px;" class="header-font-table-rf">
                                            Trading hours in US Eastern Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="height: 75px;background-color:#eeeeee;">
                                        <td class="table-normal-font" style="padding-left: 30px;">Fri<br><span
                                                style="font-weight:300;">16:30-23:00</span></td>
                                        <td class="table-normal-font">Mon<br><span
                                                style="font-weight:300;">16:30-23:00</span></td>
                                        <td class="table-normal-font">Tue<br><span
                                                style="font-weight:300;">16:30-23:00</span></td>
                                        <td class="table-normal-font">Wed<br><span
                                                style="font-weight:300;">16:30-23:00</span></td>
                                    </tr>
                                    <tr style="height: 75px;">
                                        <td class="table-normal-font" style="padding-left: 30px;">Thu<br><span
                                                style="font-weight:300;">16:30-23:00</span></td>
                                        <td class="table-normal-font">Sun<br><span
                                                style="font-weight:300;">Closed</span></td>
                                        <td class="table-normal-font">Sat<br><span
                                                style="font-weight:300;">Closed</span></td>
                                        <td class="table-normal-font"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-bg-darkgray container-fluid">
    <div id="blue-button-section" class="container open-account">
        <div class="d-flex">
            <p class="hidden-xs" style="padding-right:50px;">Start Trading Autozone Inc (AZO) with a Market Leader Today
            </p>
            <p class="visible-xs"
                style="line-height: 40px !important;margin-top: -10px;font-size:29px !important;text-align: center;margin-bottom: 20px;">
                Start Trading Autozone Inc (AZO)<br> with a Market Leader Today</p>
            <a href="[[!portalUrl]]register/" class="btn-account">Open a live account</a>
        </div>
    </div>
</div>

[[$faqshares]]
<?php include 'pages/globals/instruments-global-footer.html';?>