[[$head]]

<body>

    [[$header_inner_[[!entity]][[!getCulture]]]]




    <!--------- Main area start --------->
    <main class="main">

        <!--Image Section-->
        <div class="section" style="margin-top: 60px; padding-top: 35px; padding-bottom: 35px;">
            <div class="container">
                <div class="row" style="text-align: center;">
                    <div class="col-md-12">
                        <div class="first-section">
                            <img src="assets/templates/v3/assets/img/404-error-device.jpg" class="error-img"
                                alt="404 error page">
                            <br>
                            <h2 id="msg-text"> This page is not available but don't worry, <b> we are!</b></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Search Input Section-->

        <div class="section" style="margin-top: 60px;">
            <div class="container">
                <div class="col-md-12">
                    <div class="col-md-offset-1 col-md-10">
                        [[SimpleSearchForm? &landing=`1071` &tpl=`search_input`]]

                        <div class="clear"></div>
                        <br><br><br>
                        <p>
                            <a href="[[~1055]]" class="search-msg">Forex Trading,</a>
                            <a href="[[!portalUrl]]/register" class="search-msg">Open Account, </a>
                            <a href="[[~1019]]" class="search-msg">CFD Trading</a>
                        </p>
                    </div>
                    <div class="clear" style="clear:both;"></div>
                </div>
                <div class="clear" style="clear:both;"></div>
            </div>
        </div>


        <!--Trade with FP Markets-->
        <div class="section"
            style="margin-top: 60px; margin-bottom: 60px; position: relative; padding-top: 35px; padding-bottom: 35px;">
            <div class="container">
                <div class="row">
                    <h2 class="trade-heading" style="text-align: center;"> Trade with FP Markets</h2>
                    <br>
                    <div class="col-md-3" style="padding: 10px;">
                        <div class="first-box">
                            <h3 class="box-title"> Experienced</h3>
                            <p class="box-body"> Benefit from a full product suite and a deep understanding of trader
                                psychology. Licensed by ASIC, we offer various trading platforms and tools for informed
                                decision-making.</p>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding: 10px;">
                        <div class="first-box">
                            <h3 class="box-title"> Award-Winning</h3>
                            <p class="box-body"> 36 Industry awards since 2005, including Highest Overall Client
                                Satisfaction, Best Trade Execution and Best Customer Service. Gain the trading edge with
                                an award-winning forex broker.</p>

                        </div>
                    </div>
                    <div class="col-md-3" style="padding: 10px;">
                        <div class="first-box">
                            <h3 class="box-title"> Transparent Pricing</h3>
                            <p class="box-body"> Benefit from a full product suite and a deep understanding of trader
                                psychology. Licensed by ASIC, we offer various trading platforms and tools for informed
                                decision-making.</p>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding: 10px;">
                        <div class="first-box">
                            <h3 class="box-title"> Wide Range of Markets</h3>
                            <p class="box-body"> Whether you’re looking for a wide range of currency pairs to trade, the
                                top stocks or CFDs in commodities, futures, indices or equities; you can access multiple
                                instruments from a single account.</p>
                        </div>
                    </div>
                    <div class="clear" style="clear: both;"></div>
                    <div class="start-btn">
                        <a href="[[!portalUrl]]/register" class="btn-txt"> Start Trading Now</a>
                        <br>
                        <br>
                        <br>
                        <p><a href="[[!portalUrl]]/demo/register"
                                style="text-align: center; color: #00aeef; font-size: 15px;"> or try a demo account</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!--------- Main area end --------->

    [[$footer-form[[!getCulture]]]]

    <!--------- Footer area start --------->
    [[$footer-[[!entity]][[!getCulture]]]]
    <!--------- Footer area end --------->










    <script src="assets/templates/v3/assets/js/jquery.min.js"></script>
    <script src="assets/templates/v3/assets/js/popper.js"></script>
    <script src="assets/templates/v3/assets/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="assets/templates/v3/assets/js/owl.carousel.min.js"></script>
    <script src="assets/templates/v3/assets/js/simplyScroll.js"></script>
    <script src="assets/templates/v3/assets/js/main.js"></script>

    <script>
        $("#scroller").simplyScroll();
    </script>
    [[$footer]]
</body>

</html>