<div class="container-fluid csf1 bottom-divider">
    <div id="apple-inc-widget-first-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <div class="col-md-8">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container" style="width:100%; margin:0 auto;">
                    <div id="tradingview_e536c"></div>
                    <!-- <div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com/symbols/AAPL/" rel="noopener" target="_blank"><span class="blue-text">Apple</span></a> by TradingView</div> -->
                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                    <script type="text/javascript">
                        new TradingView.MediumWidget(
                            {
                                "symbols": [
                                    [
                                        "ASX:ALD|12M"
                                    ]
                                ],
                                "chartOnly": false,
                                "width": "100%",
                                "height": 400,
                                "locale": "uk",
                                "colorTheme": "light",
                                "gridLineColor": "rgba(240, 243, 250, 0)",
                                "trendLineColor": "rgba(33, 150, 243, 1)",
                                "fontColor": "#787B86",
                                // "underLineColor": "rgba(33, 150, 243, 0.3)",
                                "underLineBottomColor": "rgba(33, 150, 243, 0.0)",
                                "isTransparent": false,
                                "autosize": false,
                                "container_id": "tradingview_e536c"
                            }
                        );
                    </script>


                </div>
                <!-- TradingView Widget END -->


                <!-- TradingView Widget BEGIN -->

                <!-- TradingView Widget END -->
            </div>


            <div class="col-md-4">
                [[$shares-search-box]]
            </div>

        </div>
    </div>
</div>


<div class="container-fluid csf2">
    <div id="apple-inc-widget-second-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <div class="col-md-6 pad-right-40">
                <div>
                    <p class="apple-profile-hd-font-sect">Ampol Ltd (ALD) Profile</p>
                    <div class="">
                        <!--<p class="apple-profile-semi-head-font" style="margin-bottom:3px;">Sector: <span style="font-weight: bold;">British financial institution</span></p>-->
                        <!-- <p class="apple-profile-semi-head-font" style="margin-bottom:3px;">Industry: <span style="font-weight: bold;"> Telecommunications Equipment</span></p> -->
                        <!-- <p class="apple-profile-semi-head-font" style="margin-bottom:0px;">Employees: <span style="font-weight: bold;">65000</span></p>-->
                    </div>
                    <p class="norml-par-font padding-top-20">Ampol Ltd (ALD.xasx) is an independent petroleum company
                        headquartered in Sydney, Australia. Ampol has 7,500 employees, supplying fuel to almost 80,000
                        customers in diverse markets across the Australian economy, including defence, mining,
                        transport, marine, agriculture, aviation and other commercial sectors and serve more than 3M
                        customers every week with fuel and convenience products. Ampol operates its trading and shipping
                        business out of Singapore and Houston, has international storage positions across the Asia
                        Pacific region and has a growing presence in New Zealand as the owner of Gull New Zealand. Ampol
                        is continuing its sponsorship with the Red Bull Holden Racing for the Triple Eight Race
                        Engineering, with the team updating its car livery and race suits to Ampol and its fuel brands.
                        The company’s robust supply chain and strategic infrastructure positions across the country
                        include 16 terminals, 6 major pipelines, 55 wet depots, approximately 1,900 branded sites, and
                        one refinery. Ampol Ltd <a href="share-cfds/">stock</a> (ALD) is listed on the Australian
                        Securities Exchange (ASX), had a market capitalisation of $7.30B (AUD) and $287M (AUD) in 2020
                        yearly revenue. Ampol Ltd, after the approval of its shareholder, the national roll-out of the
                        Ampol brand across its retail network has begun and will complete by the end of 2022. </p>
                </div>
            </div>
            <div class="col-md-6 pad-left-40 margin-top-for-table-align">
                <div>
                    <div class="pad-for-table-align padding-top-30-for-mobile">
                        <div class="nctable scroll-bar-for-table">
                            <table>
                                <tbody>
                                    <tr class="table-row-head">
                                        <th colspan="4" class="header-font-table-rf">Holding cost</th>
                                    </tr>
                                    <tr style="height: 70px;">
                                        <td class="table-normal-font" style="padding-left: 30px;">Long<br><span
                                                style="font-weight:300;">-5%</span></td>
                                        <td class="table-normal-font">Short<br><span
                                                style="font-weight:300;">-2.5%</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="padding-top-20 pad-for-table-align">
                        <div class="nctable scroll-bar-for-table">
                            <table>
                                <thead>
                                    <tr class="table-row-head">
                                        <th colspan="4" style="    padding-left: 20px;" class="header-font-table-rf">
                                            Trading hours in US Eastern Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="height: 75px;background-color:#eeeeee;">
                                        <td class="table-normal-font" style="padding-left: 30px;">Fri<br><span
                                                style="font-weight:300;">16:30-23:00</span></td>
                                        <td class="table-normal-font">Mon<br><span
                                                style="font-weight:300;">16:30-23:00</span></td>
                                        <td class="table-normal-font">Tue<br><span
                                                style="font-weight:300;">16:30-23:00</span></td>
                                        <td class="table-normal-font">Wed<br><span
                                                style="font-weight:300;">16:30-23:00</span></td>
                                    </tr>
                                    <tr style="height: 75px;">
                                        <td class="table-normal-font" style="padding-left: 30px;">Thu<br><span
                                                style="font-weight:300;">16:30-23:00</span></td>
                                        <td class="table-normal-font">Sun<br><span
                                                style="font-weight:300;">Closed</span></td>
                                        <td class="table-normal-font">Sat<br><span
                                                style="font-weight:300;">Closed</span></td>
                                        <td class="table-normal-font"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-bg-darkgray container-fluid">
    <div id="blue-button-section" class="container open-account">
        <div class="d-flex">
            <p class="hidden-xs" style="padding-right:50px;">Start Trading Ampol Ltd (ALD) with a Market Leader Today
            </p>
            <p class="visible-xs"
                style="line-height: 40px !important;margin-top: -10px;font-size:29px !important;text-align: center;margin-bottom: 20px;">
                Start Trading Ampol Ltd (ALD)<br> with a Market Leader Today</p>
            <a href="[[!portalUrl]]register/" class="btn-account">Open a live account</a>
        </div>
    </div>
</div>

[[$faqshares]]

<?php include 'pages/globals/instruments-global-footer.html';?>