<div class="container-fluid csf1 bottom-divider">
    <div id="apple-inc-widget-first-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <br>
            <div class="col-md-8">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container" style="width:100%; margin:0 auto;">
                    <div id="tradingview_e536c"></div>
                    <!-- <div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com/symbols/AAPL/" rel="noopener" target="_blank"><span class="blue-text">Apple</span></a> by TradingView</div> -->
                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                    <script type="text/javascript">
                        new TradingView.MediumWidget(
                            {
                                "symbols": [
                                    [
                                        "FX:EURNZD|12M"
                                    ]
                                ],
                                "chartOnly": false,
                                "width": "100%",
                                "height": 400,
                                "locale": "uk",
                                "colorTheme": "light",
                                "gridLineColor": "rgba(240, 243, 250, 0)",
                                "trendLineColor": "rgba(33, 150, 243, 1)",
                                "fontColor": "#787B86",
                                // "underLineColor": "rgba(33, 150, 243, 0.3)",
                                "underLineBottomColor": "rgba(33, 150, 243, 0.0)",
                                "isTransparent": false,
                                "autosize": false,
                                "container_id": "tradingview_e536c"
                            }
                        );
                    </script>


                </div>
                <!-- TradingView Widget END -->


                <!-- TradingView Widget BEGIN -->

                <!-- TradingView Widget END -->
            </div>


            <div class="col-md-4">
                [[$shares-search-box]]
            </div>
        </div>
    </div>
</div>


<div class="container-fluid csf2">
    <div id="apple-inc-widget-second-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <div class="col-md-6 pad-right-40">
                <div>
                    <p class="apple-profile-hd-font-sect">History of New Zealand Dollar</p>
                    <p class="norml-par-font padding-top-20">The Decimal Currency Act, which went into effect on July
                        10, 1967, was signed into law by President Lyndon Johnson in 1964. One dollar equaled ten
                        shillings; one dollar equaled one pound; a pound equaled 56 cents; and New Zealand's new
                        currency was launched on July 10, 1967, "Decimal Currency Day."</p>
                </div>
                <div class="padding-top-40">
                    <p class="apple-profile-hd-font-sect">History of the Euro</p>
                    <p class="norml-par-font padding-top-20">The Decimal Currency Act, enacted on 10 July 1967, was
                        signed into law by President Lyndon B. Johnson in 1964. A dollar was worth ten shillings; a
                        dollar was for one pound; a pound was worth 56 cents; and on July 10, 1967, "Decimal Currency
                        Day," New Zealand's new <a href="forex/">currency</a> was introduced.</p>
                </div>
            </div>
            <div class="col-md-6 pad-left-40 margin-top-for-table-align">
                <!-- <div>
    <div class="pad-for-table-align padding-top-30-for-mobile">
    <div class="nctable scroll-bar-for-table">
    <table>
    <tbody>
    <tr class="table-row-head">
    <th colspan="4" class="header-font-table-rf">Holding cost</th>
    </tr>
    <tr style="height: 70px;">
    <td class="table-normal-font" style="padding-left: 30px;">Long<br><span style="font-weight:300;">-5%</span></td>
    <td class="table-normal-font"  >Short<br><span style="font-weight:300;">-2.5%</span></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div> -->

                <div class="padding-top-20 pad-for-table-align">
                    <div class="nctable scroll-bar-for-table">
                        <table>
                            <thead>
                                <tr class="table-row-head">
                                    <th colspan="4" style="    padding-left: 20px;" class="header-font-table-rf">EUR/NZD
                                        Forex Chart</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Instrument: <span
                                            style="font-weight:300;">EUR/NZD</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Spread: <span
                                            style="font-weight:300;">Floating</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Leverage: <span
                                            style="font-weight:300;">1:20</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Margin: <span
                                            style="font-weight:300;"> 5.00%</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Minimum Nominal Trade
                                        Size: <span style="font-weight:300;">1000</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Overnight Interest (daily)
                                        Sell: <span style="font-weight:300;">-8.84 %</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Overnight Interest (daily)
                                        Buy: <span style="font-weight:300;">-1.67%</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Trading Hours (GMT): <span
                                            style="font-weight:300;">24/5</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">MT5 / MT4 Symbol: <span
                                            style="font-weight:300;">EUR/NZD</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="page-bg-darkgray container-fluid">
    <div id="blue-button-section" class="container open-account">
        <div class="d-flex">
            <p class="hidden-xs" style="padding-right:50px;">Start Trading EUR/NZD with a Market Leader Today</p>
            <p class="visible-xs"
                style="line-height: 40px !important;margin-top: -10px;font-size:29px !important;text-align: center;margin-bottom: 20px;">
                Start Trading EUR/NZD<br> with a Market Leader Today</p>
            <a href="[[!portalUrl]]register/" class="btn-account">Open a live account</a>
        </div>
    </div>
</div>


<div class="container-fluid csf6">
    <div id="social-trading-faq-section" class="container">
        <div>
            <p class="h2-cent-font-sect">EUR/NZD Trading FAQs</p>
        </div>
        <div class="wid-for-faq-section padding-top-40 padding-top-30-for-mobile">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align " data-toggle="collapse"
                        data-parent="#accordion" href="#collapse1" aria-expanded="true" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">When Is the Best
                                Time to Trade Euro New Zealand Dollar?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'">When Is the Best Time to Trade<br> Euro New
                                Zealand Dollar?</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="panel-body padding-for-card-align ">
                            <p class="norml-par-font">This is the best time of day to trade the EUR/NZD currency pair
                                during the Asian trading session. Around 6 a.m. GMT, traders who are interested in
                                making trades based on Eurozone economic data should do so. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse2" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Is the New
                                Zealand Dollar a Good Investment?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Is the New
                                Zealand Dollar a Good Investment?</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse " aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <div>
                                <p class="norml-par-font">The best time to purchase New Zealand Dollars in pound
                                    sterling is when the exchange rate is high. New Zealand Dollars are worth more per
                                    Pound when the exchange rate is higher. To put it simply, the GBP to NZD rate stayed
                                    in the same range for the past three years.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse5" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Will New Zealand
                                Dollar go up?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Will New Zealand
                                Dollar go up?</a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse " aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <div>
                                <p class="norml-par-font">Growth in expectations that the Federal Reserve's policy
                                    tightening will outpace New Zealand's central bank rate increases this year pushed
                                    the New Zealand currency to its worst level in 14 months. The Reserve Bank of New
                                    Zealand (RBNZ) forecasts the official cash rate to rise to 2.5 percent by the second
                                    half of 2023 from the current 2.2 percent.its current level of 0.75%.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align padding-20 collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse3" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Where Can I Find
                                a Trusted Forex Broker<br> to Trade Euro New Zealand Dollar?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Where Can I Find
                                a Trusted Forex Broker<br> to Trade Euro New Zealand Dollar?</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <p class="norml-par-font">Trading with CFDs (contracts for difference) is one of the most
                                popular ways to deal with currencies like the EURNZD, as you may already know. While
                                there are a plethora of Forex brokers available. Attempt to locate one that meets your
                                requirements. <a class="custom-link-for-a" href="" target="_blank"><b>FP
                                        Markets</b></a>, for example, is a fully licensed broker that offers a wide
                                range of platforms and accounts to fit any demand. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php include 'pages/globals/instruments-global-footer.html';?>