<div class="container-fluid csf1 bottom-divider">
    <div id="apple-inc-widget-first-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <br>
            <div class="col-md-8">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container" style="width:100%; margin:0 auto;">
                    <div id="tradingview_e536c"></div>
                    <!-- <div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com/symbols/AAPL/" rel="noopener" target="_blank"><span class="blue-text">Apple</span></a> by TradingView</div> -->
                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                    <script type="text/javascript">
                        new TradingView.MediumWidget(
                            {
                                "symbols": [
                                    [
                                        "TVC:USOIL|12M"
                                    ]
                                ],
                                "chartOnly": false,
                                "width": "100%",
                                "height": 400,
                                "locale": "uk",
                                "colorTheme": "light",
                                "gridLineColor": "rgba(240, 243, 250, 0)",
                                "trendLineColor": "rgba(33, 150, 243, 1)",
                                "fontColor": "#787B86",
                                // "underLineColor": "rgba(33, 150, 243, 0.3)",
                                "underLineBottomColor": "rgba(33, 150, 243, 0.0)",
                                "isTransparent": false,
                                "autosize": false,
                                "container_id": "tradingview_e536c"
                            }
                        );
                    </script>


                </div>



                <!-- TradingView Widget BEGIN -->

                <!-- TradingView Widget END -->
            </div>


            <div class="col-md-4">
                [[$shares-search-box]]
            </div>
        </div>
    </div>
</div>


<div class="container-fluid csf2">
    <div id="apple-inc-widget-second-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <div class="col-md-6 pad-right-40">
                <div>
                    <p class="apple-profile-hd-font-sect1">West Texas Intermediate Crude Oil Trading</p>
                </div>
                <div class="padding-top-40">
                    <p class="apple-profile-hd-font-sect">Crude Oil History</p>
                    <p class="norml-par-font padding-top-20">Crude oil is a liquid in the Earth, and it is made of
                        hydrocarbons, organic compounds, and tiny amounts of metal. There are many types of crude
                        produced around the world, and the quality of each is reflected in the value. One of its quality
                        characteristics is the sulfur content, which can be defined as sweet or sour, and density ranges
                        from heavy to light. If crudes are light and sweet, there are more expensive as opposed to
                        energy products such as diesel and gasoline. There is a high demand for these grades since they
                        can be processed with refineries requiring less energy.</p>
                </div>
                <div class="padding-top-40">
                    <p class="apple-profile-hd-font-sect">What are the types of crude oil?</p>
                    <p class="norml-par-font padding-top-20">Many types of crude oil differ in their consistency and
                        density, depending on how and where it is extracted. There are over 160 types of crude oil
                        traded on the market, but Brent Crude and WTI serve the most as the oil benchmarks in the global
                        markets. The WTI oil is taken from Wells in the United States and sent to Oklahoma by pipeline.
                        It is mostly referred to as US crude, and it has expensive shipping costs when there is demand
                        around the world. The WTI oil is very sweet and light, making it ideal for gasoline refining.
                        WTI is a higher quality crude than Brent, and it is always priced at a premium.</p>
                </div>
                <div class="padding-top-40">
                    <p class="apple-profile-hd-font-sect">What affects the price of crude oil?</p>
                    <p class="norml-par-font padding-top-20">The Organization of the Petroleum Exporting Countries
                        (OPEC) is a cartel of 14 major oil-producing nations seeking to manage the supply of the <a
                            href="[[!getCultureURL]]/commodities/">commodity</a> to control its prices. When there is a
                        meeting for
                        whether to boost or cut production, it can impact current and future prices directly, and oil
                        watchers globally closely follow the announcements. Another important factor affecting the
                        prices is the major crude reports from the US inventory number as higher inventories will mean
                        less demand from the international markets and will pressure the prices lower. Political factors
                        or wars in oil-producing nations are a major issue in the oil markets, and natural disasters
                        such as hurricanes that affect major oil infrastructures.</p>
                </div>
                <div class="padding-top-40">
                    <p class="apple-profile-hd-font-sect">Crude Oil News</p>
                    <p class="norml-par-font padding-top-20">Oil prices extended losses on the 10th of February 2022 and
                        were heading for a weekly fall as the prospect of increased Iranian oil exports eclipsed fears
                        of potential supply disruption resulting from the Russia-Ukraine crisis. The US West Texas
                        Intermediate (WTI) crude futures shed $2.39 (USD), or 2.6%, to $89.37 (USD) a barrel after
                        sliding 2% on Thursday the 17th.</p>
                </div>
            </div>
            <div class="col-md-6 pad-left-40 margin-top-for-table-align">
                <!-- <div>
    <div class="pad-for-table-align padding-top-30-for-mobile">
    <div class="nctable scroll-bar-for-table">
    <table>
    <tbody>
    <tr class="table-row-head">
    <th colspan="4" class="header-font-table-rf">Holding cost</th>
    </tr>
    <tr style="height: 70px;">
    <td class="table-normal-font" style="padding-left: 30px;">Long<br><span style="font-weight:300;">-5%</span></td>
    <td class="table-normal-font"  >Short<br><span style="font-weight:300;">-2.5%</span></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div> -->

                <div class="padding-top-20 pad-for-table-align">
                    <div class="nctable scroll-bar-for-table">
                        <table>
                            <thead>
                                <tr class="table-row-head">
                                    <th colspan="4" style="    padding-left: 20px;" class="header-font-table-rf">West
                                        Texas Intermediate Crude Oil Forex Chart</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Instrument: <span
                                            style="font-weight:300;">West Texas Intermediate Crude Oil CFD</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Spread: <span
                                            style="font-weight:300;">0.03</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Leverage: <span
                                            style="font-weight:300;">10:1</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Margin: <span
                                            style="font-weight:300;"> 0.1</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Minimum Nominal Trade
                                        Size: <span style="font-weight:300;">1000</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Overnight Interest (daily)
                                        Sell: <span style="font-weight:300;">-.20 %</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Overnight Interest (daily)
                                        Buy: <span style="font-weight:300;">-20%</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Trading Hours (GMT): <span
                                            style="font-weight:300;">24/5</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">MT5 / MT4 Symbol: <span
                                            style="font-weight:300;">WTI</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="page-bg-darkgray container-fluid">
    <div id="blue-button-section" class="container open-account">
        <div class="d-flex">
            <p class="hidden-xs" style="padding-right:50px;">Start Trading West Texas Intermediate Crude Oil with a
                Market Leader Today</p>
            <p class="visible-xs"
                style="line-height: 40px !important;margin-top: -10px;font-size:29px !important;text-align: center;margin-bottom: 20px;">
                Start Trading West Texas Intermediate Crude Oil<br> with a Market Leader Today</p>
            <a href="[[!portalUrl]]register/" class="btn-account">Open a live account</a>
        </div>
    </div>
</div>


<div class="container-fluid csf6">
    <div id="social-trading-faq-section" class="container">
        <div>
            <p class="h2-cent-font-sect">Gold v AUS Trading Trading FAQs</p>
        </div>
        <div class="wid-for-faq-section padding-top-40 padding-top-30-for-mobile">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align " data-toggle="collapse"
                        data-parent="#accordion" href="#collapse1" aria-expanded="true" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What is the
                                difference between crude oil,<br>petroleum products, and petroleum?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'">What is the difference between crude
                                oil,<br>petroleum products, and petroleum?</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="panel-body padding-for-card-align ">
                            <p class="norml-par-font">Crude oil is a mixture of hydrocarbons that exists as a liquid in
                                the earth and remains a liquid when brought to the surface. Petroleum products are
                                produced from the processing crude oil and other liquids at petroleum refineries, from
                                the production of finished petroleum products at blending facilities and from the
                                extraction of liquid hydrocarbons at natural gas processing plants.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse2" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Why should I
                                trade crude oil?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Why should I
                                trade crude oil?</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse " aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <div>
                                <p class="norml-par-font">The crude oil market is extremely liquid, volatile and it
                                    plays a major role in the global economy. The volatility can be translated into
                                    profits by discerning traders, which is one of the reasons why you could choose
                                    crude oil for your investment. It offers a unique opportunity to gain from nearly
                                    any market condition.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse5" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What is the best
                                strategy for trading crude oil?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What is the best
                                strategy<br> for trading crude oil?</a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse " aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <div>
                                <p class="norml-par-font">Traders can begin with the fundamental analysis of the market
                                    to better understand the commodity's underlying supply and demand dynamics.
                                    Afterwards, traders will be able to implement a technical analysis framework to
                                    allow them to profit from the gyrations in the market.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse6" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What are the
                                benefits of commodities trading?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What are the
                                benefits of<br> commodities trading?</a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse " aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <div>
                                <p class="norml-par-font">Trading commodities CFDs ("contracts for difference") is a
                                    great way to diversify your portfolio and hedge risks. FP Markets has carved a niche
                                    for itself in the commodity trading market in Australia, offering the optimal
                                    trading experience. Traders can choose from a variety of commodities such as energy
                                    metals and agricultural products and enter or exit the market 24/5 across almost all
                                    commodities markets. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse7" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What is the best
                                platform to trade commodities?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What is the best
                                platform<br> to trade commodities?</a>
                        </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse " aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <div>
                                <p class="norml-par-font">You can discover the benefits of commodities trading on
                                    MetaTrader4 (MT4), one of the most powerful trading platforms available. MetaTrader
                                    4 (MT4) is available across desktop and mobile platforms. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align padding-20 collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse3" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Where Can I Find
                                a Trusted Forex Broker to Trade Commodities?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Where Can I Find
                                a Trusted Forex<br> Broker to Trade Commodities?</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <p class="norml-par-font">With <a class="custom-link-for-a" href="[[!getCultureURL]]/"
                                    target="_blank"><b>FP
                                        Markets</b></a> , a Global-regulated broker provider, you get access to
                                commodity prices worldwide with high executions speed, deep liquidity, tight spreads and
                                low slippage. You can trade CFDs on a variety of products while benefiting from the
                                latest real-time technology. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php include 'pages/globals/instruments-global-footer.html';?>