<div class="container-fluid csf1 bottom-divider">
    <div id="apple-inc-widget-first-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <br>
            <div class="col-md-8">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container" style="width:100%; margin:0 auto;">
                    <div id="tradingview_e536c"></div>
                    <!-- <div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com/symbols/AAPL/" rel="noopener" target="_blank"><span class="blue-text">Apple</span></a> by TradingView</div> -->
                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                    <script type="text/javascript">
                        new TradingView.MediumWidget(
                            {
                                "symbols": [
                                    [
                                        "PEPPERSTONE:COCOA|12M"
                                    ]
                                ],
                                "chartOnly": false,
                                "width": "100%",
                                "height": 400,
                                "locale": "uk",
                                "colorTheme": "light",
                                "gridLineColor": "rgba(240, 243, 250, 0)",
                                "trendLineColor": "rgba(33, 150, 243, 1)",
                                "fontColor": "#787B86",
                                // "underLineColor": "rgba(33, 150, 243, 0.3)",
                                "underLineBottomColor": "rgba(33, 150, 243, 0.0)",
                                "isTransparent": false,
                                "autosize": false,
                                "container_id": "tradingview_e536c"
                            }
                        );
                    </script>


                </div>



                <!-- TradingView Widget BEGIN -->

                <!-- TradingView Widget END -->
            </div>


            <div class="col-md-4">
                [[$shares-search-box]]
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <!-- <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com/symbols/NASDAQ-LLOY/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for AAPL</span></a> by TradingView</div>
      <!-- <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
      {
      "interval": "1m",
      "width": "100%",
      "isTransparent": true,
      "height": "420",
      "symbol": "PEPPERSTONE:COFFEE|12M",
      "showIntervalTabs": true,
      "locale": "uk",
      "colorTheme": "light"
    }
      </script> -->
                </div>
                <!-- TradingView Widget END -->
                <!-- <div class="buy-sell-btn-mobile-align" style="text-align:center;margin-bottom:25px;">
        <a href="<?php echo $portalurl; ?>register/" target="_blank"  class="btn btn-lg btn-transparent-green">
            BUY </a>
             <a href="<?php echo $portalurl; ?>register/" target="_blank"  class="btn btn-lg btn-transparent-red-new">
            SELL</a>
    </div>   
    <div>
    <p class="norml-par-font" style="font-weight: 700;">Pricing is indicative. Past performance is not a reliable indicator of future results. <a target="_blank" href="webtrader-login/" style="color: #2e3642!important;text-decoration: underline!important;">Log in</a> to see latest markets data.</p>
    </div> -->
            </div>
        </div>
    </div>
</div>


<div class="container-fluid csf2">
    <div id="apple-inc-widget-second-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <div class="col-md-6 pad-right-40">
                <div>
                    <p class="apple-profile-hd-font-sect1">COCOA/USD CASH Trading</p>
                </div>
                <div class="padding-top-40">
                    <p class="apple-profile-hd-font-sect">Cocoa History</p>
                    <p class="norml-par-font padding-top-20">Cocoa, popularly known for producing chocolate, is a highly
                        traded <a href="[[!getCultureURL]]/commodities/">commodity</a>. Cocoa was used by ancient tribes
                        as early as 600AD
                        and exported to Europe in 1585, and it has a rich and interesting history. Today, it attracts
                        investors almost as much as chocolate lovers, with the cocoa market reportedly worth more than
                        $2.1B (USD).</p>
                </div>
                <div class="padding-top-40">
                    <p class="apple-profile-hd-font-sect">What are the different cocoa varieties?</p>
                    <p class="norml-par-font padding-top-20">Cocoa varieties are three, with the most common type being
                        Forastero which accounts for roughly 80% of production. The other two types of cocoa are
                        Criollo, the rarest variety, and the Trinitario, a hybrid cocoa bean that ranges between average
                        and superior quality. If the quality of the bean is high, it means it has better taste and a
                        higher market price. </p>
                </div>
                <div class="padding-top-40">
                    <p class="apple-profile-hd-font-sect">Which are the top cocoa-producing countries?</p>
                    <p class="norml-par-font padding-top-20">There are three top cocoa producers: West African countries
                        like Cote d’Ivoire (Ivory Coast), Ghana, and Latin American countries like Brazil and Ecuador.
                        The most responsible for the majority of cocoa production globally is West Africa.</p>
                </div>
                <div class="padding-top-40">
                    <p class="apple-profile-hd-font-sect">What can move the price of cocoa?</p>
                    <p class="norml-par-font padding-top-20">The price of cocoa can be affected by factors such as
                        changing weather conditions, distribution costs, geopolitics, global health issues and the
                        strength of the US dollar. Also, the price of cocoa is moved by factors that relate to supply
                        and demand.</p>
                </div>
                <div class="padding-top-40">
                    <p class="apple-profile-hd-font-sect">Cocoa News</p>
                    <p class="norml-par-font padding-top-20">Cocoa futures traded around $2500 (USD) an ounce as traders
                        weighed expectations of lower global demand against supply constraints. The Russian invasion of
                        Ukraine will probably decrease the consumption of goods like chocolate and coffee as there will
                        be restrictions on travel and airports where most of the sales occur. This follows a time when
                        the demand for chocolate and coffee is still recovering from the COVID-19 pandemic.
                        Additionally, farmers worry that the continuous lack of rains in the top growing regions of the
                        Ivory Coast will damage the quality of beans and could reduce the size of the April-to-September
                        mid-crop.</p>
                </div>
            </div>
            <div class="col-md-6 pad-left-40 margin-top-for-table-align">
                <!-- <div>
    <div class="pad-for-table-align padding-top-30-for-mobile">
    <div class="nctable scroll-bar-for-table">
    <table>
    <tbody>
    <tr class="table-row-head">
    <th colspan="4" class="header-font-table-rf">Holding cost</th>
    </tr>
    <tr style="height: 70px;">
    <td class="table-normal-font" style="padding-left: 30px;">Long<br><span style="font-weight:300;">-5%</span></td>
    <td class="table-normal-font"  >Short<br><span style="font-weight:300;">-2.5%</span></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div> -->

                <div class="padding-top-20 pad-for-table-align">
                    <div class="nctable scroll-bar-for-table">
                        <table>
                            <thead>
                                <tr class="table-row-head">
                                    <th colspan="4" style="    padding-left: 20px;" class="header-font-table-rf"> Cocoa
                                        / USD Cash CFD Forex Chart</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Instrument: <span
                                            style="font-weight:300;"> Cocoa / USD Cash CFD</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Spread: <span
                                            style="font-weight:300;">0.04</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Leverage: <span
                                            style="font-weight:300;">10:1</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Margin: <span
                                            style="font-weight:300;"> 0.1</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Minimum Nominal Trade
                                        Size: <span style="font-weight:300;">1000</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Overnight Interest (daily)
                                        Sell: <span style="font-weight:300;">-.20 %</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Overnight Interest (daily)
                                        Buy: <span style="font-weight:300;">-20%</span></td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td class="table-normal-font" style="padding-left: 30px;">Trading Hours (GMT): <span
                                            style="font-weight:300;">24/5</span></td>
                                </tr>
                                <tr style="height: 55px;background-color:#eeeeee;">
                                    <td class="table-normal-font" style="padding-left: 30px;">MT5 / MT4 Symbol: <span
                                            style="font-weight:300;">COCOA</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="page-bg-darkgray container-fluid">
    <div id="blue-button-section" class="container open-account">
        <div class="d-flex">
            <p class="hidden-xs" style="padding-right:50px;">Start Trading COCOA with a Market Leader Today</p>
            <p class="visible-xs"
                style="line-height: 40px !important;margin-top: -10px;font-size:29px !important;text-align: center;margin-bottom: 20px;">
                Start Trading COCOA<br> with a Market Leader Today</p>
            <a href="[[!portalUrl]]register/" class="btn-account">Open a live account</a>
        </div>
    </div>
</div>


<div class="container-fluid csf6">
    <div id="social-trading-faq-section" class="container">
        <div>
            <p class="h2-cent-font-sect">Cocoa trading FAQ</p>
        </div>
        <div class="wid-for-faq-section padding-top-40 padding-top-30-for-mobile">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align " data-toggle="collapse"
                        data-parent="#accordion" href="#collapse1" aria-expanded="true" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Why is cocoa
                                trading significant for traders?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'">Why is cocoa trading <br>significant for
                                traders?</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="panel-body padding-for-card-align ">
                            <p class="norml-par-font">Although cocoa is one of the world’s smallest soft commodity
                                markets, it has international implications on food and candy producers and the retail
                                industry. Cocoa prices displayed in Trading Economics are based on over-the-counter and
                                CFDs financial instruments.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse2" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What is the
                                right cocoa trading strategy?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What is the
                                right cocoa<br> trading strategy?</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse " aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <div>
                                <p class="norml-par-font">Cocoa trading strategies depend on the trader’s knowledge of
                                    technical indicators and their personal preferences and expectations. In general,
                                    traders could employ a breakout trading strategy, a fundamental trading strategy or
                                    a range trading strategy.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse5" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What are the
                                benefits of commodities trading?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What are the
                                benefits of<br> commodities trading?</a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse " aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <div>
                                <p class="norml-par-font">Trading commodities CFDs ("Contracts for Difference") is a
                                    great way to diversify your portfolio and hedge risks. FP Markets has carved a niche
                                    for itself in the commodity trading market in Australia, offering the optimal
                                    trading experience. Traders can choose from a variety of commodities such as energy
                                    metals and agricultural products and enter or exit the market 24/5 across almost all
                                    commodities markets. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse6" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What is the best
                                platform to trade commodities?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head collapsed" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">What is the best
                                platform <br>to trade commodities?</a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse " aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <div>
                                <p class="norml-par-font">You can discover the benefits of commodities trading on
                                    MetaTrader4 (MT4), one of the most powerful trading platforms available. MetaTrader
                                    4 (MT4) is available across desktop and mobile platforms.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-custom">
                    <div class="panel-heading padding-for-card-head-align padding-20 collapsed" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse3" aria-expanded="false" style="cursor:pointer;">
                        <h4 class="panel-title hidden-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Where Can I Find
                                a Trusted Forex Broker to Trade Commodities?</a>
                        </h4>
                        <h4 class="panel-title visible-xs">
                            <a class="card-head" onmouseover="this.style.color='#3e495c'"
                                onmouseout="this.style.color='#3e495c'" style="color: rgb(62, 73, 92);">Where Can I Find
                                a Trusted Forex<br> Broker to Trade Commodities?</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body padding-for-card-align">
                            <p class="norml-par-font">With <a class="custom-link-for-a" href="[[!getCultureURL]]/"
                                    target="_blank"><b>FP
                                        Markets</b></a> , a Global-regulated broker provider, you get access to
                                commodity prices worldwide with high execution speed, deep liquidity, tight spreads and
                                low slippage. You can trade CFDs on a variety of products while benefiting from the
                                latest real-time technology. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php include 'pages/globals/instruments-global-footer.html';?>