<div class="container-fluid csf1 bottom-divider">
    <div id="apple-inc-widget-first-section" class="container">
        <div class="row pad-left-right-15-for-mobile">

            <div class="col-md-8">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container" style="width:100%; margin:0 auto;">
                    <div id="tradingview_e536c"></div>
                    <!-- <div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com/symbols/AAPL/" rel="noopener" target="_blank"><span class="blue-text">Apple</span></a> by TradingView</div> -->
                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                    <script type="text/javascript">
                        new TradingView.MediumWidget(
                            {
                                "symbols": [
                                    [
                                        "BME:CIE|12M"
                                    ]
                                ],
                                "chartOnly": false,
                                "width": "100%",
                                "height": 400,
                                "locale": "uk",
                                "colorTheme": "light",
                                "gridLineColor": "rgba(240, 243, 250, 0)",
                                "trendLineColor": "rgba(33, 150, 243, 1)",
                                "fontColor": "#787B86",
                                // "underLineColor": "rgba(33, 150, 243, 0.3)",
                                "underLineBottomColor": "rgba(33, 150, 243, 0.0)",
                                "isTransparent": false,
                                "autosize": false,
                                "container_id": "tradingview_e536c"
                            }
                        );
                    </script>


                </div>
                <!-- TradingView Widget END -->


                <!-- TradingView Widget BEGIN -->

                <!-- TradingView Widget END -->
            </div>


            <div class="col-md-4">
                [[$shares-search-box]]
            </div>
        </div>
    </div>
</div>


<div class="container-fluid csf2">
    <div id="apple-inc-widget-second-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <div class="col-md-6 pad-right-40">
                <div>
                    <p class="apple-profile-hd-font-sect">CIE AUTOMOTIVE, S.A. (CIE) Profile</p>
                    <div class="">
                        <!--<p class="apple-profile-semi-head-font" style="margin-bottom:3px;">Sector: <span style="font-weight: bold;">British financial institution</span></p>-->
                        <!-- <p class="apple-profile-semi-head-font" style="margin-bottom:3px;">Industry: <span style="font-weight: bold;"> Telecommunications Equipment</span></p> -->
                        <!-- <p class="apple-profile-semi-head-font" style="margin-bottom:0px;">Employees: <span style="font-weight: bold;">65000</span></p>-->
                    </div>
                    <p class="norml-par-font padding-top-20">CIE Automotive SA (CIE.xmad) is a Spanish automotive group
                        focused on designing, manufacturing, and marketing automotive components and subassemblies
                        headquartered in Bilbao, Spain. The Spanish industrial group’s production covers assemblies for
                        powertrain and gearbox, chassis, steering and structural parts, interior and exterior trim, roof
                        systems, commercial vehicles products, transmission and brakes. CIE Automotive has over 25,000
                        employees and operates a global network of 110 production sites with 63 offices across 16
                        countries. In 2019, the group acquired Inteva Roof Systems for $755M (USD). CIE Automotive SA
                        stock (CIE.xmad) is traded on the Madrid Stock Exchange (BMAD), listed as a component of the
                        Swiss globally integrated index Stoxx Europe 600 and a Spanish benchmark stock market index
                        Ibex-35 constituent. CIE has a €2.98B (EUR) market cap as of November 2021 and €185M (EUR) in
                        2020 yearly revenues. Following last year’s -16.2% impact in the automotive market, CIE’s 2020
                        net profit fell by 36% compared to 2019 revenue. Despite the difficulties of a challenging year,
                        CIE Automotive SA completed the acquisition of Somaschini S.p.A, an Italian gear systems
                        manufacturer, for €77.1M (EUR). Instead of laying off, it preferred to support its employees and
                        the community by giving €25M (EUR) to support its workforce and about €1M (EUR) to the community
                        work. CIE Automotive’s continuous efforts and shrewd strategy resulted in a 154% growth for this
                        year’s first half and a 75% rise for 2020’s third quarter. In September 2021, CIE Automotive SA
                        (CIE.xmad) announced the joint management of its engineering and environment departments as a
                        key strategy towards sustainability and ecodesign.

                        <br></br>

                        CIE Automotive SA (CIE.xmad): Trade a Contract for Difference (CFD) on CIE.xmad and speculate on
                        the <a href="[[!getCultureURL]]/share-cfds/">share</a> price difference of the underlying asset.
                        CFD is a
                        financial contract that allows you to trade on the underlying asset value (share price) without
                        the need to purchase the actual stock. Investors are trading the difference in the value of
                        security between the opening and closing of the trade. You can either hold a long position (Buy)
                        or a short position (Sell). CFDs are considered short-term investments or trades, as CFDs tend
                        to be used within shorter timeframes.
                    </p>
                </div>
            </div>
            <div class="col-md-6 pad-left-40 margin-top-for-table-align">
                <div>
                    <div class="pad-for-table-align padding-top-30-for-mobile">
                        <div class="nctable scroll-bar-for-table">
                            <table>
                                <tbody>
                                    <tr class="table-row-head">
                                        <th colspan="4" class="header-font-table-rf">Holding cost</th>
                                    </tr>
                                    <tr style="height: 70px;">
                                        <td class="table-normal-font" style="padding-left: 30px;">Long<br><span
                                                style="font-weight:300;">-5%</span></td>
                                        <td class="table-normal-font">Short<br><span
                                                style="font-weight:300;">-2.5%</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="padding-top-20 pad-for-table-align">
                        <div class="nctable scroll-bar-for-table">
                            <table>
                                <thead>
                                    <tr class="table-row-head">
                                        <th colspan="4" style="    padding-left: 20px;" class="header-font-table-rf">
                                            Trading hours in US Eastern Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="height: 75px;background-color:#eeeeee;">
                                        <td class="table-normal-font" style="padding-left: 30px;">Fri<br><span
                                                style="font-weight:300;">16:30-23:00 </span></td>
                                        <td class="table-normal-font">Mon<br><span style="font-weight:300;">16:30-23:00
                                            </span></td>
                                        <td class="table-normal-font">Tue<br><span style="font-weight:300;">16:30-23:00
                                            </span></td>
                                        <td class="table-normal-font">Wed<br><span style="font-weight:300;">16:30-23:00
                                            </span></td>
                                    </tr>
                                    <tr style="height: 75px;">
                                        <td class="table-normal-font" style="padding-left: 30px;">Thu<br><span
                                                style="font-weight:300;">16:30-23:00 </span></td>
                                        <td class="table-normal-font">Sun<br><span
                                                style="font-weight:300;">Closed</span></td>
                                        <td class="table-normal-font">Sat<br><span
                                                style="font-weight:300;">Closed</span></td>
                                        <td class="table-normal-font"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-bg-darkgray container-fluid">
    <div id="blue-button-section" class="container open-account">
        <div class="d-flex">
            <p class="hidden-xs" style="padding-right:50px;">Start Trading CIE AUTOMOTIVE, S.A. (CIE) with a Market
                Leader Today</p>
            <p class="visible-xs"
                style="line-height: 40px !important;margin-top: -10px;font-size:29px !important;text-align: center;margin-bottom: 20px;">
                Start Trading CIE AUTOMOTIVE, S.A. (CIE)<br> with a Market Leader Today</p>
            <a href="[[!portalUrl]]register/" class="btn-account">Open a live account</a>
        </div>
    </div>
</div>

[[$faqshares]]

<?php include 'pages/globals/instruments-global-footer.html';?>