<div class="container-fluid csf1 bottom-divider">
    <div id="apple-inc-widget-first-section" class="container">
        <div class="row pad-left-right-15-for-mobile">


            <div class="col-md-8">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container" style="width:100%; margin:0 auto;">
                    <div id="tradingview_e536c"></div>
                    <!-- <div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com/symbols/AAPL/" rel="noopener" target="_blank"><span class="blue-text">Apple</span></a> by TradingView</div> -->
                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                    <script type="text/javascript">
                        new TradingView.MediumWidget(
                            {
                                "symbols": [
                                    [
                                        "BYD Co Ltd",
                                        "1211"
                                    ]
                                ],
                                "chartOnly": false,
                                "width": "100%",
                                "height": 400,
                                "locale": "uk",
                                "colorTheme": "light",
                                "gridLineColor": "rgba(240, 243, 250, 0)",
                                "trendLineColor": "rgba(33, 150, 243, 1)",
                                "fontColor": "#787B86",
                                // "underLineColor": "rgba(33, 150, 243, 0.3)",
                                "underLineBottomColor": "rgba(33, 150, 243, 0.0)",
                                "isTransparent": false,
                                "autosize": false,
                                "container_id": "tradingview_e536c"
                            }
                        );
                    </script>


                </div>
                <!-- TradingView Widget END -->


                <!-- TradingView Widget BEGIN -->

                <!-- TradingView Widget END -->
            </div>


            <div class="col-md-4">
                [[$shares-search-box]]
            </div>
        </div>
    </div>
</div>


<div class="container-fluid csf2">
    <div id="apple-inc-widget-second-section" class="container">
        <div class="row pad-left-right-15-for-mobile">
            <div class="col-md-6 pad-right-40">
                <div>
                    <p class="apple-profile-hd-font-sect">BYD Co Ltd Profile</p>
                    <div class="">
                        <!--<p class="apple-profile-semi-head-font" style="margin-bottom:3px;">Sector: <span style="font-weight: bold;">British financial institution</span></p>-->
                        <!-- <p class="apple-profile-semi-head-font" style="margin-bottom:3px;">Industry: <span style="font-weight: bold;"> Telecommunications Equipment</span></p> -->
                        <!-- <p class="apple-profile-semi-head-font" style="margin-bottom:0px;">Employees: <span style="font-weight: bold;">65000</span></p>-->
                    </div>
                    <p class="norml-par-font padding-top-20">BYD Co Ltd (1211.xhkg) is a Chinese automotive
                        manufacturing company headquartered in Guangdong, the People’s Republic of China. BYD has two
                        major subsidiaries, BYD Automobile and BYD Electronic. BYD Co Ltd produces ordinary passenger
                        cars, commercial vehicles, and other products. BYD is most notable for its full-electric and
                        hybrid cars, buses, trucks, as well as for its battery-powered bicycles, forklifts, solar
                        panels, and rechargeable batteries (mobile phones, electric vehicles, and renewable bulk
                        storage). It is traded on the Hong Kong Stock Exchange (SEHK), the Shenzhen Stock Exchange
                        (SZSE) and its market cap are currently ¥735.68B (CNY). BYD Co Ltd employs 229,154 people and
                        has over 30 industrial parks and production bases worldwide. BYD Co Ltd (1211.xhkg) sold 18,711
                        electric passenger cars in May 2021 and 46,554 units in total for the whole year, 126% more than
                        in May 2020.</p>
                </div>
            </div>
            <div class="col-md-6 pad-left-40 margin-top-for-table-align">
                <div>
                    <div class="pad-for-table-align padding-top-30-for-mobile">
                        <div class="nctable scroll-bar-for-table">
                            <table>
                                <tbody>
                                    <tr class="table-row-head">
                                        <th colspan="4" class="header-font-table-rf">Holding cost</th>
                                    </tr>
                                    <tr style="height: 70px;">
                                        <td class="table-normal-font" style="padding-left: 30px;">Long<br><span
                                                style="font-weight:300;">-5%</span></td>
                                        <td class="table-normal-font">Short<br><span
                                                style="font-weight:300;">-2.5%</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="padding-top-20 pad-for-table-align">
                        <div class="nctable scroll-bar-for-table">
                            <table>
                                <thead>
                                    <tr class="table-row-head">
                                        <th colspan="4" style="    padding-left: 20px;" class="header-font-table-rf">
                                            Trading hours in HK Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="height: 75px;background-color:#eeeeee;">
                                        <td class="table-normal-font" style="padding-left: 30px;">Fri<br><span
                                                style="font-weight:300;">09:00-16:00</span></td>
                                        <td class="table-normal-font">Mon<br><span
                                                style="font-weight:300;">09:00-16:00</span></td>
                                        <td class="table-normal-font">Tue<br><span
                                                style="font-weight:300;">09:00-16:00</span></td>
                                        <td class="table-normal-font">Wed<br><span
                                                style="font-weight:300;">09:00-16:00</span></td>
                                    </tr>
                                    <tr style="height: 75px;">
                                        <td class="table-normal-font" style="padding-left: 30px;">Thu<br><span
                                                style="font-weight:300;">09:00-16:00</span></td>
                                        <td class="table-normal-font">Sun<br><span
                                                style="font-weight:300;">Closed</span></td>
                                        <td class="table-normal-font">Sat<br><span
                                                style="font-weight:300;">Closed</span></td>
                                        <td class="table-normal-font"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-bg-darkgray container-fluid">
    <div id="blue-button-section" class="container open-account">
        <div class="d-flex">
            <p class="hidden-xs" style="padding-right:50px;">Start Trading BYD Co Ltd with a Market Leader Today</p>
            <p class="visible-xs"
                style="line-height: 40px !important;margin-top: -10px;font-size:29px !important;text-align: center;margin-bottom: 20px;">
                Start Trading BYD Co Ltd<br> with a Market Leader Today</p>
            <a href="[[!portalUrl]]register/" class="btn-account">Open a live account</a>
        </div>
    </div>
</div>

[[$faqshares]]

<?php include 'pages/globals/instruments-global-footer.html';?>