.social_menu_icon:after {
  background: none !important;
}
ul.menu-ul.cs-region-align-pt-menu-ul-list {
  margin-left: -17px !important;
}
a.drop-open-live-btn {
  margin-left: -5px !important;
  font-size: 14px !important;
}
li.col-sm-2.margin-top-for-men-itm {
  margin-left: -9px !important;
}
