.fpms-content.style-hthree.style-p.cs-994-int-font-align{
	    max-width: 300px;
    margin-left: -5px;
}
p.new-cs-int-para-font-align-int-994{
	    width: 220px;
    margin: 0 auto;
}
.cs1267esaud1{
	    margin-left: 140px!important;
}
.cs1267espips1{
	    margin-left: 170px!important;
}
.cs1267esfxpair1{
	    margin-left: 20px!important;
    margin-top: -8px!important;
}
.cs1267eslav1{
	    margin-left: 120px!important;
}
.cs1267esecn1{
	    margin-left: 180px!important;
}
.cs1267eslot1{
	margin-left: 183px!important;
}
.cs1267essize1{
	    margin-left: 50px!important;
}
.cs1267esea1{
	    margin-left: 275px!important;
}
.cs1267esmob1{
	margin-left: 173px!important;
}
.cs1267estrdbtn {
    text-align: center;
}
.cs1267esdemo{
	    margin-top: 8px!important;
    margin-left: 230px!important;
}
.cs1267esaud2{
	margin-left: 130px!important;
}
.cs1267espips2{
	    margin-left: 150px!important;
}
.cs1267esfxpair2{
	margin-left: 15px!important;
}
.cs1267eslav2{
	    margin-left: 115px!important;
}
.cs1267esecn2{
	margin-left: 173px!important;
}
.cs1267esusd2{
	    margin-left: 92px!important;
}
.cs1267essize2{
	    margin-left: 40px!important;
}
.cs1267esea2{
	    margin-left: 265px!important;
}
.cs1267esmob2{
	    margin-left: 162px!important;
}
.cs1267esvps2{
	    margin-left: 183px!important;
}
.cs1267esdemo2{
	    margin-top: 10px!important;
    margin-left: 125px!important; 
}
.cs1282vit1r1{
	    margin-left: 145px!important;
}
.cs1282frpips1{
	    margin-left: 175px!important;
}
.cs-new-int-1282-inst-pl-align{
	    margin-top: 35px!important;
}
.cs1282vit1r3{
	    margin-left: 90px!important;
}
.cs1282frlavm{
	margin-top: 20px!important;
}
.cs1282vit1r4{
	margin-left: 130px!important;
}
.cs1282vit1r5{
	margin-left: 185px!important;
}
.cs1282vit1r6{
	    margin-left: 190px!important;
}
.cs1282vit1r7{
	    margin-left: 60px!important;
}
.cs1282vit1r8{
	margin-left: 283px!important;
}
.cs1282vit1r9{
	    margin-left: 180px!important;
}
.cs1282vit1r10{
	    margin-left: 200px!important;
}
.cs-de-regn-1282-blue-btn{
	text-align:center!important;
}
.cs-blue-btn-new-1282-int-pl-regn{	
    margin-top: 20px!important;
    margin-left: 165px!important;
}
.cs1282vit2r1{
	    margin-left: 135px!important;
}
.cs1282vit2r3{
	width: 175px!important;
	    margin-left: 80px!important;
		    margin-top: -15px!important;
}
.cs1282vit2r4{
	    margin-left: 115px!important;
}
.cs1282vit2r5{
	    margin-left: 175px!important;
}
.cs1282vit2r6{
	    margin-left: 84px!important;
}
.cs1282vit2r7{
	    margin-left: 45px!important;
}
.cs1282vit2r8{
	margin-left: 270px!important;
}
.cs1282vit2r9{
	    margin-left: 168px!important;
}
.cs1282vit2r10{
	    margin-left: 190px!important;
}
.cs1282frstrtbtnm2{
	    margin-top: 25px!important;
}
.cs-de-regn-1282-red-btn{
	text-align:center!important;
}
.cs-de-regn-1282-demo-2-btn{
	margin-top: 10px!important;
    margin-left: 130px!important;
}
.cs-new-int-158-pl-regn-align-for-cnt{
	margin-top:0px!important;
}
.cs-int-pl-regn-ct2-padgin-top-btm-158-new{
	    padding-top: 95px!important;
    padding-bottom: 65px!important;
}
.font-al-region-de{
	    line-height: 38px!important;
}
.btn-ble-al-region-de{
	width: 340px;
    margin-top: auto!important;
    margin: auto 0;
}