/* PT CSS */
ul.menu-ul.cs-region-align-pt-menu-ul-list {
    margin-left: 26px !important;
}
.menu-hd-font{
	padding: 10px !important;
}
a.drop-open-live-btn {
    margin-left: -20px !important;
	font-size: 14px !important;
}
a.drop-demo-live-btn {
    margin-left: -42px !important;
    font-size: 14px !important;
}
li.col-sm-2.margin-top-for-men-itm {
    margin-left: -5px !important;
}
.social_menu_icon2:after {
    right: -129px !important;
}
.app_menu_icon:after{
	right: -6px !important;
}
.social_menu_icon:after {
    right: 4px !important; 
}
.app_menu_icon2:after{
	right: -3px !important;
    margin-top: -27px !important;
}





.cs1267esaud1{
	    margin-left: 120px!important;
} 
.cs1267pips{
	    margin-left: 120px!important;
}
.cs1267fxpair{
	margin-left: 42px!important;
    margin-top: -19px!important;
    width: 180px;
}
.cs-1267-region-align-for-int-pt{
	    margin-top: 10px!important;
}
.cs1267itlav{
	    margin-left: 125px!important;
}
.cs1267itecn{
	    margin-left: 135px!important;
}
.cs1267itlot{
	    margin-left: 160px!important;
}
.cs1267itsize{
	    margin-left: 30px!important;
}
.cs1267itea{
	    margin-left: 265px!important;
}
.cs1267itmob{
	    margin-left: 217px!important;
}
.cs1267itvps{
	    margin-left: 188px!important;
}
.cs1267estrdbtn{
	    margin-top: -10px!important;
}
.cs1267esdemo{
	margin-left: 190px!important;
}
.cs1267aud2{
	    margin-left: 110px!important;
}
.cs1267itpips2{
	    margin-left: 110px!important;
}
.cs1267fxpair2{
	    margin-left: 40px!important;
    margin-top: -20px!important;
    width: 180px!important;
}
.max-lev-cs-1267-regn-align-pt{
	    margin-top: 10px!important;
}
.cs1267itlav2{
	margin-left: 115px!important;
}
.cs1267esecn2{
	    margin-left: 125px!important;
}
.cs1267itsize2{
	    margin-left: 20px!important;
}
.cs1267itmob2{
	    margin-left: 208px!important;
}
.cs1267itvps2{
	    margin-left: 180px!important;
}
.cs1267esdemo2{
	    margin-left: 75px!important;
}
.cs-new-header-pt-int-align-funding-btn{
	width: 150px!important;
}
.cs-new-header-pt-int-align-grp-btn{
	    margin-left: 55px!important;
} 
 #choose-our-metatrader-trading-section {
    padding-top: 100px;
    padding-bottom: 65px!important;
} 
