.social_menu_icon:after{
	background: none !important;
}
ul.menu-ul.cs-region-align-pt-menu-ul-list {
    margin-left: -17px !important;
}
a.drop-open-live-btn {
    margin-left: -18px !important;
	font-size: 14px !important;
}
a.drop-demo-live-btn {
    margin-left: -29px !important;
	font-size: 14px !important;
}
.social_menu_icon2:after {
    background: none !important;
}
.app_menu_icon:after{
	right: 76px !important;
}
li.col-sm-2.margin-top-for-men-itm {
    margin-left: -9px !important;
}
.app_menu_icon2:after{
	right: 82px !important;
    margin-top: -23px !important;
}

