.bg-style-for-box.cs10essearchw{
	width: 80% !important;
}
.cs4830esdiscl > span > strong{
	color: #00beff !important;
}
.cs4751esemail{
	margin-top: -40px !important;
}
.cs219essub > br{
	display: contents;
}
.cs219esmt4m{
	margin-left: 80px !important;
}
.cs219esmt4s1{
	padding-right: 12px !important;
}
.cs219esmt4s2{
	padding-right: 20px !important;
}
.cs219esmt4s3{
	padding-right: 35px !important;
	padding-left: 65px !important;
}
.cs219esmt4s4{
	padding-left: 50px !important;
}
.cs219esspeth > br {
	display: contents;
}
.cs942esspeth > br {
display: contents;
}
.cs936esmt4m{
	margin-left: 80px !important;
}
.cs936esmt4s1{
	padding-right: 12px !important;
}
.cs936esmt4s2{
	padding-right: 20px !important;
}
.cs936esmt4s3{
	padding-right: 35px !important;
	padding-left: 65px !important;
}
.cs936esmt4s4{
	padding-left: 10px !important;
}
.cs936esspeth > br {
	display: contents;
}
.cs946esmt4m{
	margin-left: 80px !important;
}
.cs946esmt4s1{
	padding-right: 12px !important;
}
.cs946esmt4s2{
	padding-right: 20px !important;
}
.cs946esmt4s3{
	padding-right: 35px !important;
	padding-left: 65px !important;
}
.cs946esmt4s4{
	padding-left: 50px !important;
}
.cs946esspeth > br {
	display: contents;
}
.cs946esmt4and > br {
	display: contents;
}


.cs38esonlith > span {
	font-size: 32px !important;
}
.cs1048esonlith > span{
	font-size: 32px !important;
}
.cs1040esonlith > span{
	font-size: 32px !important;
}


.cs223esmt5m{
	margin-left: 80px !important;
}
.cs223esmt5s1{
	padding-right: 12px !important;
}
.cs223esmt5s2{
	padding-right: 20px !important;
}
.cs223esmt5s3{
	padding-right: 35px !important;
	padding-left: 65px !important;
}
.cs223esmt5s4{
	padding-left: 50px !important;
}
.cs223esspeth > br {
	display: contents;
}


.cs1014esmt5m{
	margin-left: 80px !important;
}
.cs1014esmt5s1{
	padding-right: 12px !important;
}
.cs1014esmt5s2{
	padding-right: 20px !important;
}
.cs1014esmt5s3{
	padding-right: 35px !important;
	padding-left: 65px !important;
}
.cs1014esmt5s4{
	padding-left: 50px !important;
}
.cs1014esspeth > br {
	display: contents;
}

.cs1001esmt5m{
	margin-left: 80px !important;
}
.cs1001esmt5s1{
	padding-right: 12px !important;
}
.cs1001esmt5s2{
	padding-right: 20px !important;
}
.cs1001esmt5s3{
	padding-right: 35px !important;
	padding-left: 65px !important;
}
.cs1001esmt5s4{
	padding-left: 90px !important;
}
.cs1001esspeth > br {
	display: contents;
}


.cs213esmetal{
	top: 25px !important;
}


.cs11059esmt5m{
	margin-left: 80px !important;
}
.cs11059esmt5s1{
	padding-right: 12px !important;
}
.cs11059esmt5s2{
	padding-right: 20px !important;
}
.cs11059esmt5s3{
	padding-right: 35px !important;
	padding-left: 65px !important;
}
.cs11059esmt5s4{
	padding-left: 50px !important;
}
.cs11059esspeth > br {
	display: contents;
}


.eshidden.cs150establd{
	display: block !important;
}
.cs150escom1{
	margin-left: 210px !important;
}
.cs150esequ1 > br {
	display: contents;
}
.cs150eslev1{
	margin-left: 110px !important;
}
.cs150estrdbtn{
	font-size: 15px !important;
}
.cs150esdemo1{
	margin-left: 200px !important;
}
.cs150esdemo2{
	margin-left: 130px !important;
}

.cs152esmenuw{ 
	width: 23% !important;
}
.cs152esmenuw1{
	width: 26% !important;
	white-space: nowrap !important;
}
.cs10563esglom{
	margin-top: 30px !important;
}
.cs10563esglbvm{
	margin-top: 73px !important;
}
.cs10563trm45l{
	line-height: 2 !important;
}


.cs337esmenuw{
	width: 15% !important;
}
.cs337esmenuw1{
	width: 20% !important;
	white-space: nowrap !important; 
}
.cs337estoolb{
    color: #f82f4a !important;
    text-decoration: underline !important;
}
.cs337estoolb > br {
	display: contents;
}

.cs91esmenuw1{
	white-space: nowrap !important;
	width: 18.6% !important;
}
.cs91esmenuw2{
	white-space: nowrap !important;
	width: 16.2% !important; 
}
.cs10049menuw1{
	width: 15% !important;
}
.cs10049menuw2{
	white-space: nowrap !important;
	width: 20% !important;
}
.cs10049glbm{
	padding-left: 70px !important;
}
.cs10049glbm2{
	padding-left: 7px !important;
	padding-right: 5px !important;
}

.cs199esmenuw{
	white-space: nowrap !important;
}
.cs199esbanktf{
	font-size: 12px !important;
}

.cs4173escrd1m{
	padding-bottom: 5px !important;
}
.cs4173eswhlbm{
	padding-bottom: 242px !important;
}
.cs4173esregm{
	padding-bottom: 25px !important;
}

.cs1282esmenuw{
	white-space: nowrap !important;
}
.cs1282essubp > br {
	display: contents;
}


.cs1282esequ1{
	margin-left: 125px !important;
}
.cs1282esinst1{
	margin-left: 22px !important;
}
.cs1282eslav1{
	margin-left: 112px !important;
}
.cs1282esecn1{
	margin-left: 154px !important;
}
.cs1282eslot1{
	margin-left: 172px !important;
}
.cs1282essize1{
	margin-left: 42px !important;
}
.cs1282esea1{
	margin-left: 294px !important;
}
.cs1282esmob1{
	margin-left: 242px !important;
}
.cs1282esvps1{
	margin-left: 206px !important;
}
.cs1282esstrtbtn1{
	font-size: 15px !important;
}
.cs1282esdem1m{
	margin-left: 210px !important;
}
.cs1282esequ2{
	margin-left: 118px !important;
}
.cs1282esinst2{
	margin-left: 16px !important;
}
.cs1282eslav2{
	margin-left: 104px !important;
}
.cs1282esecn2{
	margin-left: 144px !important;
}
.cs1282eslot2{
	margin-left: 60px !important;
}
.cs1282essize2{
	margin-left: 32px !important;
}
.cs1282esea2{
	margin-left: 286px !important;
}
.cs1282esmob2{
	margin-left: 234px !important;
}
.cs1282esvps2{
	margin-left: 198px !important;
}
.cs1282esdem2m{
	margin-left: 130px !important;
}

.cs368esmenu1w{
	width: 18.4% !important;
	white-space: nowrap !important;
}
.cs368esmenuw{
	width: 16.2% !important;
	white-space: nowrap !important;
}

.cs2543esmenu1w{
	white-space: nowrap !important;
	width: 18% !important;
}
.cs2543esmenuw{
	white-space: nowrap !important;
	width: 16% !important; 
}
.cs2543esdmaf > br {
	display: contents;
} 

.cs42escom1{
	margin-left: 242px !important;
}
.cs42esleva1{
	margin-left: 140px !important;
}
.cs42esstrttf{
	font-size: 15px !important;
}
.cs42eslink1{
	margin-left: 240px !important;
}
.cs42eslotusd{
	margin-left: 75px !important;
}
.cs42eslev2{
	margin-left: 140px !important;
}
.cs42eslink2{
	margin-left: 140px !important;
}


.cs42esasx1{
	margin-left: 100px !important;
}
.cs42esasx2{
	margin-left: 110px !important;
}
.cs42esasx3{
	margin-left: 115px !important;
}
.cs42esaud1{
	margin-left: 92px !important;
}
.cs42esaud2{
	margin-left: 85px !important;
}
.cs42esaud3{
	margin-left: 85px !important;
}
.cs42escfdfc{
	margin-top: 12px !important;
}
.cs42escfdf{
	width: 240px !important;
	font-size: 15px !important;
}
.cs42escfdd1{
	font-size: 15px !important;
	margin-left: -10px !important;
}
.cs42escfdd2{
	font-size: 15px !important;
	margin-left: -8px !important;
}
.cs42escfdd3{
	font-size: 15px !important;
	margin-left: -6px !important;
}
.cs42esfin{
	margin-left: 88px !important;
}
.cs42esbtnf{
	font-size: 15px !important;
}

.cs3234esmenuw1{
    white-space: nowrap !important;
	width: 27% !important;
}
.cs3234esmenuw{
	width: 24% !important;
}

.cs13595esmenu1w{
	white-space: nowrap !important;
	width: 18% !important;
}
.cs13595esmenuw{
	width: 16% !important;
}
.cs13595estool{
	 color: #f82f4a !important;
    text-decoration: underline !important;
    font-size: 18px !important;
}
.cs13595estool > br {
	display: contents;
} 
.cs13595esimgp{
	padding-bottom: 105px !important;
}

.cs245estrdp{
	padding-top: 10px !important;
	font-size: 17px !important;
}
.cs245estrbtn{
	padding-top: 25px !important;
}

.cs245esguidp30{
	padding-top: 30px !important;
}
.cs245esguidp10{
	padding-top: 10px !important;
}
.cs245esguidp15{
	padding-top: 15px !important;
}

.cs1277esbal1{
	margin-left: 150px !important;
}
.cs1277esbrok1{
	margin-left: 50px !important;
}
.cs1277esfin{
	margin-left: 84px !important;
}
.cs1277estrad1{
	font-size: 15px !important;
	margin-left: 16px !important;
}
.cs1277esinvm1{
	margin-left: 65px !important;
}
.cs1277esasxli12{
	margin-left: 25px !important;
	font-size: 15px !important;
	margin-top: -6px !important;
}
.cs1277esasxdey12{
	margin-left: 92px !important;
}
.cs1277estelf{
	font-size: 15px !important;
}
.cs1277estelf > br {
	display: contents;
}
.cs1277estel123{
	font-size: 15px !important;
	margin-left: 20px !important;
}
.cs1277esdes1{
	margin-left: 38px !important;
	font-size: 15px !important;
}
.cs1277esbtnm{
	padding-left: 12px !important;
}
.cs1277esbal2{
margin-left: 140px !important;
}
.cs1277estrad2{
margin-left: 20px !important;
font-size: 15px !important;
}
.cs1277esinvm2{
	margin-left:60px !important;
}
.cs1277esbal3{
	margin-left: 140px !important;
}
.cs1277esbrok3{
	margin-left: 40px !important;
	font-size: 15px !important;
}
.cs1277estrad3{
	margin-left: 48px !important;
}
.cs1277esinvm3{
	margin-left: 60px !important;
}
.cs1277esasxli3{
	margin-left: 38px !important;
}
.cs1277esasxdey3{
	margin-left: 94px !important;
}
.cs1277esdes3{
	margin-left: 32px !important;
}


.cs1267esaud1{
	margin-left: 118px !important;
}
.cs1267espips1{
	margin-left: 155px !important;
}
.cs1267esfxpair1{
	margin-left: 36px !important;
	margin-top: -6px !important;
	font-size: 15px !important;
}
.cs1267eslav1{
	margin-left: 104px !important;
}
.cs1267esecn1{
	margin-left: 146px !important;
}
.cs1267eslot1{
	margin-left: 164px !important;
}
.cs1267essize1{
	margin-left: 32px !important;
}
.cs1267esea1{
	margin-left: 284px !important;
}
.cs1267esmob1{
	margin-left: 232px !important;
}
.cs1267esvps1{
	margin-left: 198px !important;
}
.cs1267esdemo{
	margin-left: 232px !important;
}
.cs1267estrdbtn{
	font-size: 15px !important;
}
.cs1267esaud2{
	margin-left: 108px !important;
}
.cs1267espips2{
	margin-left: 148px !important;
}
.cs1267esfxpair2{
	margin-left: 28px !important;
	margin-top: -6px !important;
	font-size: 15px !important;
}
.cs1267eslav2{
	margin-left: 94px !important;
}
.cs1267esecn2{
	margin-left: 136px !important;
}
.cs1267esusd2{
	margin-left: 80px !important;
}
.cs1267essize2{
	margin-left: 22px !important;
}
.cs1267esea2{
	margin-left: 274px !important;
}
.cs1267esmob2{
	margin-left: 222px !important;
}
.cs1267esvps2{
	margin-left: 188px !important;
}
.cs1267esdemo2{
	margin-left: 120px !important;
}
.cs1267estool{
	color: #f82f4a !important;
    text-decoration: underline !important;
    font-size: 18px !important;
}
.cs1267estool > br {
	display: contents;
}
.cs11569ar1menu,.cs11569arremmenu{
	    width: auto!important;
    min-width: 170px;
}
.cs219ar1horz,.cs219ar2horz,.cs219ar3horz,.cs936ar1horz,.cs936ar2horz,.cs936ar3horz,.cs223ar1horz,.cs223ar2horz,.cs223ar3horz{
	background:none!important;
}
.cs-936-pl-img-al-regn{
	    width: 320%;
}
.cs-213-ru-regn-al-padg-are-sec{
	    padding-top: 105px!important;
}
.cs-380-for-heig-de-al{
	    height: 520px!important;
}
.cs-380-de-bitcoin-hei-al{
	    height: 470px!important;
}
.cs-de-380-bch-al{
	    height: 585px!important;
}
.margin-for-fr-reg{
	    margin-top: 0px!important;
}
.cs-menude-9372{
	    width: auto!important;
    min-width: 160px;
}
.fr-meni-alig-trans,.forex-fr-menu{
	    width: auto!important; 
    min-width: 160px;
}
.cs-de-13829-head-font-al{
	padding-top: 15px!important;
}
.cs-158-pt-padg-al{
    padding-top: 90px!important;
    padding-bottom: 125px!important;
}
.cs-339-pt-menu-regn-al{
	    width: auto!important;
    min-width: 160px;
}
.cs-339-ru-regn-al-image-one{
	margin-top: -85px!important;
}
.cs-ru-regn-min-heg-al-339{
	    min-height: 550px!important;
}
.cs-341-pt-regn-al-menu{
	    width: auto!important;
    min-width: 160px;
}
.cs-306-pt-regn-padg-al{
    padding-top: 90px!important;
    padding-bottom: 80px!important;
}
.cs-ru-regn-al-btn-form>div>div>form>div.mktoButtonRow>span>button.mktoButton {
    margin-left: 140px;
    margin-top: 20px;
    font-size: 18px!important;
    width: 160px!important;
}
.cs-306-ru-regn-padg-al{
	padding-top: 90px!important;
    padding-bottom: 35px!important;
}
.cs-101-pt-regn-al-btn{
	font-size: 18px!important;
	    margin-left: -10px;
}
.hei-for-regin{
	    height: 430px!important;
}
.cs-942-fr-regn-al-ea{
	    padding-top: 0px!important;
}
.cs-1044-es-regn-aftr-al{
    z-index: 9;
    position: relative;
    background: #fff;
}
.cs-152-es-font-al>br{
	display:none;
}
.cs-152-es-regn-alg-cs{
    padding-top: 90px!important;
    padding-bottom: 65px!important;
}
.cs1277vibulpos1{
	    background-position: 430px 11px!important;
}
.cs1277vibulpos2{
	    background-position: 390px 12px!important;
}
.cs1277vibulpos3{
	    background-position: 390px 12px!important;
}
.cs245vimt4head>br{
	display:none;
}
.cs-13829-pl-aling-trans:after {
    content: "o"!important;
    font-size: 38px;
    font-weight: 600;
    color: #00beff;
    right: -10px!important;
    top: 50%;
    position: absolute!important;
}
.cs-339-pt-regn-btn-al{
	    width: 380px!important;
}
a.black-button.cs-339-pt-regn-btn-al{
	width: 345px!important;
}
.cs-101-ru-menu-regn-al{
    width: auto!important;
    min-width: 225px;
}
.cs-174-it-regn-for-font>span{
	    color: #2e3642!important;
}
.cs-174-es-regn-aft-al{
	    padding-top: 5px!important;
}
li#menu-item-74 {
    color: #3e495c!important;
}
.cs-14358-es-regn-aft{
	    font-size: 54.5px!important;
}
.cs-11569-es-regn-algn{
    padding-top: 90px!important;
    padding-bottom: 95px!important;
}
.cs-de-946-tightspread>div,.cs946virawml,.cs946vifastml,.cs1014ar1horz,.cs1014ar2horz,.cs1014ar3horz{
	background:none!important;
}
.img-cs-346-pl-regn-al{
	    max-width: 110%!important;
}
.cs1044frtabs4{
	    margin-left: -45px!important;
}
.cs-1048-es-regn-algn-pad,.cs-1040-pad-algn-es-for-steps{
    padding-top: 90px!important;
    padding-bottom: 105px!important;
}
.cs-9372-es-regn-align-pad{
    padding-top: 95px!important;
    padding-bottom: 70px!important;
}
.cs-10049-fr-omag-one-al{
	max-width: 115%!important;
}
.cs-10049-fr-omag-sec-al{
	    margin-top: 155px!important;
}
.cs-2095-ru-menu-regn-al{
	width: auto!important;
}
.cs-home-ru-regn-align-blue{
	width:150px;
}
.cs-home-ru-regn-align-demo{
	margin-left:30px;
	width:150px;
}
.cs-es-regn-menu-left-40-align{
	    margin-left: 50px;
}
.cs-es-regn-menu-left-50-align{
	margin-left: 35px;
}
.cs-advan-es-padding-regn-align{
	padding-top: 60px!important;
}
.cs-home-ru-regn-align-blue-nab-bar{
	width:220px;
}
.eshid-cs-for-es-regn-align-vis.es-regn-butn-align{
	display:block!important;
}
.cs-es-vi-regn-align-btn-padding{
	    margin-left: -15px;
}
.col-md-4>ul>li.list-group {
    margin-right: 10px!important;
}
div.collapse.navbar-collapse.js-navbar-collapse>ul#menuHoverColor>li.hidden-xs.ruhidden.eshidden.dehidden.pthidden.vihidden.frhidden{
	display:block!important;
}
ul.menu-ul.header-regn-new-align-all-lang-menu{
	    margin-left: -15px!important;
}
a.drop-open-live-btn.open-live-btn-blue-new-header-regn-align {
    display: block;
    width: 150px!important;
}
a.drop-demo-live-btn.try-demo-btn-grey-new-header-regn-align {
    display: block;
    width: 140px!important;
    text-align: center!important;
    margin-left: -20px!important;
}
.cs-new-header-align-for-regn-2021-left-menu{
	    margin-left: -20px!important;
}
.cs-regions-lang-social-trading-btn-after-align-new-one:after{
	    right: -115px!important;
}
.cs-new-regions-lang-fp-pro-acc-btn-after-align-secn:after{
	right: -5px!important;
}
.new-cs-regions-lang-social-trading-acc-btn-after-align-secn:after{
	right: 20px!important;
}
ul.menu-ul.header-home-regn-new-align-all-lang-menu{
	    margin-left: -15px;
}
a.drop-open-live-btn.open-home-live-btn-blue-new-header-regn-align {
    display: block;
    width: 150px!important;
}
a.drop-demo-live-btn.try-home-demo-btn-grey-new-header-regn-align {
    display: block;
    width: 149px!important;
    text-align: center!important;
    margin-left: -20px!important;
}
.cs-home-new-header-align-for-regn-2021-left-menu{
	    margin-left: -20px;
}
.cs-new-region-br-align-for-btn-before-text{
	line-height: 30px!important;
}
.cs-new-region-br-align-for-click-here-btn{
	    width: 250px;
}
a.btn.upgrd-buton.register-now-btn-cs-new-region-lang-align-14121 {
    left: 10px!important;
}
.set-reminder-btn-cs-region-align-for-all-lang-14121{
	    margin-left: -15px;
}
.cs-ru-demo-align-for-btn{
	    width: 380px;
}