.cs4751fremail{
	padding-top: 0px !important;
}
.cs4830frdiscl > span > strong {
	color: #00aeef !important;
}
.cs10frmenuw{
	width: 16% !important;
}
.cs10frmenuw1{
	width: 18% !important;
	white-space: nowrap !important; 
}
.cs10frsearch.bg-style-for-box{
	width: 92% !important; 
}

.cs219frpltfrm > br {
	display: contents; 
}
.cs219frreqdem{
	font-size: 18px !important;
}
.cs219frmt4tblw{
	width: 23% !important;
}
.cs219frfast{
	padding-right: 20px !important;
}
.margin-for-left-75.cs219frmt4tblw{
	margin-left: 20px !important;
}

.black-button.cs942frreqdem{
	font-size: 18px !important;
}

.cs936frreqdem{
	font-size: 18px !important;
}
.cs936frmt4tblw{
	width: 23% !important;
}
.cs936frfast{
	padding-right: 20px !important;
}
.margin-for-left-75.cs936frmt4tblw{
	margin-left: 20px !important;
}

.cs946frmt4s3{
	margin-left: -35px !important;
}
.cs946frmt4s4{
	margin-left: -70px !important;
}
.cs946frreqdem{
	font-size: 18px !important;
}
.cs946frmt4and > br {
	display: contents !important;
}
.cs946frspeth > br{
	display: contents;
}

.cs38fropncc{
	font-size: 18px !important;
}
.cs38frreqdem{
	font-size: 15px !important;
}
.cs38frtabs1{
	margin-left: 10px !important;
}
.cs38frtabhf.color-font{
	font-size: 42.5px!important;
}
.cs38frtabs3{
	padding-right: 0px !important;
}
.cs38frtabs4{
	margin-left: -20px !important;
}

.cs1044frreqdem{
	font-size: 18px !important;
}
.cs1044frtabs1{
	margin-left: 10px !important;
}
.cs1044frtabhf.color-font{
	font-size: 42.5px!important;
}
.cs1044frtabs3{
	padding-right: 0px !important;
}
.cs1044frtabs4{
	margin-left: -20px !important;
}


.cs1048fropncc{
	font-size: 18px !important;
}
.cs1048frreqdem{
	font-size: 15px !important;
}
.cs1048frtabs1{
	margin-left: 10px !important;
}
.cs1048frtabhf.color-font{
	font-size: 42.5px!important;
}
.cs1048frtabs3{
	padding-right: 0px !important;
}
.cs1048frtabs4{
	margin-left: -20px !important;
}


.cs1040frreqdem{
	font-size: 18px !important;
}
.cs1040frtabs1{
	margin-left: 10px !important;
}
.cs1040frtabhf.color-font{
	font-size: 42.5px!important;
}
.cs1040frtabs3{
	padding-right: 0px !important;
}
.cs1040frtabs4{
	margin-left: -20px !important;
}


.cs994frreqdem.black-button{
	font-size: 18px !important;
}


.cs223frreqdem{
	font-size: 18px !important;
}
.cs223frtabs3{
	padding-right: 30px !important;
}
.cs223frmt5tabw{
	width: 23% !important;
}
.margin-for-left-75.cs223frmt5tabw{
	margin-left: 20px !important;
}
.cs223frmt5s3{
    margin-left: -40px !important;
}
.cs223frmt5s4{
	margin-left: -70px !important;
}
.cs223frspeth > br{
	display: contents;
}
.cs223frtrdacc{
	font-size: 20px !important;
}


.cs1014frreqdem{
	font-size: 18px !important;
}
.cs1014frmt5s3{
	margin-left: -40px !important;
}
.cs1014frmt5s4{
	margin-left: -70px !important;
}
.cs1014frspeth > br {
	display: contents;
}


.cs1001frreqdem{
	font-size: 18px !important;
}
.cs1001frmt5s3{
	margin-left: -40px !important;
}
.cs1001frmt5s4{
	margin-left: -70px !important;
}
.cs1001frspeth > br {
	display: contents;
}


.cs213frmenuw{
	white-space: nowrap !important;
	width: 16.6% !important;
}
.cs213frmetal{
	top: 50px !important;
}
.cs213frsearchw{
	width: 96% !important;
	left: 10px !important;
}


.cs209frmenuw{
	width: 18% !important;
}
.cs209frsearch.bg-style-for-box{
	width: 91% !important;
}


.cs380frmenuw{
	white-space: nowrap !important;
	width: 18% !important;
}
.cs380frbtcm{
	margin-left: 0px !important;
}
.cs380frlistw{
	width: 53% !important;
}
.cs380frbtnh{
	padding-top: 10px !important;
}
.cs380frlistp{
	padding-left: 0px !important;
}
.cs380frsearchw{
	width: 96% !important;
	left: 25px !important;
}


.cs150frsprdbtn{
	font-size: 14px !important;
	margin-right: 0px !important; 
}
.cs150frtabd.frhidden{
	display: block !important;
}
.cs150frpips1{
	margin-left: 120px !important;
}
.cs150frequ1{
	margin-left: 24px !important;
}
.cs150frequ1 >br {
	display: contents;
}
.cs150frlev1{
	margin-left: 156px !important;
}
.cs150frtrdbtnm1{
	margin-left: 145px !important;
}
.cs150frtrdbtn{
	width: 300px !important;
	padding: 16px !important;
	font-size: 15px !important;
}
.cs150frdemo1{
	margin-left: 190px !important;
}
.cs150frpips2{
	margin-left: 125px !important;
}
.cs150frequ2{
	margin-left: 30px !important;
}
.cs150frequ2 > br {
	display: contents;
}
.cs150frlev2{
	margin-left: 160px !important;
}
.cs150frtrdbtnm2{
	margin-left: 75px !important;
}
.cs150frdemo2{
	margin-left: 125px !important;
}
.cs150frsearchw.bg-style-for-box{
	width: 92% !important;
}


.cs11059frreqdem{
	font-size: 18px !important;
}
.cs11059frmt5s3{
	margin-left: -35px !important;
}
.cs11059frspeth > br {
	display: contents;
}


.cs166frmenuw{
	white-space: nowrap !important;
	width: 18% !important;
}
.cs166frsearchw.bg-style-for-box{
	width: 92% !important;
}


.cs152frmenuw{
	width: 18% !important;
}
.cs152frmenuw1{
	white-space: nowrap !important;
	width: 20% !important;
}
.cs152frmenuw2{
	white-space: nowrap !important;
	width: 40% !important; 
}


.cs10563frmenuw{
	width: 18% !important;
	white-space: nowrap !important;
}
.cs10563frglbvm{
	margin-top: 45px !important;
}
.cs10563frglom{
	margin-top: 30px !important;
}
.cs10563frglbex >br {
	display: contents;
}

.cs9372frmenurow{
	height: 52px !important;
}
.cs9372frimgpad{
	padding-top: 40px !important;
}


.cs337frtabbar3{
	    background-position-y: 75% !important;}
.cs337frmenuw{
	white-space: nowrap !important;
	width: 16% !important; 
}
.cs337frmenuw1{
	white-space: nowrap !important;
	width: 20% !important;
}
.cs337frtoolb{
	color: #f82f4a !important;
	text-decoration: underline !important;
}
.cs337frtoolb >br {
	display: contents;
}


.cs91frmenurw{
	padding-left: 0px !important;
}
.cs91frmenuw1{
	white-space: nowrap !important;
	width: 24% !important;
}
.cs91frmenuw2{
	white-space: nowrap !important;
	width: 19% !important;
}
.cs91frmenuw3{
	white-space: nowrap !important;
	width: 14% !important;
}
.cs91frmenuw4{
	white-space: nowrap !important;
	width: 10% !important;
}
.cs91fr3horz{
    background-position-y: 85% !important;
}
.cs91frmenup{
	padding: 1px 6px !important;
}


.cs10049frmenuw{
	white-space: nowrap !important;
	width: 16% !important;
}
.cs10049frmenuw1{
	white-space: nowrap !important;
	width: 20% !important;
}


.cs199frbanktf{
	font-size: 12px !important;
}
.cs199frbnkp30{
	padding-top: 30px !important;
}
.cs199frbnkp25{
	padding-top: 25px !important;
}
.cs199frmenuw{
	white-space: nowrap !important;
}


.cs4173frwhlbm{
	margin-bottom: 172px !important;
}
.cs4173frregm{
	margin-bottom: 35px !important;
}
.cs4173frtabimgm{
	margin: 10px 10px 0px !important;
}


.cs239frmenuw{
	white-space: nowrap !important;
}


.cs368frmenurow{
	padding-left: 0px !important;
}
.cs368frmenuw1{
	white-space: nowrap !important;
	width: 24% !important;
}
.cs368frmenuw2{
	white-space: nowrap !important;
	width: 19% !important;
}
.cs368frmenuw3{
	white-space: nowrap !important;
	width: 14% !important;
}
.cs368frmenuw4{
	white-space: nowrap !important;
	width: 9% !important;
}
.cs368frmenup{
	padding: 1px 6px !important;
}



.cs2543frmenuw1{
	white-space: nowrap !important;
	width: 24% !important;
}
.cs2543frmenuw2{
	white-space: nowrap !important;
	width: 19% !important;
}
.cs2543frmenuw3{
	white-space: nowrap !important;
	width: 14% !important;
}
.cs2543frmenuw4{
	white-space: nowrap !important;
	width: 9% !important;
}
.cs2543frmenup{
	padding: 1px 6px !important;
}
.cs2543frvidm{
	margin-top: -10px !important;
}


.cs1282frmenuw{
	white-space: nowrap !important;
	width: 16% !important;
}
.cs1282frmenuw1{
	width: 17% !important;
	white-space: nowrap !important;
}
.cs1282frequ1{
	margin-left: 118px !important;
}
.cs1282frpips1{
	margin-left: 132px !important;
}
.cs1282efrinst1{
	margin-left: 68px !important;
	margin-top: -18px !important;
}
.cs1282frlavm{
	margin-top: 20px !important;
}
.cs1282frlav1{
	margin-left: 170px !important;
}
.cs1282frecn1{
	margin-left: 144px !important;
}
.cs1282frlot1{
	margin-left: 160px !important;
}
.cs1282frsize1{
	margin-left: 40px !important;
}
.cs1282frea1{
	margin-left: 137px !important;
}
.cs1282frmob1{
	margin-left: 172px !important;
}
.cs1282frvps1{
	margin-left: 196px !important;
}
.cs1282frstrtbtn{
	width: 300px !important;
	padding: 16px !important;
	font-size: 15px !important;
}
.cs1282frdemm1{
	margin-left: 200px !important;
}

.cs1282frequ2{
	margin-left: 110px !important;
}
.cs1282frpips2{
	margin-left: 125px !important;
}
.cs1282efrinst2{
	margin-left: 60px !important;
	margin-top: -16px !important;
}
.cs1282frlav2{
	margin-left: 160px !important;
}
.cs1282frecn2{
	margin-left: 135px !important;
}
.cs1282frlot2{
	margin-left: 46px !important;
}
.cs1282frsize2{
	margin-left: 30px !important;
}
.cs1282frea2{
	margin-left: 126px !important;
}
.cs1282frmob2{
	margin-left: 160px !important;
}
.cs1282frvps2{
	margin-left: 184px !important;
}
.cs1282frstrtbtnm2{
	margin-left: 70px !important;
}
.cs1282frdemm2{
	margin-left: 120px !important;
}



.cs13595frmenuw1{
	white-space: nowrap !important;
	width: 24% !important;
}
.cs13595frmenuw2{
	white-space: nowrap !important;
	width: 19% !important;
}
.cs13595frmenuw3{
	white-space: nowrap !important;
	width: 14% !important;
}
.cs13595frmenuw4{
	white-space: nowrap !important;
	width: 9% !important;
}
.cs13595frmenup{
	padding: 1px 6px !important;
}
.cs13595frtoolb{
	color: #f82f4a !important;
	text-decoration: underline !important;
}
.cs13595frtoolb >br {
	display: contents;
}
.cs13595frsprdbtn{
	padding: 7px 18px !important;
	font-size: 15px !important;
}
.cs13595frimgp{
	padding-bottom: 35px !important;
}


.cs245fropacc{
	font-size: 20px !important; 
}
.cs245frusrgudbtn{
	font-size: 15px !important;
}
.cs245frtabp0{
	padding-top: 0px !important;
}
.cs245frtabp20{
	padding-top: 20px !important;
}
.cs245frtabp50{
	padding-top: 50px !important;
}
.cs245frtabp25{
	padding-top: 25px !important;
}
.cs245frtabp15{
	padding-top: 15px !important;
}
.cs245frtabp55{
	padding-top: 55px !important;
}
.cs245frtabp5{
	padding-top: 5px !important;
}
.cs1267viforacc br {
display: none!important;
}
.forex-hd-font{
	    padding-top: 5px!important;
}
.forex-hd-font br {
display: none!important;
}
.header-forex-font br {
display: none!important;
}
.cs1267esaud1{
	margin-left: 110px!important;
}
.cs1267pips{
	    margin-left: 125px!important;
}
li.forex-fr-menu {
    width: auto!important;
	min-width:180px;
}
.cs1267fxpair{
	    margin-left: 55px!important;
    margin-top: -17px!important;
    width: 180px;
    line-height: 20px!important;
}
.cs1267itlav{
	    margin-left: 160px!important;
}
.fr-lev-text{
	    margin-top: 14px!important;
    margin-left: 160px!important;
}
.cs1267esecn1{
	margin-left:135px!important;
}
.cs1267eslot1{
	margin-left: 150px!important;
}
.cs1267essize1{
	    margin-left: 33px!important;
}
.cs1267itea{
	    margin-left: 130px!important;
}
.cs1267itmob{
	    margin-left: 165px!important;
}
.cs1267esvps1{
	margin-left: 190px!important;
}
.blue-button-card{
	    width: 320px!important;
    padding: 10px 20px!important;
}
.cs1267esdemo{
	    margin-left: 220px!important;
}
.forex-fr-acc-button{
    margin-top: 20px!important;
    margin-left: 160px!important;
}
.cs1267aud2{
	    margin-left: 100px!important;
}
.cs1267itpips2{
	    margin-left: 115px!important;
}
.cs1267fxpair2{
	margin-left: 45px!important;
    margin-top: -17px!important;
    width: 180px;
    line-height: 20px!important;
}
.cs1267itlav2{
	    margin-left: 150px!important;
}
.fr-lev2-text{
	    margin-top: 15px!important;
}
.cs1267esecn2{
	    margin-left: 125px!important;
}
.cs1267esusd2{
	margin-left: 65px!important;
}
.cs1267itsize2{
	margin-left: 20px!important;
}
.cs1267itea2{
	    margin-left: 120px!important;
}
.cs1267itmob2{
	margin-left: 155px!important;
}
.cs1267itvps2{
	    margin-left: 180px!important;
}
.red-button-card{
	    width: 320px!important;
    padding: 10px 20px!important;
}
.cs1267esdemo2{
	    margin-left: 100px!important;
}
.forex-fr-acc-red-button{
    margin-top: 20px!important;
    margin-left: 44px!important;
}
#choose-our-metatrader-trading-section {
    padding-top: 85px!important;
    padding-bottom: 80px!important;
}
.fr-meni-alig-trans{
	width:auto!important;
	min-width:175px;
}
.cs42itspr{
	margin-left: 150px!important;
}
.cs42esleva1{
	    margin-left: 185px!important;
}
.cs42eslink1{
	    margin-left: 220px!important;
}
.blue-button-cs42{
	    margin-top: 30px!important;
    margin-left: 160px!important;
}
.cs-42-ea-way{
	    margin-left: 0px!important;
    width: 170px!important;
    line-height: 20px!important;
    margin-top: -8px!important;
}
.cs42viftascol3{
	    margin-left: 135px!important;
}
.cs42eslev2{
	    margin-left: 190px!important;
}
.cs42eslink2{
	margin-left: 120px!important;
}
.red-button-cs42{
    margin-top: 30px!important;
    margin-left: 65px!important;
}
.cs42itaud1{
    margin-left: 100px!important;	
}
.cs42escfdfc{
	    margin-top: 7px!important;
}
.cs42vit1equi{
	width:150px;
}
.cs42viiresst1rc3{
	    margin-left: 55px!important;
    margin-top: 10px!important;
}
.cs42esfin{
    margin-left: 65px!important;
    margin-top: -5px!important;
}
.cs42itbtnmt{
	    margin-top: 15px!important;
    margin-left: 20px!important;
}
.cs42esasx2{
	margin-left: 70px!important;
}
.cs42escfdd2{
    margin-left: 60px!important;
    margin-top: 10px!important;
}
.cs-42-as-23{
	    margin-left: 50px!important;
    margin-top: -5px!important;
}
.cs42viiresst2rc2{
	    margin-left: 85px!important;
}
.cs42viiresst3rc1{
	    margin-left: 75px!important;
}
.cs42esaud3{
	    margin-left: 90px!important;
}
.cs42viiresst3rc3{
	margin-left: 60px!important;
    margin-top: 10px!important;
}
.fore-li-menu-tr{
    width: auto!important;
    min-width: 175px!important;
}
.margin-trs-al{
margin-top:1px!important;
}
.spre-fore-li-menu-tr{
    width: auto!important;
    min-width:230px!important;
} 
.cs-150-blue-button{
    margin-top: 30px!important;
    margin-left: 133px !important;
}
.cs-150-red-button{
margin-top: 30px!important;
    margin-left: 58px !important;
}
.cs-150-btn-ble{
font-size:22px!important;
text-align:center!important;
}
.cs-150-btn-red{
font-size:22px!important;
text-align:center!important;
}
.margin-for-fr-reg{
	margin-top:0px!important;
}
.cs-150-viw-sp-left{
font-size: 17px!important;
    padding: 10px 7px!important;
    width: 100%;
    white-space: nowrap;
    margin-left: -6px;
}
.cs-150-viw-sp-right{
    font-size: 17px!important;
    padding: 10px 7px!important;
    width: 100%;
    white-space: nowrap;
    margin-left: -4px;
}
.cs-150-viw-sp-right{
    padding: 10px 7px!important;	
}
.cs-10563-blue-btn{
	width:250px!important;
}
.cs-10563-wid-al-fr{
    width: 770px!important;
}
.iress-fr-al-men{
    width: auto!important;
    min-width: 175px!important;
}
.cs1277vibulpos1{
	    background-position: 450px 12px!important;
}
.cs1277vibulpos2{
	    background-position: 330px 12px!important;
}
.cs1277vibulpos3{
	    background-position: 385px 12px!important;
}
.cs1277itbal1{
	    margin-left: 140px!important;
}
.cs-1277-sol{
	    margin-left: 20px!important;
}
.cs1277itbrok1{
	    margin-left: 20px!important;
}
.cs-1277-bro-sol{
	    margin-left: 20px!important;
}
.cs-1277-fin-sol{
	    margin-left: 50px!important;
}
.cs1277itfin{
	    margin-left: 70px!important;
}
.cs-1277-ires-sol{
	    margin-left: 20px!important;
}
.cs1277ittrad12{
	    margin-left: -7px!important;
    margin-top: 5px!important;
}
.cs-1277-iresive-sol{
	    margin-top: 30px!important;
    margin-left: 20px!important;
}
.cs1277itinvm12{
	    margin-left: 60px!important;
}
.cs1277esasxli12{
	    margin-left: 35px!important;
    margin-top: -20px!important;
    width: 150px!important;
    white-space: initial!important;
}
.cs-1277-stdasx-live-sol{
	    margin-top: 5px!important;
    margin-left: 20px!important;
}
.cs1277itasxdey12{
	    margin-left: 85px!important;
}
.cs-1277-tel-trad-sol{
	    margin-top: 4px!important;
    margin-left: 20px!important;
    width: 315px!important;
    white-space: initial!important;
}
.cs1277vit1r8{
	    margin-left: 25px;
    margin-top: 5px!important;
}
.cs-1277-accn-trad-sol>span{
	    margin-left: 20px!important;
}
.cs1277itdes1{
	    margin-left: -2px!important;
} 
.cs-1277-asx-live-sol{
	    margin-left: 20px!important;
}
.cs-1277-asx-live-sol>p.card-sec-para-font.cs1277vitabl-db.cs1277vitabl-ml{
	width: 115px!important;
    white-space: initial!important;
}
.cs-1277-stat-ble-btn{
    width: 240px!important;
    padding: 10px 20px!important;
    white-space: initial;
}
.cs-1277-stat-spn{
    margin-left: 50px!important;
}
.cs-1277-dem-sem-link{
    margin-top: 5px!important;
    margin-left: -15px!important;
}
.cs-1277-min-2{
	margin-left: 20px!important;
}
.cs1277esbal2{
	margin-left: 130px!important;
}
.cs-1277-brok-ra-2{
	margin-left: 20px!important;
}
.cs1277itbrok2{
	margin-left: 20px!important;
}
.cs-1277-fina-br-2{
	margin-left: 50px!important;
}
.cs1277vit2r3{
	    margin-left: 55px!important;
}
.cs-1277-ires-inves-2{
	    margin-left: 20px!important;
	margin-top: 30px!important;
}
.cs-1277-asx-live-2{
	    margin-left: 20px!important;
	margin-top: 22px!important;
}
.cs-1277-asx-live-2>p.card-sec-para-font.cs1277vitabl-db.cs1277vitabl-ml {
	width: 115px!important;
    white-space: initial!important;
}
.cs-1277-asx-delay-2{
	    margin-top: 3px!important;
		    margin-left: 20px!important;
}
.cs-1277-ires-tra-2{
	    margin-left: 20px!important;
}
.cs-1277-tel-trad-2{
	    margin-top: 4px!important;
    margin-left: 20px!important;
    width: 315px!important;
    white-space: initial!important;
}
.cs1277vit2r8{
	    margin-top: 3px!important;
}
.cs-1277-acc-dem-2{
	    margin-left: 20px!important;
}
.cs1277vit2r9{
	    margin-left: -5px!important;
}
.cs-1277-std-btn-acc-dem-2{
	    margin-left: 50px!important;
}
.cs-1277-std-btn-red-al{
	    width: 240px!important;
    padding: 10px 20px!important;
    white-space: initial;
}
.cs-1277-min-3{
	    margin-left: 20px!important;
}
.cs1277itbal3{	
    margin-left: 125px!important;
}
.cs-1277-bro-min-3{
	    margin-left: 20px!important;
}
.cs1277itbrok3{
	    margin-left: 35px!important;
    width: 150px;
    white-space: initial;
    margin-top: -10px!important;
}
.cs-1277-fin-min-3{
	    margin-top: 13px!important;
    margin-left: 50px!important;
}
.cs-1277-iress-trad-3{
	    margin-left: 20px!important;
}
.cs1277estrad3{
	margin-left: 5px!important;
    margin-top: -16px!important;
    white-space: initial;
    width: 166px!important;
}
.cs-1277-iress-inves-3{
	    margin-top: 5px!important;
    margin-left: 20px!important;
}
.cs1277esinvm3{
	margin-left:65px!important;
}
.cs-1277-asx-live-3{
	    margin-top: 15px!important;
    margin-left: 20px!important;
}
.cs-1277-asx-live-3>p.card-sec-para-font.cs1277vitabl-db.cs1277vitabl-ml.cs1277vit3l6{
	    width: 135px!important;
    white-space: initial!important;
}
.cs-1277-asx-delay-3{
	    margin-left: 20px!important;
}
.cs1277esasxdey3{
	    margin-left: 90px!important;
}
.cs-1277-tel-trade-3{
	    margin-top: 7px!important;
    margin-left: 20px!important;
    width: 315px!important;
    white-space: initial!important;
}
.cs1277vit3r8{
	    margin-left: 20px!important;
    margin-top: 5px!important;
}
.cs-1277-acc-des-3{
	    margin-left: 20px!important;
}
.cs1277esdes3{
	margin-left: 75px!important;
    width: 150px!important;
    white-space: initial!important;
}
.cs-1277-std-btn-des-3{
	    margin-top: 95px!important;
    margin-left: 50px!important;
}
.cs-1277-red-btn-lst-al-fr{
    width: 240px!important;
    padding: 10px 20px!important;
    white-space: initial;
}
.cs-101-pt-regn-al-btn{
	font-size: 19px!important;
}
.cs-306-pt-regn-padg-al{
	    padding-bottom: 100px!important;
}
.cs-ru-regn-al-btn-form>div>div>form>div.mktoButtonRow>span>button.mktoButton {
    margin-left: 140px;
    margin-top: 20px;
    font-size: 18px!important;
    width: 160px!important;
}
.cs-306-ru-regn-padg-al{
	padding-bottom: 45px!important;
}
.cs-341-pt-regn-al-menu{
	width: auto!important;
    min-width: 170px;
}
.cs-339-ru-regn-al-image-one{
	    margin-top: -40px!important;
}
.cs-339-pt-menu-regn-al{
	    width: auto!important;
    min-width: 140px;
}
.cs-ru-regn-min-heg-al-339{
	    min-height: 570px;
}
.cs-339-pt-regn-btn-al{
	    font-size: 21px!important;
    line-height: 25px;
    width: 390px!important;
    font-weight: 700;
    background-color: #00beff;
    padding: 16px 18px!important;
}
.cs-4299-ru-regn-al-head-font{
	padding-top: 18px!important;
}
.cs-158-pt-padg-al{
	    padding-bottom: 145px!important;
}
.cs-13874-de-image-one-al{
	    margin-top: -2px!important;
	max-width: 110%!important;
    transform: scale(1.5)!important;
}
.cs-de-13829-head-font-al{
	    padding-top: 15px!important;
}
.head-font-cs-13595-de-regn{
	    padding-top: 10px!important;
}
.btn-blu-cs-13595-regn{
	    margin-top: 10px!important;
}
.cs-de-1282-search-box-al{
	    width: 90%!important;
}
.head-font-cs-199-de-region{
	padding-top: 25px!important;
}
.cs199viklarnap{
	    padding-top: 33px!important;
}
.cs-10049-fr-omag-one-al{
	    margin-top: -20px!important;
}
.cs-10049-fr-omag-sec-al{
	    margin-top: 155px!important;
}
.cs-91-fr-regn-head-ftn-al{
	    padding-top: 20px!important;
}
.cs-menude-9372{
	width: auto!important;
}
.mtfive-cs-de-11059-rg-al>br{
	display:none;
}
.mtfive-cs-de-11059-rg-al{
	    padding-top: 25px!important;
}
.cs-380-for-heig-de-al{
	    height: 570px!important;
}
a.blue-button.cs-994-fr-ren-btn-bl{
	    font-size: 19px !important;
}
.mtfiv-de-cs-1014>br{
	display:none;
}
.cs1014ar1horz,.cs1014ar2horz,.cs1014ar3horz,.cs-de-946-tightspread>div,.cs946virawml,.cs946brfastp{
	background:none!important;
}
.mtfor-de-cs-233{
	    padding-top: 3px!important;
}
.img-cs-346-pl-regn-al{
	    max-width: 110%!important;
}
.cs-hd-fon-936>br{
	display:none;
}
.cs-936-pl-img-al-regn{	
    width: 320%!important;
}
.fpm-stytwolist.mt-3.padding-top-10.cs-942-fr-regn-al-ea{
	margin-top: -45px!important;
}
.mtfr-cs-219-de-hdf{
	padding-top: 35px!important;
}
.cs219brmthead>br,.mtfr-cs-219-de-hdf>br{
	display:none;
}
.cs-4751-ru-regn-al-hegt{
	    height: 460px!important;
}
.cs-4751-imag-one-ru-regn{
	transform: scale(1.1)!important;
    margin-top: 15px!important;
}
.cs-4751-imag-bot-ru-regn{
	    top: 378px!important;
}
.cs936ar100{
	    margin-left: -35px!important;
}
.cs-380-for-heig-de-al>div>h2>p>br{
	display:none;
}
.cs-de-380-bch-al{
	    height: 620px!important;
}
.hei-for-regin{
	height: 430px!important;
}
a.black-button.cs936vireqdem.cs936frreqdem.cs936brreqdem {
    font-size: 22px !important;
	    width: 360px!important;
}
a.black-button.cs946vireqdem.cs946frreqdem.cs946brreqdem {
	font-size: 22px !important;
    width: 360px!important;
}
.cs-38-de-regn-ires-hed>span,.cs-1048-de-las-why>span{
	font-size:32px!important;
}
a.black-button.cs1044vireqdem.cs1044frreqdem {
    font-size: 22px !important;
	    width: 360px!important;
}
a.blue-button.cs1048fropncc {
    width: 270px!important;
	font-size: 22px !important;
}
a.black-button.cs1048vireqdem.cs1048frreqdem {
    font-size: 22px !important;
	    width: 360px!important;
}
.cs-iress-1040-font-al-de>span{
	    font-size: 32px!important;
}
a.blue-button.cs223frtrdacc {
    font-size: 24px !important;
}
.cs1001ar1horz,.cs1001ar2horz,.cs1001ar3horz{
	background:none!important;
}
a.black-button.cs11059vireqdem.cs11059frreqdem{
    font-size: 22px !important;
	    width: 365px!important;
}
.cs-152-es-font-al>br{
	display:none;
}
.cs-152-es-regn-alg-cs{
	padding-bottom: 65px!important;
}
.cs-9372-fr-regn-aftr-al-font{
	    font-size: 31px!important;
}
.cs-9372-fr-regn-al-regn-pad{
    padding-top: 95px!important;
    padding-bottom: 25px!important;
}
.cs-199-it-regn-aftr{
	    padding-bottom: 30px!important;
    padding-top: 50px!important;
}
.cs-de-regn-1282-blue-btn{
	    margin-left: -18px;
}
.cs-de-regn-1282-red-btn{
	    margin-left: -13px;
}
li.cs13595ittool.cs13595estool.cs13595viwhat.cs13595frtoolb.translation-block{
	    font-size: 18.5px;
}
.cs245vimt4head>br{
	display:none;
}
.cs-13829-pl-aling-trans:after {
    content: "OU"!important;
    right: -25px!important;
    position: absolute!important;
}
.cs-174-es-regn-aft-al{
	    padding-top: 0px!important;
}
.cs-174-it-regn-for-font>span{
	    color: #2e3642!important;
}
.cs-14358-es-regn-aft{
	    font-size: 52.5px!important;
}
li#menu-item-74 {
    color: #3e495c!important;
}
.cs-advan-es-padding-regn-align{
	    padding-top: 60px!important;
}
.cs-home-ru-regn-align-blue{
	    width: 175px;
}
.cs-home-ru-regn-align-demo{
	margin-left: 55px;
    width: 150px;
}
.cs-es-regn-menu-left-40-align{
	    margin-left: 70px;
}
.cs-es-regn-menu-left-50-align{
	    margin-left: 45px;
}
.cs-footer-home-page-region-align{
	    padding: 0!important;
}
.cs-213-ru-regn-al-padg-are-sec{
	padding-top: 110px!important;
}
.cs-ru-2013-height-al-regn{
	height: 825px!important;
}
.cs-region-new-lang-open-live-btn-left {
    width: 135%;
}
.cs-region-new-lang-try-demo-btn-right {
    width: 125%;
    margin-left: 55px;
}
.cs-regions-lang-margin-left-for-align-new-one{
	    margin-left: 70px;
}
.new-cs-regions-lang-social-trading-acc-btn-after-align-secn:after{
	right: 30px!important;
}
.cs-regions-lang-margin-left-for-align-newsecn{
	    margin-left: 40px;
}
ul.menu-ul.header-regn-new-align-all-lang-menu{
	    margin-left: 80px!important;
}
a.drop-open-live-btn.open-live-btn-blue-new-header-regn-align {
    display: block;
}
a.drop-demo-live-btn.try-demo-btn-grey-new-header-regn-align {
    display: block;
    text-align: center!important;
    margin-left: -15px!important;
    width: 140px!important;
}
ul.menu-ul.header-home-regn-new-align-all-lang-menu{
	    margin-left: 80px;
}
a.drop-open-live-btn.open-home-live-btn-blue-new-header-regn-align{
	display: block;
}
a.drop-demo-live-btn.try-home-demo-btn-grey-new-header-regn-align{
	    display: block;
    text-align: center!important;
    margin-left: -15px!important;
    width: 140px!important;
}
.cs-new-region-br-align-for-btn-before-text{
	line-height:30px!important;
}
a.btn-account.cs-new-region-br-align-for-click-here-btn{
	    width: 205px;
}
a.btn.upgrd-buton.register-now-btn-cs-new-region-lang-align-14121{
	    padding: 10px 10px;
    left: 1px;
}
.cs-ru-demo-align-for-btn{
	width: 430px;
}