.cs4830frdiscl>span>strong{
	color: #00beff;
}
.mtfr-cs-219-de-hdf>br{
	display:none;
}
.mtfr-cs-219-de-hdf{
	padding-top: 50px!important;
}
.cs-219-de-std-al-br>br{
	display:none;
}
.cs-219-de-fol-sim-std-al-br>br{
	display:none;
}
.cs-hd-fon-936>br{
	display:none;
}
.cs-hd-fon-936{
	padding-top: 50px!important;
}
.cs-936-pl-img-al-regn{
	    width: 300%!important;
}
.cs-936-std-whit-font>br,.cs-936-fol-simp-whit-font>br,.cs942visttr>br,.cs942visttr>br{
	display:none;
}
.cs-38-de-rgn-folw-stps>br,.cs-1044-fol-simp-de>br,.cs-1048-de-folw-simp>br{
	display:none;
}
p.cs936armt4tit>br{
	display:none;
}
p.color-font.cs936viclrfnt,p.color-font.cs219viclrfnt,p.color-font.cs-11059-ko-regn-fot-al{
	font-size:70.5px!important;
}
.cs-38-de-regn-ires-hed>span,.cs-1048-de-las-why>span,.cs-iress-1040-font-al-de>span{
	font-size:32px!important;
}
.cs-1044-pl-imgone-al{
	    height: 385px!important;
}
.imag-one-cs-1044-ko-regn{
	max-width:100%!important;
}
.cs-1048-image-one-ko-regn-al{
	min-width: none!important;
	    margin-top: -20px!important;
    max-width: 90%!important;
    margin-left: 40px!important;
}
.folw-cs-1040-br-rem-de>br{
	display:none;
}
.cs-1040-ko-regn-al-imags-one{
	    max-width: 100%!important;
}
.cs-380-ko-regn-al-padd{
	    padding-bottom: 55px!important;
    padding-top: 50px!important;
}
.cs150vit1r2{
	    margin-left: 215px!important;
}
.cs150vit1r3>br,.cs150vit2r3>br{
	display:none;
}
.cs150vit1r3{
	    margin-left: 45px!important;
}
.cs150vit1r4{
	    margin-left: 150px!important;
}
.cs-150-btn-ble,.cs-150-btn-red{
	    text-align: center!important;
}
.cs150vit2r2{
	margin-left:215px!important;
}
.cs150vit2r3{
	margin-left:50px!important;
}
.cs150vit2r4{
	margin-left:155px!important;
}
.cs-11059-std-al-de-reg>br,.cs-11059-folw-align-de-reg>br,.mtfive-cs-de-11059-rg-al>br{
	display:none;
}
.cs-ko-image-one-11059-al{
	    max-width: 90%!important;
    margin-left: 30px!important;
}
.cs-10563-wid-al-fr{
	    width: 800px!important;
}
.cs-337-header-font-al>br{
	display:none;
}
p.color-font.cs-337-ko-regn-fnt-al{
	font-size: 69.5px!important;
}
.cs91vi1horz,.cs91vi2horz,.cs91vi3horz{
	background:none!important;
}
.cs10049vitabtitle {
	    padding-left: 55px!important;
}
.cs199frbanktf{
	        font-size: 12px!important;
}
.cs199viklarnap{
	padding-top:32px!important;
}
.head-font-cs-199-de-region>br,.de-al-br-rem>br{
	display:none; 
}
.de-al-br-rem{
	    padding-top: 95px!important;
}
.pl-cs-al-4173-heg{
	    height: 610px!important;
}
.head-font-cs-13595-de-regn>br{
	display:none; 
}
.cs13595itbimgm{
	    margin-top: 370px!important;
}
.trader-tool-btn-de-al{
	    padding-top:95px!important;
}
.alarm-man-btn-de-al{
	padding-top: 70px!important;
}
.correl-trad-btn-de-al{	
    padding-top: 44px!important;
}
.correl-matr-btn-de-al{
	    padding-top: 50px!important;
}
.exc-rtd-btn-de-al{
	    padding-top: 70px!important;
}
.mark-mang-btn-de-al{
	    padding-top: 45px!important;
}
.steal-ord-btn-de-al{
	    padding-top: 50px!important;
}
.tick-char-btn-de-al{
	padding-top: 75px!important;
}
.ses-map-btn-de-al{
	padding-top: 80px!important;
}
.trade-term-btn-de-al{
	padding-top: 70px!important;
}
.mini-term-btn-de-al{
	    padding-top: 70px!important;
}
.senti-term-btn-de-al{
	  padding-top: 40px!important;
}
.cs-de-header-font-1282>br{
	display:none;
}
.cs-de-header-font-1282{
	padding-top: 35px!important;
}
.cs1282vit1r1{
	    margin-left: 145px!important;
}
.cs1282frpips1{
	margin-left: 177px!important;
}
.cs1282vit1r3{
	margin-left: 150px!important;
}
.cs1282vit1r4{
	    margin-left: 170px!important;
}
.cs1282vit1r5{
	margin-left: 180px!important;
}
.cs1282vit1r6{
	margin-left: 195px!important;
}
.cs1282vit1r7{
	margin-left: 150px!important;
}
.cs1282vit1r8{
	margin-left: 275px!important;	
}
.cs1282vit1r9{
	margin-left: 222px!important;
}
.cs1282vit1r10{
	margin-left: 195px!important;
}
.cs-de-regn-1282-blue-btn,.cs-de-regn-1282-red-btn{
	text-align:center;
}
.cs-de-regn-1282-blue-demo-btn{
	    margin-left: 250px!important;
}
.cs1282vit2r1{
    margin-left: 130px!important;
}
.cs1282vit2r3{
  margin-left: 135px!important;	
}
.cs1282vit2r4{
	  margin-left: 155px!important;	
}
.cs1282vit2r5{
	margin-left: 165px!important;	
}
.cs1282vit2r6{
		margin-left: 40px!important;
}
.cs1282vit2r7{
	margin-left: 135px!important;
}
.cs1282vit2r8{
		margin-left: 265px!important;
}
.cs1282vit2r9{
	    margin-left: 213px!important;
}
.cs1282vit2r10{
	margin-left: 185px!important;
}
.cs-de-regn-1282-demo-2-btn{
	margin-left: 165px!important;
}
.cs42viftascol2{
	    margin-left: 250px!important;
}
.cs42viftascol3{
	margin-left: 155px!important;
}
.cs42viftascol4{
	margin-left: 185px!important;
}
.cs-42-ea-way{
	     margin-left: 105px!important;
}
.cs42viftascol3{
	  margin-left: 160px!important;
}
.cs42viftascol4{
	margin-left: 190px!important;
}
.cs42viiresst1rc1{
	    margin-left: 95px!important;
}
.cs42viiresst1rc2{
	 margin-left: 115px!important;
}
.cs42viiresst1rc3{
	 margin-left: 100px!important;
}
.cs42viiresst1rc4{
	    margin-left: 160px!important;
}
.cs42viiresst2rc1{
	 margin-left: 100px!important;
}
.cs42viiresst2rc2{
	 margin-left: 100px!important;
}
.cs42viiresst2rc3{
	    margin-left: 97px!important;
}
.cs-42-as-23{
	    margin-left: 160px!important;
}
.cs42viiresst3rc2{
	    margin-left: 105px!important;
}
.cs42viiresst3rc3{
	margin-left: 100px!important;
}
.cs42viiresst3rc4{
	margin-left: 160px!important;
}
.forex-hd-font>br{
	display:none;
}
.cs1267vitab1r-r1{
	    margin-left: 125px!important;
}
.cs1267vitab1r-r3{
	    margin-left: 135px!important;
}
.cs1267vitab1r-r4{
	  margin-left: 150px!important;
}
.cs1267vitab1r-r5{
	margin-left: 165px!important;
}
.cs1267vitab1r-r6{
	margin-left: 185px!important;
}
.cs1267vitab1r-r7{
	margin-left: 145px!important;
}
.cs1267vitab1r-r8{
	    margin-left: 270px!important;
}
.cs1267vitab1r-r9{
	margin-left: 218px!important;
}
.cs1267vitab1r-r10{
	margin-left: 190px!important;
}
.cs1267estrdbtn{
	text-align:center;
}
.cs1267vitab2r-r1{
	    margin-left: 120px!important;
}
.cs1267vitab2r-r3{
	    margin-left: 125px!important;
}
.cs1267vitab2r-r6{
	    margin-left: 130px!important;
}
.cs1267vitab2r-r4{
	 margin-left: 145px!important;
}
.cs1267vitab2r-r7{
	    margin-left: 130px!important;
}
.cs1267vitab2r-r9{
	 margin-left: 205px!important;
}
.cs1267vitab2r-r10{
	margin-left: 175px!important;
}
.cs1277vit1r1{
	margin-left: 150px!important;	
}
.cs1277vit1r2{
	margin-left: 80px!important;	
}
.cs1277vit1r3{
		margin-left: 145px!important;
}
.cs-vi-1277-iress-inves-1>.cs1277vitabl>br,.cs-1277-vi-iress-inves-2>.cs1277vitabl>br,.cs-1277-iress-inves-3>.cs1277vitabl>br{
	display:none;
}
.cs1277vit1r5{
	    margin-left: 38px!important;
}
.cs1277vit1r6{
	    margin-left: 15px!important;
}
.cs1277vit1r8{
	margin-left: 85px!important;
	    margin-top: -12px!important;
}
.cs1277vit1r9{
	    margin-left: 85px!important;
}
.cs1277vit2r1{
	 margin-left: 145px!important;
}
.cs1277vit2r2{
	margin-left: 90px!important;
}
.cs1277vit2r3{
	margin-left: 155px!important;
}
.cs1277esinvm2{
	margin-left: 48px!important;	
}
.cs1277vit2r7{
	margin-left: 140px!important;
}
.cs1277vit2r8{
	    margin-left: 95px!important;
    margin-top: -15px!important;
}
.cs1277vit2r9{
	    margin-left: 95px!important;
}
.cs1277vit3r1{
	margin-left: 155px!important;
}
.cs1277vit3r3{
	    margin-left: 160px!important;
}
.cs1277vit3r5{
	margin-left: 43px!important;
}
.cs1277vit3r6{
	margin-left: 105px!important;
}
.cs1277vit3r8{
	    margin-left: 90px!important;
    margin-top: -12px!important;
}
.cs1277vit3r9{
	  margin-left: 90px!important;
}
.cs1277vibulpos1{
	    background-position: 445px 11px!important;
}
.cs1277vibulpos3{
	 background-position: 435px 11px!important;
}
.cs-942-fr-regn-al-ea{
	padding-top: 5px!important;
}
.img-cs-346-pl-regn-al{
	    margin-left: -340px!important;
    max-width: 110%!important;
}
p.color-font.cs223viclrfnt.cs223arclrfnt,p.color-font.cs1014arclrfnt,p.color-font.cs1001arclrfnt{
    font-size: 74.5px!important;
}
.cs213esmetal{
	    top: 115px!important;
}
.cs-380-it-aft-font>br{
	display:none;
}
.cs-380-it-aft-font{
	color: #3e495c!important;
}
.cs-152-es-regn-alg-cs{
	    padding-bottom: 0px!important;
}
.cs-10563-view-btn-ko-regn-al{
	    margin-top: 35px!important;
}
.bullet_text.padding-top-20.cs10049vibulletsec {
    min-height: 200px!important;
}
.cs2543viiressvid{
	margin-top: 38px!important;
}
.cs-13829-pl-aling-trans:after {
    font-size: 34px!important;
    content: "또는"!important;
    right: -30px!important;
    position: absolute!important;
}
.cs-174-it-regn-for-font>span{
    color: #2e3642!important;
}
.cs-14358-es-regn-aft{
	    font-size: 34.5px!important;
}
li#menu-item-74 {
    color: #3e495c!important;
}
a.drop-open-live-btn.open-live-btn-blue-new-header-regn-align {
    display: block;
    width: 165px;
}
a.drop-demo-live-btn.try-demo-btn-grey-new-header-regn-align {
    margin-left: -10px!important;
    display: block;
    text-align: center!important;
}
ul.menu-ul.header-regn-new-align-all-lang-menu,ul.menu-ul.header-home-regn-new-align-all-lang-menu{
	margin-left: 250px!important;
}
a.drop-open-live-btn.open-home-live-btn-blue-new-header-regn-align{
	    display: block;
    width: 165px;
}
a.drop-demo-live-btn.try-home-demo-btn-grey-new-header-regn-align{
	    margin-left: -10px!important;
    display: block;
    text-align: center!important;
}
.cs-new-regions-lang-fp-pro-acc-btn-after-align-secn:after{
	    right: 20px!important;
}
.cs-home-new-header-align-for-regn-2021-left-menu{
	    margin-left: -20px;
}
.new-cs-regions-lang-social-trading-acc-btn-after-align-secn:after{
	right: 25px!important;
}
.cs-new-header-align-for-regn-2021-left-menu{
	margin-left: -20px;
}
i.arr-down-one.cs-for-new-br-region-arrow-lang-align{
	margin-left: 415px;
}