<tr class="active1">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
            href="	[[!getCultureURL]]/wti/	"> WTI </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> West Texas Intermediate Crude Oil vs US Dollar Future </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 0.04 </td>
</tr>
<tr class="active0">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
            href="	[[!getCultureURL]]/xbrusd/	"> XBRUSD </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> Brent Crude Oil vs US Dollar Cash </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 0.04 </td>
</tr>
<tr class="active1">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
            href="	[[!getCultureURL]]/xngusd/	"> XNGUSD </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> Natural Gas vs US Dollar Cash </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 0.02 </td>
</tr>
<tr class="active0">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
            href="	[[!getCultureURL]]/xtiusd/	"> XTIUSD </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> West Texas Intermediate Crude Oil vs US Dollar Cash </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 0.05 </td>
</tr>