<div class="container-fluid ct3">
    <div id="wti-contract-rollover-section" class="container">
      <div>
        <p class="h2-cent-font"><span class="helvetica-th-font" style="font-weight:100;">Contract</span>
          Rollover
        </p>
      </div>
      <div class="padding-top-50 pad-for-table-align">
        <div class="nctable scroll-bar-for-table">
          <table
            style="background: linear-gradient( white, white), linear-gradient(to bottom right,#fff 60%,rgba(0,189,255,.48),#26CC68);background-clip: padding-box, border-box;background-origin: padding-box, border-box;">
            <tbody>
              <tr class="table-row-head">
                <th class="header-font-table-rf">Symbol</th>
                <th class="header-font-table-rt" style="text-align: left;padding-left: 30px;">Current
                  Month
                </th>
                <th class="header-font-table-rt">Next Month</th>
                <th class="header-font-table-rt">Roll Date</th>
              </tr>
              <tr>
                <td class="first-bold-font-table">WTI</td>
                <td class="table-normal-font" style="text-align: left;padding-left: 60px;">Oct-23</td>
                <td class="table-normal-font">Nov-23</td>
                <td class="table-normal-font">16th Sep 23 (15th of Sep 23'EOD)
                </td>
              </tr>
              <tr>
                <td class="first-bold-font-table">USDX</td>
                <td class="table-normal-font" style="text-align: left;padding-left: 60px;">Sep-23
                </td>
                <td class="table-normal-font">Dec-23
                </td>
                <td class="table-normal-font">18th Sep 23 (15th of Sep 23'EOD)
                </td>
              </tr>
              <tr>
                <td class="first-bold-font-table">VIX</td>
                <td class="table-normal-font" style="text-align: left;padding-left: 60px;">Sep-23
                </td>
                <td class="table-normal-font">Oct-23
                </td>
                <td class="table-normal-font">20th Sep 23 (19th of Sep 23'EOD)
                </td>
              </tr>
              <tr>
                <td class="first-bold-font-table">COFFEE</td>
                <td class="table-normal-font" style="text-align: left;padding-left: 60px;">Sep-23</td>
                <td class="table-normal-font">Dec-23 </td>
                <td class="table-normal-font">23rd Aug 23 (22nd of Aug 23'EOD)
                </td>
              </tr>
              <tr>
                <td class="first-bold-font-table">GILT</td>
                <td class="table-normal-font" style="text-align: left;padding-left: 60px;">Sep-23
                </td>
                <td class="table-normal-font">Dec-23
                </td>
                <td class="table-normal-font">30th Aug 23 (29th of Aug 23'EOD)
                </td>
              </tr>
              <tr>
                <td class="first-bold-font-table">US10YR</td>
                <td class="table-normal-font" style="text-align: left;padding-left: 60px;">Sep-23
                </td>
                <td class="table-normal-font">Dec-23
                </td>
                <td class="table-normal-font">31st Aug 23 (30th of Aug 23'EOD)
                </td>
              </tr>
              <tr>
                <td class="first-bold-font-table">ITA40</td>
                <td class="table-normal-font" style="text-align: left;padding-left: 60px;">Sep-23
                </td>
                <td class="table-normal-font">Dec-23
                </td>
                <td class="table-normal-font">11th Sept 23 (8th of Sept 23'EOD)
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>