<div class="container-fluid c11 end-divi" style="padding-top: 50px;">
    <div id="pro-futures-exchanges-section" class="container default-wd">
      <div>
        <p class="table-h1-font hidden-xs"><span class="helvetica-th-font" style="font-weight: 100;">
          FP Markets</span> Base Rate
        </p>
        <p class="table-h1-font visible-xs" style="text-align:center;margin-bottom:0px;"><span
          class="helvetica-th-font" style="font-weight: 100;">FP Markets</span><br> Base Rate</p>
      </div>
      <div class="padding-top-40 pad-for-table-align">
        <div class="nctable scroll-bar-for-table">
          <table>
            <tbody>
              <tr class="table-row-head">
                <th class="header-font-table-rf" style="text-align:left;">Exchange</th>
                <th class="header-font-table-rf">Reference rate</th>
                <th class="header-font-table-rt">FP Markets <br>Base rate</th>
                <th class="header-font-table-rt">Retail Markup</th>
                <th class="header-font-table-rt">Wholesale Markup</th>
              </tr>
              <tr>
                <td class="first-bold-font-table">Australia</td>
                <td class="table-normal-font">RBA Cash Rate </td>
                <td class="table-normal-font">2.85% </td>
                <td class="table-normal-font">3%</td>
                <td class="table-normal-font">2.0%</td>
              </tr>
              <tr>
                <td class="first-bold-font-table">Hong Kong</td>
                <td class="table-normal-font">1m HIBOR</td>
                <td class="table-normal-font">2.75% </td>
                <td class="table-normal-font">3%</td>
                <td class="table-normal-font">2.0%</td>
              </tr>
              <tr>
                <td class="first-bold-font-table">Malaysia</td>
                <td class="table-normal-font">SONIA</td>
                <td class="table-normal-font">2.50%</td>
                <td class="table-normal-font">3%</td>
                <td class="table-normal-font">2.0%</td>
              </tr>
              <tr>
                <td class="first-bold-font-table">Singapore</td>
                <td class="table-normal-font">1m SIBOR</td>
                <td class="table-normal-font">1.50%</td>
                <td class="table-normal-font">3%</td>
                <td class="table-normal-font">2.0%</td>
              </tr>
              <tr>
                <td class="first-bold-font-table">United Kingdom</td>
                <td class="table-normal-font">SONIA</td>
                <td class="table-normal-font">3.00% </td>
                <td class="table-normal-font">3%</td>
                <td class="table-normal-font">2.0%</td>
              </tr>
              <tr>
                <td class="first-bold-font-table">Euro </td>
                <td class="table-normal-font">ESTR</td>
                <td class="table-normal-font">2.00% </td>
                <td class="table-normal-font">3%</td>
                <td class="table-normal-font">2.0%</td>
              </tr>
              <tr>
                <td class="first-bold-font-table">USA </td>
                <td class="table-normal-font">SOFR</td>
                <td class="table-normal-font">4.00%</td>
                <td class="table-normal-font">3%</td>
                <td class="table-normal-font">2.0%</td>
              </tr>
              <tr>
                <td class="first-bold-font-table">Canada </td>
                <td class="table-normal-font">BOC Rate</td>
                <td class="table-normal-font">3.75% </td>
                <td class="table-normal-font">3%</td>
                <td class="table-normal-font">2.0%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>