<tr class="active0">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
            href="	[[!getCultureURL]]/aus200/	"> AUS200 </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> Australia 200 Index vs Australian Dollar Cash </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 1.71 </td>
</tr>
<tr class="active1">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
            href="	[[!getCultureURL]]/china50/	"> CHINA50 </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> China A50 Index vs US Dollar Cash </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 7.84 </td>
</tr>
<tr class="active0">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
            href="	[[!getCultureURL]]/forex-euro50/	"> EURO50 </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> Euro 50 Index vs Euro Cash </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 1.95 </td>
</tr>
<tr class="active1">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
            href="	[[!getCultureURL]]/fra40/	"> FRA40 </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> CAC 40 Index vs Euro Cash </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 1.83 </td>
</tr>
<tr class="active0">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
            href="	[[!getCultureURL]]/ger30/	"> GER40 </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> German 40 Index vs Euro Cash </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 1.4 </td>
</tr>
<tr class="active1">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
            href="	[[!getCultureURL]]/hk50/	"> HK50 </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> Hang Seng Index vs Hong Kong Dollar Cash </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 5.61 </td>
</tr>
<tr class="active0">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a href="	#	">
            INDIA50 </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> NIFTY 50 Index vs Dollar Cash </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 15.27 </td>
</tr>
<tr class="active1">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a href="	#	"> ITA40
        </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> Italy 40 index vs Euro Future </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 12 </td>
</tr>
<tr class="active0">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
            href="	[[!getCultureURL]]/jp225/	"> JP225 </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> Japan 225 Index vs Japanese Yen Cash </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 6.99 </td>
</tr>
<tr class="active1">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a href="	#	"> SPA35
        </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> Spain 35 Index vs Euro Cash </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 6.6 </td>
</tr>
<tr class="active0">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
            href="	[[!getCultureURL]]/uk100/	"> UK100 </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> UK100 Index vs Great Britain Pound Cash </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 1.62 </td>
</tr>
<tr class="active1">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
            href="	[[!getCultureURL]]/us100/	"> US100 </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> US Tech 100 Index vs US Dollar Cash </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 1.5 </td>
</tr>
<tr class="active0">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
            href="	[[!getCultureURL]]/us30/	"> US30 </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> US 30 Index vs US Dollar Cash </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 1.93 </td>
</tr>
<tr class="active1">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
            href="	[[!getCultureURL]]/us500/	"> US500 </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> US 500 Index vs US Dollar Cash </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 0.5 </td>
</tr>
<tr class="active0">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
            href="	[[!getCultureURL]]/us-dollar-index/	"> USDX </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> USD Index Basket vs US Dollar Future </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 0.05 </td>
</tr>
<tr class="active1">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
            href="	[[!getCultureURL]]/vix/	"> VIX </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> VIX Index Cash vs US Dollar Future </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 0.15 </td>
</tr>