  <tr class="active0">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
      href="	[[!getCultureURL]]/xag-aud/	"> XAGAUD </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> Silver vs Australian Dollar </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> 0.04 </td>
    <td class="tbe-blue" style="padding: 5px;"> 0.008 </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 0.028 </td>
  </tr>
  <tr class="active1">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
      href="	[[!getCultureURL]]/xag-eur/	"> XAGEUR </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> Silver vs Euro </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> 0.02 </td>
    <td class="tbe-blue" style="padding: 5px;"> 0.004 </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 0.014 </td>
  </tr>
  <tr class="active0">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
      href="	[[!getCultureURL]]/xag-usd/	"> XAGUSD </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> Silver vs US Dollar </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> 0.02 </td>
    <td class="tbe-blue" style="padding: 5px;"> 0 </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 0.014 </td>
  </tr>
  <tr class="active1">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
      href="	[[!getCultureURL]]/xau-aud/	"> XAUAUD </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> Gold vs Australian Dollar </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> 0.57 </td>
    <td class="tbe-blue" style="padding: 5px;"> 0.06 </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 0.47 </td>
  </tr>
  <tr class="active0">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
      href="	[[!getCultureURL]]/xau-eur/	"> XAUEUR </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> Gold vs Euro </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> 0.38 </td>
    <td class="tbe-blue" style="padding: 5px;"> 0 </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 0.2 </td>
  </tr>
  <tr class="active1">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a
      href="	[[!getCultureURL]]/xau-usd/	"> XAUUSD </a> </td>
    <td class="tbe-para font300" style="padding: 15px;"> Gold vs US Dollar </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> 0.22 </td>
    <td class="tbe-blue" style="padding: 5px;"> 0 </td>
    <td class="tbe-liteblue" style="padding: 5px;"> 0.08 </td>
  </tr>
  <tr class="active0">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a href="	#	">
      XPDUSD </a> 
    </td>
    <td class="tbe-para font300" style="padding: 15px;"> Palladium vs US Dollar </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> 12.27 </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> - </td>
  </tr>
  <tr class="active1">
    <td class="tbe-para" style="padding: 15px;font-size:18.5px;font-weight:300;padding-left:40px;"> <a href="	#	">
      XPTUSD </a> 
    </td>
    <td class="tbe-para font300" style="padding: 15px;"> Platinum vs US Dollar </td>
    <td class="tbe-red" style="padding: 5px;"></td>
    <td class="tbe-red" style="padding: 5px;"> 3.7 </td>
    <td class="tbe-blue" style="padding: 5px;"> - </td>
    <td class="tbe-liteblue" style="padding: 5px;"> - </td>
  </tr>